Repository blackboxprogramming/blackroad-prism-console, changes with the owners that .github/CODEOWNERS names for each.
All owners: @blackboxprogramming, @blackroad-owners, @blackroad-web, @blackroad-ci

chore(site): update status.json
  sites/blackroad/public/status.json
Owners: @blackroad-web

Merge pull request #59 from blackboxprogramming/codex/add-llm-quality-and-safety-checks
  .github/tools/llm/eval-diff.js
  sites/blackroad/src/lib/telemetry.ts
  sites/blackroad/tests/e2e.spec.ts
Owners: @blackroad-ci, @blackroad-web

Merge pull request #63 from blackboxprogramming/codex/run-codex-apply-to-resolve-failures
  README.md
  eslint.config.js
  package.json
  sites/blackroad/package-lock.json
  sites/blackroad/src/main.jsx
  sites/blackroad/src/pages/StatusPage.jsx
Owners: @blackroad-owners, @blackroad-web

Merge pull request #72 from blackboxprogramming/codex/deploy-blackroad.io-to-specified-channel
  sites/blackroad/src/Router.jsx
  sites/blackroad/src/ui/Layout.jsx
Owners: @blackroad-web

Merge pull request #75 from blackboxprogramming/codex/add-qutrit-math-engine-and-mathlab-ui
  eslint.config.js
Owners: @blackroad-owners

Merge pull request #74 from blackboxprogramming/codex/add-codex-foundation-files-and-deployment-setup
  package.json
  sites/blackroad/public/status.json
  sites/blackroad/src/pages/StatusPage.jsx
Owners: @blackroad-owners, @blackroad-web

chore(site): update status.json
  sites/blackroad/public/status.json
Owners: @blackroad-web

chore(site): update status.json
  sites/blackroad/public/status.json
Owners: @blackroad-web

Merge pull request #80 from blackboxprogramming/codex/add-chatops-support-for-experiments-and-funnels
  README.md
Owners: @blackroad-owners

chore(site): update status.json
  sites/blackroad/public/status.json
Owners: @blackroad-web

Merge pull request #84 from blackboxprogramming/codex/fix-all-failing-pr-code-errors
  eslint.config.js
Owners: @blackroad-owners

chore(site): update status.json
  sites/blackroad/public/status.json
Owners: @blackroad-web

chore(site): update status.json
  sites/blackroad/public/status.json
Owners: @blackroad-web

Merge pull request #88 from blackboxprogramming/codex/fix-lint-configuration-in-project
  eslint.config.js
  sites/blackroad/src/main.jsx
Owners: @blackroad-owners, @blackroad-web

chore(site): update status.json
  sites/blackroad/public/status.json
Owners: @blackroad-web

Merge pull request #89 from blackboxprogramming/codex/add-self-healing-pack-installation-script
  .github/dependabot.yml
  .github/workflows/dependabot-auto-merge.yml
  package.json
  requirements-dev.txt
Owners: @blackroad-ci, @blackroad-owners

chore(site): update status.json
  sites/blackroad/public/status.json
Owners: @blackroad-web

Merge pull request #103 from blackboxprogramming/codex/create-jetson-orin-setup-script
  tools/orin_bootstrap.sh
Owners: @blackroad-owners

chore(site): update status.json
  sites/blackroad/public/status.json
Owners: @blackroad-web

chore(site): update status.json
  sites/blackroad/public/status.json
Owners: @blackroad-web

Merge pull request #105 from blackboxprogramming/codex/add-power-flags-for-onnx-and-triton
  tools/orin_bootstrap.sh
Owners: @blackroad-owners

chore(site): update status.json
  sites/blackroad/public/status.json
Owners: @blackroad-web

chore(site): update status.json
  sites/blackroad/public/status.json
Owners: @blackroad-web

chore(site): update status.json
  sites/blackroad/public/status.json
Owners: @blackroad-web

chore(site): update status.json
  sites/blackroad/public/status.json
Owners: @blackroad-web

chore: add typescript config
  package.json
  tsconfig.json
Owners: @blackroad-owners

feat(site): add preview and snapshot workflows
  .github/tools/site/screenshot.js
  sites/blackroad/src/lib/telemetry.ts
Owners: @blackroad-ci, @blackroad-web

Merge pull request #59 from blackboxprogramming/codex/add-llm-quality-and-safety-checks
  sites/blackroad/src/lib/telemetry.ts
Owners: @blackroad-web

Merge pull request #139 from blackboxprogramming/codex/add-missing-files-and-dependencies-6zj0an
  .github/tools/site/screenshot.js
  package.json
Owners: @blackroad-ci, @blackroad-owners

Merge pull request #63 from blackboxprogramming/codex/run-codex-apply-to-resolve-failures
  eslint.config.js
  package.json
  sites/blackroad/package-lock.json
  sites/blackroad/src/main.jsx
  sites/blackroad/src/pages/StatusPage.jsx
Owners: @blackroad-owners, @blackroad-web

Merge pull request #75 from blackboxprogramming/codex/add-qutrit-math-engine-and-mathlab-ui
  eslint.config.js
  sites/blackroad/src/lib/telemetry.ts
Owners: @blackroad-owners, @blackroad-web

Merge pull request #74 from blackboxprogramming/codex/add-codex-foundation-files-and-deployment-setup
  package.json
  sites/blackroad/public/status.json
  sites/blackroad/src/pages/StatusPage.jsx
Owners: @blackroad-owners, @blackroad-web

.github/CODEOWNERS:

/sites/blackroad/     @blackboxprogramming
/api/                 @blackboxprogramming
/services/            @blackboxprogramming
/**/*.py              @blackboxprogramming
/**/*.ts              @blackboxprogramming
*       @blackroad-owners
/sites/blackroad/**  @blackroad-web
.github/**           @blackroad-ci
