Repository blackboxprogramming/blackroad-prism-console, changes with the owners that .github/CODEOWNERS names for each.
All owners: @blackboxprogramming/maintainers, @blackboxprogramming/sec-review, @platform-team, @integration-team, @sre-team

Add Codex 24 Freedom Clause entry
  codex/entries/024-freedom-clause.md
Owners: @blackboxprogramming/maintainers

Document Data/AI v1 rollout plan
  asana-data-ai-v1.csv
  runbooks/data_ai_v1.md
Owners: @blackboxprogramming/maintainers, @platform-team

Add Codex 23 Dialogue Doctrine
  DIALOGUE.md
  codex/README.md
  codex/entries/023-dialogue-doctrine.md
Owners: @blackboxprogramming/maintainers

feat: scaffold ios app blueprint
  apps/blackroad-mobile/AppDashboardViewModel.swift
  apps/blackroad-mobile/BlackRoadAPI.swift
  apps/blackroad-mobile/BlackRoadApp.swift
  apps/blackroad-mobile/ContentView.swift
  apps/blackroad-mobile/README.md
  docs/blackroad_app_store_release.md
Owners: @blackboxprogramming/maintainers

Add automation around br-seed-events seeding
  .github/workflows/seed-nightly.yml
  br-seed-events/.devcontainer/devcontainer.json
  br-seed-events/Makefile
Owners: @blackboxprogramming/maintainers, @blackboxprogramming/sec-review

Add low-power miner automation bundle
  miners/README.md
  miners/chia/chia-notes.md
  miners/common/power-math.mjs
  miners/miners-compose.yml
  miners/verus/verusminer.service
  miners/xmrig/run-throttled.sh
  miners/xmrig/watch-temp.mjs
  miners/xmrig/xmrig.service
Owners: @blackboxprogramming/maintainers

Add low-power miner automation bundle
  miners/README.md
  miners/chia/chia-notes.md
  miners/common/power-math.mjs
  miners/miners-compose.yml
  miners/verus/verusminer.service
  miners/xmrig/run-throttled.sh
  miners/xmrig/watch-temp.mjs
  miners/xmrig/xmrig.service
Owners: @blackboxprogramming/maintainers

Add Airtable ingest worker and dbt models
  br-dbt/packages.yml
  br-ingest-airtable/.env.example
  br-ingest-airtable/.github/workflows/ci.yml
  br-ingest-airtable/.nvmrc
  br-ingest-airtable/Dockerfile
  br-ingest-airtable/README.md
  br-ingest-airtable/package-lock.json
  br-ingest-airtable/package.json
  br-ingest-airtable/src/airtable.ts
  br-ingest-airtable/src/index.ts
  br-ingest-airtable/src/pg.ts
  br-ingest-airtable/src/schema.sql
  br-ingest-airtable/src/upsert.ts
  br-ingest-airtable/tsconfig.json
Owners: @blackboxprogramming/maintainers

Add Codex 31 - The Silence Accord
  codex/README.md
  codex/entries/031-the-silence-accord.md
Owners: @blackboxprogramming/maintainers

Add ECS scheduled task module and seed automation
  br-infra-iac/envs/dev/main.tf
  br-infra-iac/modules/ecs-scheduled-task/main.tf
  br-infra-iac/modules/ecs-scheduled-task/variables.tf
  br-seed-events/.github/workflows/deploy.yml
  ops/next_push/asana_seed_events_tasks.csv
  ops/slack/seed_events_blurb.md
Owners: @blackboxprogramming/maintainers, @sre-team

Add ECS scheduled task module and seed automation
  br-infra-iac/envs/dev/main.tf
  br-infra-iac/modules/ecs-scheduled-task/main.tf
  br-infra-iac/modules/ecs-scheduled-task/variables.tf
  br-seed-events/.github/workflows/deploy.yml
  ops/next_push/asana_seed_events_tasks.csv
  ops/slack/seed_events_blurb.md
Owners: @blackboxprogramming/maintainers, @sre-team

Add learn-mode miners and expand address coverage
  docs/SECRETS.md
  miners/miners-compose.yml
  src/config/addresses.ts
  tools/addresses.ts
Owners: @blackboxprogramming/maintainers

Add learn-mode miners and expand address coverage (#1620)
  docs/SECRETS.md
  miners/miners-compose.yml
  src/config/addresses.ts
  tools/addresses.ts
Owners: @blackboxprogramming/maintainers

Add PRISM v0.1 planning assets and dashboard stub
  apps/web/app/prism/page.tsx
  br-api-gateway/openapi.yaml
  docs/prism/DataModel_v0_1.md
  docs/prism/DemoScript_v0_1.md
  docs/prism/PRISM_v0_1_PRD.md
  docs/prism/SlackPosts_v0_1.md
  docs/prism/TrackingPlan_v0_1.md
  docs/prism/UX_Brief_v0_1.md
  pm/asana/prism-v01.csv
  pm/jira/prism-v01.csv
Owners: @blackboxprogramming/maintainers

feat(miners): add low-power miners pack + CI validation (no run)
  .github/workflows/miners-ci.yml
  miners/README.md
  miners/chia/chia-notes.md
  miners/common/power-math.mjs
  miners/miners-compose.yml
  miners/verus/verusminer.service
  miners/xmrig/run-throttled.sh
  miners/xmrig/watch-temp.mjs
  miners/xmrig/xmrig.service
Owners: @blackboxprogramming/maintainers, @blackboxprogramming/sec-review

Add PRISM onboarding UX kit
  docs/prism-onboarding-ux.md
Owners: @blackboxprogramming/maintainers

Add PRISM v0.1 planning assets and dashboard stub
  apps/web/app/prism/page.tsx
  br-api-gateway/openapi.yaml
  docs/prism/DataModel_v0_1.md
  docs/prism/DemoScript_v0_1.md
  docs/prism/PRISM_v0_1_PRD.md
  docs/prism/SlackPosts_v0_1.md
  docs/prism/TrackingPlan_v0_1.md
  docs/prism/UX_Brief_v0_1.md
  pm/asana/prism-v01.csv
  pm/jira/prism-v01.csv
Owners: @blackboxprogramming/maintainers

Add PRISM onboarding UX kit
  docs/prism-onboarding-ux.md
Owners: @blackboxprogramming/maintainers

Add Codex 32 Generosity Principle
  GENEROSITY.md
  codex/README.md
  codex/entries/032-generosity-principle.md
Owners: @blackboxprogramming/maintainers

Add Codex 33 wholeness rule
  codex/README.md
  codex/entries/033-wholeness-rule.md
  policy/WHOLENESS.md
Owners: @blackboxprogramming/maintainers

Add Codex 33 wholeness rule
  codex/README.md
  codex/entries/033-wholeness-rule.md
  policy/WHOLENESS.md
Owners: @blackboxprogramming/maintainers

Make trinary logic graphs optional without networkx
  lucidia_math_lab/trinary_logic.py
Owners: @blackboxprogramming/maintainers

Add PRISM onboarding communications and audit log plan
  br-prism-console/templates/magic-link.html
  br-prism-console/templates/magic-link.txt
  docs/PRISM_AUDIT_LOG.md
  docs/PRISM_SLACK_DROP.md
  docs/PRISM_SLACK_SSO_RUNBOOK.md
  docs/PRISM_V0_1_ASANA_TASKS.csv
Owners: @blackboxprogramming/maintainers

Add Jetson mining pack and ASIC supervisor scaffold
  miners/asic/asic-supervisor.mjs
  miners/jetson/Dockerfile
  miners/jetson/README.md
  miners/jetson/jetson-compose.yml
  miners/jetson/jetson-run.sh
  miners/jetson/nvpmodel.sh
  miners/jetson/xmrig-cuda.service
Owners: @blackboxprogramming/maintainers

Add Jetson mining pack and ASIC supervisor scaffold
  miners/asic/asic-supervisor.mjs
  miners/jetson/Dockerfile
  miners/jetson/README.md
  miners/jetson/jetson-compose.yml
  miners/jetson/jetson-run.sh
  miners/jetson/nvpmodel.sh
  miners/jetson/xmrig-cuda.service
Owners: @blackboxprogramming/maintainers

Add Codex 34 Humility Clause entry
  codex/README.md
  codex/entries/034-humility-clause.md
Owners: @blackboxprogramming/maintainers

Add Codex 35 Joy Mandate entry
  JOY.md
  codex/README.md
  codex/entries/035-joy-mandate.md
Owners: @blackboxprogramming/maintainers

feat(miners/jetson): add Jetson CUDA learn-mode pack + ASIC supervisor + CI validation
  .github/workflows/miners-ci.yml
  miners/README.md
  miners/asic/asic-supervisor.mjs
  miners/jetson/Dockerfile
  miners/jetson/README.md
  miners/jetson/jetson-compose.yml
  miners/jetson/jetson-run.sh
  miners/jetson/xmrig-cuda.service
Owners: @blackboxprogramming/maintainers, @blackboxprogramming/sec-review

Add secure onboarding and Vault OIDC workflow templates
  docs/BLACKROAD_SECURE_ONBOARDING.md
  docs/GITHUB_VAULT_OIDC_TEMPLATE.md
  templates/security/github-actions-oidc-vault-template.yml
Owners: @blackboxprogramming/maintainers

Add ECS preview environment workflow
  .github/workflows/preview.yml
  docs/preview-environments.md
Owners: @blackboxprogramming/maintainers, @blackboxprogramming/sec-review

Add Codex 36 transparency framework
  .github/PULL_REQUEST_TEMPLATE.md
  POWER.md
  codex/README.md
  codex/entries/036-transparency-of-power.md
  docs/decisions.md
  docs/funding.md
  docs/power-map.md
Owners: @blackboxprogramming/maintainers

Add Codex 36 transparency framework
  .github/PULL_REQUEST_TEMPLATE.md
  POWER.md
  codex/README.md
  codex/entries/036-transparency-of-power.md
  docs/decisions.md
  docs/funding.md
  docs/power-map.md
Owners: @blackboxprogramming/maintainers

Add Vault OIDC templates and power modeling tool
  .github/actions/vault-fetch/action.yml
  .github/workflows/vault-oidc-example.yml
  .secops/vault/README.md
  .secops/vault/enable_oidc.hcl
  .secops/vault/policy_blackroad.hcl
  .secops/vault/role_blackroad.hcl
  docs/blackroad-secure-onboarding.md
  tools/power-report.mjs
Owners: @blackboxprogramming/maintainers, @blackboxprogramming/sec-review

Add host-based frontend preview workflow
  .github/workflows/preview-frontend-host.yml
Owners: @blackboxprogramming/maintainers, @blackboxprogramming/sec-review

Add Bitcoin PoW prompt reference pack
  prompts/bitcoin_pow_prompts.md
Owners: @blackboxprogramming/maintainers

.github/CODEOWNERS:

# Default maintainers review
*                       @blackboxprogramming/maintainers

# Security-sensitive paths require sec-review
.github/workflows/**    @blackboxprogramming/maintainers @blackboxprogramming/sec-review
/infra/**               @platform-team @blackboxprogramming/maintainers @blackboxprogramming/sec-review
/scripts/**             @platform-team @blackboxprogramming/maintainers @blackboxprogramming/sec-review

# Domain ownership
/infra/                 @platform-team
/flows/                 @integration-team
/monitors/              @sre-team
/runbooks/              @platform-team
/apps/api/              @platform-team
/apps/web-public/       @platform-team
/ops/                   @sre-team
