Repository blackboxprogramming/blackroad-prism-console, changes with the owners that .github/CODEOWNERS names for each.
All owners: @platform-team, @integration-team, @sre-team

.github/CODEOWNERS:

/infra/            @platform-team
/flows/            @integration-team
/monitors/         @sre-team
/runbooks/         @platform-team
/apps/api/       @platform-team
/apps/web-public/ @platform-team
/ops/            @sre-team
/scripts/        @platform-team

feat: add billing and provision tooling
  .github/ISSUE_TEMPLATE/change.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/incident.yml
  .github/workflows/deploy.yml
  .github/workflows/register-webhook.yml
  apps/api/.env.example
  apps/api/package.json
  apps/api/src/routes/billing.ts
  apps/api/src/routes/stripe_webhook.ts
  apps/api/src/server.ts
  docs/RUNBOOKS.md
  ops/bootstrap_droplet.sh
  ops/provision_digitalocean.sh
  scripts/notify.sh
Owners: @platform-team, @sre-team

feat: add prisma auth slack backup
  .github/workflows/backups.yml
  apps/api/.env.example
  apps/api/package-lock.json
  apps/api/package.json
  apps/api/prisma/migrations/0001_init/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/lib/crypto.ts
  apps/api/src/lib/db.ts
  apps/api/src/middleware/session.ts
  apps/api/src/routes/auth.ts
  apps/api/src/routes/slack.ts
  apps/api/src/server.ts
  docs/DB.md
  ops/backup_one_button.sh
  scripts/backup_local.sh
Owners: @platform-team, @sre-team

feat: add release automation and security workflows
  .github/dependabot.yml
  .github/workflows/codeql.yml
  .github/workflows/release.yml
  .github/workflows/trivy.yml
  apps/api/.dockerignore
  apps/api/Dockerfile
  apps/api/docker-compose.yml
  apps/api/package-lock.json
  apps/api/package.json
  docs/RELEASES.md
  ops/do/dns_apply.sh
  ops/do/firewall_apply.sh
  ops/tls/certbot_install.sh
  ops/tls/certbot_issue_or_renew.sh
  ops/tls/deploy_nginx_tls.sh
  ops/tls/nginx.tls.conf
  release/.releaserc.json
Owners: @platform-team, @sre-team

feat: add release automation and security workflows (#1435)
  .github/dependabot.yml
  .github/workflows/codeql.yml
  .github/workflows/release.yml
  .github/workflows/trivy.yml
  apps/api/.dockerignore
  apps/api/Dockerfile
  apps/api/docker-compose.yml
  apps/api/package-lock.json
  apps/api/package.json
  docs/RELEASES.md
  ops/do/dns_apply.sh
  ops/do/firewall_apply.sh
  ops/tls/certbot_install.sh
  ops/tls/certbot_issue_or_renew.sh
  ops/tls/deploy_nginx_tls.sh
  ops/tls/nginx.tls.conf
  release/.releaserc.json
Owners: @platform-team, @sre-team

feat: add container release and security tooling
  .github/dependabot.yml
  .github/workflows/codeql.yml
  .github/workflows/release.yml
  .github/workflows/trivy.yml
  apps/api/.dockerignore
  apps/api/Dockerfile
  apps/api/docker-compose.yml
  apps/api/package-lock.json
  apps/api/package.json
  docs/RELEASES.md
  ops/do/dns_apply.sh
  ops/do/firewall_apply.sh
  ops/tls/certbot_install.sh
  ops/tls/certbot_issue_or_renew.sh
  ops/tls/deploy_nginx_tls.sh
  ops/tls/nginx.tls.conf
  release/.releaserc.json
Owners: @platform-team, @sre-team

feat: add okta sso and warehouse sync
  .gitattributes
  .github/environments/production.yml
  .github/workflows/deploy.yml
  .github/workflows/warehouse.yml
  .sops.yaml
  apps/api/.env.example
  apps/api/package-lock.json
  apps/api/package.json
  apps/api/src/routes/okta.ts
  apps/api/src/server.ts
  docs/DATA_WAREHOUSE.md
  docs/SECRETS.md
  scripts/encrypt_secret.sh
  scripts/warehouse_sync.ts
Owners: @platform-team

feat: add okta sso and warehouse sync (#1437)
  .gitattributes
  .github/environments/production.yml
  .github/workflows/deploy.yml
  .github/workflows/warehouse.yml
  .sops.yaml
  apps/api/.env.example
  apps/api/package-lock.json
  apps/api/package.json
  apps/api/src/routes/okta.ts
  apps/api/src/server.ts
  docs/DATA_WAREHOUSE.md
  docs/SECRETS.md
  scripts/encrypt_secret.sh
  scripts/warehouse_sync.ts
Owners: @platform-team

feat: scaffold SOP engine
  README_SOPS.md
  cli/console.py
  sops/__init__.py
  sops/engine.py
  sops/engineering.yaml
  sops/finance.yaml
  sops/security.yaml
  sops/ui/app.py
Owners: none

feat: add SSO and governance utilities
  .env.example
  .gitattributes
  .github/workflows/deploy.yml
  .sops.yaml
  apps/api/src/routes/okta.ts
  docs/DATA_WAREHOUSE.md
  docs/SECRETS.md
  environments/production.yml
  scripts/encrypt_secret.sh
  scripts/warehouse_sync.ts
Owners: @platform-team

feat: add SSO and governance utilities (#1439)
  .env.example
  .gitattributes
  .github/workflows/deploy.yml
  .sops.yaml
  apps/api/src/routes/okta.ts
  docs/DATA_WAREHOUSE.md
  docs/SECRETS.md
  environments/production.yml
  scripts/encrypt_secret.sh
  scripts/warehouse_sync.ts
Owners: @platform-team

feat: add observability and finops tooling
  .github/workflows/auto-remediate.yml
  .github/workflows/canary.yml
  .github/workflows/finops.yml
  .github/workflows/observability-smoke.yml
  .github/workflows/slo.yml
  apps/api/package.json
  apps/api/src/lib/flags.ts
  apps/api/src/lib/otel.ts
  apps/api/src/middleware/canary.ts
  apps/api/src/server.ts
  docs/FINOPS.md
  docs/OBSERVABILITY.md
  docs/PROGRESSIVE_DELIVERY.md
  docs/SLO.md
  finops/policies.yaml
  ops/observability/docker-compose.yml
  ops/observability/grafana/provisioning/dashboards/blackroad-api.json
  ops/observability/grafana/provisioning/datasources/datasource.yml
  ops/observability/prometheus.yml
  scripts/auto_remediate.sh
  scripts/finops_check.ts
  scripts/slo_report.ts
  slo/slo.yaml
Owners: @platform-team, @sre-team

feat: add observability and finops tooling (#1441)
  .github/workflows/auto-remediate.yml
  .github/workflows/canary.yml
  .github/workflows/finops.yml
  .github/workflows/observability-smoke.yml
  .github/workflows/slo.yml
  apps/api/package.json
  apps/api/src/lib/flags.ts
  apps/api/src/lib/otel.ts
  apps/api/src/middleware/canary.ts
  apps/api/src/server.ts
  docs/FINOPS.md
  docs/OBSERVABILITY.md
  docs/PROGRESSIVE_DELIVERY.md
  docs/SLO.md
  finops/policies.yaml
  ops/observability/docker-compose.yml
  ops/observability/grafana/provisioning/dashboards/blackroad-api.json
  ops/observability/grafana/provisioning/datasources/datasource.yml
  ops/observability/prometheus.yml
  scripts/auto_remediate.sh
  scripts/finops_check.ts
  scripts/slo_report.ts
  slo/slo.yaml
Owners: @platform-team, @sre-team

feat: add revops and support automation
  .github/workflows/gtm-sync.yml
  .github/workflows/health.yml
  .github/workflows/support-sync.yml
  apps/api/.env.example
  apps/api/package-lock.json
  apps/api/package.json
  apps/api/src/lib/connectors/hubspot.ts
  apps/api/src/lib/connectors/jira.ts
  apps/api/src/lib/connectors/linear.ts
  apps/api/src/lib/connectors/salesforce.ts
  apps/api/src/lib/health/score.ts
  apps/api/src/lib/revops/deal_pipeline.ts
  apps/api/src/lib/revops/lead_pipeline.ts
  apps/api/src/lib/support/ticket_pipeline.ts
  apps/api/src/routes/csat.ts
  apps/api/src/server.ts
  docs/CUSTOMER_HEALTH.md
  docs/REVOPS.md
  docs/SUPPORT.md
  scripts/gtm_sync.ts
  scripts/health_digest.ts
  scripts/support_sync.ts
Owners: @platform-team

feat: add sales ops invoicing and quarter close
  .github/workflows/dunning.yml
  .github/workflows/invoicing.yml
  .github/workflows/quarter-close.yml
  .github/workflows/renewals.yml
  apps/api/.env.example
  apps/api/package-lock.json
  apps/api/package.json
  apps/api/src/routes/invoices.ts
  apps/api/src/server.ts
  data/templates/invoice.mustache
  docs/BILLING.md
  docs/QUARTER_CLOSE.md
  docs/SALES_OPS.md
  invoices/.gitkeep
  sales_ops/engine.ts
  sales_ops/playbooks/expansion.yaml
  sales_ops/playbooks/opportunity.yaml
  sales_ops/playbooks/prospecting.yaml
  scripts/dunning_cycle.ts
  scripts/generate_invoice.ts
  scripts/quarter_close.ts
  scripts/renewal_forecast.ts
  sops/quarter_close.yaml
Owners: @platform-team

Add governance, risk, audit and resilience framework
  .github/workflows/audit.yml
  audits/definitions.yaml
  audits/engine.py
  audits/reports/.gitkeep
  chaos/runner.py
  docs/GOVERNANCE.md
  docs/RESILIENCE.md
  docs/RISK.md
  governance/ai_ethics.yaml
  governance/code_of_conduct.yaml
  governance/data_privacy.yaml
  resilience/playbooks/continuity_plan.yaml
  resilience/playbooks/disaster_recovery.yaml
  resilience/playbooks/incident_response.yaml
  risk/engine.py
  risk/register.yaml
Owners: none

Add governance, risk, audit and resilience framework (#1444)
  .github/workflows/audit.yml
  audits/definitions.yaml
  audits/engine.py
  audits/reports/.gitkeep
  chaos/runner.py
  docs/GOVERNANCE.md
  docs/RESILIENCE.md
  docs/RISK.md
  governance/ai_ethics.yaml
  governance/code_of_conduct.yaml
  governance/data_privacy.yaml
  resilience/playbooks/continuity_plan.yaml
  resilience/playbooks/disaster_recovery.yaml
  resilience/playbooks/incident_response.yaml
  risk/engine.py
  risk/register.yaml
Owners: none

chore: add security hardening workflows and policies
  .github/workflows/access-lifecycle.yml
  .github/workflows/data-retention.yml
  .github/workflows/dr-drill.yml
  .github/workflows/rotate-secrets.yml
  .github/workflows/sbom.yml
  .github/workflows/soc2-evidence.yml
  .github/workflows/supply-chain-verify.yml
  .github/workflows/zap-dast.yml
  access/registry.yaml
  access/runbooks/offboarding.yaml
  access/runbooks/onboarding.yaml
  access/scripts/provision_access.ts
  access/scripts/revoke_access.ts
  apps/api/.env.example
  apps/api/package.json
  apps/api/src/jobs/purge_retained.ts
  apps/api/src/middleware/redact.ts
  docs/DATA_RETENTION.md
  docs/DR_BCP.md
  docs/SECURITY.md
  docs/SOC2_README.md
  dr/playbooks/business_continuity.yaml
  dr/playbooks/disaster_recovery.yaml
  dr/scripts/drill.ts
  dr/scripts/restore_verify.sh
  rotation/rotate.ts
  rotation/runbook.md
  security/controls/iso27001_controls.yaml
  security/controls/soc2_controls.yaml
  security/evidence/README.md
  security/pentest/checklist.md
  security/pentest/targets.yaml
  security/policies/access_control.yaml
  security/policies/data_retention.yaml
  security/policies/encryption.yaml
  security/policies/vendor_management.yaml
  supply_chain/attest.config.json
  supply_chain/sbom.config.json
Owners: @platform-team

chore: add security hardening workflows and policies (#1445)
  .github/workflows/access-lifecycle.yml
  .github/workflows/data-retention.yml
  .github/workflows/dr-drill.yml
  .github/workflows/rotate-secrets.yml
  .github/workflows/sbom.yml
  .github/workflows/soc2-evidence.yml
  .github/workflows/supply-chain-verify.yml
  .github/workflows/zap-dast.yml
  access/registry.yaml
  access/runbooks/offboarding.yaml
  access/runbooks/onboarding.yaml
  access/scripts/provision_access.ts
  access/scripts/revoke_access.ts
  apps/api/.env.example
  apps/api/package.json
  apps/api/src/jobs/purge_retained.ts
  apps/api/src/middleware/redact.ts
  docs/DATA_RETENTION.md
  docs/DR_BCP.md
  docs/SECURITY.md
  docs/SOC2_README.md
  dr/playbooks/business_continuity.yaml
  dr/playbooks/disaster_recovery.yaml
  dr/scripts/drill.ts
  dr/scripts/restore_verify.sh
  rotation/rotate.ts
  rotation/runbook.md
  security/controls/iso27001_controls.yaml
  security/controls/soc2_controls.yaml
  security/evidence/README.md
  security/pentest/checklist.md
  security/pentest/targets.yaml
  security/policies/access_control.yaml
  security/policies/data_retention.yaml
  security/policies/encryption.yaml
  security/policies/vendor_management.yaml
  supply_chain/attest.config.json
  supply_chain/sbom.config.json
Owners: @platform-team

feat: add data platform and mlops stack
  .github/workflows/data-ingest.yml
  .github/workflows/experiments.yml
  .github/workflows/ml-shadow.yml
  .github/workflows/ml-train.yml
  apps/api/.env.example
  apps/api/package.json
  apps/api/src/lib/ml/serve.ts
  apps/api/src/middleware/experiment.ts
  apps/api/src/routes/predict.ts
  apps/api/src/routes/reco.ts
  apps/api/src/server.ts
  data/feature_store/README.md
  data/feature_store/features/user_profile_v1.jsonl
  data/feature_store/schemas/user_profile.schema.json
  docs/EXPERIMENTS.md
  docs/FEATURE_STORE.md
  docs/ML.md
  experiments/experiments.yaml
  ml/artifacts/.gitkeep
  ml/evaluate.py
  ml/registry/README.md
  ml/registry/active.json
  ml/registry/models.json
  ml/train.py
  scripts/data_ingest.ts
  scripts/experiments_report.ts
Owners: @platform-team

feat: add developer platform components
  .github/workflows/webhooks-delivery.yml
  apps/api/.env.example
  apps/api/package.json
  apps/api/src/jobs/webhook_worker.ts
  apps/api/src/lib/keys/sign.ts
  apps/api/src/lib/keys/store.ts
  apps/api/src/lib/webhooks/deliver.ts
  apps/api/src/middleware/api_key.ts
  apps/api/src/middleware/rate_limit.ts
  apps/api/src/routes/admin/keys.ts
  apps/api/src/routes/admin/webhooks.ts
  apps/api/src/routes/public/ping.ts
  apps/api/src/routes/webhooks/deliver.ts
  apps/api/src/server.ts
  apps/backoffice/index.html
  apps/backoffice/package.json
  apps/backoffice/src/App.tsx
  apps/backoffice/src/components/KeyTable.tsx
  apps/backoffice/src/components/WebhookTable.tsx
  apps/backoffice/src/main.tsx
  apps/backoffice/vite.config.ts
  apps/portal/changelog.md
  apps/portal/getting-started.md
  apps/portal/index.html
  apps/portal/style.css
  catalog/services.yaml
  docs/PLATFORM.md
  docs/WEBHOOKS.md
  openapi/blackroad.yaml
  sdks/node/blackroad-sdk.ts
  sdks/python/blackroad_sdk/__init__.py
  sdks/python/pyproject.toml
Owners: @platform-team

feat(billing): add pricing catalog, metering, and status
  .github/workflows/billing-close.yml
  .github/workflows/uptime-export.yml
  apps/api/.env.example
  apps/api/package.json
  apps/api/src/lib/entitlements.ts
  apps/api/src/lib/licenses.ts
  apps/api/src/middleware/meter.ts
  apps/api/src/routes/admin/licenses.ts
  apps/api/src/routes/billing/coupons.ts
  apps/api/src/routes/billing/index.ts
  apps/api/src/routes/billing/plans.ts
  apps/api/src/routes/billing/usage.ts
  apps/api/src/server.ts
  apps/status/feed.json
  apps/status/index.html
  apps/status/style.css
  data/metering/.gitkeep
  docs/ENTITLEMENTS.md
  docs/LICENSING.md
  docs/PRICING.md
  docs/STATUS.md
  pricing/catalog.yaml
  scripts/usage_rollup.ts
Owners: @platform-team

feat: add global scale and ux hardening
  .github/workflows/i18n-check.yml
  .github/workflows/lighthouse.yml
  .github/workflows/notify-dispatch.yml
  apps/api/.env.example
  apps/api/package.json
  apps/api/src/jobs/notify_worker.ts
  apps/api/src/lib/cache/lru.ts
  apps/api/src/lib/cache/redis.ts
  apps/api/src/middleware/cache_headers.ts
  apps/api/src/middleware/locale.ts
  apps/api/src/middleware/region.ts
  apps/api/src/routes/notify/send.ts
  apps/api/src/routes/notify/webpush.ts
  apps/api/src/routes/search/query.ts
  apps/api/src/routes/search/reindex.ts
  apps/api/src/server.ts
  apps/web/i18n/en.json
  apps/web/i18n/es.json
  apps/web/i18n/fr.json
  data/search/config.json
  data/search/index.jsonl
  docs/GLOBAL_SCALE.md
  docs/I18N_A11Y.md
  docs/NOTIFICATIONS.md
  docs/SEARCH.md
  ops/global/region_map.yaml
  scripts/search_index.ts
Owners: @platform-team, @sre-team

feat: add global scale and ux hardening (#1449)
  .github/workflows/i18n-check.yml
  .github/workflows/lighthouse.yml
  .github/workflows/notify-dispatch.yml
  apps/api/.env.example
  apps/api/package.json
  apps/api/src/jobs/notify_worker.ts
  apps/api/src/lib/cache/lru.ts
  apps/api/src/lib/cache/redis.ts
  apps/api/src/middleware/cache_headers.ts
  apps/api/src/middleware/locale.ts
  apps/api/src/middleware/region.ts
  apps/api/src/routes/notify/send.ts
  apps/api/src/routes/notify/webpush.ts
  apps/api/src/routes/search/query.ts
  apps/api/src/routes/search/reindex.ts
  apps/api/src/server.ts
  apps/web/i18n/en.json
  apps/web/i18n/es.json
  apps/web/i18n/fr.json
  data/search/config.json
  data/search/index.jsonl
  docs/GLOBAL_SCALE.md
  docs/I18N_A11Y.md
  docs/NOTIFICATIONS.md
  docs/SEARCH.md
  ops/global/region_map.yaml
  scripts/search_index.ts
Owners: @platform-team, @sre-team

feat: add org multi-tenancy and audit logging
  .github/workflows/org-audit.yml
  apps/api/prisma/migrations/0002_multitenant/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/lib/audit.ts
  apps/api/src/lib/db.ts
  apps/api/src/lib/email_templates.ts
  apps/api/src/middleware/org.ts
  apps/api/src/middleware/rate_limit.ts
  apps/api/src/middleware/rbac.ts
  apps/api/src/routes/admin/auditlog.ts
  apps/api/src/routes/admin/org_apikeys.ts
  apps/api/src/routes/orgs/accept_invite.ts
  apps/api/src/routes/orgs/create.ts
  apps/api/src/routes/orgs/invite.ts
  apps/api/src/server.ts
  apps/backoffice/src/App.tsx
  apps/backoffice/src/pages/Audit.tsx
  data/audit/.gitkeep
  docs/MULTITENANCY.md
Owners: @platform-team

feat: add agent command bus and workflows
  .github/workflows/agent-pr.yml
  .github/workflows/agent-queue.yml
  .github/workflows/change-approve.yml
  agents/change_policies.yaml
  agents/command_bus.ts
  agents/intents.yaml
  apps/api/.env.example
  apps/api/package.json
  apps/api/src/jobs/agent_worker.ts
  apps/api/src/routes/agents/command.ts
  apps/api/src/routes/agents/discord.ts
  apps/api/src/routes/agents/slack.ts
  apps/api/src/server.ts
  data/agents/queue.jsonl
  data/agents/results.jsonl
  docs/AGENTS.md
  docs/CHANGE_MGMT.md
  scripts/agents/pr_autopilot.ts
  scripts/agents/task_exec.ts
Owners: @platform-team

feat: add agent command bus and autopilot
  .github/workflows/agent-pr.yml
  .github/workflows/agent-queue.yml
  .github/workflows/change-approve.yml
  agents/change_policies.yaml
  agents/command_bus.ts
  agents/intents.yaml
  apps/api/.env.example
  apps/api/package.json
  apps/api/src/jobs/agent_worker.ts
  apps/api/src/routes/agents/command.ts
  apps/api/src/routes/agents/discord.ts
  apps/api/src/routes/agents/slack.ts
  apps/api/src/server.ts
  data/agents/queue.jsonl
  data/agents/results.jsonl
  docs/AGENTS.md
  docs/CHANGE_MGMT.md
  scripts/agents/pr_autopilot.ts
  scripts/agents/task_exec.ts
Owners: @platform-team

feat(exec-ops): add okr kpi forecasting and dashboards
  .github/workflows/board-pack.yml
  .github/workflows/exec-digest.yml
  .github/workflows/qbr.yml
  apps/api/.env.example
  apps/exec/app.js
  apps/exec/index.html
  apps/exec/style.css
  board/.gitkeep
  data/finance/forecast.json
  data/kpi/kpi_latest.json
  docs/EXEC_OPS.md
  finance/model/assumptions.yaml
  kpi/catalog.yaml
  okr/okr.yaml
  scripts/board_pack.ts
  scripts/exec_digest.ts
  scripts/forecast.ts
  scripts/kpi_etl.ts
  scripts/qbr_pack.ts
Owners: @platform-team

feat(exec-ops): add okr kpi forecasting and dashboards (#1453)
  .github/workflows/board-pack.yml
  .github/workflows/exec-digest.yml
  .github/workflows/qbr.yml
  apps/api/.env.example
  apps/exec/app.js
  apps/exec/index.html
  apps/exec/style.css
  board/.gitkeep
  data/finance/forecast.json
  data/kpi/kpi_latest.json
  docs/EXEC_OPS.md
  finance/model/assumptions.yaml
  kpi/catalog.yaml
  okr/okr.yaml
  scripts/board_pack.ts
  scripts/exec_digest.ts
  scripts/forecast.ts
  scripts/kpi_etl.ts
  scripts/qbr_pack.ts
Owners: @platform-team

feat(partner): partner ecosystem and marketplace
  .github/workflows/partner-review.yml
  .github/workflows/revshare.yml
  apps/api/.env.example
  apps/api/prisma/migrations/0003_partner_marketplace/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/lib/db.ts
  apps/api/src/lib/oauth.ts
  apps/api/src/routes/marketplace/install.ts
  apps/api/src/routes/marketplace/list.ts
  apps/api/src/routes/marketplace/uninstall.ts
  apps/api/src/routes/oauth/authorize.ts
  apps/api/src/routes/oauth/revoke.ts
  apps/api/src/routes/oauth/rotate.ts
  apps/api/src/routes/oauth/token.ts
  apps/api/src/routes/partners/apps.ts
  apps/api/src/routes/partners/onboard.ts
  apps/api/src/routes/partners/revshare.ts
  apps/api/src/routes/sandbox/echo.ts
  apps/api/src/server.ts
  apps/backoffice/src/pages/MarketplaceReview.tsx
  docs/MARKETPLACE.md
  docs/OAUTH_PARTNER.md
  docs/PARTNERS.md
  docs/REVSHARE.md
  partner/reports/.gitkeep
  scripts/partner_revshare.ts
  scripts/partner_sandbox.ts
Owners: @platform-team

feat: add enterprise IT integrations
  .github/workflows/kms-rotate.yml
  .github/workflows/scim-sync.yml
  apps/api/.env.example
  apps/api/package.json
  apps/api/src/lib/kms.ts
  apps/api/src/middleware/dlp.ts
  apps/api/src/routes/edr/export_audit.ts
  apps/api/src/routes/edr/legal_hold.ts
  apps/api/src/routes/saml/acs.ts
  apps/api/src/routes/saml/metadata.ts
  apps/api/src/routes/saml/slo.ts
  apps/api/src/routes/scim/groups.ts
  apps/api/src/routes/scim/users.ts
  apps/api/src/server.ts
  apps/backoffice/src/pages/SecuritySettings.tsx
  data/exports/audit/.gitkeep
  data/secure/.gitkeep
  docs/BYOK_DLP.md
  docs/EDISCOVERY.md
  docs/ENTERPRISE_IT.md
  docs/SCIM.md
  docs/SSO_SAML.md
Owners: @platform-team

fix: correct route imports in test helper
  .github/workflows/e2e.yml
  .github/workflows/flaky-triage.yml
  .github/workflows/load.yml
  .github/workflows/mutation.yml
  .github/workflows/pact.yml
  .github/workflows/test-ci.yml
  apps/api/.env.example
  apps/api/jest.config.js
  apps/api/package.json
  apps/api/src/routes/health.ts
  apps/api/src/routes/reco.ts
  apps/api/tests/health.test.ts
  apps/api/tests/helpers/factory.ts
  apps/api/tests/helpers/test_server.ts
  apps/api/tests/integration/reco.test.ts
  apps/api/tests/unit/health.test.ts
  chaos/http_error_inject.sh
  chaos/latency_inject.sh
  chaos/revert.sh
  contracts/consumer/pact.config.js
  contracts/consumer/pacts/partner-enqueue.spec.ts
  contracts/provider/verify.js
  docs/QUALITY.md
  docs/TESTDATA.md
  e2e/playwright.config.ts
  e2e/specs/smoke.spec.ts
  fuzz/harness/parser_fuzz.ts
  fuzz/json_property.test.ts
  load/k6_smoke.js
  load/k6_spike.js
  stryker.conf.json
  testing/fixtures/seed.sql
  testing/seed.sh
Owners: @platform-team

fix: correct route imports in test helper (#1456)
  .github/workflows/e2e.yml
  .github/workflows/flaky-triage.yml
  .github/workflows/load.yml
  .github/workflows/mutation.yml
  .github/workflows/pact.yml
  .github/workflows/test-ci.yml
  apps/api/.env.example
  apps/api/jest.config.js
  apps/api/package.json
  apps/api/src/routes/health.ts
  apps/api/src/routes/reco.ts
  apps/api/tests/health.test.ts
  apps/api/tests/helpers/factory.ts
  apps/api/tests/helpers/test_server.ts
  apps/api/tests/integration/reco.test.ts
  apps/api/tests/unit/health.test.ts
  chaos/http_error_inject.sh
  chaos/latency_inject.sh
  chaos/revert.sh
  contracts/consumer/pact.config.js
  contracts/consumer/pacts/partner-enqueue.spec.ts
  contracts/provider/verify.js
  docs/QUALITY.md
  docs/TESTDATA.md
  e2e/playwright.config.ts
  e2e/specs/smoke.spec.ts
  fuzz/harness/parser_fuzz.ts
  fuzz/json_property.test.ts
  load/k6_smoke.js
  load/k6_spike.js
  stryker.conf.json
  testing/fixtures/seed.sql
  testing/seed.sh
Owners: @platform-team

feat(privacy): add governance layer
  .github/workflows/privacy-reports.yml
  .github/workflows/privacy-retention.yml
  apps/api/.env.example
  apps/api/package.json
  apps/api/src/routes/privacy/consent.ts
  apps/api/src/routes/privacy/dsar.ts
  apps/api/src/routes/privacy/preferences.ts
  apps/api/src/server.ts
  apps/backoffice/src/pages/PrivacyConsole.tsx
  data/privacy/consent.jsonl
  data/privacy/dsar_queue.jsonl
  data/privacy/exports/.gitkeep
  docs/CONSENT.md
  docs/DPIA.md
  docs/DSAR.md
  docs/PRIVACY.md
  docs/RETENTION.md
  docs/ROPA.md
  privacy/catalog/datasets.yaml
  privacy/dpia/examples/example_risk.md
  privacy/dpia/template.md
  privacy/reports/.gitkeep
  privacy/retention/policies.yaml
  privacy/ropa/records.yaml
  scripts/privacy/erase_subject.ts
  scripts/privacy/export_subject.ts
  scripts/privacy/monthly_report.ts
  scripts/privacy/purge.ts
Owners: @platform-team

feat(itsm): add on-call and incident management
  .github/workflows/incident-drill.yml
  .github/workflows/oncall-rotation.yml
  .github/workflows/postmortem-publish.yml
  apps/api/.env.example
  apps/api/package.json
  apps/api/src/routes/itsm/incidents.ts
  apps/api/src/routes/itsm/oncall.ts
  apps/api/src/server.ts
  apps/backoffice/src/pages/Incidents.tsx
  apps/backoffice/src/pages/OnCall.tsx
  data/itsm/incidents.jsonl
  data/itsm/timeline/.gitkeep
  docs/INCIDENTS.md
  docs/ITSM.md
  docs/ONCALL.md
  docs/POSTMORTEMS.md
  itsm/comms/templates.yaml
  itsm/oncall/schedules.yaml
  itsm/postmortems/.gitkeep
  itsm/postmortems/template.md
  scripts/itsm/broadcast.ts
  scripts/itsm/postmortem_from_incident.ts
Owners: @platform-team

feat: add enterprise admin controls
  .github/workflows/access-review-quarterly.yml
  .github/workflows/po-export.yml
  .github/workflows/vendor-attest.yml
  apps/api/.env.example
  apps/api/package.json
  apps/api/src/routes/admin/access_review.ts
  apps/api/src/routes/admin/devices.ts
  apps/api/src/routes/admin/licensing.ts
  apps/api/src/routes/admin/procurement.ts
  apps/api/src/routes/admin/vendors.ts
  apps/api/src/server.ts
  apps/backoffice/src/pages/AccessReview.tsx
  apps/backoffice/src/pages/Devices.tsx
  apps/backoffice/src/pages/Licensing.tsx
  apps/backoffice/src/pages/Procurement.tsx
  apps/backoffice/src/pages/Vendors.tsx
  data/admin/access_reviews/.gitkeep
  data/admin/devices.json
  data/admin/licenses.json
  data/admin/procurement_pos.json
  data/admin/vendors.json
  docs/ACCESS_REVIEW.md
  docs/DEVICES.md
  docs/LICENSING.md
  docs/PROCUREMENT.md
  docs/VENDORS.md
  scripts/access_review/open_quarter.ts
  scripts/procurement/export_pos.ts
  scripts/vendors/monthly_attest.ts
Owners: @platform-team

feat: add enterprise admin controls (#1459)
  .github/workflows/access-review-quarterly.yml
  .github/workflows/po-export.yml
  .github/workflows/vendor-attest.yml
  apps/api/.env.example
  apps/api/package.json
  apps/api/src/routes/admin/access_review.ts
  apps/api/src/routes/admin/devices.ts
  apps/api/src/routes/admin/licensing.ts
  apps/api/src/routes/admin/procurement.ts
  apps/api/src/routes/admin/vendors.ts
  apps/api/src/server.ts
  apps/backoffice/src/pages/AccessReview.tsx
  apps/backoffice/src/pages/Devices.tsx
  apps/backoffice/src/pages/Licensing.tsx
  apps/backoffice/src/pages/Procurement.tsx
  apps/backoffice/src/pages/Vendors.tsx
  data/admin/access_reviews/.gitkeep
  data/admin/devices.json
  data/admin/licenses.json
  data/admin/procurement_pos.json
  data/admin/vendors.json
  docs/ACCESS_REVIEW.md
  docs/DEVICES.md
  docs/LICENSING.md
  docs/PROCUREMENT.md
  docs/VENDORS.md
  scripts/access_review/open_quarter.ts
  scripts/procurement/export_pos.ts
  scripts/vendors/monthly_attest.ts
Owners: @platform-team

feat: add people ops and HRIS layer
  .github/workflows/payroll-export.yml
  apps/api/.env.example
  apps/api/package.json
  apps/api/src/routes/hr/onoff.ts
  apps/api/src/routes/hr/org.ts
  apps/api/src/routes/hr/policies.ts
  apps/api/src/routes/hr/pto.ts
  apps/api/src/routes/hr/reviews.ts
  apps/api/src/routes/hr/training.ts
  apps/api/src/server.ts
  apps/backoffice/src/pages/OnOffboarding.tsx
  apps/backoffice/src/pages/PTO.tsx
  apps/backoffice/src/pages/People.tsx
  apps/backoffice/src/pages/Policies.tsx
  apps/backoffice/src/pages/Reviews.tsx
  apps/backoffice/src/pages/Training.tsx
  data/hr/offboarding.jsonl
  data/hr/onboarding.jsonl
  data/hr/org.json
  data/hr/policies.jsonl
  data/hr/policy_acks.jsonl
  data/hr/pto_requests.jsonl
  data/hr/reviews_cycles.jsonl
  data/hr/reviews_feedback.jsonl
  data/hr/reviews_packets.jsonl
  data/hr/tasks.jsonl
  data/hr/training_assignments.jsonl
  docs/HRIS.md
  docs/PAYROLL.md
  docs/POLICIES.md
  docs/PTO.md
  docs/REVIEWS.md
  docs/TRAINING.md
  scripts/hr/payroll_export.ts
Owners: @platform-team

feat(clm): add contract lifecycle management layer
  .github/workflows/clm-obligations-check.yml
  .github/workflows/clm-renewal-reminders.yml
  .github/workflows/clm-signature-ingest.yml
  apps/api/.env.example
  apps/api/package.json
  apps/api/src/routes/clm/approvals.ts
  apps/api/src/routes/clm/contracts.ts
  apps/api/src/routes/clm/esign.ts
  apps/api/src/routes/clm/obligations.ts
  apps/api/src/routes/clm/templates.ts
  apps/api/src/server.ts
  apps/backoffice/src/pages/ContractEditor.tsx
  apps/backoffice/src/pages/Contracts.tsx
  apps/backoffice/src/pages/Obligations.tsx
  data/clm/contracts.jsonl
  data/clm/obligations.jsonl
  data/clm/redlines/.gitkeep
  docs/CLM.md
  docs/CONTRACT_TEMPLATES.md
  legal/clauses/library.yaml
  legal/templates/DPA.md
  legal/templates/MSA.md
  legal/templates/NDA.md
  legal/templates/SOW.md
Owners: @platform-team

feat(support): add help center and support desk
  .github/workflows/support-kb-publish.yml
  .github/workflows/support-report.yml
  .github/workflows/support-sla.yml
  apps/api/.env.example
  apps/api/package.json
  apps/api/src/routes/support/chat.ts
  apps/api/src/routes/support/email.ts
  apps/api/src/routes/support/kb.ts
  apps/api/src/routes/support/macros.ts
  apps/api/src/routes/support/sla.ts
  apps/api/src/routes/support/tickets.ts
  apps/api/src/server.ts
  apps/backoffice/src/pages/HelpCenter.tsx
  apps/backoffice/src/pages/Macros.tsx
  apps/backoffice/src/pages/SLA.tsx
  apps/backoffice/src/pages/SupportInbox.tsx
  apps/help_widget/style.css
  apps/help_widget/widget.js
  data/support/chat_threads.jsonl
  data/support/tickets.jsonl
  docs/HELP_WIDGET.md
  docs/KB.md
  docs/MACROS.md
  docs/SLA.md
  docs/SUPPORT_DESK.md
  scripts/support/email_ingest.ts
  scripts/support/kb_build.ts
  scripts/support/report.ts
  scripts/support/sla_check.ts
  support/kb/articles/.gitkeep
  support/kb/manifest.json
  support/macros.yaml
  support/reports/.gitkeep
  support/sla_policies.yaml
Owners: @platform-team

feat(support): add help center and support desk (#1462)
  .github/workflows/support-kb-publish.yml
  .github/workflows/support-report.yml
  .github/workflows/support-sla.yml
  apps/api/.env.example
  apps/api/package.json
  apps/api/src/routes/support/chat.ts
  apps/api/src/routes/support/email.ts
  apps/api/src/routes/support/kb.ts
  apps/api/src/routes/support/macros.ts
  apps/api/src/routes/support/sla.ts
  apps/api/src/routes/support/tickets.ts
  apps/api/src/server.ts
  apps/backoffice/src/pages/HelpCenter.tsx
  apps/backoffice/src/pages/Macros.tsx
  apps/backoffice/src/pages/SLA.tsx
  apps/backoffice/src/pages/SupportInbox.tsx
  apps/help_widget/style.css
  apps/help_widget/widget.js
  data/support/chat_threads.jsonl
  data/support/tickets.jsonl
  docs/HELP_WIDGET.md
  docs/KB.md
  docs/MACROS.md
  docs/SLA.md
  docs/SUPPORT_DESK.md
  scripts/support/email_ingest.ts
  scripts/support/kb_build.ts
  scripts/support/report.ts
  scripts/support/sla_check.ts
  support/kb/articles/.gitkeep
  support/kb/manifest.json
  support/macros.yaml
  support/reports/.gitkeep
  support/sla_policies.yaml
Owners: @platform-team
