Repository blackboxprogramming/blackroad-prism-console, changes with the owners that .github/CODEOWNERS names for each.
All owners: @platform-team, @integration-team, @sre-team

Add market and security pulse blog update
  sites/blackroad/content/blog/market-flows-and-ddos-resilience.md
Owners: none

Add Notion structure and Slack kickoff copy
  ops/notion_slack_bootstrap.md
Owners: @sre-team

Add blog post covering Cloudflare's Pingora release
  sites/blackroad/content/blog/pingora-rust-edge-proxies.md
Owners: none

Add Codex 9 Transparency Accord
  codex/README.md
  codex/entries/009-transparency-accord.md
Owners: none

docs: document tools adapter deployment
  tools/tools-adapter/.env.example
  tools/tools-adapter/README.md
  tools/tools-adapter/docker-compose.yml
  tools/tools-adapter/package.json
Owners: none

Document secrets verification checklist
  docs/SECRETS.md
Owners: none

Add WAFv2 and Route53 failover wiring
  br-infra-iac/envs/dev/main.tf
  br-infra-iac/envs/dev/providers.tf
  br-infra-iac/modules/ecs-service-alb/outputs.tf
  br-infra-iac/modules/route53-failover/main.tf
  br-infra-iac/modules/route53-failover/variables.tf
  br-infra-iac/modules/wafv2-alb/main.tf
  br-infra-iac/modules/wafv2-alb/variables.tf
  ops/next_push/asana_blackroad_ops_next_push.csv
  ops/next_push/slack_posts.md
Owners: @sre-team

Document Codex 10 learning spiral
  lucidia/autobox/docs/CODICES.md
  lucidia/autobox/docs/LEARNING.md
Owners: none

Add Codex 11 Ethical North Star
  ETHICS.md
  codex/README.md
  codex/entries/011-ethical-north-star.md
  lucidia/autobox/docs/CODICES.md
Owners: none

Add Notion structure and Slack kickoff copy (#1567)
  ops/notion_slack_bootstrap.md
Owners: @sre-team

Add blog post covering Cloudflare's Pingora release (#1568)
  sites/blackroad/content/blog/pingora-rust-edge-proxies.md
Owners: none

Add ECS service module and deploy pipeline for API (#1563)
  br-api-gateway/.github/workflows/deploy.yml
  br-infra-iac/envs/dev/main.tf
  br-infra-iac/envs/dev/terraform.tfvars.example
  br-infra-iac/envs/dev/variables.tf
  br-infra-iac/modules/ecr/outputs.tf
  br-infra-iac/modules/ecs-cluster/outputs.tf
  br-infra-iac/modules/ecs-service-alb/main.tf
  br-infra-iac/modules/ecs-service-alb/outputs.tf
  br-infra-iac/modules/ecs-service-alb/variables.tf
  ops/next_push/asana_blackroad_ops_next_push.csv
  ops/next_push/slack_posts.md
Owners: @sre-team

feat: seed lucidia auto-box scaffold (#1564)
  apps/api/package.json
  apps/api/src/routes/classify.ts
  apps/api/src/server.ts
  apps/web/app/layout.tsx
  apps/web/app/page.tsx
  apps/web/app/styles.css
  apps/web/next-env.d.ts
  apps/web/next.config.js
  apps/web/package.json
  apps/web/tsconfig.json
  docs/CODICES.md
  docs/PRIVACY.md
  docs/SECURITY.md
  infra/README.md
  packages/ai/package.json
  packages/ai/src/index.ts
  packages/ai/tsconfig.json
  packages/core/package.json
  packages/core/src/crypto.ts
  packages/core/src/index.ts
  packages/core/src/types.ts
  packages/core/src/validators.ts
  packages/core/tsconfig.json
Owners: @platform-team

Add market and security pulse blog update (#1566)
  sites/blackroad/content/blog/market-flows-and-ddos-resilience.md
Owners: none

docs: document tools adapter deployment (#1570)
  tools/tools-adapter/.env.example
  tools/tools-adapter/README.md
  tools/tools-adapter/docker-compose.yml
  tools/tools-adapter/package.json
Owners: none

Document secrets verification checklist (#1571)
  docs/SECRETS.md
Owners: none

Refine contradiction logging with normalized claims (#1565)
  api/openapi.yaml
  db/migrations/202601150000_claim_contradiction_log.sql
  docs/contradiction-log-schema.md
  src/routes/contradictions.js
  src/tests/backend.test.js
Owners: none

Document Codex 10 learning spiral (#1573)
  lucidia/autobox/docs/CODICES.md
  lucidia/autobox/docs/LEARNING.md
Owners: none

.github/CODEOWNERS:

/infra/            @platform-team
/flows/            @integration-team
/monitors/         @sre-team
/runbooks/         @platform-team
/apps/api/       @platform-team
/apps/web-public/ @platform-team
/ops/            @sre-team
/scripts/        @platform-team
