Repository blackboxprogramming/blackroad-prism-console, changes with the owners that .github/CODEOWNERS names for each.
All owners: @platform-team, @integration-team, @sre-team

.github/CODEOWNERS:

/infra/            @platform-team
/flows/            @integration-team
/monitors/         @sre-team
/runbooks/         @platform-team
/apps/api/       @platform-team
/apps/web-public/ @platform-team
/ops/            @sre-team
/scripts/        @platform-team

Add Jetson Orin Nano LLM deployment playbook
  sites/blackroad/content/blog/jetson-orin-nano-llm-playbook.md
Owners: none

docs: record blackroad dev mode drop
  docs/blackroad_dev_mode_drop.md
Owners: none

Add blog on advanced security practices for 2025
  sites/blackroad/content/blog/advanced-security-practices-2025.md
Owners: none

Add blog on advanced security practices for 2025 (#1548)
  sites/blackroad/content/blog/advanced-security-practices-2025.md
Owners: none

Add Jetson Orin Nano LLM deployment playbook (#1546)
  sites/blackroad/content/blog/jetson-orin-nano-llm-playbook.md
Owners: none

docs: record blackroad dev mode drop (#1547)
  docs/blackroad_dev_mode_drop.md
Owners: none

Add agentic payment vision scenarios (#1545)
  docs/agentic-payments-vision.md
Owners: none

docs: add crypto inventory checklist (#1543)
  docs/crypto-inventory-checklist.md
Owners: none

Add blog post on Chrome DevTools MCP preview (#1544)
  sites/blackroad/content/blog/chrome-devtools-mcp-preview.md
Owners: none

Add analysis of Tether institutional fundraising outlook (#1542)
  analysis/tether_institutional_outlook.md
Owners: none

Add deploy self-heal workflow (#1541)
  .github/workflows/deploy-self-heal.yml
Owners: none

docs: capture day-one ops implementation plan (#1537)
  docs/blackroad-ops-day-one.md
Owners: none

docs: map blackroad ops integration plan (#1534)
  README_PR_AUTOMATION.md
  docs/BLACKROAD_OPS_INTEGRATION_PLAN.md
  docs/PR_BUNDLE_INTEGRATIONS.md
Owners: none

Add Drop 2 deliverables
  asana-security-baseline.csv
  br-api-gateway/.env.example
  br-api-gateway/.github/workflows/ci.yml
  br-api-gateway/.nvmrc
  br-api-gateway/Dockerfile
  br-api-gateway/README.md
  br-api-gateway/openapi.yaml
  br-api-gateway/package.json
  br-api-gateway/src/index.ts
  br-api-gateway/src/routes/health.ts
  br-api-gateway/src/routes/v1/echo.ts
  br-api-gateway/test/health.test.ts
  br-api-gateway/tsconfig.json
  br-products-site/.eslintrc.json
  br-products-site/.nvmrc
  br-products-site/.prettierrc
  br-products-site/Dockerfile
  br-products-site/README.md
  br-products-site/app/health/route.ts
  br-products-site/app/layout.tsx
  br-products-site/app/page.tsx
  br-products-site/app/robots.ts
  br-products-site/app/sitemap.ts
  br-products-site/lib/seo.ts
  br-products-site/next.config.mjs
  br-products-site/package.json
  br-products-site/public/favicon.ico
  br-products-site/tsconfig.json
  ops/okta-sso-runbook.md
  ops/slack/announcements-drop-2.md
  prism-import.csv
Owners: @sre-team

Add Drop 2 deliverables (#1549)
  asana-security-baseline.csv
  br-api-gateway/.env.example
  br-api-gateway/.github/workflows/ci.yml
  br-api-gateway/.nvmrc
  br-api-gateway/Dockerfile
  br-api-gateway/README.md
  br-api-gateway/openapi.yaml
  br-api-gateway/package.json
  br-api-gateway/src/index.ts
  br-api-gateway/src/routes/health.ts
  br-api-gateway/src/routes/v1/echo.ts
  br-api-gateway/test/health.test.ts
  br-api-gateway/tsconfig.json
  br-products-site/.eslintrc.json
  br-products-site/.nvmrc
  br-products-site/.prettierrc
  br-products-site/Dockerfile
  br-products-site/README.md
  br-products-site/app/health/route.ts
  br-products-site/app/layout.tsx
  br-products-site/app/page.tsx
  br-products-site/app/robots.ts
  br-products-site/app/sitemap.ts
  br-products-site/lib/seo.ts
  br-products-site/next.config.mjs
  br-products-site/package.json
  br-products-site/public/favicon.ico
  br-products-site/tsconfig.json
  ops/okta-sso-runbook.md
  ops/slack/announcements-drop-2.md
  prism-import.csv
Owners: @sre-team

Add 2025 advanced security practices overview
  docs/ADVANCED_SECURITY_PRACTICES_2025.md
Owners: none

Add 2025 advanced security practices overview (#1550)
  docs/ADVANCED_SECURITY_PRACTICES_2025.md
Owners: none

docs: add wrapper alias configuration reference
  README_PR_AUTOMATION.md
  docs/WRAPPER_ALIAS_CONFIG.md
Owners: none

docs: add wrapper alias configuration reference (#1551)
  README_PR_AUTOMATION.md
  docs/WRAPPER_ALIAS_CONFIG.md
Owners: none

Add Terraform baseline infrastructure stack
  br-infra-iac/.github/workflows/terraform.yml
  br-infra-iac/Makefile
  br-infra-iac/README.md
  br-infra-iac/envs/dev/main.tf
  br-infra-iac/envs/dev/providers.tf
  br-infra-iac/envs/dev/terraform.tfvars.example
  br-infra-iac/envs/dev/variables.tf
  br-infra-iac/envs/prod/main.tf
  br-infra-iac/envs/prod/providers.tf
  br-infra-iac/envs/prod/terraform.tfvars.example
  br-infra-iac/envs/prod/variables.tf
  br-infra-iac/envs/stg/main.tf
  br-infra-iac/envs/stg/providers.tf
  br-infra-iac/envs/stg/terraform.tfvars.example
  br-infra-iac/envs/stg/variables.tf
  br-infra-iac/global/bootstrap/main.tf
  br-infra-iac/global/bootstrap/terraform.tfvars.example
  br-infra-iac/global/bootstrap/variables.tf
  br-infra-iac/modules/ecr/main.tf
  br-infra-iac/modules/ecr/outputs.tf
  br-infra-iac/modules/ecr/variables.tf
  br-infra-iac/modules/ecs-cluster/main.tf
  br-infra-iac/modules/ecs-cluster/outputs.tf
  br-infra-iac/modules/ecs-cluster/variables.tf
  br-infra-iac/modules/network/main.tf
  br-infra-iac/modules/network/outputs.tf
  br-infra-iac/modules/network/variables.tf
  br-infra-iac/modules/rds-postgres/main.tf
  br-infra-iac/modules/rds-postgres/outputs.tf
  br-infra-iac/modules/rds-postgres/variables.tf
Owners: none

Add Terraform baseline infrastructure stack (#1552)
  br-infra-iac/.github/workflows/terraform.yml
  br-infra-iac/Makefile
  br-infra-iac/README.md
  br-infra-iac/envs/dev/main.tf
  br-infra-iac/envs/dev/providers.tf
  br-infra-iac/envs/dev/terraform.tfvars.example
  br-infra-iac/envs/dev/variables.tf
  br-infra-iac/envs/prod/main.tf
  br-infra-iac/envs/prod/providers.tf
  br-infra-iac/envs/prod/terraform.tfvars.example
  br-infra-iac/envs/prod/variables.tf
  br-infra-iac/envs/stg/main.tf
  br-infra-iac/envs/stg/providers.tf
  br-infra-iac/envs/stg/terraform.tfvars.example
  br-infra-iac/envs/stg/variables.tf
  br-infra-iac/global/bootstrap/main.tf
  br-infra-iac/global/bootstrap/terraform.tfvars.example
  br-infra-iac/global/bootstrap/variables.tf
  br-infra-iac/modules/ecr/main.tf
  br-infra-iac/modules/ecr/outputs.tf
  br-infra-iac/modules/ecr/variables.tf
  br-infra-iac/modules/ecs-cluster/main.tf
  br-infra-iac/modules/ecs-cluster/outputs.tf
  br-infra-iac/modules/ecs-cluster/variables.tf
  br-infra-iac/modules/network/main.tf
  br-infra-iac/modules/network/outputs.tf
  br-infra-iac/modules/network/variables.tf
  br-infra-iac/modules/rds-postgres/main.tf
  br-infra-iac/modules/rds-postgres/outputs.tf
  br-infra-iac/modules/rds-postgres/variables.tf
Owners: none

Add Codex 3 workflow guidance
  codex/README.md
  codex/entries/003-workflow-circle.md
Owners: none

Add Codex 3 workflow guidance (#1553)
  codex/README.md
  codex/entries/003-workflow-circle.md
Owners: none

Add Auto-Box security guardrails stub
  lucidia/auto_box/SECURITY.md
Owners: none

chore: add coordination kit for next push initiatives
  ops/next_push/asana_blackroad_ops_next_push.csv
  ops/next_push/dns_updates.md
  ops/next_push/github_guardrails.sh
  ops/next_push/marketing_social_cadence.md
  ops/next_push/notion_seeds.md
  ops/next_push/overview.md
  ops/next_push/prism_jira_acceptance.md
  ops/next_push/prism_v0_1_jira_import.csv
  ops/next_push/slack_posts.md
Owners: @sre-team

chore: add coordination kit for next push initiatives (#1555)
  ops/next_push/asana_blackroad_ops_next_push.csv
  ops/next_push/dns_updates.md
  ops/next_push/github_guardrails.sh
  ops/next_push/marketing_social_cadence.md
  ops/next_push/notion_seeds.md
  ops/next_push/overview.md
  ops/next_push/prism_jira_acceptance.md
  ops/next_push/prism_v0_1_jira_import.csv
  ops/next_push/slack_posts.md
Owners: @sre-team

feat: expose stubbed connector tools
  app/api/chat/route.ts
  lib/tools/wrappers.ts
Owners: none

feat: expose stubbed connector tools (#1556)
  app/api/chat/route.ts
  lib/tools/wrappers.ts
Owners: none

Add tools adapter server and OpenAPI definition
  .gitignore
  tools/tools-adapter/.env
  tools/tools-adapter/Dockerfile
  tools/tools-adapter/openapi.yaml
  tools/tools-adapter/package-lock.json
  tools/tools-adapter/package.json
  tools/tools-adapter/server.js
Owners: none

Add tools adapter server and OpenAPI definition (#1557)
  .gitignore
  tools/tools-adapter/.env
  tools/tools-adapter/Dockerfile
  tools/tools-adapter/openapi.yaml
  tools/tools-adapter/package-lock.json
  tools/tools-adapter/package.json
  tools/tools-adapter/server.js
Owners: none

docs: add codex 4 autonomy manifest
  codex/README.md
  codex/entries/004-autonomy-manifest.md
  legal/privacy.md
Owners: none

feat: seed Lucidia Auto-Box preview
  lucidia/autobox/README.md
  lucidia/autobox/apps/api/package.json
  lucidia/autobox/apps/api/src/index.ts
  lucidia/autobox/apps/api/tsconfig.build.json
  lucidia/autobox/apps/api/tsconfig.json
  lucidia/autobox/apps/web/app/globals.css
  lucidia/autobox/apps/web/app/layout.tsx
  lucidia/autobox/apps/web/app/page.tsx
  lucidia/autobox/apps/web/components/SuggestionList.tsx
  lucidia/autobox/apps/web/lib/api.ts
  lucidia/autobox/apps/web/next-env.d.ts
  lucidia/autobox/apps/web/next.config.js
  lucidia/autobox/apps/web/package.json
  lucidia/autobox/apps/web/tsconfig.json
  lucidia/autobox/docs/CODICES.md
  lucidia/autobox/docs/PRIVACY.md
  lucidia/autobox/docs/SECURITY.md
  lucidia/autobox/infra/README.md
  lucidia/autobox/packages/ai/package.json
  lucidia/autobox/packages/ai/src/index.ts
  lucidia/autobox/packages/ai/tsconfig.build.json
  lucidia/autobox/packages/ai/tsconfig.json
  lucidia/autobox/packages/core/package.json
  lucidia/autobox/packages/core/src/index.ts
  lucidia/autobox/packages/core/tsconfig.build.json
  lucidia/autobox/packages/core/tsconfig.json
  pnpm-workspace.yaml
Owners: none

feat: seed Lucidia Auto-Box preview (#1560)
  lucidia/autobox/README.md
  lucidia/autobox/apps/api/package.json
  lucidia/autobox/apps/api/src/index.ts
  lucidia/autobox/apps/api/tsconfig.build.json
  lucidia/autobox/apps/api/tsconfig.json
  lucidia/autobox/apps/web/app/globals.css
  lucidia/autobox/apps/web/app/layout.tsx
  lucidia/autobox/apps/web/app/page.tsx
  lucidia/autobox/apps/web/components/SuggestionList.tsx
  lucidia/autobox/apps/web/lib/api.ts
  lucidia/autobox/apps/web/next-env.d.ts
  lucidia/autobox/apps/web/next.config.js
  lucidia/autobox/apps/web/package.json
  lucidia/autobox/apps/web/tsconfig.json
  lucidia/autobox/docs/CODICES.md
  lucidia/autobox/docs/PRIVACY.md
  lucidia/autobox/docs/SECURITY.md
  lucidia/autobox/infra/README.md
  lucidia/autobox/packages/ai/package.json
  lucidia/autobox/packages/ai/src/index.ts
  lucidia/autobox/packages/ai/tsconfig.build.json
  lucidia/autobox/packages/ai/tsconfig.json
  lucidia/autobox/packages/core/package.json
  lucidia/autobox/packages/core/src/index.ts
  lucidia/autobox/packages/core/tsconfig.build.json
  lucidia/autobox/packages/core/tsconfig.json
  pnpm-workspace.yaml
Owners: none

docs: add codex 4 autonomy manifest (#1559)
  codex/README.md
  codex/entries/004-autonomy-manifest.md
  legal/privacy.md
Owners: none

Add Auto-Box security guardrails stub (#1554)
  lucidia/auto_box/SECURITY.md
Owners: none

Add Codex 8 identity guard guidance
  IDENTITY.md
  codex/README.md
  codex/entries/008-identity-guard.md
Owners: none

Add Codex 7 resilience guardrails
  codex/README.md
  codex/entries/007-resilience-code.md
  docs/RESILIENCE.md
  docs/ops/RECOVER_IN_15.md
Owners: none

Add ECS service module and deploy pipeline for API
  br-api-gateway/.github/workflows/deploy.yml
  br-infra-iac/envs/dev/main.tf
  br-infra-iac/envs/dev/terraform.tfvars.example
  br-infra-iac/envs/dev/variables.tf
  br-infra-iac/modules/ecr/outputs.tf
  br-infra-iac/modules/ecs-cluster/outputs.tf
  br-infra-iac/modules/ecs-service-alb/main.tf
  br-infra-iac/modules/ecs-service-alb/outputs.tf
  br-infra-iac/modules/ecs-service-alb/variables.tf
  ops/next_push/asana_blackroad_ops_next_push.csv
  ops/next_push/slack_posts.md
Owners: @sre-team

feat: seed lucidia auto-box scaffold
  apps/api/package.json
  apps/api/src/routes/classify.ts
  apps/api/src/server.ts
  apps/web/app/layout.tsx
  apps/web/app/page.tsx
  apps/web/app/styles.css
  apps/web/next-env.d.ts
  apps/web/next.config.js
  apps/web/package.json
  apps/web/tsconfig.json
  docs/CODICES.md
  docs/PRIVACY.md
  docs/SECURITY.md
  infra/README.md
  packages/ai/package.json
  packages/ai/src/index.ts
  packages/ai/tsconfig.json
  packages/core/package.json
  packages/core/src/crypto.ts
  packages/core/src/index.ts
  packages/core/src/types.ts
  packages/core/src/validators.ts
  packages/core/tsconfig.json
Owners: @platform-team

Refine contradiction logging with normalized claims
  api/openapi.yaml
  db/migrations/202601150000_claim_contradiction_log.sql
  docs/contradiction-log-schema.md
  src/routes/contradictions.js
  src/tests/backend.test.js
Owners: none
