Repository blackboxprogramming/blackroad-prism-console, changes with the labels that .github/labeler.yml gives for each.
All labels: area/site, area/api, area/nginx, ci

feat: introduce BlackRoad design system
  .eslintrc.cjs
  .eslintrc.json
  design/build/style-dictionary.config.cjs
  design/tokens/tokens.json
  public/css/blackroad-a11y.css
  public/css/blackroad-color-system.css
  public/css/blackroad-layout.css
  public/css/blackroad-motion.css
  public/css/blackroad-rtl.css
  public/css/blackroad-themes.css
  public/css/blackroad-tokens.css
  public/css/blackroad-type.css
  src/components/Button.tsx
  src/components/Card.tsx
  src/design/DesignSystemProvider.tsx
  src/design/chartsTheme.ts
  src/design/eslint-plugin-blackroad/index.js
  src/design/eslint-plugin-blackroad/package.json
  src/design/predictive.ts
  src/design/tokens.ts
  src/design/universal.ts
  src/design/useDesignSignals.ts
  src/tests/a11y/app.spec.ts
  tailwind.config.cjs
Labels: none

fix: deploy blackroad via rsync
  .github/workflows/prism-ssh-deploy.yml
Labels: ci

feat: add deploy-site workflow
  .github/workflows/deploy-site.yml
Labels: ci

chore: remove ssh key and clean hardening script
  .gitignore
  infra/hardening/secure-ssh.sh
  publicssh.sh
  sshprivate.sh
Labels: none

chore: add MOVEFILE and ops docs, relocate nginx config and bootstrap script, update CI
  .github/workflows/ci.yml
  MOVEFILE.md
  README-OPS.md
  ops/nginx/blackroad.io.conf
  ops/scripts/bootstrap-site.sh
Labels: ci

feat: add gold positive button
  src/components/Button.tsx
  tests/button_positive.test.mjs
Labels: none

Add BlackRoad City Map OS Codex prompt
  codex/prompts/blackroad_city_map_os.prompt.md
Labels: none

feat: document hybrid deploy and update workflows
  .github/workflows/prism-ssh-deploy.yml
  .github/workflows/site-build.yml
  README-OPS.md
  sites/blackroad/README.md
Labels: area/site, ci

fix: restore valid tsconfig
  tsconfig.json
Labels: none

chore: normalize tsconfig.json across repo
  apps/blackroad-web/next-env.d.ts
  apps/blackroad-web/tsconfig.json
  apps/portals/tsconfig.json
  next-env.d.ts
  package.json
  packages/lucidia-create/next-env.d.ts
  packages/lucidia-create/tsconfig.json
  sites/blackroad/next-env.d.ts
  sites/blackroad/tsconfig.json
  tsconfig.json
Labels: area/site

chore: remove duplicate dependencies
  apps/portals/package.json
Labels: none

Add Hello World blog post
  sites/blackroad/content/blog/hello-world.md
Labels: area/site

feat: add billing dashboard and API
  package.json
  src/components/BillingCard.tsx
  src/components/UserDashboard.tsx
  src/components/__tests__/BillingCard.test.js
  var/www/blackroad/server/index.js
  var/www/blackroad/server/routes/__tests__/billing.test.js
  var/www/blackroad/server/routes/billing.js
Labels: none

Wire multipage build for /portal; brand styles; working pages
  services/api/.0.swp
  services/api/.2.7.0.swp
  services/api/.pm2-logrotate.swp
  services/api/.│.swp
  services/api/package-lock.json
  services/api/server_full.js
  sites/blackroad/package-lock.json
  sites/blackroad/package.json
  sites/blackroad/portal.html
  sites/blackroad/sites/blackroad/public/blog/index.json
  sites/blackroad/sites/blackroad/public/docs/index.json
  sites/blackroad/src/App.jsx
  sites/blackroad/src/pages/BackRoad.jsx
  sites/blackroad/src/pages/Canvas.jsx
  sites/blackroad/src/pages/Chat.jsx
  sites/blackroad/src/pages/Editor.jsx
  sites/blackroad/src/pages/RoadView.jsx
  sites/blackroad/src/pages/Terminal.jsx
  sites/blackroad/src/portal-main.jsx
  sites/blackroad/src/styles.css
  sites/blackroad/tsconfig.json.ts
  sites/blackroad/vite.config.js
Labels: area/site, area/api

chore(blackroad): list all portals
  sites/blackroad/lighthouserc.json
  sites/blackroad/public/sitemap.xml
Labels: area/site

feat(site): advertise all portals on homepage
  sites/blackroad/index.html
Labels: area/site

feat: add Back Road blog post
  sites/blackroad/content/blog/back-road.md
Labels: area/site

feat(portals): add simple RoadView video gallery
  apps/portals/app/roadview/page.tsx
Labels: none

test(blackroad): add About page coverage
  sites/blackroad/content/blog/about-page-coverage.md
  sites/blackroad/tests/e2e.spec.ts
Labels: area/site

feat: add RoadCoin portal
  frontend/src/App.jsx
  frontend/src/api.js
  frontend/src/components/RoadCoin.jsx
  src/routes/roadcoin.js
  src/server.js
Labels: none

feat: add roadview portal
  backend/server.js
  frontend/package.json
  frontend/src/App.jsx
  frontend/src/api.js
  frontend/src/index.css
  frontend/src/main.jsx
  frontend/src/pages/Dashboard.jsx
  frontend/src/pages/RoadView.jsx
  nginx/conf.d/lucidia-sites.conf
Labels: area/nginx

feat: add roadchain portal
  backend/data.js
  backend/server.js
  frontend/package.json
  frontend/src/App.jsx
  frontend/src/api.js
  frontend/src/components/RoadChain.jsx
  frontend/src/index.css
  frontend/src/main.jsx
Labels: none

feat: add lucidia portal
  apps/blackroad-web/package.json
  apps/blackroad-web/src/components/AgentStack.tsx
  apps/blackroad-web/src/index.css
  apps/blackroad-web/src/main.tsx
  apps/blackroad-web/src/routes/Lucidia.tsx
  backend/data.js
  backend/server.js
Labels: none

feat(backroad): add social feed with backend
  backend/data.js
  backend/server.js
  sites/blackroad/src/pages/BackRoad.jsx
  sites/blackroad/src/styles.css
Labels: area/site

feat: add orchestrator portal
  backend/data.js
  backend/server.js
  frontend/package.json
  frontend/src/App.jsx
  frontend/src/Orchestrator.jsx
  frontend/src/api.js
  frontend/src/index.css
  frontend/src/main.jsx
Labels: none

Add Manifesto portal and backend routes
  backend/manifesto.pdf
  backend/server.js
  frontend/src/App.jsx
  frontend/src/api.js
  frontend/src/components/Manifesto.jsx
  frontend/src/index.css
Labels: none

feat: add roadbook portal
  backend/server.js
  frontend/package.json
  frontend/src/App.jsx
  frontend/src/api.js
  frontend/src/components/Roadbook.jsx
  frontend/src/index.css
  frontend/src/main.jsx
Labels: none

feat: add guardian portal component
  backend/data.js
  backend/server.js
  frontend/src/App.jsx
  frontend/src/Guardian.jsx
  frontend/src/api.js
  frontend/src/index.css
Labels: none

feat: add Claude portal with chat and history
  backend/data.js
  backend/server.js
  frontend/src/App.jsx
  frontend/src/api.js
  frontend/src/components/Claude.jsx
  frontend/src/index.css
Labels: none

feat: add codex portal
  backend/data.js
  backend/server.js
  frontend/src/App.jsx
  frontend/src/api.js
  frontend/src/components/Codex.jsx
  frontend/src/index.css
Labels: none

feat: add dashboard and personal portals
  backend/data.js
  backend/server.js
  frontend/src/App.jsx
  frontend/src/api.js
  frontend/src/components/Dashboard.jsx
  frontend/src/components/You.jsx
  frontend/src/index.css
Labels: none

feat: add dashboard and personal portals
  backend/data.js
  backend/server.js
  frontend/src/App.jsx
  frontend/src/api.js
  frontend/src/components/Dashboard.jsx
  frontend/src/components/You.jsx
  frontend/src/index.css
Labels: none

feat: add BlackRoad brand assets
  var/www/blackroad/assets/brand/README.md
  var/www/blackroad/assets/brand/brand-sprite.svg
  var/www/blackroad/assets/brand/brand.css
  var/www/blackroad/assets/brand/browserconfig.xml
  var/www/blackroad/assets/brand/build_brand_assets.sh
  var/www/blackroad/assets/brand/demo.html
  var/www/blackroad/assets/brand/favicon.svg
  var/www/blackroad/assets/brand/humans.txt
  var/www/blackroad/assets/brand/icons/.gitkeep
  var/www/blackroad/assets/brand/logo-wordmark.svg
  var/www/blackroad/assets/brand/logo.svg
  var/www/blackroad/assets/brand/og-image.svg
  var/www/blackroad/assets/brand/robots.txt
  var/www/blackroad/assets/brand/safari-pinned-tab.svg
  var/www/blackroad/assets/brand/site.webmanifest
  var/www/blackroad/assets/brand/theme.js
  var/www/blackroad/assets/brand/wordmark.svg
Labels: none

feat: add subscription stubs
  .env.example
  sites/blackroad/src/App.jsx
  sites/blackroad/src/pages/Subscribe.jsx
  srv/blackroad-api/server_full.js
Labels: area/site

feat: seed subscription plans and expose plans endpoint
  srv/blackroad-api/server_full.js
Labels: none

feat: add subscribe portal and API stubs
  frontend/src/App.jsx
  frontend/src/Subscribe.jsx
  srv/blackroad-api/server_full.js
  tests/subscribe.validators.mjs
Labels: none

fix: restore home page component
  sites/blackroad/src/pages/Home.jsx
  sites/blackroad/src/pages/Home.jsx~HEAD
Labels: area/site

Reading Material!
  1807.06419v1.pdf
  FULLTEXT01.pdf
  Godel-IAS.pdf
  GodelBookLM.pdf
  Gödel’s Incompleteness Theorems (Stanford Encyclopedia of Philosophy).pdf
  Petr_H%C3%A1jek_2007_J._Phys.%3A_Conf._Ser._82_012005.pdf
  chapter13.pdf
  document.pdf
  efi.pdf
  goedel.pdf
  ic-screen.pdf
  lecture_04_04.pdf
  mlsys.pdf
  preview-9781483257921_A23865753.pdf
Labels: none

:heart:
  Gödel’s Incompleteness Theorems (Stanford Encyclopedia of Philosophy).pdf
Labels: none

:heart:
  Gödel’s Incompleteness Theorems (Stanford Encyclopedia of Philosophy).pdf
Labels: none

.github/labeler.yml:

area/site:
  - "sites/blackroad/**"
area/api:
  - "services/api/**"
area/nginx:
  - "nginx/**"
ci:
  - ".github/workflows/**"
