Repository blackboxprogramming/blackroad-prism-console, changes with the labels that .github/labeler.yml gives for each.
All labels: area/site, area/api, area/nginx, ci

chore(frontend): clear invalid token and log block fetch errors
  frontend/src/App.jsx
  frontend/src/components/RoadChain.jsx
Labels: none

test: parameterize engine output test
  tests/test_auto_novel_agent.py
Labels: none

Document logging behavior in Codex pipeline
  tests/test_codex_pipeline.py
  tools/codex_pipeline.py
Labels: none

chore: fix eslint config
  eslint.config.cjs
  eslint.config.mjs
Labels: none

Remove unused pipeline helpers
  tests/test_codex_pipeline.py
  tools/codex_pipeline.py
Labels: none

fix: preserve token on non-401 errors
  frontend/src/App.jsx
Labels: none

chore: improve error logging
  frontend/src/App.jsx
  frontend/src/components/RoadChain.jsx
Labels: none

chore: remove unused urllib error import
  tools/codex_pipeline.py
Labels: none

refactor: manage supported engines per instance
  agents/auto_novel_agent.py
  tests/test_auto_novel_agent.py
Labels: none

chore: address review feedback
  agents/auto_novel_agent.py
  agents/test_auto_novel_agent.py
Labels: none

refactor(agents): improve cleanup results and type hints
  agents/auto_novel_agent.py
  agents/cleanup_bot.py
Labels: none

fix(agent-summary): preserve zero error counts
  src/services/agentSummary.js
Labels: none

refactor: use builtin list typing for AutoNovelAgent
  agents/auto_novel_agent.py
Labels: none

fix: clean up cleanup_bot syntax
  agents/cleanup_bot.py
Labels: none

refactor: centralize engine name normalization
  agents/auto_novel_agent.py
  tests/test_auto_novel_agent.py
Labels: none

chore: limit ESLint scope
  eslint.config.cjs
Labels: none

feat: allow configurable timeout for solar API
  agents/solar_network_agent.py
Labels: none

chore: simplify ESLint config
  eslint.config.cjs
  eslint.config.js
Labels: none

feat: allow @codex fix comments command
  .github/prompts/codex-fix-comments.md
  .github/tools/codex-apply.js
  .github/workflows/codex-bridge.yml
Labels: ci

chore: log RoadView storage path on init failure
  server_full.js
Labels: none

fix: surface RoadChain load errors
  frontend/src/App.jsx
  frontend/src/components/RoadChain.jsx
Labels: none

fix: preserve fix comments diff
  .github/tools/codex-apply.js
Labels: none

chore: log RoadView projects path on init failure
  server_full.js
Labels: none

chore: harden auth reset
  frontend/src/App.jsx
Labels: none

chore: reset auth clears stored token
  frontend/src/App.jsx
Labels: none

chore: ignore roadview storage
  srv/blackroad-api/.gitignore
  srv/blackroad-api/storage/roadview/.gitkeep
  srv/blackroad-api/storage/roadview/projects/.gitkeep
Labels: none

fix: clean up cleanup_bot syntax
  agents/cleanup_bot.py
Labels: none

chore: refresh stream ref and search state
  frontend/src/App.jsx
  frontend/src/components/RoadChain.jsx
Labels: none

chore: deduplicate Rust target ignore
  .gitignore
Labels: none

Add multithreaded Chudnovsky pi calculator with progress bar
  pi_compute.py
Labels: none

New
  .ideas/RoadTrip/Phases.txt
  .ideas/RoadTrip/Proposal.txt
  .ideas/file1idea.txt
  .ideas/file3idea.txt
  .ideas/file4idea.txt
  .ideas/file5idea.txt
  .ideas/fileidea2.txt
Labels: none

chore: tidy requirements
  requirements.txt
Labels: none

feat(blackroad): add content watcher
  sites/blackroad/package-lock.json
  sites/blackroad/package.json
  sites/blackroad/scripts/watch-content.cjs
Labels: area/site

feat(blackroad): add content watcher
  sites/blackroad/package-lock.json
  sites/blackroad/package.json
  sites/blackroad/scripts/watch-content.cjs
Labels: area/site

Fix worker precision for Chudnovsky computation
  pi_compute.py
Labels: none

chore: consolidate Rust target ignores
  .gitignore
Labels: none

refactor: initialize decimal context once per worker
  pi_compute.py
Labels: none

refactor: clean condor engine and annotate skipped tests
  lucidia/engines/condor_engine.py
  tests/test_api_meteoroid.py
  tests/test_lucidgeo.py
  tests/test_meteoroid_env.py
Labels: none

feat(backend): add task listing endpoint
  backend/server.js
Labels: none

chore: align react versions in blackroad site
  sites/blackroad/package-lock.json
  sites/blackroad/package.json
Labels: area/site

.github/labeler.yml:

area/site:
  - "sites/blackroad/**"
area/api:
  - "services/api/**"
area/nginx:
  - "nginx/**"
ci:
  - ".github/workflows/**"
