Repository blackboxprogramming/blackroad-prism-console, changes with the labels that .github/labeler.yml gives for each.
All labels: area/site, area/api, area/nginx, ci

feat: add agent snapshot rollback controls
  prism_os/Cargo.lock
  prism_os/Cargo.toml
  prism_os/src/lib.rs
  sites/blackroad/src/pages/Agents.jsx
Labels: area/site

restore script executable
  scripts/blackroad_sync.sh
  services/health-sidecar/server.js
Labels: none

fix lint config and python scripts
  agents/cleanup_bot.py
  eslint.config.js
  main.py
Labels: none

refactor: encode echo wasm in manifest
  frontend/src/agents.js
  frontend/src/localAgents.js
  frontend/src/localAgents.mjs
  frontend/src/prismsh.js
  frontend/src/wasm/echo.json
  frontend/src/wasm/echo.wat
  src/tests/localAgents.test.mjs
Labels: none

feat(auth): add JWT-based authentication & role-based authorization
  backend/auth.js
  backend/data.js
  backend/package-lock.json
  backend/package.json
  backend/server.js
  package.json
  src/auth.js
  src/db.js
  src/routes/auth.js
  src/routes/tasks.js
  tests/test_auth.js
Labels: none

test(ci): add Jest testing harness and GitHub Actions CI
  .github/workflows/tests.yml
  backend/data.js
  backend/migrate.js
  jest.config.js
  package.json
  tests/test_db.js
  tests/test_integration.js
  tests/test_logs_contradictions.js
Labels: ci

feat(agents): add 50+ extended Prism agents across science, AI, finance, creative, and ops domains
  modules/mega_agents.js
  package.json
  prism/agents/.gitkeep
  prism/contradictions/.gitkeep
  prism/ipc/.gitkeep
  prism/logs/.gitkeep
  tests/test_agents_mega.js
Labels: none

feat(agents): add 15 elite coder agents (compiler, optimizer, security, reverse, systems, parallel, quantum_coder, crypto, debugger, ai_builder, refactor, lang_master, exploit, patcher, researcher)
  agents/ai_builder/index.js
  agents/ai_builder/manifest.json
  agents/compiler/index.js
  agents/compiler/manifest.json
  agents/crypto/index.js
  agents/crypto/manifest.json
  agents/debugger/index.js
  agents/debugger/manifest.json
  agents/exploit/index.js
  agents/exploit/manifest.json
  agents/lang_master/index.js
  agents/lang_master/manifest.json
  agents/optimizer/index.js
  agents/optimizer/manifest.json
  agents/parallel/index.js
  agents/parallel/manifest.json
  agents/patcher/index.js
  agents/patcher/manifest.json
  agents/quantum_coder/index.js
  agents/quantum_coder/manifest.json
  agents/refactor/index.js
  agents/refactor/manifest.json
  agents/researcher/index.js
  agents/researcher/manifest.json
  agents/reverse/index.js
  agents/reverse/manifest.json
  agents/security/index.js
  agents/security/manifest.json
  agents/systems/index.js
  agents/systems/manifest.json
  prism/agents/.gitkeep
  prism/contradictions/.gitkeep
  prism/ipc/.gitkeep
  prism/logs/.gitkeep
  prism/prismsh.js
  tests/test_agents_elite.js
Labels: none

feat(agents): add 15 elite coder agents (compiler, optimizer, security, reverse, systems, parallel, quantum_coder, crypto, debugger, ai_builder, refactor, lang_master, exploit, patcher, researcher)
  agents/ai_builder/index.js
  agents/ai_builder/manifest.json
  agents/compiler/index.js
  agents/compiler/manifest.json
  agents/crypto/index.js
  agents/crypto/manifest.json
  agents/debugger/index.js
  agents/debugger/manifest.json
  agents/exploit/index.js
  agents/exploit/manifest.json
  agents/lang_master/index.js
  agents/lang_master/manifest.json
  agents/optimizer/index.js
  agents/optimizer/manifest.json
  agents/parallel/index.js
  agents/parallel/manifest.json
  agents/patcher/index.js
  agents/patcher/manifest.json
  agents/quantum_coder/index.js
  agents/quantum_coder/manifest.json
  agents/refactor/index.js
  agents/refactor/manifest.json
  agents/researcher/index.js
  agents/researcher/manifest.json
  agents/reverse/index.js
  agents/reverse/manifest.json
  agents/security/index.js
  agents/security/manifest.json
  agents/systems/index.js
  agents/systems/manifest.json
  prism/agents/.gitkeep
  prism/contradictions/.gitkeep
  prism/ipc/.gitkeep
  prism/logs/.gitkeep
  prism/prismsh.js
  tests/test_agents_elite.js
Labels: none

feat: scaffold prism fs and logger agent
  agents/logger/Manifest.json
  agents/logger/__init__.py
  agents/logger/agent.py
  prism/README.md
  prism/agents/.gitkeep
  prism/contradictions/.gitkeep
  prism/ipc/.gitkeep
  prism/logs/.gitkeep
  prism/snapshots/.gitkeep
  prism/symphonies/.gitkeep
Labels: none

feat(projects-tasks): add CRUD API for projects and tasks with auth enforcement
  src/routes/projects.js
  src/routes/tasks.js
Labels: none

feat: scaffold novelty dashboard page
  frontend/src/App.jsx
  frontend/src/main.jsx
  frontend/src/pages/Novelty.jsx
Labels: none

feat: scaffold novelty dashboard page (#598)
  frontend/src/App.jsx
  frontend/src/main.jsx
  frontend/src/pages/Novelty.jsx
Labels: none

feat: add admin-delete for contradictions
  backend/data.js
  src/routes/contradictions.js
  tests/test_logs_contradictions.js
Labels: none

chore(lint): ignore problematic directories and enable JSX
  eslint.config.cjs
  eslint.config.js
Labels: none

feat: add rollback CI workflow
  .github/workflows/rollback-tests.yml
  package.json
  scripts/blackroad-autoheal.sh
  scripts/rollback.sh
  scripts/snapshot.sh
  tests/rollback.test.js
Labels: ci

feat(subscribe): add health check endpoint
  README.md
  frontend/src/subscribeApi.js
  server_full.js
  src/routes/subscribe.js
  tests/smoke.test.js
  tests/subscribe.health.test.js
Labels: none

fix: use valid Prettier version
  .pre-commit-config.yaml
  scripts/setup_local.sh
Labels: none

fix pre-commit config and tests
  .pre-commit-config.yaml
  lucidia/engines/condor_engine.py
  package.json
  pyproject.toml
  tests/random_fields/test_clfm_basic.py
  tests/test_api_meteoroid.py
  tests/test_lucidgeo.py
  tests/test_meteoroid_env.py
  tests/test_quantum_engine.py
Labels: none

chore: refine blackroad nginx and api service
  nginx/blackroad.conf
  srv/blackroad-api/.env
  systemd/blackroad-api.service
Labels: area/nginx

chore: refine blackroad nginx and api service
  nginx/blackroad.conf
  srv/blackroad-api/.env
  systemd/blackroad-api.service
Labels: area/nginx

chore(lint): ignore problematic directories and enable JSX
  eslint.config.cjs
  eslint.config.js
Labels: none

feat: add Rohonc Codex dataset parser
  agents/rohonc_parser.py
Labels: none

Add tests for bot modules
  agents/cleanup_bot.py
  tests/test_auto_novel_agent.py
  tests/test_bots_import.py
Labels: none

docs(blog): add post announcing JSX lint support
  sites/blackroad/content/blog/jsx-lint-support.md
Labels: area/site

feat(blog): add testing everything post
  sites/blackroad/content/blog/testing-everything.md
Labels: area/site

test(agent): cover AutoNovelAgent engine handling
  agents/auto_novel_agent.py
  tests/test_auto_novel_agent.py
Labels: none

test: add unit tests for AutoNovelAgent
  tests/test_auto_novel_agent.py
Labels: none

test: add AutoNovelAgent unit tests
  tests/test_auto_novel_agent.py
Labels: none

chore(scripts): dedupe test commands
  package.json
Labels: none

Validate size in residue_grid
  lucidia_math_lab/prime_explorer.py
Labels: none

feat(agents): manage supported engines
  agents/auto_novel_agent.py
  tests/test_auto_novel_agent.py
Labels: none

Simplify Codex pipeline CLI and deployment
  tools/codex_pipeline.py
Labels: none

feat: add codex pipeline cli
  tests/test_codex_pipeline_validation.py
  tools/codex_pipeline.py
Labels: none

test: cover auto novel agent features
  agents/auto_novel_agent.py
  tests/test_auto_novel_agent.py
Labels: none

chore: use flat eslint config
  .eslintrc.cjs
  eslint.config.cjs
  eslint.config.js
Labels: none

chore: trigger deployment after codex push
  scripts/codex-sync.sh
Labels: none

Refactor codex pipeline utilities
  tools/codex_pipeline.py
Labels: none

test(agents): add coverage for AutoNovelAgent
  tests/test_auto_novel_agent.py
Labels: none

Add tests for AutoNovelAgent
  tests/test_auto_novel_agent.py
Labels: none

.github/labeler.yml:

area/site:
  - "sites/blackroad/**"
area/api:
  - "services/api/**"
area/nginx:
  - "nginx/**"
ci:
  - ".github/workflows/**"
