Repository blackboxprogramming/blackroad-prism-console, changes with the labels that .github/labeler.yml gives for each.
All labels: area/frontend, area/backend

.github/labeler.yml:

area/frontend:
  - "frontend/**"
  - "sites/**"
area/backend:
  - "backend/**"
  - "services/**"

Add regression coverage for Codex pipeline CLI
  tests/test_codex_pipeline.py
Labels: none

test: add cleanup bot coverage
  tests/test_cleanup_bot.py
Labels: none

refine agent status fallback
  src/services/agentSummary.js
Labels: none

fix: repair cleanup bot syntax
  agents/cleanup_bot.py
Labels: none

test: add cleanup bot coverage
  tests/test_cleanup_bot.py
Labels: none

Raise when removing unsupported AutoNovelAgent engines
  agents/auto_novel_agent.py
  agents/test_auto_novel_agent.py
  tests/test_auto_novel_agent.py
Labels: none

docs: document smoke and jest test commands
  README.md
Labels: none

chore: harden test script and ops checklist
  README-OPS.md
  package.json
Labels: none

Use wall clock for perform schedule start time
  prism/server/src/index.ts
Labels: none

Reset parseKey token regex state
  apps/moltheater-cli/src/parseKey.ts
Labels: none

Add keyless flag to cosign reusable workflow
  .github/workflows/cosign-sign-attest.yml
Labels: none

Fix Slack pager pagination field tags
  cmd/slack/main.go
Labels: none

Fix leapfrog drift to use half-step momentum
  universal-sim/40_compare/universal_hamiltonian.py
Labels: none

Default debug console off in prod and skip probe stream reads
  app/components/debug/DebugConsole.tsx
  srv/blackroad-api/lib/fetch_probe.js
Labels: none

fix: treat completed check runs as passing
  .github/workflows/ritual-merge.yml
Labels: none

Restore pnpm setup in devcontainer
  .devcontainer/devcontainer.json
Labels: none

fix: restore npm registry and patch exception schema
  .npmrc
  srv/blackroad-api/modules/slack_exceptions.js
Labels: none

Fix fractional oscillator derivative timing
  experiments/hnn_sindy_fractional.py
Labels: none

Fix recursive pytest discovery in sim CI
  .github/workflows/ci_sim.yml
Labels: none

Guard Jira ticket creation against concurrent requests
  backend/data.js
  backend/tickets.js
Labels: area/backend

Add checksum annotations for config and secret
  autopal-helm/templates/deployment.yaml
Labels: none

fix: reset block regex state before parsing
  apps/prism/packages/agents/src/tools/codingKey.ts
Labels: none

docs: add codespaces bring-up checklist
  docs/codespaces-status.md
Labels: none

Checkpoint from VS Code for coding agent session
  .vscode/settings.json
  DOCKER_TESTS.md
  DOCKER_TEST_ARCHITECTURE.md
  DOCKER_TEST_IMPLEMENTATION.md
  Dockerfile
  README.md
  docker-compose.yml
  scripts/docker-test.sh
  scripts/test-docker-integration.sh
  scripts/validate-docker-test.sh
Labels: none

Checkpoint from VS Code for coding agent session
  .devcontainer/devcontainer.json
  .vscode/settings.json
  .vscode/tasks.json
Labels: none

feat: enable linear integration for all agents
  bots/integration_bots.py
  tests/test_integration_bots.py
Labels: none

feat(portals): add unity build portal
  apps/portals/app/api/unity/export/route.ts
  apps/portals/app/page.tsx
  apps/portals/app/unity/page.tsx
Labels: none

Refine Unity portal workflow
  apps/portals/app/api/unity/export/route.ts
  apps/portals/app/unity/page.tsx
  apps/portals/next-env.d.ts
  apps/portals/package-lock.json
  apps/portals/package.json
  apps/portals/tsconfig.json
Labels: none

Enhance Unity portal configuration and history
  apps/portals/app/api/unity/config/route.ts
  apps/portals/app/api/unity/export/route.ts
  apps/portals/app/unity/page.tsx
  apps/portals/components/ui/button.tsx
  apps/portals/lib/unity/config.ts
  apps/portals/lib/unity/exporter.ts
Labels: none

Enhance Unity portal config insights
  apps/portals/app/api/unity/config/route.ts
  apps/portals/app/api/unity/exporter/status/route.ts
  apps/portals/app/unity/page.tsx
  apps/portals/lib/unity/config.ts
Labels: none

Add Unity pipeline and checklist progress tracking
  apps/portals/app/unity/page.tsx
Labels: none

Add Unity hosting dashboard
  sites/blackroad/public/api/unity-hosting.json
  sites/blackroad/public/unity/README.md
  sites/blackroad/src/App.jsx
  sites/blackroad/src/pages/Home.jsx
  sites/blackroad/src/pages/UnityHost.jsx
Labels: area/frontend

feat: scaffold multi-version unity exports
  codex/README.md
  workers/unity/README.md
  workers/unity/package-lock.json
  workers/unity/package.json
  workers/unity/server.js
Labels: none

feat(unity): scaffold realistic export archive
  workers/unity/README.md
  workers/unity/package-lock.json
  workers/unity/package.json
  workers/unity/server.js
Labels: none

feat(unity): generate starter project archives
  workers/unity/README.md
  workers/unity/package-lock.json
  workers/unity/package.json
  workers/unity/server.js
  workers/unity/template.js
Labels: none

feat(unity): generate template archive
  .gitignore
  AGENT_WORKBOARD.md
  workers/unity/README.md
  workers/unity/package-lock.json
  workers/unity/package.json
  workers/unity/scripts/export-sample.mjs
  workers/unity/server.js
Labels: none

feat: generate configurable unity project archives
  workers/unity/Dockerfile
  workers/unity/README.md
  workers/unity/server.js
  workers/unity/template/Assets/Scenes/SampleScene.unity
  workers/unity/template/Assets/Scenes/SampleScene.unity.meta
  workers/unity/template/Assets/Scripts/HelloBlackRoad.cs
  workers/unity/template/Assets/Scripts/HelloBlackRoad.cs.meta
  workers/unity/template/Packages/manifest.json
  workers/unity/template/ProjectSettings/EditorBuildSettings.asset
  workers/unity/template/ProjectSettings/ProjectSettings.asset
  workers/unity/template/ProjectSettings/ProjectVersion.txt
  workers/unity/template/README.md
Labels: none

Enhance Unity exporter to generate scaffolded project
  workers/unity/README.md
  workers/unity/server.js
Labels: none

Enhance Unity exporter output
  workers/unity/README.md
  workers/unity/package-lock.json
  workers/unity/package.json
  workers/unity/server.js
Labels: none

Enhance Unity exporter project scaffolding
  workers/unity/README.md
  workers/unity/server.js
Labels: none
