Repository blackboxprogramming/blackroad-prism-console, changes with the labels that .github/labeler.yml gives for each.
All labels: area/frontend, area/backend

Add release readiness and change approval pulse template
  docs/pulses/template-13-release-readiness-change-approval-pulse.md
Labels: none

Add observability layer with OpenTelemetry integration
  autopal-express/README.md
  autopal-express/package-lock.json
  autopal-express/package.json
  autopal-express/src/logger.js
  autopal-express/src/observability.js
  autopal-express/src/server.js
  autopal_fastapi/README.md
  autopal_fastapi/app.py
  autopal_fastapi/audit.py
  autopal_fastapi/observability.py
  autopal_fastapi/tests/test_app.py
  observability/autopal/README.md
  observability/autopal/collector/otel-collector.yaml
  observability/autopal/collector/prometheus.yml
  observability/autopal/collector/tempo.yaml
  observability/autopal/docker-compose.yml
  observability/autopal/grafana/dashboards/autopal-audit.json
  observability/autopal/grafana/provisioning/dashboards/dashboards.yaml
  observability/autopal/grafana/provisioning/datasources/datasources.yaml
  requirements.txt
Labels: none

Document KEV-driven P1 response process
  SECURITY_BASELINE.md
  sites/blackroad/content/blog/cisa-kev-october-2025-seven-cves.md
Labels: area/frontend

Add October 10 daily operations brief
  status/2025-10-10.md
Labels: none

Add observability incident automation pack
  .github/workflows/grafana-annotation.yml
  .github/workflows/notify-on-failure.yml
  .github/workflows/pagerduty-incident.yml
  .github/workflows/sentry-release.yml
  .github/workflows/statuspage-update.yml
  .github/workflows/uptime-checks.yml
  observability/uptime.yml
  scripts/uptime_checks.py
Labels: none

feat: add surveillance hub core services
  packages/connectors/package.json
  packages/connectors/src/index.ts
  packages/connectors/tsconfig.json
  packages/core/package.json
  packages/core/src/index.ts
  packages/core/src/surveillance/cases/index.ts
  packages/core/src/surveillance/insider/index.ts
  packages/core/src/surveillance/lexicon/index.ts
  packages/core/src/surveillance/retention/index.ts
  packages/core/src/surveillance/scenarios/frontRun.ts
  packages/core/src/surveillance/scenarios/index.ts
  packages/core/src/surveillance/scenarios/mixerProximity.ts
  packages/core/src/surveillance/scenarios/washTrade.ts
  packages/core/src/surveillance/suppression/index.ts
  packages/core/src/surveillance/types.ts
  packages/core/tests/surveillance.test.ts
  packages/db/prisma/schema.prisma
  packages/jobs/package.json
  packages/jobs/src/index.ts
  packages/jobs/tsconfig.json
  packages/worm/src/index.ts
Labels: none

Add sandbox PD↔Jira smoke automation
  .github/workflows/pd-jira-smoke.yml
  README-OPS.md
  app/api/pd/create/route.ts
  app/api/pd/resolve/route.ts
  app/api/scorecard/risk/route.ts
  app/api/smoke/pd-jira/route.ts
  app/ops/components/Heatmap.tsx
  app/ops/page.tsx
  config/pagerduty.json
  lib/ops/config.ts
  lib/ops/db.ts
  lib/ops/jira.ts
  lib/ops/pagerduty.ts
  lib/ops/risk.ts
Labels: none

Add agent schema pack with validation harness
  .github/workflows/agents-conformance.yml
  packages/agents-pack/examples/tools/search.json
  packages/agents-pack/package.json
  packages/agents-pack/pnpm-lock.yaml
  packages/agents-pack/schemas/agent-request.schema.json
  packages/agents-pack/schemas/agent-response.schema.json
  packages/agents-pack/schemas/tool.schema.json
  packages/agents-pack/scripts/validate-schemas.cjs
  packages/agents-pack/src/harness.ts
  packages/agents-pack/src/index.ts
  packages/agents-pack/src/types.ts
  packages/agents-pack/tests/roundtrip.spec.ts
  packages/agents-pack/tests/tool-schema.spec.ts
  packages/agents-pack/tsconfig.json
Labels: none

Add employee handbook template
  docs/company/employee-handbook.md
Labels: none

Add automated PD-Jira smoke run and status tile
  .github/workflows/smoke-daily.yml
  app/api/smoke/status/route.ts
  app/ops/components/SmokeStatusTile.tsx
  app/ops/page.tsx
Labels: none

Add tracing and metrics instrumentation to Autopal services
  autopal-express/README.md
  autopal-express/otel.js
  autopal-express/package-lock.json
  autopal-express/package.json
  autopal-express/src/logger.js
  autopal-express/src/metrics.js
  autopal-express/src/middleware/auth.js
  autopal-express/src/middleware/globalSwitch.js
  autopal-express/src/middleware/rateLimit.js
  autopal-express/src/routes/secrets.js
  autopal-express/src/server.js
  autopal/README.md
  autopal/app/dependencies.py
  autopal/app/main.py
  autopal/app/metrics.py
  autopal/app/otel.py
  autopal/requirements.txt
  docker-compose.yml
  otel/otel-collector.yaml
Labels: none

Add post-launch monitoring and communications pulse template
  templates/pulses/template-14-post-launch-monitoring-comms-pulse.md
Labels: none

Add performance conductor stack
  apps/performance-conductor/README.md
  apps/performance-conductor/package-lock.json
  apps/performance-conductor/package.json
  apps/performance-conductor/src/conductor.ts
  apps/performance-conductor/tsconfig.json
  apps/performance-overlay/README.md
  apps/performance-overlay/package-lock.json
  apps/performance-overlay/package.json
  apps/performance-overlay/public/index.html
  apps/performance-overlay/server.js
  docs/performance-stack.md
  services/prosody-sidecar/README.md
  services/prosody-sidecar/requirements.txt
  services/prosody-sidecar/sidecar.py
Labels: area/backend

Add MQTT heartbeat publishers for Pi fleet
  heartbeat/heartbeat.py
  heartbeat/heartbeat.service
  heartbeat/heartbeat.sh
  heartbeat/requirements.txt
  heartbeat/run.sh
Labels: none

Add retrospective and continuous improvement pulse template
  templates/pulses/template-15-retrospective-continuous-improvement-pulse.md
Labels: none

Add variant comparison automation and reporting
  .gitignore
  universal-sim-starter/.gitignore
  universal-sim-starter/10_genesis/build_variants.py
  universal-sim-starter/10_genesis/variants.yaml
  universal-sim-starter/40_compare/outputs/.gitkeep
  universal-sim-starter/40_compare/report_all.py
  universal-sim-starter/40_compare/variants_batch.py
  universal-sim-starter/Makefile
  universal-sim-starter/README.md
Labels: none

Add portal safety endpoints and automation
  portal/bin/descriptor-doctor-run
  portal/bin/portal
  portal/bin/portal-help
  portal/bin/portal-panic
  portal/bin/portal-rest
  portal/bin/portal-unpanic
  portal/bin/portal-weekly
  portal/bin/proof-verify
Labels: none

Add observability stack for Autopal FastAPI
  autopal_fastapi/Dockerfile
  autopal_fastapi/README.md
  autopal_fastapi/app.py
  autopal_fastapi/docker-compose.yml
  autopal_fastapi/grafana/dashboards/autopal-audit-ops.json
  autopal_fastapi/grafana/provisioning/dashboards/dashboards.yaml
  autopal_fastapi/grafana/provisioning/datasources/datasource.yaml
  autopal_fastapi/loki/loki-config.yaml
  autopal_fastapi/promtail/promtail-config.yaml
  autopal_fastapi/requirements.txt
Labels: none

Add Slack admin pager and active exception gauge
  backend/data.js
  backend/server.js
  cmd/slack/main.go
  docs/active-exceptions.html
Labels: area/backend

Add security and supply chain guardrails
  .github/workflows/cosign-sign-attest.yml
  .github/workflows/dependency-review.yml
  .github/workflows/osv-scanner.yml
  .github/workflows/sbom-generate.yml
  .github/workflows/slsa-provenance-container.yml
  .github/workflows/slsa-provenance-generic.yml
  .github/workflows/trivy.yml
Labels: none

Add moltheater CLI conversion toolkit
  .gitignore
  apps/moltheater-cli/README.md
  apps/moltheater-cli/package.json
  apps/moltheater-cli/python/key_to_json.py
  apps/moltheater-cli/src/cli.ts
  apps/moltheater-cli/src/index.ts
  apps/moltheater-cli/src/parseKey.ts
  apps/moltheater-cli/src/parseLua.ts
  apps/moltheater-cli/src/types/luaparse.d.ts
  apps/moltheater-cli/src/validate.ts
  apps/moltheater-cli/tsconfig.json
Labels: none

Add Pi-Holo audio playback service and tooling
  agent/mac/send_audio.py
  pis/pi-holo/README.md
  pis/pi-holo/audio.service
  pis/pi-holo/audio_player.py
Labels: none

chore: auto-fill pr context from branch metadata
  .github/PULL_REQUEST_TEMPLATE.md
  agents/pr_automation_bot.py
Labels: none

Add universal Hamiltonian simulator
  universal-sim/40_compare/README.md
  universal-sim/40_compare/universal_hamiltonian.py
Labels: none

Add ops haptics bridge and Arduino controller
  README_HAPTICS.md
  arduino/HapticsAlert.ino
  pi-ops/ops_haptics_bridge.py
  systemd/ops_haptics_bridge.service
Labels: none

Add guidance on JSON Schema constraints for tools
  docs/JSON_SCHEMA_AGENT_TOOL_GUIDE.md
Labels: none

Add tariff-driven crypto liquidation brief
  analysis/crypto_derivatives_purge_oct2024.md
Labels: none

Add crypto liquidity scenario outlook
  sites/blackroad/content/blog/crypto-liquidity-scenarios-oct-2025.md
Labels: area/frontend

Add Tosha key policy guidance
  resilience/tosha-key-policy.md
Labels: none

Add blog post on Slack RTS API and MCP server
  sites/blackroad/content/blog/slack-real-time-search-api.md
Labels: area/frontend

Add developer impact brief on GitHub AI pivot
  analysis/github_ai_pivot_developer_impact.md
Labels: none

Add constraint inversion sprint CLI walkthrough
  cli/console.py
  docs/constraint-inversion-sprint.md
Labels: none

Add October 8 2025 operations brief
  status/2025-10-08.md
Labels: none

Add service features to dev container
  .devcontainer/devcontainer.json
Labels: none

feat: add ritual merge automation
  .github/workflows/ritual-merge.yml
  docs/ritual-merge.md
  scripts/ritual-merge/README.md
  scripts/ritual-merge/webhook-server.js
Labels: none

Require explicit Bitcoin RPC password in lightning compose
  compose/btc-lightning.yml
Labels: none

chore: harden ci oidc posture
  .github/workflows/no-static-cloud-keys.yml
  docs/GITHUB_ACTIONS_OIDC_ROLLOUT.md
  docs/HARDENING_AND_BACKUP_PLAYBOOK.md
  ops/backup/restic.env
  ops/backup/restic_setup.sh
Labels: none

Add Block 52 Hamiltonian analysis guide
  docs/prism/BLOCK_52_Reading_the_Hamiltonian.md
Labels: none

Add information security policy
  governance/information_security_policy.md
Labels: none

Add innovation & experimentation pulse template
  templates/pulses/template-16-innovation-experimentation-pulse.md
Labels: none

.github/labeler.yml:

area/frontend:
  - "frontend/**"
  - "sites/**"
area/backend:
  - "backend/**"
  - "services/**"
