Repository blackboxprogramming/blackroad-prism-console, changes with the labels that .github/labeler.yml gives for each.
All labels: area/frontend, area/backend

chore: address review comments for repo doctor and dangerfile
  .danger/dangerfile.js
  .tools/doctor/repo-doctor.sh
Labels: none

feat: add ok flag to git status response
  srv/blackroad-api/routes/git.js
  tests/git_api.test.js
Labels: none

fix fallback stream flag
  var/www/blackroad/llm-chat.html
Labels: none

fix: ensure fallback requests non-streaming JSON
  var/www/blackroad/llm-chat.html
Labels: none

feat: clear state on missing auth token
  frontend/src/App.jsx
  frontend/src/components/RoadChain.jsx
Labels: area/frontend

docs: document RoadView storage env
  .env.docker.example
  .env.example
Labels: none

feat: show AI responses in console
  eslint.config.cjs
  main.py
Labels: none

fix: guard parse_numeric_prefix against literal_eval edge cases
  prism_utils.py
  tests/test_prism_utils.py
Labels: none

docs: normalize health-sidecar comments
  services/health-sidecar/.env.example
  services/health-sidecar/server.js
Labels: area/backend

test: document auth helper
  tests/api_health.test.js
  tests/git_api.test.js
  tests/helpers/auth.js
Labels: none

feat: display OpenAI replies in Streamlit
  eslint.config.cjs
  main.py
Labels: none

feat: show AI responses in console (#1257)
  eslint.config.cjs
  main.py
Labels: none

chore: broaden eslint ignore patterns
  eslint.config.js
Labels: none

docs: clarify parse_numeric_prefix errors
  prism_utils.py
  tests/test_prism_utils.py
Labels: none

Set non-streaming flag for chat fallback
  var/www/blackroad/llm-chat.html
Labels: none

fix: refine doctor script and lint config
  .danger/dangerfile.js
  .pre-commit-config.yaml
  .tools/doctor/repo-doctor.sh
Labels: none

docs: fix regex comment grammar
  prism_utils.py
Labels: none

docs: fix regex comment grammar (#1266)
  prism_utils.py
Labels: none

feat: add ok flag to git status response (#1252)
  srv/blackroad-api/routes/git.js
  tests/git_api.test.js
Labels: none

fix: parse scientific notation prefixes
  prism_utils.py
  tests/test_prism_utils.py
Labels: none

fix: parse scientific notation prefixes (#1267)
  prism_utils.py
  tests/test_prism_utils.py
Labels: none

chore(automation): annotate pinned actions
  .github/workflows/ci.yml
  .github/workflows/html-validate.yml
  .github/workflows/links.yml
  .github/workflows/lint.yml
Labels: none

test: parametrize parse prefix cases
  prism_utils.py
  tests/test_prism_utils.py
Labels: none

test: parametrize parse prefix cases (#1269)
  prism_utils.py
  tests/test_prism_utils.py
Labels: none

chore: address review comments for repo doctor and dangerfile (#1251)
  .danger/dangerfile.js
  .tools/doctor/repo-doctor.sh
Labels: none

docs: normalize health-sidecar comments (#1259)
  services/health-sidecar/.env.example
  services/health-sidecar/server.js
Labels: area/backend

docs: clarify OpenAI client comment
  main.py
  tests/test_prism_utils.py
Labels: none

docs: clarify OpenAI client init
  main.py
Labels: none

chore: refine dangerfile and repo doctor
  .danger/dangerfile.js
  .pre-commit-config.yaml
  .tools/doctor/repo-doctor.sh
Labels: none

feat: add ok flag to git status endpoint
  srv/blackroad-api/routes/git.js
  tests/git_api.test.js
Labels: none

docs: clarify OpenAI client comment
  main.py
Labels: none

chore(auto-heal): polish comments
  .github/tools/autoheal.sh
  .github/workflows/auto-heal.yml
Labels: none

chore: skip dns and health check in stage workflow
  .github/workflows/pages-stage.yml
Labels: none

chore: skip dns and health check in stage workflow (#1276)
  .github/workflows/pages-stage.yml
Labels: none

chore(auto-heal): polish comments (#1275)
  .github/tools/autoheal.sh
  .github/workflows/auto-heal.yml
Labels: none

docs: clarify OpenAI client init (#1271)
  main.py
Labels: none

feat: clear state on missing auth token (#1255)
  frontend/src/App.jsx
  frontend/src/components/RoadChain.jsx
Labels: area/frontend

docs: document RoadView storage env (#1256)
  .env.docker.example
  .env.example
Labels: none

docs: refine comments
  main.py
  tests/test_prism_utils.py
Labels: none

chore(auto-heal): refine comments
  .github/tools/autoheal.sh
  .github/workflows/auto-heal.yml
Labels: none

.github/labeler.yml:

area/frontend:
  - "frontend/**"
  - "sites/**"
area/backend:
  - "backend/**"
  - "services/**"
