Repository blackboxprogramming/blackroad-prism-console, changes with the labels that .github/labeler.yml gives for each.
All labels: area/site, area/api, area/nginx, ci

.github/labeler.yml:

area/site:
  - "sites/blackroad/**"
area/api:
  - "services/api/**"
area/nginx:
  - "nginx/**"
ci:
  - ".github/workflows/**"

feat: handle existing credentials in tokenize_url
  tests/test_tokenize_url.py
  tools/codex_multi_repo_loader.py
Labels: none

refactor pipeline cli
  tools/codex_pipeline.py
Labels: none

feat(atlas): restrict access to admins
  sites/blackroad/src/App.jsx
  sites/blackroad/src/pages/Atlas.jsx
Labels: area/site

feat(agent-summary): fetch services concurrently
  src/services/agentSummary.js
Labels: none

feat(agent): allow adding supported engines
  agents/auto_novel_agent.py
Labels: none

feat(agent): track created games
  agents/auto_novel_agent.py
Labels: none

feat: add outline generator
  agents/auto_novel_agent.py
Labels: none

feat(agent): allow managing supported game engines
  agents/auto_novel_agent.py
Labels: none

Fix codex pipeline CLI and add tests
  tests/test_codex_pipeline_validation.py
  tools/codex_pipeline.py
Labels: none

docs(blog): add autonomous progress update
  sites/blackroad/content/blog/autonomous-progress.md
Labels: area/site

feat(agent): add story generator
  agents/auto_novel_agent.py
Labels: none

feat: add storyline generation to auto novel agent
  agents/auto_novel_agent.py
  agents/cleanup_bot.py
Labels: none

chore(blog): add project update post
  sites/blackroad/content/blog/project-update.md
Labels: area/site

feat(blackroad): restrict Atlas page to admins
  sites/blackroad/src/App.jsx
  sites/blackroad/src/pages/Atlas.jsx
Labels: area/site

feat(agent): simplify cleanup bot
  agents/cleanup_bot.py
Labels: none

test: add coverage for AutoNovelAgent
  tests/test_auto_novel_agent.py
Labels: none

build: separate smoke tests
  package.json
Labels: none

feat(agent): allow runtime engine registration
  agents/auto_novel_agent.py
Labels: none

feat(agents): add short story generation
  agents/auto_novel_agent.py
Labels: none

feat(agents): add short story generation
  agents/auto_novel_agent.py
Labels: none

feat(logger): log EOF shutdown
  agents/logger/agent.py
Labels: none

feat(agents): add novel writing and branch cleanup
  agents/auto_novel_agent.py
  agents/cleanup_bot.py
Labels: none

feat: add novel outline generator to auto agent
  agents/auto_novel_agent.py
Labels: none

feat(agent): add engine registration
  agents/auto_novel_agent.py
  tests/test_auto_novel_agent.py
Labels: none

feat(agent): add story generation
  agents/auto_novel_agent.py
Labels: none

refactor: streamline cleanup bot
  agents/cleanup_bot.py
Labels: none

feat: add engine utilities to AutoNovelAgent
  agents/auto_novel_agent.py
  agents/test_auto_novel_agent.py
Labels: none

docs(blog): add Rohonc Codex overview
  sites/blackroad/content/blog/rohonc-codex.md
Labels: area/site

docs(blog): add Rohonc Codex overview
  sites/blackroad/content/blog/rohonc-codex.md
Labels: area/site

feat: expand auto novel agent with writing
  agents/auto_novel_agent.py
  agents/test_auto_novel_agent.py
Labels: none

feat(agent): add novel generation capability
  agents/auto_novel_agent.py
Labels: none

feat(agent): add novel generation capability
  agents/auto_novel_agent.py
Labels: none

feat: add ability to register game engines
  agents/auto_novel_agent.py
  tests/test_auto_novel_agent.py
Labels: none

feat: add ability to register game engines
  agents/auto_novel_agent.py
  tests/test_auto_novel_agent.py
Labels: none

feat(blog): add agent update post
  sites/blackroad/content/blog/agent-update.md
  sites/blackroad/src/App.jsx
Labels: area/site

feat(blog): add agent update post
  sites/blackroad/content/blog/agent-update.md
  sites/blackroad/src/App.jsx
Labels: area/site

Simplify backend server for test
  backend/server.js
Labels: none

Add skip link and accessibility workflow
  .github/workflows/accessibility.yml
  index.html
Labels: ci

docs: add post on testing
  sites/blackroad/content/blog/keeping-quality-with-tests.md
Labels: area/site

feat(api): verify stripe webhooks
  srv/blackroad-api/server_full.js
Labels: none
