Repository blackboxprogramming/blackroad-prism-console, changes with the labels that .github/labeler.yml gives for each.
All labels: area/frontend, area/backend

.github/labeler.yml:

area/frontend:
  - "frontend/**"
  - "sites/**"
area/backend:
  - "backend/**"
  - "services/**"

docs: add safeguard and sync guidance
  docs/policies/branch-protection.md
Labels: none

fix: secure ws run and offload log tailing
  srv/blackroad-backend/api/server.py
Labels: none

docs: clarify auto novel agent game creation
  agents/auto_novel_agent.py
Labels: none

chore: declare node globals for lint
  eslint.config.js
Labels: none

fix: reset RoadChain result on input change
  frontend/src/components/RoadChain.jsx
Labels: area/frontend

fix: honor lint feedback
  backend/utils.js
  eslint.config.cjs
  server_full.js
  src/routes/health.js
  src/routes/llm.js
  src/routes/metrics.js
  src/routes/wallet.js
  src/services/llmService.js
  tools/dep-scan.js
Labels: area/backend

fix: point healthz proxy to bridge port
  nginx/blackroad.conf
Labels: none

Clarify cleanup bot documentation
  agents/cleanup_bot.py
Labels: none

fix: remove duplicate copilot import
  apps/portals/app/layout.tsx
Labels: none

Improve WebberBot Prettier error handling
  agents/webber_bot.py
Labels: none

chore: ignore rotated deploy logs
  .gitignore
Labels: none

Offload whisper stream to background thread
  agent/api.py
Labels: none

feat: harden login flow and extend smoke tests
  scripts/health.js
  srv/blackroad-api/server_full.js
  tests/api_health.test.js
  tests/lucidia_llm_stub_test.py
Labels: none

docs: document active agents (#1000)
  AGENTS.md
Labels: none

docs(lucidia): note duplicate step error
  lucidia/brain.py
Labels: none

refactor: add cleanup summary object
  agents/cleanup_bot.py
Labels: none

fix: stream remote bash commands via stdin
  usr/local/bin/blackroad-deploy.sh
Labels: none

Add memorandum on BlackRoad private RIA implementation
  docs/BLACKROAD_PRIVATE_RIA_MEMO.md
Labels: none

Add guide for running pruned Bitcoin Core (#1814)
  sites/blackroad/content/blog/pruned-bitcoin-core-setup.md
Labels: area/frontend

fix: expand local working copy path
  usr/local/bin/blackroad-deploy.sh
Labels: none

fix: restore shebang in RUNME
  RUNME.sh
Labels: none

test: exercise api health via fetch
  tests/api_health.test.js
Labels: none

fix: load lucidia app module in smoke test
  srv/lucidia-llm/test_app.py
Labels: none

feat: refresh quantum consciousness portal
  sites/blackroad/package-lock.json
  sites/blackroad/src/App.jsx
  sites/blackroad/src/lib/i18n.ts
  sites/blackroad/src/pages/Home.jsx
  sites/blackroad/src/pages/QuantumConsciousness.jsx
  sites/blackroad/src/ui/Layout.jsx
  srv/blackroad-api/server_full.js
  tests/api_health.test.js
Labels: area/frontend

Fix agent importer module registration
  test_agents.py
Labels: none

test: strengthen backend validation assertions
  tests/backend-validation.test.js
Labels: none

test: expect math endpoints to require engine
  tests/api_health.test.js
Labels: none

test: add api shutdown helper for smoke tests
  srv/blackroad-api/server_full.js
  tests/api_health.test.js
Labels: none

feat: add structured cleanup summary
  agents/cleanup_bot.py
Labels: none

fix: avoid success message on failed json validation
  agents/webber_bot.py
Labels: none

test: cover solve_algebraic when condor available
  tests/test_condor_engine.py
Labels: none

chore: remove sample key from repo
  .gitleaks.toml
  ssh-rsa-shellfish@iphone-30082025
Labels: none

fix(api): type amplicon health response
  api/amplicon/main.py
Labels: none

chore: tidy linting and pytest config
  pyproject.toml
Labels: none

feat: allow overriding working copy path
  scripts/blackroad_sync.py
Labels: none

fix: remove inline comments from env sample
  srv/blackroad-api/.env.sample
Labels: none

fix: ensure lucidia llm test imports local app
  srv/lucidia-llm/test_app.py
Labels: none

test: cover empty poem theme
  agents/test_auto_novel_agent.py
Labels: none

fix: stop ignoring global env files
  .gitignore
Labels: none

fix: run jest script without cross-env
  package.json
Labels: none
