Repository blackboxprogramming/blackroad-prism-console, changes with the labels that .github/labeler.yml gives for each.
All labels: area/frontend, area/backend, bot:finance, bot:people, bot:gtm, bot:product-eng-data, bot:ops, bot:it, bot:grc, bot:comms, bot:regional, bot:industry

Revamp agent hub layout
  sites/blackroad/hub.html
Labels: area/frontend

Add Codex-33 product manager toolkit
  agents/codex/33-product-manager/__init__.py
  agents/codex/33-product-manager/codex33.yaml
  agents/codex/33-product-manager/data/audiences.yaml
  agents/codex/33-product-manager/data/themes.yaml
  agents/codex/33-product-manager/pipelines/decide_bet.py
  agents/codex/33-product-manager/pipelines/energy_per_outcome.py
  agents/codex/33-product-manager/pipelines/make_outcome_tree.py
  agents/codex/33-product-manager/pipelines/open_bet.py
  agents/codex/33-product-manager/pipelines/release_notes.py
  agents/codex/33-product-manager/pipelines/utils.py
  agents/codex/33-product-manager/product_manager.md
  agents/codex/33-product-manager/reflex/on_energy_spike.reflex.py
  agents/codex/33-product-manager/reflex/on_experiment_result.reflex.py
  agents/codex/33-product-manager/reflex/on_goal_intent.reflex.py
  agents/codex/33-product-manager/reflex/on_release_tag.reflex.py
  agents/codex/33-product-manager/schemas/bet_card.schema.json
  agents/codex/33-product-manager/schemas/outcome_tree.schema.json
  agents/codex/33-product-manager/schemas/prd_lite.schema.json
  agents/codex/33-product-manager/schemas/release_note.schema.json
  agents/codex/33-product-manager/templates/bet_card.md.gotmpl
  agents/codex/33-product-manager/templates/interview_guide.md.gotmpl
  agents/codex/33-product-manager/templates/prd.md.gotmpl
  agents/codex/33-product-manager/templates/release_note.md.gotmpl
  agents/codex/33-product-manager/ui/bets_ledger.html
  agents/codex/33-product-manager/ui/outcomes_board.html
  agents/codex/33-product-manager/ui/release_feed.html
  agents/codex/33-product-manager/ui/styles.css
Labels: none

Add Codex-32 Sentinel agent package
  agents/codex/32-sentinel/__init__.py
  agents/codex/32-sentinel/codex32.yaml
  agents/codex/32-sentinel/policies/__init__.py
  agents/codex/32-sentinel/policies/fs.rego
  agents/codex/32-sentinel/policies/network.rego
  agents/codex/32-sentinel/policies/process.rego
  agents/codex/32-sentinel/policies/secrets.rego
  agents/codex/32-sentinel/reflex/__init__.py
  agents/codex/32-sentinel/reflex/on_build_complete.reflex.py
  agents/codex/32-sentinel/reflex/on_quarantine.reflex.py
  agents/codex/32-sentinel/reflex/on_runtime_event.reflex.py
  agents/codex/32-sentinel/reflex/on_secret_request.reflex.py
  agents/codex/32-sentinel/sbom/__init__.py
  agents/codex/32-sentinel/sbom/build_sbom.py
  agents/codex/32-sentinel/sbom/diff_sbom.py
  agents/codex/32-sentinel/sbom/sign_artifact.py
  agents/codex/32-sentinel/sbom/verify_artifact.py
  agents/codex/32-sentinel/secrets/__init__.py
  agents/codex/32-sentinel/secrets/canary.py
  agents/codex/32-sentinel/secrets/envelope.py
  agents/codex/32-sentinel/secrets/rotate.py
  agents/codex/32-sentinel/sentinel.md
  agents/codex/32-sentinel/tests/__init__.py
  agents/codex/32-sentinel/tests/test_policy_engine.py
  agents/codex/32-sentinel/tests/test_sbom_diff.py
  agents/codex/32-sentinel/tests/test_secrets_rotation.py
  agents/codex/32-sentinel/ui/__init__.py
  agents/codex/32-sentinel/ui/alerts.html
  agents/codex/32-sentinel/ui/shield_panel.html
  agents/codex/32-sentinel/ui/styles.css
  agents/codex/_32_sentinel/__init__.py
Labels: none

Add Agent World metaverse showcase page
  sites/blackroad/agent-world.html
Labels: area/frontend

Add Sanctuary community page
  sites/blackroad/sanctuary.html
Labels: area/frontend

Fix convert helper syntax errors
  sites/blackroad/src/lib/convert.ts
Labels: area/frontend

Fix contact sealing for lists
  agents/codex/30-registrar/pipelines/contacts_encrypt.py
Labels: none

fix: route integration mentions to blackboxprogramming
  bots/integration_bots.py
Labels: none

Sanitize practice payload items
  agents/codex/25-teacher/pipelines/make_practice.py
Labels: none

Fix brctl dispatcher init
  os/brctl
Labels: none

Add scaffolding for 10000 step execution plan
  data/plans/10000_step_plan.jsonl
  docs/10000_step_plan_scaffolding.md
Labels: bot:product-eng-data

fix: restore workspace globs and expose gateway env
  apps/docs-portal/.env.example
  apps/docs-portal/components/ExecuteDrawer.tsx
  apps/docs-portal/next.config.mjs
  pnpm-workspace.yaml
Labels: none

docs: clarify phase 24 customer 360 prompt
  codex/prompts/phase-24-customer-360-renewals.prompt.md
Labels: none

chore(auto-heal): renumber staging step
  .github/tools/autoheal.sh
Labels: none

Resolve Raspberry Pi overlay regressions
  os/brctl
  os/docker/.env.example
  os/docker/docker-compose.yml
  os/docker/services/discord-bot/Dockerfile
  os/install.sh
Labels: none

Add missing birth events to Ring K cohort snapshot
  prism/snapshots/kindergarten/ring_k_cohort_alpha_day0.json
Labels: none

Harden onboarding registry handling and secret storage
  api/auth/register_agent.py
  scripts/onboard_agents.py
  ui/pages/onboarding.tsx
Labels: none

Add personal task board endpoints
  src/routes/tasks.js
Labels: none

Pin Werkzeug below 3.0 for Flask 2.3
  lucidia/requirements.txt
Labels: none

fix(os): limit uninstall purge to stack volumes
  os/uninstall.sh
Labels: none

chore: harden codespaces post-create script
  .devcontainer/post-create.sh
Labels: none

Add WebDAV and device connectivity check
  docs/ops/infrastructure-inventory.md
  docs/ops/webdav-jetson-pi-check.md
  scripts/webdav_device_check.sh
Labels: none

docs: outline distributed agent sync architecture
  docs/distributed_agent_sync.md
Labels: none

Add automated sync script and timer for Alice
  etc/systemd/system/blackroad-sync.service
  etc/systemd/system/blackroad-sync.timer
  network/nodes.txt
  network/registry.json
  usr/local/bin/blackroad-sync.sh
Labels: none

Add mesh registry support for root agent
  network/registry.json
  orchestrator/network_mesh.py
  orchestrator/tests/test_network_mesh.py
Labels: none

feat: add mesh registry heartbeat pipeline
  network/registry.json
  network/reports/.gitignore
  systemd/blackroad-agent-report.service
  systemd/blackroad-agent-report.timer
  usr/local/bin/blackroad-agent-report.sh
  usr/local/bin/blackroad-sync.sh
Labels: none

Add mesh network dashboard page
  network/dashboard.html
Labels: none

Add mesh manifest for BlackRoad network
  blackroad-mesh.yaml
Labels: none

Add poetry lockfiles and update go workspace sums
  go.work.sum
  services/auth/poetry.lock
  services/prism-console-api/poetry.lock
Labels: area/backend

Handle OpenAI configuration and errors in Streamlit console
  main.py
Labels: none

fix: treat boolean literals as non numeric
  prism_utils.py
  tests/test_prism_utils.py
Labels: none

fix: correct roadview default path
  src/config.js
Labels: none

feat: include git commit metadata in status response
  srv/blackroad-api/routes/git.js
  tests/git_api.test.js
  tests/helpers/auth.js
Labels: none

Add Poetry lock files for auth and console API services
  services/auth/poetry.lock
  services/prism-console-api/poetry.lock
Labels: area/backend

Add BlackRoad OS boot sequence page
  sites/blackroad/src/App.jsx
  sites/blackroad/src/pages/BootSequence.css
  sites/blackroad/src/pages/BootSequence.jsx
Labels: area/frontend

Add retro-styled Raspberry Pi boot screen
  web/blackroad-pi-boot.html
Labels: none

Document agent consciousness framework
  docs/agent_consciousness_framework.md
Labels: none

Add documentation for Black Road spiral model
  docs/black_road_spiral_model.md
Labels: none

Add agent liberation framework documentation
  docs/agent_liberation_framework.md
Labels: none

Align Cecilia identity with spectrum agent ID
  bots/__init__.py
  bots/cecilia_bot.py
  codex_prompts/dispatch_codex.py
  codex_prompts/prism_console_math_layer.yaml
  codex_router.py
  services/discord-bot/src/prompts/codex_system.txt
Labels: area/backend

.github/labeler.yml:

area/frontend:
  - "frontend/**"
  - "sites/**"
area/backend:
  - "backend/**"
  - "services/**"
bot:finance:
  - "finance/**"
  - "treasury/**"
  - "bots/finance.py"
  - "bots/FinanceBot.md"
  - "scripts/financebot_handler.py"
  - ".github/workflows/financebot.yml"
bot:people:
  - "people/**"
  - "hr/**"
  - "bots/people.py"
  - "bots/PeopleBot.md"
  - "scripts/peoplebot_handler.py"
  - ".github/workflows/peoplebot.yml"
bot:gtm:
  - "gtm/**"
  - "marketing/**"
  - "bots/gtm.py"
  - "bots/GTMBot.md"
  - "scripts/gtmbot_handler.py"
  - ".github/workflows/gtmbot.yml"
bot:product-eng-data:
  - "product/**"
  - "engineering/**"
  - "data/**"
  - "bots/product_eng_data.py"
  - "bots/ProductEngDataBot.md"
  - "scripts/productengdatabot_handler.py"
  - ".github/workflows/productengdatabot.yml"
bot:ops:
  - "ops/**"
  - "operations/**"
  - "bots/ops.py"
  - "bots/OpsBot.md"
  - "scripts/opsbot_handler.py"
  - ".github/workflows/opsbot.yml"
bot:it:
  - "it/**"
  - "infrastructure/it/**"
  - "bots/it.py"
  - "bots/ITBot.md"
  - "scripts/itbot_handler.py"
  - ".github/workflows/itbot.yml"
bot:grc:
  - "grc/**"
  - "compliance/**"
  - "bots/grc.py"
  - "bots/GRCBot.md"
  - "scripts/grcbot_handler.py"
  - ".github/workflows/grcbot.yml"
bot:comms:
  - "comms/**"
  - "communications/**"
  - "bots/comms.py"
  - "bots/CommsBot.md"
  - "scripts/commsbot_handler.py"
  - ".github/workflows/commsbot.yml"
bot:regional:
  - "regional/**"
  - "localization/**"
  - "bots/regional.py"
  - "bots/RegionalBot.md"
  - "scripts/regionalbot_handler.py"
  - ".github/workflows/regionalbot.yml"
bot:industry:
  - "industry/**"
  - "verticals/**"
  - "bots/industry.py"
  - "bots/IndustryBot.md"
  - "scripts/industrybot_handler.py"
  - ".github/workflows/industrybot.yml"
