Repository blackboxprogramming/blackroad-prism-console, changes with the labels that .github/labeler.yml gives for each.
All labels: area/frontend, area/backend

Enhance Unity exporter
  workers/unity/Dockerfile
  workers/unity/README.md
  workers/unity/package-lock.json
  workers/unity/package.json
  workers/unity/server.js
Labels: none

feat: generate unity template exports
  AGENT_WORKBOARD.md
  workers/unity/README.md
  workers/unity/package-lock.json
  workers/unity/package.json
  workers/unity/server.js
Labels: none

Enhance Unity exporter template
  .gitignore
  workers/unity/Dockerfile
  workers/unity/README.md
  workers/unity/package-lock.json
  workers/unity/package.json
  workers/unity/server.js
  workers/unity/template/Assets/Scenes/README.md
  workers/unity/template/Assets/Scripts/BlackRoadBootstrap.cs.tmpl
  workers/unity/template/Packages/manifest.json
  workers/unity/template/ProjectSettings/ProjectVersion.txt
  workers/unity/template/README.md
Labels: none

Enhance Unity exporter scaffold generation
  workers/unity/README.md
  workers/unity/TASKS.md
  workers/unity/server.js
Labels: none

Enhance Unity exporter pipeline
  AGENT_WORKBOARD.md
  workers/unity/Dockerfile
  workers/unity/README.md
  workers/unity/TASKS.md
  workers/unity/package.json
  workers/unity/server.js
  workers/unity/template/Assets/Scenes/SampleScene.unity
  workers/unity/template/Packages/manifest.json
  workers/unity/template/ProjectSettings/EditorBuildSettings.asset
  workers/unity/template/ProjectSettings/ProjectSettings.asset
  workers/unity/template/ProjectSettings/ProjectVersion.txt
  workers/unity/template/README.md
Labels: none

Enhance Unity exporter template generation
  workers/unity/README.md
  workers/unity/package-lock.json
  workers/unity/package.json
  workers/unity/server.js
Labels: none

feat: scaffold unity exporter template
  workers/unity/Dockerfile
  workers/unity/README.md
  workers/unity/TASKS.md
  workers/unity/server.js
  workers/unity/template/Assets/Scenes/__SCENE_NAME__.unity
  workers/unity/template/Assets/Scenes/__SCENE_NAME__.unity.meta
  workers/unity/template/Assets/Scripts/WelcomeController.cs
  workers/unity/template/Assets/Scripts/WelcomeController.cs.meta
  workers/unity/template/Packages/manifest.json
  workers/unity/template/ProjectSettings/EditorBuildSettings.asset
  workers/unity/template/ProjectSettings/ProjectVersion.txt
  workers/unity/template/README.md
Labels: none

Improve Unity exporter scaffold
  workers/unity/README.md
  workers/unity/package-lock.json
  workers/unity/package.json
  workers/unity/server.js
Labels: none

Enhance Unity exporter archive generation
  AGENT_WORKBOARD.md
  workers/unity/README.md
  workers/unity/package-lock.json
  workers/unity/package.json
  workers/unity/server.js
  workers/unity/template.js
Labels: none

feat: build unity project template exporter
  AGENT_WORKBOARD.md
  workers/unity/README.md
  workers/unity/package-lock.json
  workers/unity/package.json
  workers/unity/server.js
Labels: none

Enhance Unity exporter scaffolding
  AGENT_WORKBOARD.md
  workers/unity/README.md
  workers/unity/server.js
Labels: none

Add Unity project scaffold exporter
  workers/unity/README.md
  workers/unity/TASKS.md
  workers/unity/exporter.js
  workers/unity/server.js
Labels: none

feat(workers): enrich unity exporter scaffolding
  workers/unity/README.md
  workers/unity/package-lock.json
  workers/unity/package.json
  workers/unity/server.js
Labels: none

Enhance Unity exporter scaffolding
  AGENT_WORKBOARD.md
  workers/unity/README.md
  workers/unity/package-lock.json
  workers/unity/package.json
  workers/unity/server.js
Labels: none

feat(unity): generate starter project archive
  workers/unity/README.md
  workers/unity/package-lock.json
  workers/unity/package.json
  workers/unity/server.js
Labels: none

Build Unity exporter project skeleton
  workers/unity/README.md
  workers/unity/TASKS.md
  workers/unity/package-lock.json
  workers/unity/package.json
  workers/unity/server.js
  workers/unity/src/exporter.js
  workers/unity/tests/exporter.test.js
  workers/unity/tests/helpers/zip.js
Labels: none

feat: generate Unity prototype zips
  workers/unity/README.md
  workers/unity/projectGenerator.js
  workers/unity/server.js
Labels: none

docs: record security pulse check
  ops/pulse-check-2025-03-09.md
Labels: none

docs: add release pulse check checklist
  ops/pulse-check.md
Labels: none

docs: add operational checklist to merge plan
  MERGE_PLAN.md
Labels: none

docs: capture current pulse check
  MERGE_PLAN.md
Labels: none

feat: implement lucidia sim bridge runtime
  services/lucidia-sim-bridge/src/main.rs
Labels: area/backend

chore: add cargo lockfiles for kernel and sim bridge
  prismos-kernel/Cargo.lock
  services/lucidia-sim-bridge/Cargo.lock
Labels: area/backend

fix: guard unity exporter description sanitization
  workers/unity/exporter.js
Labels: none

chore(ollama-bridge): add module package and esm exports
  srv/ollama-bridge/package.json
  srv/ollama-bridge/server.js
Labels: none

Convert Unity camera Euler angles to quaternions
  workers/unity/server.js
Labels: none

feat: convert ollama bridge to esm
  srv/ollama-bridge/package.json
  srv/ollama-bridge/server.js
Labels: none

feat: implement realtime GDS dashboard
  sites/blackroad/src/ui/GdsDashboard.jsx
Labels: area/frontend

docs: add staging and preview environment manifests
  environments/README.md
  environments/preview.yml
  environments/production.yml
  environments/staging.yml
Labels: none

docs: capture current security posture assessment
  docs/security/posture-review.md
Labels: none

Improve status report warnings for missing data
  status/generator.py
  tests/test_status_generator.py
Labels: none

Document staging, preview, and production environment manifests
  .github/environments/preview.yml
  .github/environments/staging.yml
  docs/environments/README.md
  environments/preview.yml
  environments/staging.yml
Labels: none

docs: add environment manifests for staging and preview
  README-OPS.md
  environments/preview.yml
  environments/production.yml
  environments/staging.yml
Labels: none

docs: outline runtime checks and next steps
  docs/runtime-status.md
Labels: none

chore: ignore python egg metadata
  .gitignore
Labels: none

Ignore Python egg-info artifacts
  .gitignore
Labels: none

feat: harden torchquantum integration for offline runtime
  envs/quantum/src/torchquantum/torchquantum/__init__.py
  envs/quantum/src/torchquantum/torchquantum/device/devices.py
  envs/quantum/src/torchquantum/torchquantum/encoding/encodings.py
  envs/quantum/src/torchquantum/torchquantum/layer/layers/module_from_ops.py
  envs/quantum/src/torchquantum/torchquantum/noise_model/__init__.py
  envs/quantum/src/torchquantum/torchquantum/noise_model/noise_models.py
  envs/quantum/src/torchquantum/torchquantum/plugin/__init__.py
  envs/quantum/src/torchquantum/torchquantum/plugin/qiskit/__init__.py
  envs/quantum/src/torchquantum/torchquantum/util/utils.py
  lucidia/quantum_engine/models.py
  third_party/torchquantum/__init__.py
Labels: none

fix: stabilize torchquantum gate wrapper
  lucidia/quantum_engine/models.py
  third_party/torchquantum/__init__.py
Labels: none

Add staging and preview environment manifests
  .github/environments/preview.yml
  .github/environments/staging.yml
  environments/preview.yml
  environments/staging.yml
Labels: none

Ignore Python egg metadata
  .gitignore
Labels: none

.github/labeler.yml:

area/frontend:
  - "frontend/**"
  - "sites/**"
area/backend:
  - "backend/**"
  - "services/**"
