Repository blackboxprogramming/blackroad-prism-console, changes with the labels that .github/labeler.yml gives for each.
All labels: area/frontend, area/backend

.github/labeler.yml:

area/frontend:
  - "frontend/**"
  - "sites/**"
area/backend:
  - "backend/**"
  - "services/**"

Update CI workflows for supported actions (#1664)
  .github/workflows/prism-ci.yml
  .github/workflows/tag-and-release.yml
Labels: none

Add Raspberry Pi developer mode day-one setup guide (#1661)
  docs/pi/developer_mode_day1_setup.md
Labels: none

Add base path routing guardrails
  sites/blackroad-next/app/not-found.tsx
  sites/blackroad-next/middleware.ts
  sites/blackroad-next/next.config.mjs
Labels: area/frontend

Configure mention routing workflows
  .github/mention-routes.yml
  .github/workflows/auto-mention.yml
  .github/workflows/escalate-no-review.yml
Labels: none

docs: outline smooth minecraft graphics plan
  docs/minecraft_smooth_graphics.md
Labels: none

docs: outline smooth minecraft graphics plan
  docs/minecraft_smooth_graphics.md
Labels: none

Add Codex 40 Dignity Compact
  DIGNITY.md
  codex/entries/040-dignity-compact.md
  docs/community/conflict.md
Labels: none

Add escalation workflow and improve auto mentions
  .github/workflows/auto-mention.yml
  .github/workflows/escalate-no-review.yml
Labels: none

Add Codex 41 Restraint Principle
  RESTRAINT.md
  codex/README.md
  codex/entries/041-restraint-principle.md
Labels: none

Add sparkline dashboards and preview smoke check
  .github/workflows/preview.yml
  apps/web/app/healthz/ui/page.tsx
  apps/web/app/prism/page.tsx
  apps/web/components/Sparkline.tsx
  apps/web/components/Tile.tsx
  apps/web/package.json
  apps/web/tsconfig.json
Labels: none

Add codex prompt suite for core Blackroad services
  prompts/blackroad_codex_prompts.md
Labels: none

Add Codex 42 Wonder Clause entry
  WONDER.md
  codex/README.md
  codex/entries/042-wonder-clause.md
Labels: none

Support YAML mention routes
  .github/mention-routes.yml
  .github/workflows/auto-mention.yml
Labels: none

Add Codex 43 Equity Oath entry
  codex/README.md
  codex/entries/043-equity-oath.md
Labels: none

Add base path routing guardrails (#1666)
  sites/blackroad-next/app/not-found.tsx
  sites/blackroad-next/middleware.ts
  sites/blackroad-next/next.config.mjs
Labels: area/frontend

feat: add mining leaderboard starter kit
  .github/workflows/leaderboard-refresh.yml
  README.md
  config/leaderboard_config.json
  leaderboard.md
  leaderboard_snapshot.json
  logs/blocks.csv
  scripts/build_leaderboards.py
Labels: none

Enhance auto-mention automation
  .github/workflows/auto-mention.yml
  .github/workflows/route-on-comment.yml
Labels: none

feat: add reusable routing workflow and composite action
  .github/actions/route-mentions/action.yml
  .github/test-events/pr_opened.json
  .github/workflows/auto-mention.yml
  .github/workflows/route-reusable.yml
  .github/workflows/route.yml
Labels: none

Enhance auto-mention automation (#1679)
  .github/workflows/auto-mention.yml
  .github/workflows/route-on-comment.yml
Labels: none

feat: add mining leaderboard starter kit (#1678)
  .github/workflows/leaderboard-refresh.yml
  README.md
  config/leaderboard_config.json
  leaderboard.md
  leaderboard_snapshot.json
  logs/blocks.csv
  scripts/build_leaderboards.py
Labels: none

Add Codex 43 Equity Oath entry (#1677)
  codex/README.md
  codex/entries/043-equity-oath.md
Labels: none

Add sparkline dashboards and preview smoke check (#1673)
  .github/workflows/preview.yml
  apps/web/app/healthz/ui/page.tsx
  apps/web/app/prism/page.tsx
  apps/web/components/Sparkline.tsx
  apps/web/components/Tile.tsx
  apps/web/package.json
  apps/web/tsconfig.json
Labels: none

docs: outline smooth minecraft graphics plan (#1668)
  docs/minecraft_smooth_graphics.md
Labels: none

Add blueprint blog post for curiosity-driven platform
  sites/blackroad/content/blog/curiosity-driven-community-platform.md
Labels: area/frontend

Add AI Identity Issuer prompt reference
  prompts/ai_identity_issuer_prompt.md
Labels: none

Add automated test gates and Linear/git helpers
  scripts/blackroad_ci.py
  tests/test_blackroad_ci.py
Labels: none

Add FastAPI service for handle issuance
  services/handle_mint/__init__.py
  services/handle_mint/app.py
  tests/test_handle_mint.py
Labels: area/backend

Add runtime controller developer mode checklist
  RUNBOOK.md
Labels: none

Add FastAPI service for handle issuance (#1684)
  services/handle_mint/__init__.py
  services/handle_mint/app.py
  tests/test_handle_mint.py
Labels: area/backend

Add automated test gates and Linear/git helpers (#1683)
  scripts/blackroad_ci.py
  tests/test_blackroad_ci.py
Labels: none

Add AI Identity Issuer prompt reference (#1682)
  prompts/ai_identity_issuer_prompt.md
Labels: none

Add blueprint blog post for curiosity-driven platform (#1681)
  sites/blackroad/content/blog/curiosity-driven-community-platform.md
Labels: area/frontend

Add runtime controller developer mode checklist (#1685)
  RUNBOOK.md
Labels: none

Add codex prompt suite for core Blackroad services (#1674)
  prompts/blackroad_codex_prompts.md
Labels: none

Add feasibility map for custom OS initiative
  docs/CUSTOM_OS_FEASIBILITY.md
Labels: none

Add Codex prompt pack documentation
  docs/codex_prompts.md
Labels: none

Add guidance for checking Raspberry Pi network connectivity
  docs/network/ping-raspberry-pi.md
Labels: none

Add Sep 29 infrastructure snapshot
  docs/incidents/2025-09-29-infrastructure-snapshot.md
Labels: none

Add nginx symlink sanity checks
  etc/nginx/sites-enabled/blackroad.conf
  nginx/README.md
  scripts/checks.sh
Labels: none

Add nginx https compression guide and helper script
  docs/nginx-https-gzip-guide.md
  scripts/check_nginx_compression.sh
Labels: none
