Repository blackboxprogramming/blackroad-prism-console, changes with the labels that .github/labeler.yml gives for each.
All labels: area/frontend, area/backend

.github/labeler.yml:

area/frontend:
  - "frontend/**"
  - "sites/**"
area/backend:
  - "backend/**"
  - "services/**"

fix: repair cleanup bot syntax
  agents/cleanup_bot.py
Labels: none

chore: wire codex sync helper to deployment
  scripts/codex-sync.sh
Labels: none

chore: scope root eslint config
  eslint.config.js
Labels: none

chore: guard atlas navigation by role
  sites/blackroad/src/App.jsx
  sites/blackroad/src/lib/access.js
  sites/blackroad/src/pages/Atlas.jsx
Labels: area/frontend

Skip validation during dry-run executions
  tests/test_codex_pipeline_validation.py
  tools/codex_pipeline.py
Labels: none

Handle Jetson sudo when pulling telemetry
  usr/local/bin/blackroad-telemetry
  usr/local/bin/blackroad-telemetry-pull
Labels: none

Cap discovery scans and sanitize dashboard rows
  agent/discover.py
  agent/templates/dashboard.html
Labels: none

docs: clarify guidance for failing status checks
  docs/policies/branch-protection.md
Labels: none

chore: add logging for ws run security
  srv/blackroad-backend/api/server.py
Labels: none

Add API dependencies and helper modules
  agent/api.py
  agent/jobs.py
  agent/telemetry.py
  pyproject.toml
Labels: none

Include dashboard dependencies and templates
  pyproject.toml
Labels: none

Add Codex prompts for WaveShare hologram demos
  docs/hologram_codex_prompts.md
Labels: none

fix: restore cross-env jest script
  package.json
Labels: none

Add runnable WaveShare hologram demo and setup steps
  docs/hologram_codex_prompts.md
  scripts/waveshare_hologram_demo.py
Labels: none

Refine portal layout and API helpers
  frontend/src/App.jsx
  frontend/src/api.js
  frontend/src/pages/RoadView.jsx
Labels: area/frontend

feat: add Rohonc Codex dataset parser (#608)
  agents/rohonc_parser.py
Labels: none

feat: add admin-delete for contradictions (#601)
  backend/data.js
  src/routes/contradictions.js
  tests/test_logs_contradictions.js
Labels: area/backend

Refactor device auth to reuse shared helper
  srv/blackroad-api/modules/devices.js
Labels: none

docs: note jest script in contributing
  CONTRIBUTING.md
Labels: none

fix: add configurable timeouts for bridge health checks
  srv/ollama-bridge/server.js
Labels: none

refine csrf origin allowlist
  srv/ollama-bridge/server.js
Labels: none

refactor autoheal variable management
  scripts/blackroad-autoheal.sh
Labels: none

test: restore subscription flag in health test
  README.md
  tests/subscribe.health.test.js
Labels: none

Handle missing upstream during pipeline rebase
  codex/tools/blackroad_pipeline.py
Labels: none

feat: support additional fix comments aliases
  .github/PULL_REQUEST_TEMPLATE.md
  .github/tools/codex-apply.js
  .github/workflows/codex-bridge.yml
Labels: none

Add integration bots sourced from master plan
  bots/integration_bots.py
  tests/test_integration_bots.py
Labels: none

fix: use fs.existsSync for revrec policy guard
  apps/api/src/routes/revrec/allocate.ts
Labels: none

Sanitize persisted bot run tasks
  cli/console.py
Labels: none

chore: address benchmark cli feedback
  bench/runner.py
  cli/console.py
  docs/performance.md
  orchestrator/slo_report.py
Labels: none

fix: clean current link and reset migration state
  migrations/state.json
  release/manager.py
Labels: none

Fix strict DQ schema check in reliability pipeline
  pipelines/reliability_pipeline.py
Labels: none

fix: validate yaml configs in preflight
  scripts/preflight.py
  tests/test_preflight.py
Labels: none

Honor bot goal and inputs in CLI run command
  cli/console.py
Labels: none

fix: harden workflow when expressions
  orchestrator/sandbox.py
  tests/test_workflows_dsl.py
  workflows/dsl.py
Labels: none

Ensure stored ciphertext is decrypted regardless of flag
  tools/storage.py
Labels: none

Fix CSV dependency parsing delimiters
  io/csv_io.py
Labels: none

Persist orchestrator state for CLI commands
  cli/console.py
  orchestrator/orchestrator.py
Labels: none

fix: run cpq workflows via ts-node
  .github/workflows/cpq-approval-digest.yml
  .github/workflows/cpq-quote-expiry.yml
Labels: none

chore: log error stack for integration script
  scripts/jira_github_integration_test.js
Labels: none

fix: use model_dump for bot responses
  orchestrator/orchestrator.py
Labels: none
