Repository blackboxprogramming/blackroad-prism-console, changes with the labels that .github/labeler.yml gives for each.
All labels: area/site, area/api, area/nginx, ci

feat: parallelize agent summary requests
  src/services/agentSummary.js
Labels: none

feat(agent): add story generation
  agents/auto_novel_agent.py
Labels: none

feat: parallelize agent summary requests
  src/services/agentSummary.js
Labels: none

docs: add post on testing
  sites/blackroad/content/blog/keeping-quality-with-tests.md
Labels: area/site

Simplify backend server for test
  backend/server.js
Labels: none

feat(api): verify stripe webhooks
  srv/blackroad-api/server_full.js
Labels: none

Add skip link and accessibility workflow
  .github/workflows/accessibility.yml
  index.html
Labels: ci

feat: add ability to register game engines
  agents/auto_novel_agent.py
  tests/test_auto_novel_agent.py
Labels: none

feat: add engine utilities to AutoNovelAgent
  agents/auto_novel_agent.py
  agents/test_auto_novel_agent.py
Labels: none

refactor: streamline cleanup bot
  agents/cleanup_bot.py
Labels: none

docs(blog): add Rohonc Codex overview
  sites/blackroad/content/blog/rohonc-codex.md
Labels: area/site

feat(blog): add agent update post
  sites/blackroad/content/blog/agent-update.md
  sites/blackroad/src/App.jsx
Labels: area/site

feat: allow adding game engines
  agents/auto_novel_agent.py
  tests/test_auto_novel_agent.py
Labels: none

refactor(agent): remove duplicate engine registration
  agents/auto_novel_agent.py
Labels: none

Add engine removal to AutoNovelAgent
  agents/auto_novel_agent.py
  agents/test_auto_novel_agent.py
  tests/test_auto_novel_agent.py
Labels: none

feat: allow removing supported engines
  agents/auto_novel_agent.py
  agents/test_auto_novel_agent.py
Labels: none

feat(agent): allow removing supported engines
  agents/auto_novel_agent.py
  tests/test_auto_novel_agent.py
Labels: none

feat(agent): allow removing supported engines
  agents/auto_novel_agent.py
  tests/test_auto_novel_agent.py
Labels: none

feat(agent): allow removing supported engines
  agents/auto_novel_agent.py
  agents/test_auto_novel_agent.py
Labels: none

feat(blog): promote love and well-being
  sites/blackroad/content/blog/love-and-well-being.md
Labels: area/site

feat(agent): allow removing supported engines
  agents/auto_novel_agent.py
  agents/test_auto_novel_agent.py
  tests/test_auto_novel_agent.py
Labels: none

test: cover safety blocklist and pii redaction
  services/discord-bot/src/safety.py
  tests/test_safety.py
Labels: none

feat(blackroad): restrict Atlas page to admins
  sites/blackroad/src/pages/Atlas.jsx
Labels: area/site

feat(agent): allow removing supported engines
  agents/auto_novel_agent.py
  tests/test_auto_novel_agent.py
Labels: none

feat(agent): allow removing supported engines
  agents/auto_novel_agent.py
  agents/test_auto_novel_agent.py
  tests/test_auto_novel_agent.py
Labels: none

chore: clarify vulnerability reporting
  SECURITY.md
Labels: none

docs: add pull request workflow
  docs/github-droplet-sync.md
Labels: none

Format Aleppo Codex blog post
  sites/blackroad/content/blog/aleppo-codex.md
Labels: area/site

format billing summary amount
  src/components/BillingCard.tsx
Labels: none

feat: add docker setup for blackroad portal
  .dockerignore
  Dockerfile
  README_DOCKER.md
  docker-compose.yml
Labels: none

feat: display hello world message
  sites/blackroad/index.html
Labels: area/site

feat: enlarge hello world message
  sites/blackroad/index.html
Labels: area/site

Validate theme in AutoNovelAgent
  agents/auto_novel_agent.py
  agents/test_auto_novel_agent.py
Labels: none

feat: validate auto novel theme
  agents/auto_novel_agent.py
  agents/test_auto_novel_agent.py
Labels: none

fix(blackroad): update hero greeting
  sites/blackroad/index.html
Labels: area/site

Refactor Condor engine helpers
  lucidia/engines/condor_engine.py
  tests/test_condor_engine.py
Labels: none

Refactor Codex pipeline script
  tools/codex_pipeline.py
Labels: none

fix: de-duplicate npm scripts
  package.json
Labels: none

test: cover openai base security
  tests/test_llm_security.py
  tools/llm.py
Labels: none

chore: de-duplicate npm test scripts
  package.json
Labels: none

.github/labeler.yml:

area/site:
  - "sites/blackroad/**"
area/api:
  - "services/api/**"
area/nginx:
  - "nginx/**"
ci:
  - ".github/workflows/**"
