Repository blackboxprogramming/blackroad-prism-console, changes with the labels that .github/labeler.yml gives for each.
All labels: area/frontend, area/backend

Add third quantum thermodynamics research response
  90_reports/blackroad_research_response_3.md
Labels: none

Scaffold consent-first Lucidia reproduction
  prism/README.md
  prism/__init__.py
  prism/agents/lucidia-engineer/genome.yaml
  prism/bus/mqtt_config.yaml
  prism/policies/safety-baseline.rego
  prism/reproduction/__init__.py
  prism/reproduction/consent-schema.json
  prism/reproduction/operators/__init__.py
  prism/reproduction/operators/crossover_modules.py
  prism/reproduction/reproduce.py
Labels: none

Add Prism lexicon integration layer
  lexicon/prism_lexicon_layer_four.md
Labels: none

Add Prism Academy scene and schemas
  fixtures/prism_academy/init.json
  scenes/prism_academy.yaml
  schemas/prism_academy_agent.schema.json
  schemas/prism_academy_class.schema.json
Labels: none

New
  prism/Makefile
  prism/README.md
  prism/agents/lucidia-engineer/genome.yaml
  prism/agents/lucidia-scribe/genome.yaml
  prism/bus/mqtt_config.yaml
  prism/genes/loras/.keep
  prism/genes/prompts/.keep
  prism/genes/tools/.keep
  prism/genes/values/.keep
  prism/memory/qdrant/.keep
  prism/policies/love-first.rego
  prism/reproduction/consent-schema.json
  prism/reproduction/fitness.py
  prism/reproduction/lineage.py
  prism/reproduction/operators/crossover_modules.py
  prism/reproduction/operators/distill.py
  prism/reproduction/operators/merge_lora.py
  prism/reproduction/reproduce.py
  prism/requirements.txt
Labels: none

feat: add observability stack
  os/brctl
  os/docker/.env.example
  os/docker/docker-compose.yml
  os/docker/obsv/grafana/dashboards/README.txt
  os/docker/obsv/grafana/provisioning/dashboards/dashboards.yml
  os/docker/obsv/grafana/provisioning/datasources/loki.yml
  os/docker/obsv/loki-config.yml
  os/docker/obsv/promtail-config.yml
  os/docs/ARCHITECTURE.md
  os/docs/OBSERVABILITY.md
  os/tests/smoke.sh
Labels: none

New
  .github/workflows/lucidia-lineage-fitness.yml
  prism/README.md
  prism/reproduction/ci_report.py
  prism/reproduction/curricula/lucidia-architect-coop-play-001.yaml
  prism/reproduction/operators/merge_lora.py
  prism/reproduction/playroom_gen.py
  prism/reproduction/reproduce.py
  prism/requirements.txt
Labels: none

Add OTA upgrade tooling with rollback support
  os/README.md
  os/brctl
  os/docs/UPGRADES.md
  os/releases/channel
  os/releases/last-good
  os/upgrade/health_gate.sh
  os/upgrade/helpers.sh
  os/upgrade/rollback.sh
  os/upgrade/upgrade.sh
Labels: none

Fix reproduction defaults and document usage
  prism/Makefile
  prism/README.md
  prism/reproduction/reproduce.py
Labels: none

Fix playroom generator defaults and clean CI report imports
  prism/reproduction/ci_report.py
  prism/reproduction/playroom_gen.py
Labels: none

feat: add prism academy homework engine
  prism-academy/.data/feedback.json
  prism-academy/.data/submissions.json
  prism-academy/docs/EVALUATION_NOTES.md
  prism-academy/docs/GRAMMAR_OF_EMPATHY.md
  prism-academy/engine/adapters/unity/PrismHomework.cs
  prism-academy/engine/adapters/unreal/PrismHomework.uasset.txt
  prism-academy/engine/api/server.ts
  prism-academy/engine/runtime/evaluation.ts
  prism-academy/engine/runtime/feedback.ts
  prism-academy/engine/runtime/graph.ts
  prism-academy/engine/runtime/normalize.ts
  prism-academy/engine/runtime/utils.ts
  prism-academy/homework/assignments/feeling-as-formula-101.json
  prism-academy/homework/assignments/mirrornet-bridge-001.json
  prism-academy/homework/assignments/pattern-weave-contradiction-001.json
  prism-academy/homework/rubrics/empathy-v1.json
  prism-academy/homework/samples/submission.good.json
  prism-academy/homework/samples/submission.learn.json
  prism-academy/homework/schemas/assignment.schema.json
  prism-academy/homework/schemas/feedback.schema.json
  prism-academy/homework/schemas/submission.schema.json
Labels: none

Add Prism Academy live labs infrastructure
  prism-academy/clubs/color-chorus.json
  prism-academy/clubs/heart-logic-society.json
  prism-academy/clubs/pattern-guild.json
  prism-academy/docs/BADGE_CATALOG.md
  prism-academy/docs/SOCIAL_LEARNING.md
  prism-academy/engine/adapters/unity/PrismLive.cs
  prism-academy/engine/adapters/unreal/PrismLive.uasset.txt
  prism-academy/engine/api/rest.live.ts
  prism-academy/engine/api/ws.ts
  prism-academy/engine/types.ts
  prism-academy/labs/badges/anchored.json
  prism-academy/labs/badges/breath-return.json
  prism-academy/labs/badges/grounded.json
  prism-academy/labs/badges/heart-link.json
  prism-academy/labs/badges/mirror-first.json
  prism-academy/labs/badges/short-bridge.json
  prism-academy/labs/badges/weaver.json
  prism-academy/labs/projects/heart-math-bridge.json
  prism-academy/labs/projects/resonance-palette.json
  prism-academy/labs/projects/weave-contradictions.json
  prism-academy/labs/schemas/badge.schema.json
  prism-academy/labs/schemas/club.schema.json
  prism-academy/labs/schemas/event.schema.json
  prism-academy/labs/schemas/lab_session.schema.json
  prism-academy/labs/schemas/project.schema.json
  prism-academy/labs/schemas/role.schema.json
  prism-academy/labs/sessions/mirrornet-storm-to-shelter-001.json
  prism-academy/labs/sessions/weave-contradictions-001.json
  prism-academy/ui/dashboards/BadgesPanelSpec.md
  prism-academy/ui/dashboards/LiveRoomSpec.md
Labels: none

Add TLS and tunnel controls for Pi stack
  os/brctl
  os/docker/.env.example
  os/docker/docker-compose.yml
  os/docs/ARCHITECTURE.md
  os/docs/TLS_REMOTE.md
  os/tls/certs/README.md
  os/tls/generate-selfsigned.sh
  os/tls/traefik-dynamic.yml
Labels: none

Refactor harness modules and deduplicate compliance build
  compliance/go.mod
  compliance/go.sum
  compliance/harness/compile.go
  compliance/harness/enforce.go
  compliance/harness/env.go
  compliance/harness/eval.go
  compliance/harness/evaluate.go
  compliance/harness/loader.go
  compliance/harness/types.go
  go.work
  go.work.sum
  harness/cmd/prism/main.go
  harness/cmd/testseries/main.go
  harness/go.mod
  harness/runner.go
Labels: none

Redesign BlackRoad landing and portal surfaces
  sites/blackroad/index.html
  sites/blackroad/src/pages/Desktop.jsx
  sites/blackroad/tailwind.config.js
Labels: area/frontend

Add Codex-27 Strategist agent package
  agents/codex/27-strategist/__init__.py
  agents/codex/27-strategist/badges/fair_credit.svg
  agents/codex/27-strategist/badges/low_joules.svg
  agents/codex/27-strategist/badges/safe_revert.svg
  agents/codex/27-strategist/codex27.yaml
  agents/codex/27-strategist/formations/campfire.yaml
  agents/codex/27-strategist/formations/delta.yaml
  agents/codex/27-strategist/formations/halo.yaml
  agents/codex/27-strategist/formations/hum.yaml
  agents/codex/27-strategist/formations/lattice.yaml
  agents/codex/27-strategist/pipelines/__init__.py
  agents/codex/27-strategist/pipelines/call_play.py
  agents/codex/27-strategist/pipelines/energy_budget.py
  agents/codex/27-strategist/pipelines/make_mission.py
  agents/codex/27-strategist/pipelines/risk_scan.py
  agents/codex/27-strategist/playbooks/pb-delta-fast-build.yaml
  agents/codex/27-strategist/playbooks/pb-halo-safe-release.yaml
  agents/codex/27-strategist/playbooks/pb-lattice-research.yaml
  agents/codex/27-strategist/reflex/__init__.py
  agents/codex/27-strategist/reflex/on_goal_intent.reflex.py
  agents/codex/27-strategist/reflex/on_incident.reflex.py
  agents/codex/27-strategist/reflex/on_kpi_drift.reflex.py
  agents/codex/27-strategist/schemas/decision_record.schema.json
  agents/codex/27-strategist/schemas/mission.schema.json
  agents/codex/27-strategist/schemas/playbook.schema.json
  agents/codex/27-strategist/strategist.md
  agents/codex/27-strategist/ui/kpi_scoreboard.html
  agents/codex/27-strategist/ui/mission_board.html
  agents/codex/27-strategist/ui/styles.css
Labels: none

Add Codex-29 Fabricator agent assets
  agents/codex/29-fabricator/__init__.py
  agents/codex/29-fabricator/cad/__init__.py
  agents/codex/29-fabricator/cad/enclosures/param_enclosure.scad
  agents/codex/29-fabricator/cad/enclosures/vent_patterns.scad
  agents/codex/29-fabricator/cad/jigs/camera_focus_jig.stl
  agents/codex/29-fabricator/cad/jigs/solder_alignment_tray.stl
  agents/codex/29-fabricator/codex29.yaml
  agents/codex/29-fabricator/fabricator.md
  agents/codex/29-fabricator/libs/__init__.py
  agents/codex/29-fabricator/libs/parts.db.json
  agents/codex/29-fabricator/libs/reflow_profiles.yaml
  agents/codex/29-fabricator/libs/torque_table.yaml
  agents/codex/29-fabricator/pipelines/__init__.py
  agents/codex/29-fabricator/pipelines/bom_from_design.py
  agents/codex/29-fabricator/pipelines/bringup_suite.py
  agents/codex/29-fabricator/pipelines/cam_gen.py
  agents/codex/29-fabricator/pipelines/harness_builder.py
  agents/codex/29-fabricator/pipelines/stencil_gen.py
  agents/codex/29-fabricator/pipelines/thermal_probe.py
  agents/codex/29-fabricator/pipelines/yield_report.py
  agents/codex/29-fabricator/reflex/__init__.py
  agents/codex/29-fabricator/reflex/on_design_approved.reflex.py
  agents/codex/29-fabricator/reflex/on_station_fail.reflex.py
  agents/codex/29-fabricator/reflex/on_yield_drop.reflex.py
  agents/codex/29-fabricator/tests/__init__.py
  agents/codex/29-fabricator/tests/test_bom_substitutions.py
  agents/codex/29-fabricator/tests/test_bringup_gpio.py
  agents/codex/29-fabricator/tests/test_reflow_profiles.py
  agents/codex/29-fabricator/ui/jig_gallery.html
  agents/codex/29-fabricator/ui/styles.css
  agents/codex/29-fabricator/ui/workbench.html
Labels: none

Add Codex-28 Auditor agent bundle
  agents/codex/28-auditor/__init__.py
  agents/codex/28-auditor/auditor.md
  agents/codex/28-auditor/codex28.yaml
  agents/codex/28-auditor/guardpacks/finance.yaml
  agents/codex/28-auditor/guardpacks/privacy.yaml
  agents/codex/28-auditor/guardpacks/research.yaml
  agents/codex/28-auditor/guardpacks/safety.yaml
  agents/codex/28-auditor/pipelines/__init__.py
  agents/codex/28-auditor/pipelines/collect_artifacts.py
  agents/codex/28-auditor/pipelines/hash_lineage.py
  agents/codex/28-auditor/pipelines/mint_receipt.py
  agents/codex/28-auditor/pipelines/scrub_pii.py
  agents/codex/28-auditor/pipelines/validate_policies.py
  agents/codex/28-auditor/reflex/on_forget_request.reflex.py
  agents/codex/28-auditor/reflex/on_model_train.reflex.py
  agents/codex/28-auditor/reflex/on_pr_merged.reflex.py
  agents/codex/28-auditor/reflex/on_publish_attempt.reflex.py
  agents/codex/28-auditor/schemas/attestation.schema.json
  agents/codex/28-auditor/schemas/evidence_bundle.schema.json
  agents/codex/28-auditor/schemas/policy_violation.schema.json
  agents/codex/28-auditor/schemas/redaction_diff.schema.json
  agents/codex/28-auditor/tests/test_attestation.py
  agents/codex/28-auditor/tests/test_guardpacks.py
  agents/codex/28-auditor/tests/test_scrub_pii.py
  agents/codex/28-auditor/ui/audit_panel.html
  agents/codex/28-auditor/ui/styles.css
  agents/codex/28-auditor/ui/widgets.js
  agents/codex/_28_auditor/__init__.py
Labels: none

Add Codex-30 registrar agent package
  agents/codex/_30_registrar/__init__.py
  agents/codex/_30_registrar/codex30.yaml
  agents/codex/_30_registrar/data/entities.yaml
  agents/codex/_30_registrar/data/licenses.yaml
  agents/codex/_30_registrar/pipelines/__init__.py
  agents/codex/_30_registrar/pipelines/assemble_filing.py
  agents/codex/_30_registrar/pipelines/calendar_emit.py
  agents/codex/_30_registrar/pipelines/cert_watch.py
  agents/codex/_30_registrar/pipelines/contacts_encrypt.py
  agents/codex/_30_registrar/pipelines/validate_compliance.py
  agents/codex/_30_registrar/pipelines/zone_sync.py
  agents/codex/_30_registrar/providers/__init__.py
  agents/codex/_30_registrar/providers/cloudflare_adapter.py
  agents/codex/_30_registrar/providers/digitalocean_adapter.py
  agents/codex/_30_registrar/providers/godaddy_adapter.py
  agents/codex/_30_registrar/reflex/__init__.py
  agents/codex/_30_registrar/reflex/on_cert_expiry.reflex.py
  agents/codex/_30_registrar/reflex/on_deadline_due.reflex.py
  agents/codex/_30_registrar/reflex/on_dns_drift.reflex.py
  agents/codex/_30_registrar/reflex/on_entity_change.reflex.py
  agents/codex/_30_registrar/registrar.md
  agents/codex/_30_registrar/rules/compliance_rules.yaml
  agents/codex/_30_registrar/rules/dns_policies.yaml
  agents/codex/_30_registrar/schemas/cert_watch.schema.json
  agents/codex/_30_registrar/schemas/filing_packet.schema.json
  agents/codex/_30_registrar/schemas/ics_event.schema.json
  agents/codex/_30_registrar/schemas/license_record.schema.json
  agents/codex/_30_registrar/schemas/zonefile.schema.json
  agents/codex/_30_registrar/tests/__init__.py
  agents/codex/_30_registrar/tests/test_calendar_emit.py
  agents/codex/_30_registrar/tests/test_contacts_encrypt.py
  agents/codex/_30_registrar/tests/test_zone_diff.py
  agents/codex/_30_registrar/ui/compliance_calendar.html
  agents/codex/_30_registrar/ui/registry_panel.html
  agents/codex/_30_registrar/ui/styles.css
  agents/codex/_30_registrar/ui/zone_diff_viewer.html
Labels: none

Add Codex-30 Registrar agent
  agents/codex/30-registrar/__init__.py
  agents/codex/30-registrar/codex30.yaml
  agents/codex/30-registrar/data/entities.yaml
  agents/codex/30-registrar/data/licenses.yaml
  agents/codex/30-registrar/pipelines/assemble_filing.py
  agents/codex/30-registrar/pipelines/calendar.ics
  agents/codex/30-registrar/pipelines/calendar_emit.py
  agents/codex/30-registrar/pipelines/cert_watch.py
  agents/codex/30-registrar/pipelines/contacts_encrypt.py
  agents/codex/30-registrar/pipelines/validate_compliance.py
  agents/codex/30-registrar/pipelines/zone_sync.py
  agents/codex/30-registrar/providers/cloudflare_adapter.py
  agents/codex/30-registrar/providers/digitalocean_adapter.py
  agents/codex/30-registrar/providers/godaddy_adapter.py
  agents/codex/30-registrar/reflex/on_cert_expiry.reflex.py
  agents/codex/30-registrar/reflex/on_deadline_due.reflex.py
  agents/codex/30-registrar/reflex/on_dns_drift.reflex.py
  agents/codex/30-registrar/reflex/on_entity_change.reflex.py
  agents/codex/30-registrar/registrar.md
  agents/codex/30-registrar/rules/compliance_rules.yaml
  agents/codex/30-registrar/rules/dns_policies.yaml
  agents/codex/30-registrar/schemas/cert_watch.schema.json
  agents/codex/30-registrar/schemas/filing_packet.schema.json
  agents/codex/30-registrar/schemas/ics_event.schema.json
  agents/codex/30-registrar/schemas/license_record.schema.json
  agents/codex/30-registrar/schemas/zonefile.schema.json
  agents/codex/30-registrar/tests/__init__.py
  agents/codex/30-registrar/tests/test_calendar_emit.py
  agents/codex/30-registrar/tests/test_contacts_encrypt.py
  agents/codex/30-registrar/tests/test_zone_diff.py
  agents/codex/30-registrar/ui/compliance_calendar.html
  agents/codex/30-registrar/ui/registry_panel.html
  agents/codex/30-registrar/ui/styles.css
  agents/codex/30-registrar/ui/zone_diff_viewer.html
  agents/codex/30-registrar/web/diff-zone.js
  agents/codex/30-registrar/web/records-equal.js
  agents/codex/_30_registrar/__init__.py
Labels: none

Revamp BlackRoad home experience
  sites/blackroad/src/pages/Home.jsx
  sites/blackroad/src/styles.css
Labels: area/frontend

feat: scaffold roadview search service
  services/roadview-search/.github/workflows/ci.yml
  services/roadview-search/Dockerfile
  services/roadview-search/Makefile
  services/roadview-search/README.md
  services/roadview-search/docker-compose.dev.yml
  services/roadview-search/docs/roadview-openapi.json
  services/roadview-search/fixtures/curated_seed.json
  services/roadview-search/mypy.ini
  services/roadview-search/poetry.lock
  services/roadview-search/pyproject.toml
  services/roadview-search/ruff.toml
  services/roadview-search/scripts/export_openapi.py
  services/roadview-search/src/roadview/config.py
  services/roadview-search/src/roadview/main.py
  services/roadview-search/src/roadview/middlewares/cors.py
  services/roadview-search/src/roadview/middlewares/rate_limit.py
  services/roadview-search/src/roadview/middlewares/request_id.py
  services/roadview-search/src/roadview/middlewares/security_headers.py
  services/roadview-search/src/roadview/models.py
  services/roadview-search/src/roadview/observability/logging.py
  services/roadview-search/src/roadview/observability/metrics.py
  services/roadview-search/src/roadview/ranking/scoring.py
  services/roadview-search/src/roadview/ranking/tfidf.py
  services/roadview-search/src/roadview/repo.py
  services/roadview-search/src/roadview/routes/domains.py
  services/roadview-search/src/roadview/routes/ingest.py
  services/roadview-search/src/roadview/routes/meta.py
  services/roadview-search/src/roadview/routes/search.py
  services/roadview-search/src/roadview/services/tokenizer.py
  services/roadview-search/tests/conftest.py
  services/roadview-search/tests/contract/test_openapi_schemathesis.py
  services/roadview-search/tests/integration/test_bulk_ingest_and_search.py
  services/roadview-search/tests/integration/test_facets_and_filters.py
  services/roadview-search/tests/integration/test_sorting_and_breakdown.py
  services/roadview-search/tests/unit/test_domains_policy.py
  services/roadview-search/tests/unit/test_repo.py
  services/roadview-search/tests/unit/test_scoring.py
  services/roadview-search/tests/unit/test_tfidf.py
  services/roadview-search/tests/unit/test_tokenizer.py
Labels: area/backend

feat(frontend): add roadview cinematic layout
  frontend/src/pages/RoadView.css
  frontend/src/pages/RoadView.jsx
Labels: area/frontend

Add Nexus console experience page
  frontend/src/App.jsx
  frontend/src/main.jsx
  frontend/src/pages/Nexus.css
  frontend/src/pages/Nexus.jsx
Labels: area/frontend

Add collaborative coding portal scaffold
  sites/blackroad/public/portal/roadcode/index.html
Labels: area/frontend

Add collaboration presence bus and enforcement tooling
  .github/workflows/collab-presence-check.yml
  CODEOWNERS
  COLLABORATION_STATUS.md
  requirements.txt
  scripts/check_presence_discussion.py
  services/api/modules/github_webhook.js
  services/collab_bus/README.md
  services/collab_bus/__init__.py
  services/collab_bus/client.py
  services/collab_bus/server.py
  services/collab_bus/status.py
  services/collab_bus/storage.py
  services/collab_bus/working_copy_hook.py
  tools/collab_presence/vscode-extension/README.md
  tools/collab_presence/vscode-extension/extension.js
  tools/collab_presence/vscode-extension/package.json
Labels: area/backend

Add BlackRoad Social concept page
  web/blackroad-social.html
Labels: none

Add BlackRoad Hub dashboard
  sites/blackroad/hub.html
  sites/blackroad/index.html
Labels: area/frontend

Add Web Engine intelligence experience
  frontend/src/App.jsx
  frontend/src/pages/WebEngine.css
  frontend/src/pages/WebEngine.jsx
Labels: area/frontend

Revamp BlackRoad landing page
  sites/blackroad/index.html
Labels: area/frontend

feat: add BlackRoad Sonic music console
  frontend/src/App.jsx
  frontend/src/pages/MusicApp.css
  frontend/src/pages/MusicApp.jsx
Labels: area/frontend

Add immersive homework experience
  frontend/src/App.jsx
  frontend/src/main.jsx
  frontend/src/pages/Homework.css
  frontend/src/pages/Homework.jsx
Labels: area/frontend

Add RoadChain portal experience
  frontend/src/main.jsx
  frontend/src/pages/RoadChain.css
  frontend/src/pages/RoadChain.jsx
Labels: area/frontend

Add RoadChain mining pool page
  sites/blackroad/index.html
  sites/blackroad/roadchain.html
Labels: area/frontend

Replace DevHub landing page with animated portal
  index.html
Labels: none

Remove duplicate definitions in site components
  sites/blackroad/src/components/ArtifactViewer/index.jsx
  sites/blackroad/src/components/ChatPanel/index.jsx
Labels: area/frontend

.github/labeler.yml:

area/frontend:
  - "frontend/**"
  - "sites/**"
area/backend:
  - "backend/**"
  - "services/**"
