Repository blackboxprogramming/blackroad-prism-console, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, workflows, docs, infra, python, javascript

.github/labeler.yml:

frontend:
  - 'apps/**'
workflows:
  - '.github/workflows/**'
docs:
  - '**/*.md'
infra:
  - 'Dockerfile'
  - '.dockerignore'
python:
  - '**/*.py'
javascript:
  - '**/*.js'

ci(auto): Automation Pack v3 — auto-merge, nightly auto-heal, Renovate, auto-assign, Husky
  .github/auto-assign.yml
  .github/renovate.json5
  .github/workflows/auto-assign.yml
  .github/workflows/auto-merge.yml
  .github/workflows/nightly-autoheal.yml
  .husky/pre-commit
  fix-everything.sh
  package.json
Labels: workflows

ci(codex): add Codex Bridge (comment → files/patches, polish, push)
  .github/CODEOWNERS
  .github/tools/codex-apply.js
  .github/workflows/codex-bridge.yml
Labels: workflows, javascript

chore: add override-all-workflows installer script
  override-all-workflows.sh
Labels: none

chore: silence lint warnings
  .danger/dangerfile.js
  services/health-sidecar/server.js
Labels: javascript

docs: add lock file instructions
  README.md
Labels: docs

feat: add feature flags and website scaffold
  .github/feature-flags.yml
  .github/tools/read-flags.js
  .github/workflows/calm-chatops.yml
  .github/workflows/deploy-blackroad.yml
  .github/workflows/flags.yml
  .github/workflows/gitleaks.yml
  .github/workflows/security-pack.yml
  .github/workflows/snyk.yml
  .github/workflows/super-linter.yml
  .github/workflows/trivy-fs.yml
  sites/blackroad/.gitignore
  sites/blackroad/index.html
  sites/blackroad/package.json
  sites/blackroad/src/main.jsx
  sites/blackroad/src/ui/App.jsx
  sites/blackroad/src/ui/styles.css
  sites/blackroad/tailwind.config.js
  sites/blackroad/vite.config.js
Labels: workflows, javascript

chore: drop deprecated husky shim
  .husky/pre-commit
  package.json
Labels: none

chore: add bot school runner and lessons
  .github/prompts/advanced.yaml
  .github/tools/bot-school-run.js
  .github/workflows/bot-school-pro.yml
  .github/workflows/chatops-train-bots.yml
Labels: workflows, javascript

feat: add LLM eval and web performance checks
  .github/tools/llm/eval-diff.js
  .github/tools/llm/hallucination-check.js
  .github/tools/llm/prompt-eval.js
  .github/tools/webperf/axe-check.js
  .github/workflows/accessibility.yml
  .github/workflows/calm-chatops.yml
  .github/workflows/lighthouse-ci.yml
  .github/workflows/llm-quality.yml
  .github/workflows/playwright.yml
  .github/workflows/size-limit.yml
  .size-limit.json
  docs/cache-control.md
  docs/csp.md
  docs/llm-guardrails.md
  prompts/llm/advanced.yaml
  prompts/llm/baseline.yaml
  prompts/llm/redteam.yaml
  sites/blackroad/.lighthouserc.json
  sites/blackroad/src/lib/telemetry.ts
  sites/blackroad/src/ui/App.jsx
  sites/blackroad/tests/e2e.spec.ts
Labels: workflows, docs, javascript

feat: warn when OpenAI key missing
  main.py
Labels: python

feat(blackroad): add status ui and deploy workflows
  .github/workflows/deploy-blackroad-netlify.yml
  .github/workflows/pr-preview-vercel.yml
  .github/workflows/uptime-json.yml
  .github/workflows/urls-previews.yml
  eslint.config.js
  sites/blackroad/README.md
  sites/blackroad/public/status.json
  sites/blackroad/src/lib/telemetry.ts
  sites/blackroad/src/ui/App.jsx
  sites/blackroad/src/ui/Status.jsx
Labels: workflows, docs, javascript

feat(site): add preview and snapshot workflows
  .github/tools/site/screenshot.js
  .github/workflows/cache-warm-shot.yml
  .github/workflows/chatops-snapshot.yml
  .github/workflows/pr-preview-cloudflare.yml
  sites/blackroad/public/snapshots/.gitkeep
  sites/blackroad/src/lib/telemetry.ts
  sites/blackroad/src/ui/App.jsx
  sites/blackroad/src/ui/Snapshot.jsx
  sites/blackroad/src/ui/Status.jsx
Labels: workflows, javascript

docs: add quickstart readme and enable jsx lint
  .github/prompts/codex-fix-anything.md
  .github/tools/codex-apply.js
  .github/workflows/fix-anything.yml
  .github/workflows/link-check.yml
  CHANGELOG.md
  README.md
  docs/flags.md
  docs/ops-playbook.md
  docs/roadmap.json
  docs/troubleshooting.md
  eslint.config.js
  package.json
  sites/blackroad/package-lock.json
  sites/blackroad/public/404.html
  sites/blackroad/public/_redirects
  sites/blackroad/public/robots.txt
  sites/blackroad/public/sitemap.xml
  sites/blackroad/src/Router.jsx
  sites/blackroad/src/main.jsx
  sites/blackroad/src/pages/Blog.jsx
  sites/blackroad/src/pages/Changelog.jsx
  sites/blackroad/src/pages/Contact.jsx
  sites/blackroad/src/pages/Docs.jsx
  sites/blackroad/src/pages/Home.jsx
  sites/blackroad/src/pages/NotFound.jsx
  sites/blackroad/src/pages/Playground.jsx
  sites/blackroad/src/pages/Portal.jsx
  sites/blackroad/src/pages/Roadmap.jsx
  sites/blackroad/src/pages/SnapshotPage.jsx
  sites/blackroad/src/pages/StatusPage.jsx
  sites/blackroad/src/pages/Tutorials.jsx
  sites/blackroad/src/ui/App.jsx
  sites/blackroad/src/ui/ErrorBoundary.jsx
  sites/blackroad/src/ui/Layout.jsx
  sites/blackroad/src/ui/styles.css
  sites/blackroad/tsconfig.json
  sites/blackroad/vite.config.js
  tests/smoke.test.js
Labels: workflows, docs, javascript

feat(site): add i18n routing and sitemap e2e tests
  .github/workflows/e2e-playwright.yml
  .github/workflows/sitemap.yml
  sites/blackroad/package.json
  sites/blackroad/src/lib/i18n.ts
  sites/blackroad/src/main.jsx
  sites/blackroad/src/pages/Blog.jsx
  sites/blackroad/src/pages/Changelog.jsx
  sites/blackroad/src/pages/Contact.jsx
  sites/blackroad/src/pages/Docs.jsx
  sites/blackroad/src/pages/Home.jsx
  sites/blackroad/src/pages/NotFound.jsx
  sites/blackroad/src/pages/Playground.jsx
  sites/blackroad/src/pages/Portal.jsx
  sites/blackroad/src/pages/Post.jsx
  sites/blackroad/src/pages/Roadmap.jsx
  sites/blackroad/src/pages/SnapshotPage.jsx
  sites/blackroad/src/pages/StatusPage.jsx
  sites/blackroad/src/pages/Tutorials.jsx
  sites/blackroad/src/router.jsx
  sites/blackroad/src/ui/App.jsx
  sites/blackroad/src/ui/ErrorBoundary.jsx
  sites/blackroad/src/ui/FlagsPanel.jsx
  sites/blackroad/src/ui/LanguageSwitcher.jsx
  sites/blackroad/src/ui/Layout.jsx
  sites/blackroad/src/ui/styles.css
  sites/blackroad/tests/e2e.spec.ts
  sites/blackroad/tests/run-e2e-from-sitemap.js
Labels: workflows, javascript

fix: repair workflows and docs formatting
  .devcontainer/devcontainer.json
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
  .github/ISSUE_TEMPLATE/feature.md
  .github/auto-labeler.yml
  .github/feature-flags.yml
  .github/labels.yml
  .github/pull_request_template.md
  .github/workflows/_concurrency.yml
  .github/workflows/apply-rulesets.yml
  .github/workflows/auto-heal.yml
  .github/workflows/auto-label.yml
  .github/workflows/auto-merge.yml
  .github/workflows/chatops-train-bots.yml
  .github/workflows/codeql.yml
  .github/workflows/cosign-sign.yml
  .github/workflows/dependency-review.yml
  .github/workflows/flags.yml
  .github/workflows/links.yml
  .github/workflows/sbom.yml
  .github/workflows/semantic-pr.yml
  .github/workflows/slsa-provenance.yml
  .prettierignore
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  Dockerfile
  Makefile
  SECURITY.md
  docker-compose.yml
  scripts/bootstrap.sh
  sites/blackroad/.env.example
  sites/blackroad/Caddyfile
  sites/blackroad/package.json
  sites/blackroad/src/lib/instrumentation.ts
  sites/blackroad/src/ui/App.jsx
  sites/blackroad/src/ui/ErrorBoundary.jsx
  sites/blackroad/src/ui/Layout.jsx
  sites/blackroad/vite.config.js
Labels: workflows, docs, infra, javascript

fix(blog): convert generator to esm
  .github/tools/site/screenshot-diff.js
  .github/workflows/chatops-cache.yml
  .github/workflows/pr-screenshot-diff.yml
  .github/workflows/sitemap-robots.yml
  eslint.config.js
  sites/blackroad/AGENTS.md
  sites/blackroad/content/blog/hello-blackroad.md
  sites/blackroad/package.json
  sites/blackroad/scripts/build-blog.js
  sites/blackroad/src/main.jsx
  sites/blackroad/src/pages/Blog.jsx
  sites/blackroad/src/pages/Changelog.jsx
  sites/blackroad/src/pages/Contact.jsx
  sites/blackroad/src/pages/Docs.jsx
  sites/blackroad/src/pages/Home.jsx
  sites/blackroad/src/pages/NotFound.jsx
  sites/blackroad/src/pages/Playground.jsx
  sites/blackroad/src/pages/Portal.jsx
  sites/blackroad/src/pages/Post.jsx
  sites/blackroad/src/pages/Roadmap.jsx
  sites/blackroad/src/pages/SnapshotPage.jsx
  sites/blackroad/src/pages/StatusPage.jsx
  sites/blackroad/src/pages/Tutorials.jsx
  sites/blackroad/src/router.jsx
  sites/blackroad/src/ui/App.jsx
  sites/blackroad/src/ui/Layout.jsx
  sites/blackroad/src/ui/styles.css
Labels: workflows, docs, javascript

feat: add vercel preview, netlify deploy, and status page
  .github/workflows/deploy-netlify.yml
  .github/workflows/pr-preview-vercel.yml
  sites/blackroad/status.html
Labels: workflows

chore: ignore git fetch errors in eval diff
  .github/tools/llm/eval-diff.js
Labels: javascript

feat: add rollback chatops and deploy dashboard
  .github/workflows/chatops-rollback.yml
  sites/blackroad/src/Router.jsx
  sites/blackroad/src/pages/Deploys.jsx
  sites/blackroad/src/ui/Layout.jsx
Labels: workflows

docs(readme): badges
  README.md
Labels: docs

feat(blackroad): add deploy history dashboard and workflows
  .github/tools/deploy-history.js
  .github/workflows/deploy-blackroad-channel.yml
  .github/workflows/rollback-blackroad.yml
  docs/deploy-dashboard.md
  sites/blackroad/public/deploys.json
  sites/blackroad/src/Router.jsx
  sites/blackroad/src/pages/Deploys.jsx
  sites/blackroad/src/ui/Layout.jsx
Labels: workflows, docs, javascript

feat: add deploy workflow and history page
  .github/tools/deploy-history.js
  .github/workflows/deploy-blackroad-channel.yml
  docs/ops-content.md
  sites/blackroad/public/deploys.json
  sites/blackroad/src/Router.jsx
  sites/blackroad/src/pages/Deploys.jsx
  sites/blackroad/src/ui/Layout.jsx
Labels: workflows, docs, javascript

chore: add foundational governance and CI setup
  .gitattributes
  .github/.release-please-manifest.json
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/security-report.yml
  .github/feature-flags.yml
  .github/release-please-config.json
  .github/workflows/deploy-blackroad.yml
  .github/workflows/monorepo-matrix.yml
  .github/workflows/ossf-scorecard.yml
  .github/workflows/release-please.yml
  .github/workflows/site-dashboard-json.yml
  .github/workflows/snyk.yml
  .github/workflows/super-linter.yml
  .gitignore
  .nvmrc
  .tool-versions
  LICENSE
  package-lock.json
  package.json
  scripts/install-all.sh
  sites/blackroad/.gitignore
  sites/blackroad/package-lock.json
  sites/blackroad/package.json
  sites/blackroad/public/status.json
  sites/blackroad/src/pages/StatusPage.jsx
Labels: workflows

feat: add qutrit math engine and MathLab page
  eslint.config.js
  sites/blackroad/package.json
  sites/blackroad/src/Router.jsx
  sites/blackroad/src/lib/qutrit.ts
  sites/blackroad/src/lib/telemetry.ts
  sites/blackroad/src/pages/MathLab.jsx
  sites/blackroad/src/ui/Layout.jsx
Labels: javascript

chore(site): update status.json
  sites/blackroad/public/status.json
Labels: none

chore(site): update status.json
  sites/blackroad/public/status.json
Labels: none

add qutrit utilities and labs
  README.md
  sites/blackroad/package.json
  sites/blackroad/src/Router.jsx
  sites/blackroad/src/lib/observables.ts
  sites/blackroad/src/lib/qutrit.ts
  sites/blackroad/src/lib/telemetry.ts
  sites/blackroad/src/lib/uncertainty.ts
  sites/blackroad/src/pages/GeodesicLab.jsx
  sites/blackroad/src/pages/MathLab.jsx
  sites/blackroad/src/pages/UncertaintyLab.jsx
  sites/blackroad/src/ui/Layout.jsx
Labels: docs

feat: add ops integrations and observability
  .devcontainer/devcontainer.json
  .github/workflows/chatops-slack.yml
  .github/workflows/pagerduty-incident.yml
  .github/workflows/policy-opa.yml
  .github/workflows/sbom-provenance.yml
  .github/workflows/trivy-scan.yml
  .github/workflows/uptime-ping.yml
  .pre-commit-config.yaml
  README.md
  policy/ci.rego
  renovate.json
  sites/blackroad/src/Router.jsx
  sites/blackroad/src/main.jsx
  sites/blackroad/src/pages/AgentInbox.jsx
  sites/blackroad/src/pages/Metrics.jsx
  sites/blackroad/src/pages/Observability.jsx
  sites/blackroad/src/ui/Layout.jsx
  sites/blackroad/src/ui/SentryBridge.ts
  sites/blackroad/src/ui/styles.css
Labels: workflows, docs

feat: add metrics dashboards and chatops workflows
  .github/workflows/chatops-ask.yml
  .github/workflows/chatops-say.yml
  .github/workflows/metrics-ci-history.yml
  .github/workflows/metrics-lighthouse.yml
  README.md
  sites/blackroad/package.json
  sites/blackroad/public/inbox.json
  sites/blackroad/public/metrics/ci.json
  sites/blackroad/public/metrics/lh.json
  sites/blackroad/src/Router.jsx
  sites/blackroad/src/pages/AgentInbox.jsx
  sites/blackroad/src/pages/Metrics.jsx
  sites/blackroad/src/ui/Layout.jsx
Labels: workflows, docs
