Repository blackboxprogramming/blackroad-prism-console, changes with the labels that .github/labeler.yml gives for each.
All labels: area/frontend, area/backend

fix: guard capture_snapshot phase drift calculation
  lucidia_math_lab/iterative_math_build.py
  tests/test_iterative_math_build.py
Labels: none

feat: add ecs deployment workflows
  .github/workflows/blackroad-api-ecs.yml
  .github/workflows/reusable-ecs-service-deploy.yml
  README-DEPLOY.md
  README-OPS.md
  environments/production.yml
  environments/staging.yml
Labels: none

fix: normalize packaging config and storage helpers
  pyproject.toml
  tools/storage.py
Labels: none

Add Mathematica recurrence snapshot
  prism/README.md
  prism/snapshots/mathematica/complex_rotation_recurrence.json
  prism/snapshots/mathematica/complex_rotation_recurrence.yaml
Labels: none

Add Pi API ping endpoint
  pi/api.py
  tests/test_pi_ping.py
Labels: none

Add mobile control bundles for Termius and HTTPBot
  docs/mobile-control/README.md
  docs/mobile-control/httpbot-collection.json
  docs/mobile-control/termius-snippets.json
Labels: none

fix: restore package metadata and exports
  backend/data.js
  backend/utils.js
  package.json
Labels: area/backend

Add infrastructure inventory quick reference
  docs/ops/infrastructure-inventory.md
Labels: none

Fix BlackRoad site routing
  sites/blackroad/package-lock.json
  sites/blackroad/src/App.jsx
Labels: area/frontend

docs: add nginx deployment steps for blackroad.io
  docs/blackroad-nginx-deploy.md
Labels: none

Document DigitalOcean console deployment path
  README-DEPLOY.md
Labels: none

Add Vercel deploy troubleshooting guide
  docs/vercel-portals-deploy.md
Labels: none

Add quick Vercel deploy command summary
  docs/vercel-portals-deploy.md
Labels: none

Create blackroad.com login hub
  sites/blackroad-next/app/globals.css
  sites/blackroad-next/app/layout.tsx
  sites/blackroad-next/app/page.tsx
  sites/blackroad-next/app/robots.ts
  sites/blackroad-next/app/sitemap.ts
  sites/blackroad-next/lib/seo.ts
Labels: area/frontend

feat: integrate vercel preview deployments
  .github/workflows/deploy-preview.yml
  .github/workflows/pr-preview-vercel.yml
  sites/blackroad/README.md
  sites/blackroad/vercel.json
Labels: area/frontend

Redesign RoadView landing experience
  sites/blackroad/package-lock.json
  sites/blackroad/src/pages/RoadView.jsx
Labels: area/frontend

Add Raspberry Pi mesh workstation bring-up script
  docs/pi-mesh-workstation.md
  pi/mesh_workstation_bringup.sh
Labels: none

docs: record 2025-10-11 platform health check
  status/2025-10-11.md
Labels: none

Add October 19 2025 crypto market update
  docs/crypto-market-update-2025-10-19.md
Labels: none

docs: record 2025-10-11 platform health check
  status/2025-10-11.md
Labels: none

Document SSH and secrets rotation hardening steps
  HARDENING.md
Labels: none

Add Raspberry Pi mesh bring-up helper script
  scripts/pi_mesh_bringup.sh
Labels: none

Add VS Code Docker build debug setup
  .vscode/launch.json
  docker/Dockerfile.build-debug
  docs/developer/docker-build-debug.md
Labels: none

Add blackroad domains cutover runbook
  RUNBOOKS/blackroad-domains-cutover.md
Labels: none

Rebrand Cadillac assets to Asteria
  .algorithms/algorithms3.txt
  agents/asteria_codex.py
  app/api/chat/route.ts
  app/examples/blackroad/page.tsx
  asteria_codex.py
  controller_influence.py
  docs/ai-consciousness-intelligence-equation-codex.md
  docs/asteria_loop_issue_and_pr_bodies.md
  docs/asteria_loop_project_layouts.md
  docs/bot-experiments.md
  docs/branch-commit-playbook.md
  docs/devx/slack-announcement.md
  docs/prism-pr-automation-guidelines.md
  docs/prism/Asteria_Loop_Sprint_Plan.md
  docs/prism/PRISM_PANEL_SPECS_ASTERIA_SET_A.md
  docs/prism/PanelSpecs_Asteria_Set_A.md
  docs/prism/manifold_to_topos_schematic.md
  docs/prismos-asteria-kernel.md
  docs/the-recount.md
  lib/prompts/codex-infinity.ts
  ops/next_push/slack_posts.md
  opt/blackroad/codex/prompts/sympy_router.prompt.txt
  opt/blackroad/codex/prompts/w2s-codex.md
  opt/blackroad/lucidia/w2s/run_w2s.sh
  opt/blackroad/vpt/prompts/codex_vpt_orchestrator.prompt.txt
  prismos-kernel/src/main.rs
  retrieval/codex_prompt.md
  scripts/blackroad_ci.py
  services/discord-bot/src/prompts/codex_system.txt
  session_memory.json
  session_memory_README.txt
  srv/blackroad/prompts/codex_system_prompt.txt
  srv/blackroad/static/lucidia-dev.html
  srv/lucidia-llm/Modelfiles/lucidia-qwen15b.Modelfile
  tests/test_asteria_codex_math.py
Labels: area/backend

Add agent ID cards and memory-aware orchestration
  agents/id_cards/builder.yaml
  agents/id_cards/guardian.yaml
  agents/id_cards/researcher.yaml
  agents/id_cards/roadie.yaml
  agents/memory/memory.yaml
  agents/memory/operations.yaml
  orchestrator/memory_manager.py
  orchestrator/orchestrator.py
  orchestrator/protocols.py
  orchestrator/status.py
  orchestrator/tests/test_memory_manager.py
  orchestrator/tests/test_orchestrator.py
Labels: none

Rename Cadillac branding to Lucidia
  agents/lucidia_codex.py
  app/api/chat/route.ts
  app/examples/blackroad/page.tsx
  controller_influence.py
  docs/ai-consciousness-intelligence-equation-codex.md
  docs/bot-experiments.md
  docs/branch-commit-playbook.md
  docs/devx/slack-announcement.md
  docs/lucidia_loop_issue_and_pr_bodies.md
  docs/lucidia_loop_project_layouts.md
  docs/prism-pr-automation-guidelines.md
  docs/prism/Lucidia_Loop_Sprint_Plan.md
  docs/prism/PRISM_PANEL_SPECS_LUCIDIA_SET_A.md
  docs/prism/PanelSpecs_Lucidia_Set_A.md
  docs/prism/manifold_to_topos_schematic.md
  docs/prismos-lucidia-kernel.md
  docs/the-recount.md
  lib/prompts/codex-infinity.ts
  lucidia_codex.py
  ops/next_push/slack_posts.md
  opt/blackroad/codex/prompts/sympy_router.prompt.txt
  opt/blackroad/codex/prompts/w2s-codex.md
  opt/blackroad/lucidia/w2s/run_w2s.sh
  opt/blackroad/vpt/prompts/codex_vpt_orchestrator.prompt.txt
  prismos-kernel/src/main.rs
  retrieval/codex_prompt.md
  scripts/blackroad_ci.py
  services/discord-bot/src/prompts/codex_system.txt
  session_memory.json
  session_memory_README.txt
  srv/blackroad/prompts/codex_system_prompt.txt
  srv/blackroad/static/lucidia-dev.html
  srv/lucidia-llm/Modelfiles/lucidia-qwen15b.Modelfile
  tests/test_lucidia_codex_math.py
Labels: area/backend

fix: handle binary cookbook files
  cli/console.py
  tests/test_cli_cookbook.py
Labels: none

Open HTTP/S ports in firewalld for DO quickstart
  README-DEPLOY.md
Labels: none

Document SELinux relabel for Nginx web root
  docs/blackroad-nginx-deploy.md
Labels: none

fix: set fly build context for ollama bridge
  deploy/fly/ollama-bridge/fly.toml
Labels: none

Resolve workflow dispatch PR head SHA
  .github/workflows/pr-preview-vercel.yml
Labels: none

chore: remove secrets from httpbot bundle
  docs/mobile-control/httpbot-collection.json
Labels: none

feat: rebuild blackroad site with next app
  sites/blackroad/app/globals.css
  sites/blackroad/app/layout.tsx
  sites/blackroad/app/page.tsx
  sites/blackroad/eslint.config.mjs
  sites/blackroad/next-env.d.ts
  sites/blackroad/package-lock.json
  sites/blackroad/package.json
  sites/blackroad/postcss.config.js
  sites/blackroad/tailwind.config.js
  sites/blackroad/tsconfig.json
  sites/blackroad/vercel.json
  sites/blackroadinc/vercel.json
Labels: area/frontend

fix: restore coq build return contract
  mfg/coq.py
Labels: none

Restore dynamic RoadView data and filters
  sites/blackroad/src/pages/RoadView.jsx
Labels: area/frontend

Fix short-term memory TTL handling
  orchestrator/memory_manager.py
  orchestrator/tests/test_memory_manager.py
Labels: none

Add Vercel configuration for BlackRoad sites
  sites/blackroad/vercel.json
  sites/blackroadinc/vercel.json
Labels: area/frontend

feat: scaffold next pink theme
  sites/blackroad-next/.eslintrc.json
  sites/blackroad-next/app/globals.css
  sites/blackroad-next/app/layout.tsx
  sites/blackroad-next/app/page.tsx
  sites/blackroad-next/app/status/page.tsx
  sites/blackroad-next/package-lock.json
  sites/blackroad-next/package.json
  sites/blackroad-next/pages/artifacts.tsx
  sites/blackroad-next/postcss.config.js
  sites/blackroad-next/public/404.html
  sites/blackroad-next/public/favicon.svg
  sites/blackroad-next/public/robots.txt
  sites/blackroad-next/public/site.webmanifest
  sites/blackroad-next/public/sitemap.xml
  sites/blackroad-next/public/status.json
  sites/blackroad-next/tailwind.config.ts
Labels: area/frontend

Add docs ingestion and rendering to Next app
  sites/blackroad-next/app/docs/[slug]/page.tsx
  sites/blackroad-next/app/docs/page.tsx
  sites/blackroad-next/components/docs-list.tsx
  sites/blackroad-next/lib/docs.ts
  sites/blackroad-next/package-lock.json
  sites/blackroad-next/package.json
  sites/blackroad-next/scripts/build-docs-index.mjs
  sites/blackroad-next/scripts/sync-docs.mjs
Labels: area/frontend

.github/labeler.yml:

area/frontend:
  - "frontend/**"
  - "sites/**"
area/backend:
  - "backend/**"
  - "services/**"
