Repository blackboxprogramming/blackroad-prism-console, changes with the labels that .github/labeler.yml gives for each.
All labels: area/frontend, area/backend

.github/labeler.yml:

area/frontend:
  - "frontend/**"
  - "sites/**"
area/backend:
  - "backend/**"
  - "services/**"

refine lucidia maintenance endpoints
  lucidia/app.py
  lucidia/test_app.py
Labels: none

fix: pin sympy dependencies
  lucidia/requirements.txt
Labels: none

Refine Condor engine optional handling
  lucidia/engines/condor_engine.py
  tests/test_condor_engine.py
Labels: none

feat: clarify unsupported engine error guidance
  agents/auto_novel_agent.py
  agents/test_auto_novel_agent.py
Labels: none

Validate engine name when creating games
  agents/auto_novel_agent.py
  agents/test_auto_novel_agent.py
Labels: none

docs: mention smoke test script
  CONTRIBUTING.md
Labels: none

Normalize story themes before rendering
  agents/auto_novel_agent.py
  agents/test_auto_novel_agent.py
Labels: none

Validate engine input types in AutoNovelAgent
  agents/auto_novel_agent.py
  agents/test_auto_novel_agent.py
Labels: none

fix: harden docker runtime configuration
  Dockerfile
  README_DOCKER.md
  backend/data.js
  docker-compose.yml
Labels: area/backend

refactor: keep auto novel engines per instance
  agents/auto_novel_agent.py
  agents/test_auto_novel_agent.py
Labels: none

test(agent): reset supported engines between tests
  agents/test_auto_novel_agent.py
  tests/test_auto_novel_agent.py
Labels: none

fix: isolate AutoNovelAgent engine configuration
  agents/auto_novel_agent.py
  agents/test_auto_novel_agent.py
  tests/test_auto_novel_agent.py
Labels: none

feat(agent): add reset for default engines
  agents/auto_novel_agent.py
  tests/test_auto_novel_agent.py
Labels: none

fix(agent): surface errors when removing unknown engines
  agents/auto_novel_agent.py
  agents/test_auto_novel_agent.py
Labels: none

Improve engine registration validation
  agents/auto_novel_agent.py
  tests/test_auto_novel_agent.py
Labels: none

refine auto novel error messaging
  agents/auto_novel_agent.py
  agents/test_auto_novel_agent.py
Labels: none

docs(blog): expand Rohonc Codex context
  sites/blackroad/content/blog/rohonc-codex.md
Labels: area/frontend

fix: scope auto novel agent engine registration
  agents/auto_novel_agent.py
  tests/test_auto_novel_agent.py
Labels: none

test: cover auto novel agent engine registration
  tests/agents/test_auto_novel_agent.py
Labels: none

refactor: simplify cleanup bot utility
  agents/cleanup_bot.py
Labels: none

test: cover short story trimming
  agents/auto_novel_agent.py
  tests/test_auto_novel_agent.py
Labels: none

style: accent hero hello world callout
  sites/blackroad/index.html
Labels: area/frontend

fix: make jest script cross-env free
  package.json
  scripts/run-jest.cjs
Labels: none

fix: add api deps and unblock health tests
  apps/lucidia/api/server.js
  jest.config.js
  modules/lucidia-brain/tests/english.test.js
  modules/lucidia-brain/tests/pssha.test.js
  modules/lucidia-brain/tests/retrieval.test.js
  package-lock.json
  package.json
  scripts/health.js
  srv/blackroad-api/lib/log.js
  srv/blackroad-api/server_full.js
  tests/api_health.test.js
Labels: none

fix: remove cross-env dependency for jest script
  jest.config.js
  package.json
  tests/jest.setup.js
Labels: none

fix: validate custom engines and cover instance scope
  agents/auto_novel_agent.py
  tests/test_auto_novel_agent.py
Labels: none

test: cover auto novel agent and cleanup bot
  tests/test_auto_novel_agent.py
  tests/test_cleanup_bot.py
Labels: none

Refine CleanupBot branch deletion workflow
  agents/cleanup_bot.py
Labels: none

feat(agents): expand short story customization
  agents/auto_novel_agent.py
Labels: none

refactor: adopt builtin generics in cleanup bot
  agents/cleanup_bot.py
Labels: none

build: inline jest env setup
  jest.config.js
  package-lock.json
  package.json
  tests/jest.setup.js
Labels: none

feat: validate novel outline inputs
  agents/auto_novel_agent.py
  tests/test_auto_novel_agent.py
Labels: none

refactor(agents): use builtin generics in type hints
  agents/auto_novel_agent.py
  agents/cleanup_bot.py
Labels: none

refactor: normalize AutoNovelAgent engine registration
  agents/auto_novel_agent.py
Labels: none

feat(agent): enrich game tracking and cleanup results
  agents/auto_novel_agent.py
  agents/cleanup_bot.py
Labels: none

test(agent): cover game engine helpers
  tests/test_auto_novel_agent.py
Labels: none

test: expand AutoNovelAgent coverage
  tests/test_auto_novel_agent.py
Labels: none

Improve Working Copy sync flow
  tests/test_pipeline.py
  tools/codex_pipeline.py
Labels: none

fix(agent-summary): preserve zero uptime
  src/services/agentSummary.js
Labels: none

Fix cleanup bot command execution
  agents/cleanup_bot.py
Labels: none
