Repository blackboxprogramming/blackroad-prism-console, changes with the labels that .github/labeler.yml gives for each.
All labels: area/frontend, area/backend

.github/labeler.yml:

area/frontend:
  - "frontend/**"
  - "sites/**"
area/backend:
  - "backend/**"
  - "services/**"

fix: reset auth early and clear search state (#1305)
  frontend/src/App.jsx
  frontend/src/components/RoadChain.jsx
Labels: area/frontend

feat: parse decimals without leading zero
  prism_utils.py
  tests/test_prism_utils.py
Labels: none

feat: parse decimals without leading zero (#1306)
  prism_utils.py
  tests/test_prism_utils.py
Labels: none

fix: harden run and diff endpoints
  prism/server/src/index.ts
Labels: none

fix: harden run and diff endpoints (#1307)
  prism/server/src/index.ts
Labels: none

chore(automation): fix release annotation comments
  .github/workflows/ci.yml
  .github/workflows/html-validate.yml
  .github/workflows/links.yml
  .github/workflows/lint.yml
Labels: none

chore(automation): fix release annotation comments (#1308)
  .github/workflows/ci.yml
  .github/workflows/html-validate.yml
  .github/workflows/links.yml
  .github/workflows/lint.yml
Labels: none

docs(tests): document auth helper and fix lint config
  eslint.config.js
  package-lock.json
  package.json
  tests/api_health.test.js
  tests/git_api.test.js
  tests/helpers/auth.js
Labels: none

docs(tests): document auth helper and fix lint config (#1309)
  eslint.config.js
  package-lock.json
  package.json
  tests/api_health.test.js
  tests/git_api.test.js
  tests/helpers/auth.js
Labels: none

fix: pin eslint config dependency
  .pre-commit-config.yaml
Labels: none

fix: pin eslint config dependency (#1310)
  .pre-commit-config.yaml
Labels: none

chore(auto-heal): refine step comments
  .github/tools/autoheal.sh
  .github/workflows/auto-heal.yml
Labels: none

chore(auto-heal): refine step comments (#1311)
  .github/tools/autoheal.sh
  .github/workflows/auto-heal.yml
Labels: none

docs: adopt imperative style in parse prefix tests
  tests/test_prism_utils.py
Labels: none

docs: adopt imperative style in parse prefix tests (#1312)
  tests/test_prism_utils.py
Labels: none

docs(ci): note stage skip of dns and health
  .github/workflows/pages-stage.yml
Labels: none

docs(ci): note stage skip of dns and health (#1313)
  .github/workflows/pages-stage.yml
Labels: none

chore: sort lint ignores
  eslint.config.js
Labels: none

chore: sort lint ignores (#1314)
  eslint.config.js
Labels: none

docs: polish regex comment (#1266)
  prism_utils.py
Labels: none

docs: polish regex comment (#1266) (#1315)
  prism_utils.py
Labels: none

test: cover blank parse inputs and clarify docstring
  prism_utils.py
  tests/test_prism_utils.py
Labels: none

test: cover blank parse inputs and clarify docstring (#1316)
  prism_utils.py
  tests/test_prism_utils.py
Labels: none

chore: alphabetize ESLint ignores and fix tools path
  eslint.config.js
Labels: none

docs: mention scientific notation support
  prism_utils.py
Labels: none

docs: mention scientific notation support (#1318)
  prism_utils.py
Labels: none

docs: adopt imperative test docstrings
  tests/test_prism_utils.py
Labels: none

chore: rename stage workflow after removing dns checks
  .github/workflows/pages-stage.yml
Labels: none

chore: rename stage workflow after removing dns checks (#1320)
  .github/workflows/pages-stage.yml
Labels: none

fix(workflows): allow semantic PR action to report status
  .github/workflows/semantic-pr.yml
Labels: none

fix(workflows): allow semantic PR action to report status (#1321)
  .github/workflows/semantic-pr.yml
Labels: none

style: refine health-sidecar comments
  services/health-sidecar/.env.example
  services/health-sidecar/server.js
Labels: area/backend

style: refine health-sidecar comments (#1322)
  services/health-sidecar/.env.example
  services/health-sidecar/server.js
Labels: area/backend

chore(automation): restrict PR workflow tokens to read-only
  .github/workflows/html-validate.yml
  .github/workflows/links.yml
  .github/workflows/lint.yml
Labels: none

chore(automation): restrict PR workflow tokens to read-only (#1323)
  .github/workflows/html-validate.yml
  .github/workflows/links.yml
  .github/workflows/lint.yml
Labels: none

fix: reorder boot hooks and refine search reset
  frontend/src/App.jsx
  frontend/src/components/RoadChain.jsx
Labels: area/frontend

fix: reorder boot hooks and refine search reset (#1324)
  frontend/src/App.jsx
  frontend/src/components/RoadChain.jsx
Labels: area/frontend

chore: pin eslint config version
  .pre-commit-config.yaml
Labels: none

chore: pin eslint config version (#1325)
  .pre-commit-config.yaml
Labels: none

docs: refine numeric prefix comment
  prism_utils.py
  tests/test_prism_utils.py
Labels: none
