Repository blackboxprogramming/blackroad-prism-console, changes with the labels that .github/labeler.yml gives for each.
All labels: area/frontend, area/backend

.github/labeler.yml:

area/frontend:
  - "frontend/**"
  - "sites/**"
area/backend:
  - "backend/**"
  - "services/**"

Add Minnesota licensing reinstatement roadmap (#1904)
  docs/regulatory/minnesota-multi-license-roadmap.md
Labels: none

Record request for PySPH fluid upgrade (#1905)
  DECISIONS.md
Labels: none

Add ClickHouse metrics proxy and exception workflow (#1906)
  backend/data.js
  backend/migrate.js
  backend/server.js
  cmd/metrics-proxy-ch/go.mod
  cmd/metrics-proxy-ch/go.sum
  cmd/metrics-proxy-ch/main.go
  policy/kernel/exceptions.py
  policy/kernel/kernel.py
  policy/kernel/tests/test_kernel.py
  sites/blackroad/scripts/build-docs.cjs
Labels: area/frontend, area/backend

Add Slack exception workflow gateway (#1907)
  .gitignore
  cmd/slack/go.mod
  cmd/slack/main.go
Labels: none

Add mac Firstlight add-on scripts (#1908)
  agents/mac/README.md
  agents/mac/full_first_light.py
  agents/mac/test_patterns.py
Labels: none

Add portal TUI harness and Roadchain mock (#1909)
  portal/bin/portal-log
  portal/bin/portal-test
  portal/bin/portal-tui
  portal/configs/.gitkeep
  portal/roadchain/bin/rdc
  portal/roadchain/state/.gitkeep
Labels: none

docs: log latest drop and next focus (#1910)
  AGENT_WORKBOARD.md
Labels: none

Add FastAPI controls app and tests for Autopal flows (#1911)
  autopal_fastapi/README.md
  autopal_fastapi/__init__.py
  autopal_fastapi/app.py
  autopal_fastapi/tests/__init__.py
  autopal_fastapi/tests/test_app.py
  requirements.txt
Labels: none

Add Pi-Holo renderer package (#1915)
  pi_holo/README.md
  pi_holo/Scenes/example.json
  pi_holo/holo_renderer.py
  pi_holo/pi-holo.service
  pi_holo/requirements.txt
  pi_holo/run.sh
Labels: none

Add Pi portal TUI Codex prompt (#1916)
  codex/prompts/pi_portal_tui.prompt.md
Labels: none

Document fusion tier care ecosystems (#1917)
  docs/fusion-tier-concepts.md
Labels: none

Add Pi-Holo effect renderer and tooling (#1921)
  agent/mac/send_clear.py
  agent/mac/send_pulse.py
  pis/pi-holo/holo_render.py
  pis/pi-sim/sim_panel.py
Labels: none

Add Prism MQTT control tooling (#1925)
  pyproject.toml
  requirements.txt
  tools/holo
  tools/holo_cli.py
  tools/holo_showcase.py
  tools/showcase
Labels: none

Add meta-codex reflection log (#1927)
  docs/meta-codex-reflection.md
Labels: none

Add Slack exception request workflow (#1928)
  srv/blackroad-api/lib/rules.js
  srv/blackroad-api/modules/requestGuard.js
  srv/blackroad-api/modules/slack_exceptions.js
  srv/blackroad-api/server_full.js
Labels: none

Add Pi-Holo camera renderer and Mac trigger CLI (#1929)
  agent/mac/cam_triggers.py
  pis/pi-holo/holo_render_camera.py
Labels: none

Add go/no-go release gate (#1933)
  .github/actions/go-no-go/action.yml
  .github/workflows/gated-release.yml
Labels: none

Add Pi-Ops dashboard service (#1938)
  pi_ops/app.py
  pi_ops/pi-ops.service
  pi_ops/requirements.txt
  pi_ops/run.sh
  pi_ops/schema.sql
Labels: none

Add Autopal Express Node service (#1940)
  autopal-express/.env.example
  autopal-express/.gitignore
  autopal-express/README.md
  autopal-express/autopal.config.json
  autopal-express/logs/.gitkeep
  autopal-express/package-lock.json
  autopal-express/package.json
  autopal-express/scripts/run-lint.js
  autopal-express/src/config.js
  autopal-express/src/logger.js
  autopal-express/src/middleware/auth.js
  autopal-express/src/middleware/globalSwitch.js
  autopal-express/src/middleware/rateLimit.js
  autopal-express/src/routes/health.js
  autopal-express/src/routes/secrets.js
  autopal-express/src/server.js
  autopal-express/src/services/tokenValidator.js
Labels: none

Add Origin Tier codex entry (#1941)
  codex/entries/051-origin-tier.md
Labels: none

Add portal finance utilities (#1942)
  portal/bin/descriptor-doctor
  portal/bin/portal-health
  portal/bin/price
  portal/configs/prices.json
  portal/logs/.gitkeep
Labels: none

Add Pi-Ops reflex script for high temperature alerts (#1943)
  ops/pi_ops/temp_reflex.py
Labels: none

Document bridge spike as next wave focus (#1945)
  wave6/next-shot.md
Labels: none

Add Codex 55 Gratitude Doctrine entry (#1946)
  codex/entries/055-gratitude-doctrine.md
Labels: none

feat: auto-enable merges after codex fixes (#1947)
  agents/pr_autopilot.py
Labels: none

Add solid benchmark stress volume pipeline (#1948)
  20_bench_solid/.gitignore
  20_bench_solid/params.json
  20_bench_solid/taichi_mpm_core.py
  40_compare/stress_energy_quicklook.ipynb
Labels: none

feat: add ecs canary deployment support (#1949)
  .github/workflows/deploy-canary.yml
  br-infra-iac/envs/dev/main.tf
  br-infra-iac/modules/ecs-service-alb/main.tf
  br-infra-iac/modules/ecs-service-alb/outputs.tf
  br-infra-iac/modules/ecs-service-alb/variables.tf
Labels: none

Add PSBT QR tools and Tor health service helper (#1952)
  portal/README.md
  portal/bin/portal-health-tor
  portal/bin/portal-static
  portal/bin/psbt-to-qr
  portal/bin/qr-to-psbt
Labels: none

Add Signal Commons Station embodiment plan (#1954)
  codex/entries/047-signal-commons-station.md
Labels: none

docs: add time sync drop-in for chrony deployment (#1983)
  docs/TIME_SYNC_DROPIN.md
Labels: none

Add blog post on AI agents driving stablecoin liquidity (#1982)
  sites/blackroad/content/blog/ai-agents-stablecoin-liquidity.md
Labels: area/frontend

Add starter crypto holdings ledger template (#1980)
  docs/crypto-holdings-ledger-template.csv
Labels: none

docs: add pepper's ghost calibration guide (#1979)
  README.md
  docs/guides/peppers-ghost-calibration.md
Labels: none

Add Raspberry Pi 500+ keyboard PC blog post (#1978)
  sites/blackroad/content/blog/raspberry-pi-500-plus-keyboard-pc.md
Labels: area/frontend

Add disposable malware lab workflow guide (#1977)
  docs/DISPOSABLE_LAB_WORKFLOW.md
Labels: none

Add blog post on Discord support breach risks (#1976)
  sites/blackroad/content/blog/discord-support-breach-honeypot-risk.md
Labels: area/frontend

Add blog update on UK retail crypto ETNs rollout (#1974)
  sites/blackroad/content/blog/uk-retail-crypto-etns-rollout.md
Labels: area/frontend

Add October kernel and status monitoring notes (#1973)
  security/kernel_watch_2025-10.md
Labels: none

docs: share setup status note (#1970)
  README.md
Labels: none

Add autopal CI workflows for FastAPI and Express stacks (#1967)
  .github/workflows/ci-autopal-express.yml
  .github/workflows/ci-autopal-fastapi.yml
Labels: none
