Repository blackboxprogramming/blackroad-prism-console, changes with the labels that .github/labeler.yml gives for each.
All labels: area/site, area/api, area/nginx, ci

.github/labeler.yml:

area/site:
  - "sites/blackroad/**"
area/api:
  - "services/api/**"
area/nginx:
  - "nginx/**"
ci:
  - ".github/workflows/**"

feat: add auto-heal and deployment framework
  etc/cron.d/blackroad-backup
  etc/logrotate.d/blackroad-autoheal
  etc/systemd/system/blackroad-autoheal.service
  etc/systemd/system/blackroad-autoheal.timer
  nginx/blackroad.conf
  scripts/blackroad-autoheal.sh
Labels: area/nginx

feat: add connectors and autoheal framework
  nginx/blackroad_connectors_snippet.conf
  services/connectors/package.json
  services/connectors/server.js
  systemd/blackroad-autoheal.service
  systemd/blackroad-autoheal.timer
  usr/local/bin/blackroad-autoheal.sh
  usr/local/bin/blackroad-backup.sh
Labels: area/nginx

docs: add Prism portal connector prompt
  prompts/prism_portal_connector_prompt.md
Labels: none

Add validation agent script and timer
  systemd/blackroad-validate.service
  systemd/blackroad-validate.timer
  usr/local/bin/blackroad-validate.sh
Labels: none

feat: add connectors and auto-heal scripts
  connectors.js
  etc/nginx/sites-enabled/blackroad.conf
  etc/systemd/system/blackroad-autoheal.service
  etc/systemd/system/blackroad-autoheal.timer
  server_full.js
  usr/local/bin/blackroad-autoheal.sh
  usr/local/bin/blackroad-backup.sh
Labels: none

docs: expand trinary logic specification
  docs/logic.md
Labels: none

feat: add droplet deployment helper
  codex/build.py
  tests/test_deploy_to_droplet.py
Labels: none

test: cover Working Copy sync
  tests/test_pipeline.py
  tools/codex_pipeline.py
Labels: none

feat: integrate connectors API with retries
  tests/test_codex_pipeline_connectors.py
  tools/codex_pipeline.py
Labels: none

feat: implement GitHub sync
  codex/build.py
  tests/test_build.py
Labels: none

Add service validation to Codex pipeline
  tests/test_codex_pipeline_validation.py
  tools/codex_pipeline.py
Labels: none

feat: add rollback and error handling
  tests/test_codex_pipeline.py
  tools/codex_pipeline.py
Labels: none

feat: add LLM and math service containers
  .github/workflows/prism-containers.yml
  docker-compose.prism.yml
  nginx/prism.conf
  srv/blackroad-api/blackroad.db
  srv/lucidia-llm/Dockerfile
  srv/lucidia-math/Dockerfile
  srv/lucidia-math/__init__.py
  srv/lucidia-math/finance.py
  srv/lucidia-math/fractals.py
  srv/lucidia-math/logic.py
  srv/lucidia-math/main.py
  srv/lucidia-math/numbers.py
  srv/lucidia-math/output/.gitkeep
  srv/lucidia-math/primes.py
  srv/lucidia-math/proofs.py
  srv/lucidia-math/requirements.txt
  srv/lucidia-math/ui.py
  srv/lucidia-math/waves.py
Labels: area/nginx, ci

Dockerize Prism backend with SQLite and CI
  .env
  .env.docker.example
  .env.example
  .github/workflows/blackroad-api-docker.yml
  docker-compose.prism.yml
  nginx/prism-api.conf
  srv/blackroad-api/Dockerfile
  srv/blackroad-api/scripts/migrate.js
  srv/blackroad-api/server.js
Labels: area/nginx, ci

chore: add migrations and db tests
  backend/data.js
  backend/migrate.js
  backend/package.json
  src/routes/tasks.js
  tests/test_db.js
Labels: none

test: cover jwt auth
  backend/auth.js
  backend/data.js
  backend/server.js
  package.json
  src/routes/tasks.js
  tests/test_auth.js
Labels: none

test: add backend jest tests
  .github/workflows/tests.yml
  jest.config.js
  package.json
  server_full.js
  src/tests/backend.test.js
Labels: ci

feat: add logs and contradictions routes
  codex_pipeline.py
  db/migrations/0002_logs_monitoring.sql
  server_full.js
  services/quantum_lab/app.py
  src/auth.js
  src/routes/contradictions.js
  src/routes/index.js
  src/routes/logs.js
  tests/logs_contradictions.test.js
Labels: none

feat: add projects and tasks CRUD
  db/migrations/0005_projects_tasks.sql
  src/auth.js
  src/routes/index.js
  src/routes/projects.js
  src/routes/tasks.js
  tests/test_projects_tasks.js
Labels: none

feat: add Kubernetes deployment for Prism stack
  .github/workflows/prism-k8s.yaml
  k8s/api-deployment.yaml
  k8s/api-service.yaml
  k8s/blackroad-db-pv.yaml
  k8s/blackroad-db-pvc.yaml
  k8s/configmap.yaml
  k8s/ingress.yaml
  k8s/llm-deployment.yaml
  k8s/llm-service.yaml
  k8s/math-deployment.yaml
  k8s/math-output-pv.yaml
  k8s/math-output-pvc.yaml
  k8s/math-service.yaml
  k8s/namespace.yaml
  k8s/nginx-deployment.yaml
  k8s/nginx-service.yaml
  k8s/secrets.yaml
Labels: ci

feat: add monitoring stack
  DEPLOYMENT.md
  deploy/k8s/monitoring.yaml
Labels: none

chore: add basic security hardening
  backend/audit.js
  backend/server.js
  backend/utils.js
  package.json
  services/connectors/server.js
  tests/backend-validation.test.js
Labels: none

feat: add snapshot and rollback infrastructure
  etc/cron.d/prism-snapshot
  scripts/codex_sync.py
  scripts/rollback.sh
  scripts/snapshot.sh
  tests/test_resilience_snapshot.py
Labels: none

feat: add resilience dashboard
  frontend/cypress.config.js
  frontend/cypress/e2e/resilience.cy.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.jsx
  frontend/src/api.js
  frontend/src/pages/Resilience.jsx
  server_full.js
Labels: none

feat: add monitoring dashboard
  sites/blackroad/cypress.config.js
  sites/blackroad/package-lock.json
  sites/blackroad/package.json
  sites/blackroad/src/App.jsx
  sites/blackroad/src/pages/Monitoring.jsx
  sites/blackroad/tests/monitoring.cy.js
Labels: area/site

feat: add auto-heal dashboard and API
  frontend/cypress.config.js
  frontend/cypress/component/autoheal.cy.jsx
  frontend/cypress/support/component.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.jsx
  frontend/src/api.js
  frontend/src/pages/AutoHeal.jsx
  server_full.js
  src/services/autohealService.js
  tests/autoheal.parse.test.mjs
Labels: none

feat: add manual control panel
  backend/autoheal.js
  backend/data.js
  backend/server.js
  backend/utils.js
  frontend/src/App.jsx
  frontend/src/api.js
  frontend/src/pages/ControlPanel.jsx
  tests/autoheal.test.mjs
  tests/smoke.test.mjs
Labels: none

feat(prismos): add PrismOS runtime and CLI
  prismos/Cargo.lock
  prismos/Cargo.toml
  prismos/prism-core/Cargo.toml
  prismos/prism-core/src/lib.rs
  prismos/prism-core/tests/integration.rs
  prismos/prismctl/Cargo.toml
  prismos/prismctl/src/main.rs
  prismos/prismosd/Cargo.toml
  prismos/prismosd/src/main.rs
Labels: none

feat: unify local and cloud agents
  db/migrations/202511180000_agents_location.sql
  frontend/src/agents.js
  frontend/src/components/Dashboard.jsx
  frontend/src/localAgents.js
  src/routes/agents.js
Labels: none

feat: add agent snapshot kernel primitives
  prism_os/Cargo.toml
  prism_os/src/lib.rs
Labels: none

Add agent runtime and IPC prototype
  packages/Cargo.lock
  packages/Cargo.toml
  packages/prismos/Cargo.toml
  packages/prismos/src/bin/prismsh.rs
  packages/prismos/src/lib.rs
Labels: none

Add initial PrismOS kernel skeleton
  prismos-kernel/.cargo/config.toml
  prismos-kernel/.gitignore
  prismos-kernel/Cargo.toml
  prismos-kernel/Makefile
  prismos-kernel/src/main.rs
  prismos-kernel/x86_64-prismos.json
Labels: none

docs: add PrismOS Cadillac kernel plan
  .pre-commit-config.yaml
  docs/prismos-cadillac-kernel.md
Labels: none

feat: implement agent summary service and UI
  sites/blackroad/src/App.jsx
  sites/blackroad/src/pages/Agents.jsx
  src/routes/agents.js
  src/services/agentSummary.js
  tests/agents-summary.test.mjs
  tests/smoke.test.mjs
Labels: area/site

Add skeleton PrismOS memory and VFS modules
  .gitignore
  prism_os/Cargo.lock
  prism_os/Cargo.toml
  prism_os/src/lib.rs
  prism_os/src/memory.rs
  prism_os/src/vfs.rs
  prism_os/tests/vfs.rs
Labels: none

chore: add agent location migration
  backend/data.js
  db/migrations/0006_agents_location.sql
  frontend/src/Orchestrator.jsx
  frontend/src/components/Dashboard.jsx
  src/routes/agents.js
  src/tests/backend.test.js
Labels: none

feat: add browser-only prismweb prototype
  apps/prismweb/index.html
  apps/prismweb/package.json
  apps/prismweb/postcss.config.js
  apps/prismweb/src/App.tsx
  apps/prismweb/src/components/AgentWindow.tsx
  apps/prismweb/src/components/Terminal.tsx
  apps/prismweb/src/index.css
  apps/prismweb/src/kernel.ts
  apps/prismweb/src/main.tsx
  apps/prismweb/tailwind.config.js
  apps/prismweb/tsconfig.json
  apps/prismweb/vite.config.ts
Labels: none

feat: add desktop shell with windowed agents
  sites/blackroad/package-lock.json
  sites/blackroad/package.json
  sites/blackroad/src/App.jsx
  sites/blackroad/src/desktop/Window.jsx
  sites/blackroad/src/pages/Desktop.jsx
Labels: area/site

feat: add hybrid agent support
  backend/data.js
  backend/server.js
  sites/blackroad/src/App.jsx
  sites/blackroad/src/pages/Agents.jsx
Labels: area/site

feat: add desktop-style agent windows
  sites/blackroad/package-lock.json
  sites/blackroad/package.json
  sites/blackroad/src/main.jsx
  sites/blackroad/src/pages/Desktop.jsx
Labels: area/site
