Repository blackboxprogramming/blackroad-prism-console, changes with the labels that .github/labeler.yml gives for each.
All labels: area/site, area/api, area/nginx, ci

validate engine names in AutoNovelAgent
  agents/auto_novel_agent.py
  agents/test_auto_novel_agent.py
Labels: none

chore: resolve gitignore merge conflict
  .gitignore
Labels: none

fix: separate jest and smoke tests
  package.json
Labels: none

fix: separate jest and smoke tests
  package.json
Labels: none

validate engine names in AutoNovelAgent
  agents/auto_novel_agent.py
  agents/test_auto_novel_agent.py
Labels: none

feat: improve unsupported engine error
  agents/auto_novel_agent.py
  agents/test_auto_novel_agent.py
Labels: none

chore: resolve gitignore merge conflicts
  .gitignore
Labels: none

fix: deduplicate test scripts
  package.json
Labels: none

feat: add poem generation to AutoNovelAgent
  agents/auto_novel_agent.py
  agents/test_auto_novel_agent.py
Labels: none

feat(api): add health endpoints and typed responses
  api/amplicon/main.py
  api/lucidia/main.py
Labels: none

feat: extend lucidia coding capabilities
  lucidia/app.py
  lucidia/templates/index.html
  lucidia/test_app.py
Labels: none

chore: upgrade Docker to Node 22
  Dockerfile
Labels: none

chore: upgrade Docker to Node 22
  Dockerfile
Labels: none

chore(ci): cache npm modules
  .github/workflows/test.yml
Labels: ci

feat: refresh working copy to default path
  scripts/blackroad_sync.py
Labels: none

feat: add quaternary math demo
  quaternary.html
Labels: none

feat: add quaternary math demo
  quaternary.html
Labels: none

feat: add eslint tooling and workflows
  .github/workflows/lint.yml
  .husky/pre-commit
  .pre-commit-config.yaml
  package-lock.json
  package.json
Labels: ci

feat: add auto sync helper
  scripts/blackroad_sync.py
Labels: none

chore: add libcst to dev requirements
  lucidia/__init__.py
  lucidia/rpg.py
  lucidia/test_rpg.py
  requirements-dev.txt
Labels: none

fix condor engine helpers
  lucidia/engines/condor_engine.py
Labels: none

fix: remove duplicate component code
  sites/blackroad/src/pages/Agents.jsx
Labels: area/site

Tidy quantum engine test imports
  codemods/test_rename_foo_to_bar.py
  local/test_vectorization.py
  lucidia/engines/condor_engine.py
  lucidia/quantum/tests/test_qml.py
  opt/blackroad/lucidia/tests/test_clfm_minimal.py
  packages/lucidia_reason/tests/test_plan.py
  packages/lucidia_reason/tests/test_trinary.py
  services/lucidia_api/tests/test_health.py
  srv/blackroad/examples/claude_smoke_test.py
  tests/random_fields/test_clfm_basic.py
  tests/test_api_meteoroid.py
  tests/test_meteoroid_env.py
  tests/test_quantum_engine.py
  tools/lucidia-autotester/tests/conftest.py
Labels: none

Fix whisper dependency
  requirements.txt
Labels: none

feat: add code completion tool for lucidia ollama
  lmcp/servers/lucidia_ollama/lucidia_ollama/server.py
  lmcp/tests/test_lucidia_ollama.py
Labels: none

Use persistent session for lucidia-ollama requests
  lmcp/servers/lucidia_ollama/lucidia_ollama/server.py
Labels: none

feat: add optional llama model to lucidia llm
  lucidia-llm/app.py
  lucidia-llm/requirements.txt
  tests/test_lucidia_llm.py
Labels: none

feat: add lucidia CLI
  bin/lucidia
  lucidia/__main__.py
Labels: none

feat: enable package install and git cleanup
  lucidia/app.py
  lucidia/requirements.txt
  lucidia/test_app.py
Labels: none

feat: add math evaluation endpoint
  lucidia/app.py
  lucidia/requirements.txt
  lucidia/test_app.py
Labels: none

Add multi-theme story generation to AutoNovelAgent
  agents/auto_novel_agent.py
  agents/test_auto_novel_agent.py
Labels: none

docs: add macOS devcontainer instructions
  README.md
Labels: none

feat: harden lucidia maintenance endpoints
  lucidia/app.py
  lucidia/requirements.txt
  lucidia/test_app.py
Labels: none

chore: add placeholder files for lucidia
  lucidia/placeholders/placeholder1.txt
  lucidia/placeholders/placeholder10.txt
  lucidia/placeholders/placeholder11.txt
  lucidia/placeholders/placeholder12.txt
  lucidia/placeholders/placeholder13.txt
  lucidia/placeholders/placeholder14.txt
  lucidia/placeholders/placeholder15.txt
  lucidia/placeholders/placeholder2.txt
  lucidia/placeholders/placeholder3.txt
  lucidia/placeholders/placeholder4.txt
  lucidia/placeholders/placeholder5.txt
  lucidia/placeholders/placeholder6.txt
  lucidia/placeholders/placeholder7.txt
  lucidia/placeholders/placeholder8.txt
  lucidia/placeholders/placeholder9.txt
Labels: none

feat: auto clean merged branches
  agents/cleanup_bot.py
Labels: none

docs: add bot experiment catalog
  docs/bot-experiments.md
Labels: none

Ensure prism creates snapshot and symphony dirs
  prism/prismsh.js
Labels: none

feat: create 30 student bots
  agents/student_bots.py
Labels: none

feat: create 30 student bots
  agents/student_bots.py
Labels: none

test: consolidate AutoNovelAgent tests
  agents/test_auto_novel_agent.py
  tests/test_auto_novel_agent.py
Labels: none

.github/labeler.yml:

area/site:
  - "sites/blackroad/**"
area/api:
  - "services/api/**"
area/nginx:
  - "nginx/**"
ci:
  - ".github/workflows/**"
