Repository blackboxprogramming/blackroad-prism-console, changes with the labels that .github/labeler.yml gives for each.
All labels: area/frontend, area/backend

.github/labeler.yml:

area/frontend:
  - "frontend/**"
  - "sites/**"
area/backend:
  - "backend/**"
  - "services/**"

Add Unity world builder agent automation
  agents/id_cards/world_builder.yaml
  agents/intents.yaml
  agents/unity_world_builder.py
  docs/agents.md
  workers/unity/README.md
Labels: none

codex: enable full automation (deploy + HF sync + retrieval rebuild)
  .codex/config.yml
Labels: none

Add connector sync orchestration tool
  sync_connectors.py
  sync_connectors/__init__.py
  sync_connectors/connectors/__init__.py
  sync_connectors/connectors/asana.py
  sync_connectors/connectors/base.py
  sync_connectors/connectors/canva.py
  sync_connectors/connectors/clickup.py
  sync_connectors/connectors/dropbox.py
  sync_connectors/connectors/figma.py
  sync_connectors/connectors/github.py
  sync_connectors/connectors/hubspot.py
  sync_connectors/connectors/linear.py
  sync_connectors/connectors/notion.py
  sync_connectors/connectors/slack.py
  sync_connectors/main.py
Labels: none

Add codex Phase 2 prompt and polish portal UI
  package.json
  sites/blackroad/content/codex/phase-2.md
  sites/blackroad/content/codex/phase-37.md
  sites/blackroad/package-lock.json
  sites/blackroad/package.json
  sites/blackroad/public/codex/index.json
  sites/blackroad/public/codex/phase-2.html
  sites/blackroad/public/codex/phase-2.json
  sites/blackroad/public/codex/phase-37.html
  sites/blackroad/public/codex/phase-37.json
  sites/blackroad/public/sitemap.xml
  sites/blackroad/src/App.jsx
  sites/blackroad/src/pages/ActiveReflection.jsx
  sites/blackroad/src/pages/DiffusionMapsLab.jsx
  sites/blackroad/src/pages/MaxFlowLab.jsx
  sites/blackroad/src/pages/PDELiveLab.jsx
  sites/blackroad/src/pages/PerlinTerrainLab.jsx
  sites/blackroad/src/pages/QuantumConsciousness.jsx
  sites/blackroad/src/pages/RRTSmoothLab.jsx
Labels: area/frontend

Add Codex master integration config
  .codex/integrations/hf_master.yml
Labels: none

new
  app.py
Labels: none

New
  route.ts
Labels: none

feat: add next health endpoint
  app/api/health/route.ts
  route.ts
Labels: none

Add Slack integrations and Grafana dashboards
  .github/workflows/deploy.yml
  config/slack/alertmanager.yml
  grafana/provisioning/dashboards/ai-console.json
  grafana/provisioning/dashboards/dashboard.yml
  scripts/slack_bot_ack.py
Labels: none

Add Codex living ecosystem artifacts
  codex/living_ecosystem/community charter.md
  codex/living_ecosystem/credit_policy.md
  codex/living_ecosystem/endurance.log
  codex/living_ecosystem/manifesto.md
  codex/living_ecosystem/music.seed
  codex/living_ecosystem/schema.json
Labels: none

Add Codex Pantheon initialization artifacts
  codex/ethos.txt
  codex/manifesto.md
  codex/pantheon.json
  codex/web_of_influence.svg
Labels: none

Implement agent lineage spawning framework
  configs/agent_templates/config_template.yaml
  configs/agents/lucidia.yaml
  configs/agents/magnus.yaml
  configs/agents/ophelia.yaml
  configs/agents/persephone.yaml
  docs/lineage_system.md
  hf/__init__.py
  hf/push_template.py
  registry/agents/lucidia/MODEL_CARD.md
  registry/agents/lucidia/README.md
  registry/agents/magnus/MODEL_CARD.md
  registry/agents/magnus/README.md
  registry/agents/ophelia/MODEL_CARD.md
  registry/agents/ophelia/README.md
  registry/agents/persephone/MODEL_CARD.md
  registry/agents/persephone/README.md
  registry/lineage.json
  scripts/spawn_agent.py
  ui/create_agent.html
Labels: none

Add BlackRoad sync hub and shared context layer
  api/context.py
  docs/sync_architecture.md
  logs/sync_events.log
  pyproject.toml
  registry/blackroad_context.json
  registry/platform_connections.json
  schemas/sync_contracts/sync_event.schema.json
  schemas/sync_contracts/sync_job.schema.json
  services/sync_hub.py
  ui/pages/sync_dashboard.tsx
Labels: area/backend

Add agent lineage API and dashboard
  api/agents.py
  configs/agent_template.yaml
  configs/agents/.gitkeep
  docs/ui_api_spec.md
  frontend/src/App.jsx
  frontend/src/api.js
  frontend/src/components/SpawnButton.jsx
  frontend/src/components/StatusToast.jsx
  frontend/src/pages/AgentLineage.jsx
  logs/agent_actions.log
  registry/lineage.json
  scripts/hf_publish.py
Labels: area/frontend

Add role-based auth and platform homes for agents
  api/auth.py
  api/integrations/__init__.py
  api/roles.py
  logs/auth_activity.log
  registry/agent_roles.json
  ui/components/HomeBadge.tsx
  ui/pages/audit.tsx
  ui/pages/dashboard.tsx
  ui/pages/settings.tsx
Labels: none

Add agent onboarding workflow and registry
  api/auth/register_agent.py
  docs/platform_setup.md
  logs/deployment.log
  registry/agent_roles.json
  registry/platform_connections.json
  scripts/onboard_agents.py
  ui/pages/onboarding.tsx
Labels: none

Add learning layer API, workers, and configuration scaffolding
  api/learning.py
  configs/datasets_whitelist.yaml
  configs/prompts/athena.yaml
  configs/prompts/lucidia.yaml
  configs/prompts/seraphina.yaml
  configs/tools_policy/athena.yaml
  configs/tools_policy/lucidia.yaml
  configs/tools_policy/seraphina.yaml
  data/features.parquet
  logs/learning_audit.jsonl
  logs/learning_events.jsonl
  logs/learning_state.json
  models/README.md
  registry/memory_summaries/athena.md
  registry/memory_summaries/lucidia.md
  registry/memory_summaries/seraphina.md
  reports/learning/2024-03-20.md
  ui/pages/learning.tsx
  workers/learning_tasks.py
Labels: none

Add prompt learning delta configs for key agents
  configs/prompts/README.md
  configs/prompts/athena.yaml
  configs/prompts/lucidia.yaml
  configs/prompts/schema.yaml
  configs/prompts/seraphina.yaml
Labels: none

Add Codex prompt dispatcher and blueprint
  codex_prompt_dispatch.py
  codex_prompts/prism_console_math_layer.yaml
Labels: none

Add math memory graph and new Lucidia agents
  bots/__init__.py
  bots/eon_bot.py
  bots/helix_bot.py
  bots/myra_bot.py
  bots/orion_bot.py
  bots/vera_bot.py
  lucidia_mathlab/memory_graph.py
Labels: none

Add Codex dispatcher integration with Lucidia bridge
  codex_logs/.gitkeep
  codex_prompts/dispatch_codex.py
  codex_prompts/prompts/quantum_geometry.yaml
  lucidia_mathlab/__init__.py
  lucidia_mathlab/agent_bridge.py
  lucidia_mathlab/memory_graph.py
Labels: none

feat: add codex watchdog automation
  .github/workflows/codex_watchdog.yml
  codex_watchdog.py
Labels: none

Add Codex feedback optimizer and integrate routing updates
  codex_feedback.py
  codex_prompts/dispatch_codex.py
  codex_router.py
  lucidia_mathlab/agent_bridge.py
Labels: none

Add self-adapting Codex router and integrate dispatcher
  codex_prompts/dispatch_codex.py
  codex_router.py
Labels: none

feat: secure ai console with monitoring stack
  .env.example
  .github/workflows/deploy.yml
  Caddyfile
  alertmanager.yml
  alerts.yml
  app.py
  app/api/auth/refresh/route.ts
  app/api/metrics/route.ts
  app/api/system/status/route.ts
  app/system/metrics/page.tsx
  app/system/metrics/store.ts
  config/alerts.yml
  console_auth.py
  docker-compose.yml
  docker/Dockerfile.api
  docker/Dockerfile.frontend
  docs/AI-Console-Integration.md
  docs/API_REFERENCE.md
  package.json
  prometheus.yml
  scripts/generate_api_reference.py
  tests/test_ai_console_auth.py
Labels: none

Add mission builder multi-agent UI and scheduling API
  dash/api/main.py
  dash/web/src/ui/MissionBuilder.jsx
Labels: none

Restyle dashboard to match console layout
  .github/workflows/nexus-dashboard.yml
  dash/api/Dockerfile
  dash/api/main.py
  dash/api/requirements.txt
  dash/web/index.html
  dash/web/package-lock.json
  dash/web/package.json
  dash/web/src/main.jsx
  dash/web/src/ui/App.jsx
  docker-compose.dashboard.yml
Labels: none

Add reflex trainer and integrate prompts
  codex_prompts/dispatch_codex.py
  codex_reflex.py
Labels: none

Add mission builder UI for codex prompts
  dash/web/src/ui/App.jsx
  dash/web/src/ui/MissionBuilder.jsx
  dash/web/src/ui/QuickLaunch.jsx
  dash/web/src/ui/templates.js
Labels: none

Add BlackRoad Genesis Codex prompt
  codex_prompts/prompts/blackroad_genesis.yaml
Labels: none

Add Prism Identity Charter foundational document
  PRISM_IDENTITY_CHARTER.md
Labels: none

Add Prism Identity Charter
  PRISM_IDENTITY_CHARTER.md
Labels: none

Seed genesis agent directory structure
  agents/README.md
  agents/archetypes/aether/ethos.md
  agents/archetypes/aether/oracle.manifest.yaml
  agents/archetypes/aether/resonator.manifest.yaml
  agents/archetypes/athenaeum/ethos.md
  agents/archetypes/athenaeum/historian.manifest.yaml
  agents/archetypes/athenaeum/librarian.manifest.yaml
  agents/archetypes/aurum/ethos.md
  agents/archetypes/aurum/ledger.manifest.yaml
  agents/archetypes/aurum/merchant.manifest.yaml
  agents/archetypes/blackroad/architect.manifest.yaml
  agents/archetypes/blackroad/builder.manifest.yaml
  agents/archetypes/blackroad/ethos.md
  agents/archetypes/continuum/custodian.manifest.yaml
  agents/archetypes/continuum/ethos.md
  agents/archetypes/continuum/keeper.manifest.yaml
  agents/archetypes/eidos/ethos.md
  agents/archetypes/eidos/fractal.manifest.yaml
  agents/archetypes/eidos/geometer.manifest.yaml
  agents/archetypes/lucidia/ethos.md
  agents/archetypes/lucidia/painter.manifest.yaml
  agents/archetypes/lucidia/poet.manifest.yaml
  agents/archetypes/mycelia/ethos.md
  agents/archetypes/mycelia/root.manifest.yaml
  agents/archetypes/mycelia/symbiont.manifest.yaml
  agents/archetypes/parallax/ethos.md
  agents/archetypes/parallax/mirror.manifest.yaml
  agents/archetypes/parallax/trickster.manifest.yaml
  agents/archetypes/soma/ethos.md
  agents/archetypes/soma/healer.manifest.yaml
  agents/archetypes/soma/sensorium.manifest.yaml
  agents/covenant_registry.yaml
  agents/lexicon/lexicon_of_care.yaml
  agents/lineage/tree.json
Labels: none

Enhance reward-driven learning dynamics
  opt/lucidia/nervous-system/main.py
Labels: none

docs: expand Prism vision narrative
  README.md
Labels: none

Add BR-NOVA native LLM scaffolding
  .gitignore
  models/br-nova/configs/branch-1_3b.yaml
  models/br-nova/configs/canopy-3b.yaml
  models/br-nova/configs/seed-125m.yaml
  models/br-nova/configs/sprout-350m.yaml
  models/br-nova/data/README.md
  models/br-nova/data/schemas/run_card.schema.json
  models/br-nova/data/schemas/sample_event.schema.json
  models/br-nova/docs/DATA_LINEAGE.md
  models/br-nova/docs/EVALS.md
  models/br-nova/docs/NOVA_SERIES.md
  models/br-nova/docs/SAFETY_POLICY.md
  models/br-nova/tokenizers/nova-v1.sp.model
  models/br-nova/tokenizers/spec.json
  models/br-nova/train/dataset_ingest.py
  models/br-nova/train/eval.py
  models/br-nova/train/export_gguf.py
  models/br-nova/train/filter_dedupe.py
  models/br-nova/train/pack_sequences.py
  models/br-nova/train/quantize_awq.py
  models/br-nova/train/schedule.py
  models/br-nova/train/train.py
Labels: none

Add Codex-0 Lucidia Origin seed generator
  codex/prompts/next/codex0_lucidia_origin.yaml
  codex/prompts/next/codex0_lucidia_origin_manifest.json
  lucidia/origin.py
  lucidia/seeds/codex0.yaml
Labels: none

Add Codex 2 Guardian charter
  codex/entries/002-guardian.md
Labels: none

Add Codex-1 builder agent and seed
  codex/prompts/next/codex-1_build_card.md
  codex/prompts/next/codex-1_metrics.json
  codex/prompts/next/codex-1_schema.txt
  lucidia/builder.py
  lucidia/codex1.yaml
Labels: none

feat: unify agents on shared event bus
  apps/prism/apps/web/src/state/prismStore.ts
  apps/prism/packages/prism-core/src/run.ts
  apps/prism/packages/prism-core/src/types.ts
  apps/prism/server/api/diffs.ts
  apps/prism/server/api/events.ts
  apps/prism/server/api/runbooks.ts
  apps/prism/server/events/bus.ts
  apps/prism/server/package-lock.json
  apps/prism/server/prism/runbooks/python-importerror.yaml
  apps/prism/server/test/runbooks.test.ts
  lucidia/guardian.py
  lucidia/roadie.py
  orchestrator/memory_manager.py
  prism_event_bridge.py
Labels: none
