Repository blackboxprogramming/blackroad-prism-console, changes with the labels that .github/labeler.yml gives for each.
All labels: area/frontend, area/backend

chore: add auto-heal superprompt
  codex/autoheal.codex.md
Labels: none

Add AI school codex prompt
  codex/ai_school.codex.md
Labels: none

feat(codex): add kindergarten day-0 orchestrator prompt
  codex/k/00_birth.codex.md
Labels: none

Add K–12 Genesis Codex master prompt
  codex/school/genesis.codex.md
Labels: none

Add Codex AI childhood prompt blueprint
  prompts/codex_ai_childhood_prompt_v1.md
Labels: none

new
  alice_lucidia_config.json
  chat_vault.jsonl
Labels: none

Add Lucidia model primitives
  .gitignore
  alice_lucidia/models/__init__.py
  alice_lucidia/models/encoders.py
  alice_lucidia/models/hopfield.py
  alice_lucidia/models/natural_grad.py
  alice_lucidia/models/ot.py
  alice_lucidia/models/world_model.py
Labels: none

Add Ring K cohort alpha day-0 snapshot
  prism/snapshots/kindergarten/ring_k_cohort_alpha_day0.json
Labels: none

feat: add Schrödinger bridge Sinkhorn engine and tooling
  .github/workflows/sb-ci.yml
  docs/guides/sb-getting-started.md
  docs/guides/sb-troubleshooting.md
  docs/rfc/0012-schrodinger-bridge-sinkhorn.md
  packages/blackroadctl/bin/blackroadctl.ts
  packages/blackroadctl/src/commands/ot/sb-frames.ts
  packages/blackroadctl/src/commands/ot/sb-run.ts
  packages/sb-engine/jest.config.cjs
  packages/sb-engine/package.json
  packages/sb-engine/src/barycentric.ts
  packages/sb-engine/src/index.ts
  packages/sb-engine/src/interpolate.ts
  packages/sb-engine/src/io/artifacts.ts
  packages/sb-engine/src/kernel/costs.ts
  packages/sb-engine/src/kernel/gaussian_blur.ts
  packages/sb-engine/src/ops/logsumexp.ts
  packages/sb-engine/src/ops/tiled_matmul.ts
  packages/sb-engine/src/sinkhorn/diagnostics.ts
  packages/sb-engine/src/sinkhorn/logsinkhorn.ts
  packages/sb-engine/src/types.ts
  packages/sb-engine/tests/golden/map.spec.ts
  packages/sb-engine/tests/golden/two_gaussians.map.png.golden
  packages/sb-engine/tests/logsinkhorn.stability.spec.ts
  packages/sb-engine/tests/sinkhorn.marginals.spec.ts
  packages/sb-engine/tsconfig.json
  packages/sb-gateway/jest.config.cjs
  packages/sb-gateway/package.json
  packages/sb-gateway/src/auth/rbac.ts
  packages/sb-gateway/src/index.ts
  packages/sb-gateway/src/otel.ts
  packages/sb-gateway/src/resolvers/sb.ts
  packages/sb-gateway/src/schema.ts
  packages/sb-gateway/tests/schema.contract.spec.ts
  packages/sb-gateway/tsconfig.json
  sites/blackroad/src/components/BarycentricPreview.jsx
  sites/blackroad/src/components/SinkhornTuner.jsx
  sites/blackroad/src/pages/labs/SBLab.jsx
Labels: area/frontend

Add optimal transport engine, CLI, gateway, and OT lab
  .github/workflows/ot-ci.yml
  docs/guides/ot-getting-started.md
  docs/rfc/0010-optimal-transport-semidiscrete.md
  docs/rfc/0011-optimal-transport-benamou-brenier.md
  jest.config.js
  packages/blackroadctl/bin/blackroadctl.ts
  packages/blackroadctl/package.json
  packages/blackroadctl/src/commands/ot/interpolate.ts
  packages/blackroadctl/src/commands/ot/solve.ts
  packages/ot-engine/package.json
  packages/ot-engine/src/determinism.js
  packages/ot-engine/src/dynamic/grids.js
  packages/ot-engine/src/dynamic/interpolate.js
  packages/ot-engine/src/index.js
  packages/ot-engine/src/semidiscrete/power_cells.js
  packages/ot-engine/src/semidiscrete/raster_mass.js
  packages/ot-engine/src/semidiscrete/weights_solve.js
  packages/ot-engine/tests/dynamic.flow.continuity.spec.js
  packages/ot-engine/tests/golden/ot_gaussians.png.golden
  packages/ot-engine/tests/semidiscrete.conservation.spec.js
  packages/ot-gateway/jest.config.cjs
  packages/ot-gateway/package.json
  packages/ot-gateway/src/auth/rbac.ts
  packages/ot-gateway/src/index.ts
  packages/ot-gateway/src/otel.ts
  packages/ot-gateway/src/resolvers/ot.ts
  packages/ot-gateway/src/schema.ts
  packages/ot-gateway/src/types/ot-engine.d.ts
  packages/ot-gateway/tsconfig.json
  sites/blackroad/src/App.jsx
  sites/blackroad/src/components/OTMapViewer.jsx
  sites/blackroad/src/pages/OTLab.jsx
Labels: area/frontend

Add phase 42 codex prompt and supporting agent roles
  agents/id_cards/analyst.yaml
  agents/id_cards/strategist.yaml
  sites/blackroad/public/codex/phase-42-competitive-intel-masterplan.json
Labels: area/frontend

Add Phase 42 competitive intelligence prompt and agents
  agents/id_cards/analyst.yaml
  agents/id_cards/strategist.yaml
  prompts/phase-42-competitive-intel-masterplan.json
  sites/blackroad/public/codex/index.json
  sites/blackroad/public/codex/phase-42-competitive-intel-masterplan.json
Labels: area/frontend

docs: add prism deployment env map
  docs/prism-env-map.md
Labels: none

Add integration prompts for ops automation
  prompts/integrations/asana_merge_gate_v1.yaml
  prompts/integrations/collaborator_ai_router_v1.yaml
  prompts/integrations/friday_retro_seed_v1.yaml
  prompts/integrations/incident_one_click_v1.yaml
  prompts/integrations/investor_portal_digest_v1.yaml
  prompts/integrations/ops_day_one_loader_v1.yaml
  prompts/integrations/pr_to_asana_lifecycle_v1.yaml
  prompts/integrations/roadchain_stage_to_ops_v1.yaml
Labels: none

Document AI infrastructure strategy
  docs/ai_infrastructure_strategy.md
Labels: none

Add GitHub Actions workflow fAdd deploy-to-droplet workflow for DigitalOcean dropletor Droplet deployment
  .github/workflows/deploy-to-droplet.yml
Labels: none

Update volume configuration for blackroad-db
  docker-compose.prism.yml
Labels: none

chore: use npm install for api image
  services/api/Dockerfile
Labels: area/backend

Align blackroad web properties for deployment
  sites/blackroad-next/app/docs/[slug]/page.tsx
  sites/blackroad-next/app/docs/page.tsx
  sites/blackroad-next/app/layout.tsx
  sites/blackroad-next/app/page.tsx
  sites/blackroad-next/app/portal/page.tsx
  sites/blackroad-next/app/robots.ts
  sites/blackroad-next/app/sitemap.ts
  sites/blackroad-next/lib/docs.ts
  sites/blackroad-next/lib/seo.ts
  sites/blackroad-next/middleware.ts
  sites/blackroad-next/next.config.mjs
  sites/blackroad-next/package-lock.json
  sites/blackroad-next/package.json
  sites/blackroad-next/public/robots.txt
  sites/blackroad-next/public/site.webmanifest
  sites/blackroad-next/public/sitemap.xml
  sites/blackroad-next/scripts/build-docs-index.mjs
  sites/blackroad-next/scripts/sync-docs.mjs
  sites/blackroad-next/tsconfig.json
  sites/blackroad/public/codex/phase-37-plm-manufacturing-ops.html
  sites/blackroad/public/sitemap.xml
  sites/blackroad/scripts/build-codex.cjs
Labels: area/frontend

Add telemetry.mjs to DockerfilInclude telemetry.mjs in API Dockerfilee
  services/api/Dockerfile
Labels: area/backend

refactor: rebuild auto novel agent module
  agents/auto_novel_agent.py
  agents/test_auto_novel_agent.py
Labels: none

Add GitHub Actions workflow for deployment to Droplet
  .github/workflows/00deploy.yml
Labels: none

trigger deploy
  api/Dockerfile
  nginx.conf
Labels: none

Fix DigitalOcean deployment configuration
  .env.production
  .github/workflows/00deploy.yml
  Caddyfile
  DEPLOYMENT.md
  Dockerfile.prod
  docker-compose.prod.yml
Labels: none

Improve auto-deployment workflow for DigitalOcean
  .github/workflows/00deploy.yml
Labels: none

Document Hugging Face Space automation plan
  docs/hf_space_plan.md
Labels: none

Add LucidiaBot implementing advanced capabilities beyond Codex
  bots/lucidia_bot.py
Labels: none

Add CadillacBot class for enhaAdd CadillacBot implementing advanced capabilities beyond Codexnced problem solving
  bots/cadillac_bot.py
Labels: none

Create AliceBot for enhanced Add AliceBot implementing advanced generalist capabilities beyond Codexreasoning and analysis
  bots/alice_bot.py
Labels: none

Create CeciliaBot for creative tAdd CeciliaBot providing creative and strategic capabilities beyond Codexask handling
  bots/cecilia_bot.py
Labels: none

Add SilasBot class for advanced problem-solving
  bots/silas_bot.py
Labels: none

Add AthenaBot class with straAdd AthenaBot providing strategic planning and knowledge synthesis beyond Codextegic capabilities
  bots/athena_bot.py
Labels: none

Refactor router setup and repair quantum page
  sites/blackroad/package-lock.json
  sites/blackroad/package.json
  sites/blackroad/src/App.jsx
  sites/blackroad/src/pages/QuantumConsciousness.jsx
Labels: area/frontend

Add AnastasiaBot class for deAdd AnastasiaBot for deep research and analysis capabilities beyond Codexep research capabilities
  bots/anastasia_bot.py
Labels: none

Add EliasBot class for ethical oversight and cross-agent coordination beyond Codex
  bots/elias_bot.py
Labels: none

Add new bot imports to __init_Register new BlackRoad agents in __init__.py_.py
  bots/__init__.py
Labels: none

Refactor PLM/MFG helpers for deterministic tests
  mfg/coq.py
  mfg/mrp.py
  mfg/spc.py
  mfg/work_instructions.py
  mfg/yield.py
  plm/bom.py
  plm/eco.py
Labels: none

docs: add lucidia codex integration workflow
  docs/lucidia_codex_integration_workflow.md
Labels: none

chore: add Codex automation manifest
  .codex/config.yml
Labels: none

codex: add nightly retrieval rebuild and HF automation
  .codex/config.yml
Labels: none

.github/labeler.yml:

area/frontend:
  - "frontend/**"
  - "sites/**"
area/backend:
  - "backend/**"
  - "services/**"
