Repository blackboxprogramming/blackroad-prism-console, changes with the labels that .github/labeler.yml gives for each.
All labels: area/frontend, area/backend, bot:finance, bot:people, bot:gtm, bot:product-eng-data, bot:ops, bot:it, bot:grc, bot:comms, bot:regional, bot:industry

Add explicit formula derivation for Chebyshev function
  docs/prism/riemann_explicit_formula.md
Labels: none

Document xi symmetry and zero counting roadmap
  docs/prism/prism_mathematical_foundations.md
Labels: none

Add Riemann zero counting lemma pack
  docs/prism/prism_mathematical_foundations.md
  docs/prism/riemann_zero_counting/lemma_pack_02.md
Labels: none

Document explicit formula derivation
  docs/prism/explicit_formula_derivation.md
Labels: none

Add file-based fallback storage for memory module
  srv/blackroad-api/modules/memory.js
Labels: none

Add Cecilia agent manifests and registration
  agents/cecilia/__init__.py
  agents/cecilia/agent.py
  agents/cecilia/index.js
  agents/cecilia/manifest.json
  agents/cecilia/profile.json
  modules/mega_agents.js
  prism/agents/cecilia/manifest.json
  prism/prismsh.js
  tests/test_agents_pack.js
Labels: none

Add WebDAV-first memory storage with local caches
  srv/blackroad-api/modules/memory.js
Labels: none

Add robust fallback storage for memory service
  srv/blackroad-api/modules/memory.js
Labels: none

Add Cecilia memory API service
  home/agents/cecilia/QUICKSTART.md
  home/agents/cecilia/config/.gitkeep
  home/agents/cecilia/logs/session.log
  home/agents/cecilia/memory/.gitkeep
  home/agents/cecilia/state/current.json
  package.json
  srv/blackroad-api/memory/README.md
  srv/blackroad-api/memory/app.js
  srv/blackroad-api/memory/server.js
  srv/blackroad-api/memory/store.js
  tests/memory_api.test.js
Labels: none

Add Cecilia agent runtime and integration
  agents/cecilia/__init__.py
  agents/cecilia/agent.py
  agents/cecilia/index.js
  agents/cecilia/manifest.json
  agents/cecilia/profile.json
  modules/mega_agents.js
  prism/prismsh.js
  tests/test_agents_pack.js
Labels: none

Add refined Cecilia agent runtime
  agents/cecilia/__init__.py
  agents/cecilia/agent.py
  agents/cecilia/index.js
  agents/cecilia/manifest.json
  bots/cecilia_bot.py
Labels: none

Add Cecilia memory infrastructure
  agents/cecilia/agent.py
  agents/cecilia/index.js
  home/agents/cecilia/QUICKSTART.md
  home/agents/cecilia/config/.gitkeep
  home/agents/cecilia/logs/memory.txt
  home/agents/cecilia/logs/session.log
  home/agents/cecilia/memory/.gitkeep
  home/agents/cecilia/state/current.json
  package.json
  srv/blackroad-api/memory/README.md
  srv/blackroad-api/memory/app.js
  srv/blackroad-api/memory/persister.js
  srv/blackroad-api/memory/server.js
  srv/blackroad-api/memory/store.js
  srv/blackroad-api/memory/webdav.js
  tests/memory_api.test.js
Labels: none

Add guidance on emotional framing prompts
  docs/llm_emotional_framing.md
Labels: none

Add emotional framing exploit documentation
  docs/llm_emotional_framing.md
Labels: none

Add Cecilia memory infrastructure audit note
  docs/cecilia_memory_infrastructure_audit.md
Labels: none

docs: capture persephone principle for orchestration
  docs/persephone_principle.md
Labels: none

Restore Cecilia memory service runtime
  package-lock.json
  package.json
  srv/blackroad-api/memory/app.js
  srv/blackroad-api/memory/server.js
  srv/blackroad-api/memory/store.js
Labels: none

Document Prism Console onboarding handshake
  docs/prism-console-blueprint.md
Labels: none

Add onboarding sequence to prism console blueprint
  docs/prism-console-blueprint.md
Labels: none

feat: add prism console first task bootstrap
  data/privacy/consent.jsonl
  docs/prism-console-blueprint.md
  privacy/catalog/datasets.yaml
  scripts/prism_first_task_bootstrap.py
Labels: bot:product-eng-data

New
  .gitattributes
  .github/workflows/ci.yml
  .prettierrc.json
  CHANGELOG.md
  CLEANUP_DECISIONS.md
  CLEANUP_PLAN.md
  CLEANUP_RESULTS.md
  DEAD_CODE_REPORT.md
  Makefile
  ROLLBACK.md
  RUNME.sh
  _trash/.env.docker.example
  _trash/README.md
  _trash/index.html
  _trash/interesting.html
  eslint.config.cjs
  interesting.html
  package-lock.json
  package.json
  srv/blackroad-api/.editorconfig
  srv/blackroad-api/.env.sample
  srv/blackroad-api/.eslintignore
  srv/blackroad-api/.eslintrc.cjs
  srv/blackroad-api/.prettierrc.json
  srv/blackroad-api/lib/log.js
  srv/blackroad-api/server_full.js
  srv/lucidia-llm/test_app.py
  tests/api_health.test.js
  var/www/blackroad/.prettierrc.json
Labels: none

Add Lemma Pack #2 on Riemann–von Mangoldt zero count
  docs/prism/lemma-pack-02-riemann-von-mangoldt.md
Labels: none

Add automata equations reference
  docs/AUTOMATA_EQUATIONS.md
Labels: none

Add blog post on equations of mechanical life
  sites/blackroad/content/blog/actual-equations-of-mechanical-life.md
Labels: area/frontend

Add conscious AI blueprint specification
  docs/conscious_ai_blueprint.md
Labels: none

Add simulation hypothesis probability summary
  docs/simulation_hypothesis_analysis.md
Labels: none

Add Rohonc decoder utilities and tests
  analysis/rohonc_decoder.py
  tests/plm_mfg/test_rohonc_decoder.py
Labels: none

Add deep-dive roadmap for grand unification exploration
  docs/grand_unification_deep_dive.md
Labels: none

Add experimental Rohonc Codex decoder module
  agents/rohonc_decoder.py
Labels: none

Document Rohonc Codex symbol extraction
  sites/blackroad/content/blog/rohonc-codex.md
Labels: area/frontend

Implement functional adapters for console tools
  tests/test_tool_adapters_basic.py
  tools/calendar.py
  tools/db.py
  tools/email.py
  tools/web_search.py
Labels: none

Document Rohonc decoder work requirements
  docs/rohonc_codex_decoder_plan.md
Labels: none

Add Rohonc Codex decryption project brief
  docs/ROHONC_CODEX_DECRYPTION.md
Labels: none

Add Rohonc Codex decoding experiment
  experiments/rohonc/concrete_test.py
  experiments/rohonc/rohonc_decoder.py
Labels: none

New
  COMPLETE_PROJECT_SUMMARY.txt
  INDEX.txt
  MASTER_CIPHER_GUIDE.json
  QUICK_REFERENCE.md
  README.md
  ROHONC_DECODING_GUIDE.md
  SYSTEM_SUMMARY.txt
  bible_cipher_analysis.py
  bible_full.txt
  bible_numbers.txt
  caesar_tables.json
  cipher_keys.json
  complete_cipher_mapper.py
  genesis.txt
  mapping_num_to_char.json
  number_grid_26x26.json
  page_1.png
  page_2.png
  page_3.png
  polyalphabetic_keys.json
  rohonc_analysis.json
  rohonc_complete_analysis.json
  rohonc_decoder.py
  rohonc_symbol_analyzer.py
Labels: none

Clean up package metadata and restore API test harness
  package.json
  srv/blackroad-api/server_full.js
  tests/api_health.test.js
  tests/backend-validation.test.js
  tests/helpers/auth.js
Labels: none

Automate branch hygiene and refresh deployment flow docs
  .github/workflows/branch-hygiene.yml
  .github/workflows/pages-stage.yml
  DEPLOYMENT.md
  README-OPS.md
  cleanup-dead-branches.sh
  environments/preview.yml
  environments/production.yml
  environments/staging.yml
Labels: none

Replace broken PLM/MFG helpers with test-focused stubs
  mfg/coq.py
  mfg/mrp.py
  mfg/routing.py
  mfg/spc.py
  mfg/work_instructions.py
  mfg/yield.py
  plm/bom.py
  plm/eco.py
Labels: none

Add CLI helper for Rohonc cipher toolkit
  README.md
  bible_cipher_analysis.py
  complete_cipher_mapper.py
  rohonc_decoder.py
  rohonc_toolkit_cli.py
Labels: none

docs: capture github agent hq preview notes
  docs/github-agent-hq.md
Labels: none

.github/labeler.yml:

area/frontend:
  - "frontend/**"
  - "sites/**"
area/backend:
  - "backend/**"
  - "services/**"
bot:finance:
  - "finance/**"
  - "treasury/**"
  - "bots/finance.py"
  - "bots/FinanceBot.md"
  - "scripts/financebot_handler.py"
  - ".github/workflows/financebot.yml"
bot:people:
  - "people/**"
  - "hr/**"
  - "bots/people.py"
  - "bots/PeopleBot.md"
  - "scripts/peoplebot_handler.py"
  - ".github/workflows/peoplebot.yml"
bot:gtm:
  - "gtm/**"
  - "marketing/**"
  - "bots/gtm.py"
  - "bots/GTMBot.md"
  - "scripts/gtmbot_handler.py"
  - ".github/workflows/gtmbot.yml"
bot:product-eng-data:
  - "product/**"
  - "engineering/**"
  - "data/**"
  - "bots/product_eng_data.py"
  - "bots/ProductEngDataBot.md"
  - "scripts/productengdatabot_handler.py"
  - ".github/workflows/productengdatabot.yml"
bot:ops:
  - "ops/**"
  - "operations/**"
  - "bots/ops.py"
  - "bots/OpsBot.md"
  - "scripts/opsbot_handler.py"
  - ".github/workflows/opsbot.yml"
bot:it:
  - "it/**"
  - "infrastructure/it/**"
  - "bots/it.py"
  - "bots/ITBot.md"
  - "scripts/itbot_handler.py"
  - ".github/workflows/itbot.yml"
bot:grc:
  - "grc/**"
  - "compliance/**"
  - "bots/grc.py"
  - "bots/GRCBot.md"
  - "scripts/grcbot_handler.py"
  - ".github/workflows/grcbot.yml"
bot:comms:
  - "comms/**"
  - "communications/**"
  - "bots/comms.py"
  - "bots/CommsBot.md"
  - "scripts/commsbot_handler.py"
  - ".github/workflows/commsbot.yml"
bot:regional:
  - "regional/**"
  - "localization/**"
  - "bots/regional.py"
  - "bots/RegionalBot.md"
  - "scripts/regionalbot_handler.py"
  - ".github/workflows/regionalbot.yml"
bot:industry:
  - "industry/**"
  - "verticals/**"
  - "bots/industry.py"
  - "bots/IndustryBot.md"
  - "scripts/industrybot_handler.py"
  - ".github/workflows/industrybot.yml"
