Repository blackboxprogramming/blackroad-prism-console, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, workflow, docs, security, deps

.github/labeler.yml:

frontend:
  - apps/quantum/**.html
workflow:
  - .github/workflows/**.yml
docs:
  - "**/*.md"
security:
  - ".mergify.yml"
  - ".github/**"
deps:
  - "package.json"
  - "package-lock.json"

automation: branch protection (best-effort), repo project board, triage, labels
  .github/labels.yml
  .github/workflows/apply-branch-protection.yml
  .github/workflows/project-triage.yml
  .github/workflows/setup-project.yml
  .github/workflows/sync-labels.yml
Labels: workflow, security

policy: add best-effort Rulesets workflow (signed commits, PR reviews, linear history, required checks)
  .github/workflows/apply-rulesets.yml
Labels: workflow, security

chore: add health endpoint and runtime self-test
  .github/workflows/deploy-quantum.yml
  api/health.json
  apps/quantum/ternary_consciousness_v3.html
  scripts/update_health.py
Labels: frontend, workflow, security

bots: add Fail Informer to comment on PRs when CI jobs fail
  .danger/dangerfile.js
  .github/workflows/danger.yml
  .github/workflows/fail-informer.yml
  .github/workflows/html-validate.yml
  .github/workflows/lhci.yml
  .github/workflows/links.yml
  .github/workflows/pr-size.yml
  .github/workflows/repo-doctor.yml
  .github/workflows/super-linter.yml
  .htmlhintrc
  .markdownlint.yaml
  .tools/doctor/repo-doctor.sh
  lighthouserc.json
Labels: workflow, security

fix(codeql): JS-only, buildless workflow + sane excludes
  .github/codeql/config.yml
  .github/workflows/codeql.yml
Labels: workflow, security

chore: add server installer script
  .github/workflows/deploy-quantum.yml
  install.sh
Labels: workflow, security

ci: harden workflows (permissions, secret preflight, conditional runs)
  .github/workflows/deploy-quantum.yml
  .github/workflows/html-validate.yml
  .github/workflows/links.yml
  .github/workflows/pr-size.yml
  .github/workflows/project-triage.yml
Labels: workflow, security

ci: add markdown lint workflow
  .github/workflows/markdownlint.yml
Labels: workflow, security

ci: harden workflows (permissions, preflights, guarded skips, JS-only CodeQL)
  .github/codeql/config.yml
  .github/workflows/apply-branch-protection.yml
  .github/workflows/apply-rulesets.yml
  .github/workflows/codeql.yml
  .github/workflows/fail-informer.yml
  .github/workflows/html-validate.yml
  .github/workflows/links.yml
  .github/workflows/npm-audit.yml
  .github/workflows/ossf-scorecard.yml
  .github/workflows/release-please.yml
  .github/workflows/setup-project.yml
  .github/workflows/snyk.yml
  .github/workflows/super-linter.yml
Labels: workflow, security

Add LLM stack Makefile and nginx config
  .gitignore
  Makefile
  config/nginx/llm.conf
Labels: none

ci(auto-heal): add self-healing workflow and fixer script
  .github/tools/autoheal.sh
  .github/workflows/auto-heal.yml
Labels: workflow, security

chore: add default eslint and prettier setup
  .eslintrc.json
  .prettierrc.json
  eslint.config.js
  package.json
Labels: deps

ci: add default npm test script
  package.json
Labels: deps

ci(chatops): calm chat with ollama helpers; skip-safe commands; no hard fails
  .github/tools/ollama_call.sh
  .github/workflows/calm-chatops.yml
Labels: workflow, security

ci: add Auto-Heal workflow and fixer script
  .github/tools/autoheal.sh
  .github/workflows/auto-heal.yml
Labels: workflow, security

chore: add fix-everything helper script
  fix-everything.sh
Labels: none
