Repository blackboxprogramming/blackroad-prism-console, changes with the labels that .github/labeler.yml gives for each.
All labels: area/site, area/api, area/nginx, ci

.github/labeler.yml:

area/site:
  - "sites/blackroad/**"
area/api:
  - "services/api/**"
area/nginx:
  - "nginx/**"
ci:
  - ".github/workflows/**"

Fix rebase branch handling
  codex/tools/blackroad_pipeline.py
Labels: none

feat: bundle front-end scripts for offline use
  srv/blackroad/web/index.html
  srv/blackroad/web/vendor/babel.min.js
  srv/blackroad/web/vendor/react-dom.production.min.js
  srv/blackroad/web/vendor/react.production.min.js
  srv/blackroad/web/vendor/styled-components.min.js
Labels: none

Add Verizon LTE connectivity monitor
  etc/default/verizon-check
  etc/systemd/system/verizon-check.service
  etc/systemd/system/verizon-check.timer
  usr/local/bin/verizon-check.sh
  verizon-install.sh
Labels: none

Add network connectivity watchdog
  net-install.sh
  systemd/network-watch.service
  systemd/network-watch.timer
  usr/local/bin/network-watch.sh
Labels: none

Add Verizon LTE connectivity monitor
  etc/default/verizon-check
  etc/systemd/system/verizon-check.service
  etc/systemd/system/verizon-check.timer
  usr/local/bin/verizon-check.sh
  verizon-install.sh
Labels: none

Add solar network client
  agents/solar_network_agent.py
Labels: none

chore: keep numpy compatible with Python 3.12
  requirements.txt
Labels: none

test: clear metrics interval for API smoke tests
  srv/blackroad-api/server_full.js
  tests/api_health.test.js
Labels: none

Allow connectivity checks to fail without exiting script
  usr/local/bin/verizon-check.sh
Labels: none

fix: avoid condor dependency for dummy algebraic solves
  lucidia/engines/condor_engine.py
  tests/test_condor_engine.py
Labels: none

fix: avoid condor dependency for dummy algebraic solves
  lucidia/engines/condor_engine.py
  tests/test_condor_engine.py
Labels: none

chore: remove file markers
  .eslintignore
  .gitignore
  .prettierignore
  DECISIONS.md
  jest.config.js
  scripts/health.js
  srv/blackroad-api/server_full.js
  tests/lucidia_llm_stub_test.py
Labels: none

chore: expand local working copy path
  usr/local/bin/blackroad-deploy.sh
Labels: none

chore: sort requirements and normalize name
  requirements.txt
Labels: none

fix(agent): isolate supported engines per instance
  agents/auto_novel_agent.py
  tests/test_auto_novel_agent.py
Labels: none

chore: clean up duplicate gitignore entries
  .gitignore
Labels: none

test: add positive story case
  agents/auto_novel_agent.py
  agents/test_auto_novel_agent.py
Labels: none

chore: adopt commonjs eslint config
  package.json
  sites/blackroad/eslint.config.cjs
  sites/blackroad/package.json
  sites/blackroad/src/App.jsx
Labels: area/site

fix: refactor cleanup bot
  agents/cleanup_bot.py
Labels: none

docs: clarify codex script comments
  scripts/blackroad_codex.py
Labels: none

chore: restore pipeline script mode
  codex/tools/blackroad_pipeline.py
Labels: none

Clarify ssh-keygen output comments
  codex/tools/codex_repo_wizard.py
  tools/pin_known_hosts.py
Labels: none

fix: improve AutoNovelAgent engine typing
  agents/auto_novel_agent.py
Labels: none

docs: clarify pipeline push comment
  codex/tools/blackroad_pipeline.py
Labels: none

Add simple CDE music agent
  agents/cde_music_agent.py
Labels: none

chore: clarify ssh-keygen comment
  codex/tools/codex_repo_wizard.py
Labels: none

Fix ssh-keygen comment examples
  codex/tools/codex_repo_wizard.py
  tools/pin_known_hosts.py
Labels: none

docs: clarify CommentBot usage
  agents/comment_bot.py
Labels: none

Add droplet repair agent
  agents/droplet_repair_agent.py
Labels: none

chore: scaffold analysis pipeline
  Makefile
  analysis/README.md
  analysis/nphase_weierstrass.ipynb
  analysis/run_all.py
  analysis/selectors_autocorr.ipynb
  analysis/tap_null_isi.ipynb
  analysis/variance_surfaces.ipynb
  data/processed/.gitkeep
  data/raw/Rohonc_Codex_-_Page_Marker_Features.csv
  env/devcontainer.json
  figures/.gitkeep
  manifest.csv
Labels: none

feat: add ops runbooks and diagnostics
  .github/workflows/secret-scan.yml
  .gitleaks.toml
  Makefile
  RUNBOOKS/00_hotfix_rotate_ssh_key.md
  analysis/nphase_weierstrass.py
  analysis/selectors_autocorr.py
  analysis/tap_null_isi.py
  analysis/variance_surfaces.py
  docs/agents.md
  docs/architecture.md
  env/devcontainer.json
  paper/section_5_ops.md
  paper/section_6_diagnostics.md
  requirements.txt
  services/api/ops_middleware.js
  services/api/server_full.js
  services/api/server_full.patch
Labels: area/api, ci

Add analysis scripts and documentation
  analysis/nphase_weierstrass.py
  analysis/selectors_autocorr.py
  analysis/tap_null_isi.py
  analysis/variance_surfaces.py
  docs/agents.md
  docs/architecture.md
Labels: none

chore: restore security and dependencies
  .gitleaks.toml
  requirements.txt
Labels: none

chore: track lucidia presence lockfile
  lucidia-presence/Cargo.lock
Labels: none

refactor cleanup bot to avoid duplicate deletions
  agents/cleanup_bot.py
Labels: none

refactor CleanupBot to delete branches only once
  agents/cleanup_bot.py
Labels: none

fix: enable default gitleaks rules
  .gitleaks.toml
Labels: none

fix: remove unsafe math eval stub
  srv/blackroad-api/server_full.js
Labels: none

docs: clarify CleanupBot deletion logic
  agents/cleanup_bot.py
Labels: none

fix: expand local working-copy path
  usr/local/bin/blackroad-deploy.sh
Labels: none
