Repository blackboxprogramming/blackroad-prism-console, changes with the labels that .github/labeler.yml gives for each.
All labels: area/site, area/api, area/nginx, ci

.github/labeler.yml:

area/site:
  - "sites/blackroad/**"
area/api:
  - "services/api/**"
area/nginx:
  - "nginx/**"
ci:
  - ".github/workflows/**"

Add metrics portal task list
  metrics_portal/TASKS.md
Labels: none

feat: harden code execution endpoint
  lucidia/app.py
  lucidia/test_app.py
Labels: none

feat(roadview): add team selection dropdown
  sites/blackroad/src/pages/RoadView.jsx
  sites/blackroad/tests/roadview.spec.ts
Labels: area/site

fix: discover prism agents dynamically
  prism/prismsh.js
Labels: none

Remove accidental SSH private key and harden .gitignore
  .gitignore
  ssh-rsa-shellfish@iphone-30082025
Labels: none

feat: add mini inference endpoint
  frontend/src/api.js
  services/api/server.mjs
Labels: area/api

docs: document roadview storage env
  .env.example
Labels: none

refactor: simplify ESLint config
  .eslintrc.cjs
  eslint.config.cjs
Labels: none

fix: add accessible labels to window controls
  sites/blackroad/src/pages/Desktop.jsx
Labels: area/site

feat: integrate desktop page into app
  sites/blackroad/src/App.jsx
  sites/blackroad/src/main.jsx
Labels: area/site

refactor: address review comments
  agents/cleanup_bot.py
  main.py
Labels: none

docs(agents): clarify CleanupBot comments
  agents/cleanup_bot.py
Labels: none

docs(agents): refine create_game raises docs
  agents/auto_novel_agent.py
Labels: none

fix: ignore whitespace RoadChain searches
  frontend/src/components/RoadChain.jsx
Labels: none

chore: replace devops TODO comments
  apps/portals/app/api/devops/deploy/route.ts
  apps/portals/app/api/devops/git/create-branch/route.ts
Labels: none

test: add hello world blog page e2e
  sites/blackroad/tests/blog-hello-world.spec.ts
Labels: area/site

Add static site for blackroad.io
  BlackRoad/CNAME
  BlackRoad/README.md
  BlackRoad/chat.html
  BlackRoad/composer.html
  BlackRoad/index.html
  BlackRoad/login.html
  BlackRoad/script.js
  BlackRoad/status.html
  BlackRoad/style.css
Labels: none

feat: improve dock button accessibility
  sites/blackroad/src/pages/Desktop.jsx
Labels: area/site

style: run prettier and improve desktop dock accessibility
  sites/blackroad/src/App.jsx
  sites/blackroad/src/pages/Desktop.jsx
Labels: area/site

refactor(agents): simplify cleanup bot API
  agents/cleanup_bot.py
Labels: none

docs: clarify cleanup bot attrs and drop unused helper
  agents/cleanup_bot.py
  main.py
Labels: none

Create publish-to-hf.yml
  .github/workflows/publish-to-hf.yml
Labels: ci

Add quantum invocation prompt
  opt/blackroad/lucidia/prompts/quantum_invocation.prompt
Labels: none

feat: add quantum agent for contradiction collapse
  agents/quantum_agent.py
Labels: none

feat: add quantum consciousness page
  sites/blackroad/src/App.jsx
  sites/blackroad/src/pages/QuantumConsciousness.jsx
  srv/blackroad-api/server_full.js
Labels: area/site

feat: add quantum consciousness page
  sites/blackroad/src/App.jsx
  sites/blackroad/src/pages/QuantumConsciousness.jsx
  srv/blackroad-api/server_full.js
Labels: area/site

Add Qwen2.5 Lucidia Modelfiles and bridge config
  nginx/blackroad_api_snippet.conf
  srv/blackroad-api/ollama-bridge.js
  srv/lucidia-llm/Modelfiles/lucidia-coder7b.Modelfile
  srv/lucidia-llm/Modelfiles/lucidia-qwen15b.Modelfile
  systemd/ollama-bridge.service
Labels: area/nginx

Add agent test runner script
  tests/test_agents_runtime.py
Labels: none

Add agent test runner script
  test_agents.py
Labels: none

Add agent test runner script
  test_agents.py
Labels: none

Add time-traveling alien excuse
  excuses-list.txt
Labels: none

feat(agents): add game idea generator
  agents/auto_novel_agent.py
Labels: none

feat: make simulator cache configurable
  agents/simulator_agent.py
Labels: none

Add retry logic for GitHub comment bot
  agents/comment_bot.py
Labels: none

Add agent test runner script
  test_agents.py
Labels: none

Add retry logic to CommentBot
  agents/comment_bot.py
Labels: none

Add PR automation workflow
  .github/workflows/pr-automation.yml
Labels: ci

Add orchestrator bot for agent workflows
  AGENT_WORKBOARD.md
  agents/orchestrator_bot.py
Labels: none

Add PR automation workflow and bot
  .github/workflows/pr-automation.yml
  agents/pr_automation_bot.py
Labels: ci

feat: recursively test agents
  test_agents.py
Labels: none
