Repository blackboxprogramming/blackroad-prism-console, changes with the labels that .github/labeler.yml gives for each.
All labels: area/site, area/api, area/nginx, ci

feat: summarize cleanup results
  agents/cleanup_bot.py
Labels: none

feat: summarize cleanup results
  agents/cleanup_bot.py
Labels: none

docs: document active agents
  AGENTS.md
Labels: none

docs: clarify athena orchestrator
  agents/orchestrator_bot.py
Labels: none

feat: add Athena orchestrator
  agents/athena.py
  agents/orchestrator_bot.py
Labels: none

Add Athena orchestrator and manifest
  ATHENA_MANIFEST.md
  athena_orchestrator.py
Labels: none

chore: refine PR automation
  .github/workflows/pr-automation.yml
  agents/pr_automation_bot.py
Labels: ci

docs: expand agent workboard tasks
  AGENT_WORKBOARD.md
Labels: none

feat(agents): add webber bot for web file editing
  agents/webber_bot.py
Labels: none

Add WebberBot for web file formatting
  agents/webber_bot.py
Labels: none

Add WebberBot for web file formatting
  agents/webber_bot.py
Labels: none

feat: add Athena orchestrator agent
  agents/athena_orchestrator.py
Labels: none

feat: enhance cleanup bot with summary
  agents/cleanup_bot.py
Labels: none

refactor(webber): deduplicate prettier calls
  agents/webber_bot.py
Labels: none

feat: add identity beacon, streaming bridge, and backups
  etc/systemd/system/ollama-bridge.service
  srv/blackroad-backups/.last_snapshot
  srv/blackroad-backups/rollback_latest.sh
  srv/blackroad-backups/snapshot_now.sh
  srv/ollama-bridge/server.js
  systemd/blackroad-identity.service
  systemd/blackroad-identity.timer
  systemd/blackroad-snapshot.service
  systemd/blackroad-snapshot.timer
  usr/local/bin/identity_ping.sh
  var/www/blackroad/llm.html
Labels: none

refactor(agents): centralize web formatting via helper
  agents/webber_bot.py
Labels: none

feat: add llm bridge security
  nginx/blackroad.conf
  srv/ollama-bridge/server.js
  var/www/blackroad/llm.html
Labels: area/nginx

feat: add observability and readiness for ollama bridge
  etc/logrotate.d/ollama-bridge
  srv/ollama-bridge/server.js
  systemd/ollama-bridge-healthcheck.service
  systemd/ollama-bridge-healthcheck.timer
  systemd/ollama-bridge.service
  usr/local/bin/bridge_ready.sh
Labels: none

feat: add blackroad top script and logrotate
  etc/logrotate.d/nginx-blackroad
  nginx/blackroad.conf
  nginx/nginx.conf
  srv/blackroad-api/server_full.js
  usr/local/bin/blackroad-top
Labels: area/nginx

refactor(webber): centralize prettier calls
  agents/webber_bot.py
Labels: none

docs: add micro-os device backplane prompt
  codex/prompts/micro_os_devices.prompt.md
Labels: none

fix: lazy load lucidia math modules
  lucidia_math_lab/__init__.py
Labels: none

Add devices backplane with WebSocket and admin UI
  srv/blackroad-api/db_migrations/009_devices.sql
  srv/blackroad-api/modules/devices.js
  srv/blackroad-api/server_full.js
  var/www/blackroad/devices.html
Labels: none

feat: add mtls partner relay
  etc/logrotate.d/partner-relay
  etc/nginx/snippets/blackroad-partner-mtls.conf
  nginx/blackroad.conf
  nginx/nginx.conf
  srv/blackroad-api/modules/partner_relay_mtls.js
  srv/blackroad-api/server_full.js
  usr/local/sbin/partner_ca_issue.sh
Labels: area/nginx

Add collaboration presence, LED webhooks, and voice room
  services/api/modules/collab_presence.js
  services/api/modules/github_webhook.js
  services/api/modules/voice_signal.js
  services/api/package-lock.json
  services/api/package.json
  services/api/server.mjs
  services/pi-led/emotion_led.py
  var/www/blackroad/collab.html
  var/www/blackroad/lib/simplepeer.min.js
  var/www/blackroad/voice.html
Labels: area/api

Add Yjs collaborative editing server and client
  nginx/blackroad.conf
  srv/blackroad-api/modules/yjs_callback.js
  srv/blackroad-api/server_full.js
  systemd/yjs-websocket.service
  var/www/blackroad/editor.html
  var/www/blackroad/lib/crdt-editor.js
  var/www/blackroad/lib/y-websocket.js
  var/www/blackroad/lib/yjs.mjs
Labels: area/nginx

chore: add file headers
  srv/blackroad-api/db_migrations/009_devices.sql
  srv/blackroad-api/modules/devices.js
  srv/blackroad-api/server_full.js
  var/www/blackroad/devices.html
Labels: none

docs: refine athena orchestrator docstring
  agents/orchestrator_bot.py
Labels: none

fix: honor proxy and allow www origin
  srv/ollama-bridge/server.js
Labels: none

feat: add project rooms API and UI
  srv/blackroad-api/modules/projects.js
  srv/blackroad-api/server_full.js
  var/www/blackroad/lib/project-rooms.js
  var/www/blackroad/project.html
Labels: none

Add simple collab presence page
  public/collab.html
Labels: none

fix: use commonjs and add fetch timeouts
  srv/ollama-bridge/server.js
Labels: none

test: request static blog asset in e2e
  sites/blackroad/tests/blog-hello-world.spec.ts
Labels: area/site

Add Collatz campaign framework with CI smoke test
  .github/workflows/campaign.yml
  RESULTS.md
  collatz/Dockerfile
  collatz/README.md
  collatz/config.yaml
  collatz/db.py
  collatz/orchestrator.py
  collatz/verifier.py
  collatz/worker.py
  requirements.txt
  scripts/run_local.sh
Labels: ci

chore: add merge plan and runbook
  MERGE_PLAN.md
  merge_plan.json
  scripts/generate_changelog.py
  scripts/merge_recon.py
  srv/ops/changelogs/CHANGELOG-2025090918.json
  srv/ops/merge-queue/README.md
  srv/ops/merge-queue/apply.sh
  srv/ops/merge-queue/rollback.sh
  srv/ops/merge-queue/verify.sh
Labels: none

fix: improve desktop window accessibility
  sites/blackroad/src/pages/Desktop.jsx
Labels: area/site

docs: clarify orchestrator comments
  agents/orchestrator_bot.py
Labels: none

feat(api): enforce json envelope and snapshot logging
  CHANGELOG.md
  PR1_RECON.md
  PR1_RUNBOOK.md
  srv/blackroad-api/controllers/guardianController.js
  srv/blackroad-api/controllers/llmController.js
  srv/blackroad-api/lib/snapshot.js
  srv/blackroad-api/routes/index.js
Labels: none

feat: orchestrate PR runs and enforce JSON guard
  srv/blackroad-api/modules/jsonEnvelope.js
  srv/blackroad-api/modules/requestGuard.js
  srv/blackroad-api/server_full.js
  usr/local/bin/led_notify.sh
  usr/local/bin/pr_orchestrate.sh
Labels: none

feat: add self-hosted runner fixer scripts
  etc/fix-runners/hosts.txt
  usr/local/bin/fix_runners.sh
  usr/local/bin/runner_fix_remote.sh
Labels: none

.github/labeler.yml:

area/site:
  - "sites/blackroad/**"
area/api:
  - "services/api/**"
area/nginx:
  - "nginx/**"
ci:
  - ".github/workflows/**"
