Repository blackboxprogramming/blackroad-prism-console, changes with the labels that .github/labeler.yml gives for each.
All labels: area/site, area/api, area/nginx, ci

.github/labeler.yml:

area/site:
  - "sites/blackroad/**"
area/api:
  - "services/api/**"
area/nginx:
  - "nginx/**"
ci:
  - ".github/workflows/**"

Ensure prime explorer tests can run from any path
  tests/test_prime_explorer.py
Labels: none

Add Docker Scout workflow
  .github/workflows/docker-scout.yml
Labels: ci

skip codemod test when libcst missing
  codemods/test_rename_foo_to_bar.py
Labels: none

chore(nginx): record canonical blackroad baseline
  nginx/README.md
  nginx/blackroad.conf
  nginx/nginx.conf
Labels: area/nginx

docs: add cleanup plan and decisions
  .eslintignore
  .eslintrc.cjs
  .github/workflows/ci.yml
  .gitignore
  .prettierignore
  CHANGELOG.md
  CLEANUP_DECISIONS.md
  CLEANUP_PLAN.md
  CLEANUP_RESULTS.md
  ROLLBACK.md
  RUNME.sh
  _trash/README.md
  _trash/server_full.js
  _trash/srv/blackroad-api/README.md
  _trash/srv/blackroad-api/server.js
  _trash/var/www/blackroad/assets/brand/README.md
  _trash/var/www/blackroad/assets/brand/demo.html
  jest.config.js
  package.json
  scripts/health.js
  srv/blackroad-api/.env.sample
  srv/blackroad-api/server_full.js
  tests/api_health.test.js
  tests/lucidia_llm_stub_test.py
Labels: ci

chore: cleanup api configs and add tests
  .gitattributes
  .github/workflows/ci.yml
  .gitignore
  CHANGELOG.md
  CLEANUP_DECISIONS.md
  CLEANUP_PLAN.md
  CLEANUP_RESULTS.md
  Makefile
  ROLLBACK.md
  RUNME.sh
  _trash/.env
  _trash/.env.docker.example
  _trash/.env.example
  _trash/.env.local.example
  _trash/eslint.config.cjs
  _trash/srv/blackroad-api/.env
  _trash/srv/blackroad-api/.env.example
  _trash/srv/blackroad-api/.eslintrc.json
  _trash/srv/blackroad-api/package-lock.json
  _trash/srv/blackroad-api/package.json
  _trash/var/www/blackroad/README.md
  _trash/var/www/blackroad/blackroad-io-scaffold.html
  eslint.config.cjs
  package.json
  srv/blackroad-api/.editorconfig
  srv/blackroad-api/.env.sample
  srv/blackroad-api/.eslintignore
  srv/blackroad-api/.eslintrc.cjs
  srv/blackroad-api/.prettierrc.json
  srv/blackroad-api/server_full.js
  srv/lucidia-llm/test_app.py
  tests/api_health.test.js
  var/www/blackroad/.prettierrc.json
Labels: ci

feat(api): harden express server
  .gitattributes
  .github/workflows/ci.yml
  .gitignore
  CHANGELOG.md
  CLEANUP_DECISIONS.md
  CLEANUP_PLAN.md
  CLEANUP_RESULTS.md
  Makefile
  ROLLBACK.md
  RUNME.sh
  _trash/.env
  _trash/.env.docker.example
  _trash/.env.example
  _trash/.env.local.example
  _trash/eslint.config.cjs
  _trash/srv/blackroad-api/.env
  _trash/srv/blackroad-api/.env.example
  _trash/srv/blackroad-api/.eslintrc.json
  _trash/srv/blackroad-api/package-lock.json
  _trash/srv/blackroad-api/package.json
  _trash/var/www/blackroad/README.md
  _trash/var/www/blackroad/blackroad-io-scaffold.html
  eslint.config.cjs
  package.json
  srv/blackroad-api/.editorconfig
  srv/blackroad-api/.env.sample
  srv/blackroad-api/.eslintignore
  srv/blackroad-api/.eslintrc.cjs
  srv/blackroad-api/.prettierrc.json
  srv/blackroad-api/lib/log.js
  srv/blackroad-api/server_full.js
  srv/lucidia-llm/test_app.py
  tests/api_health.test.js
  var/www/blackroad/.prettierrc.json
Labels: ci

chore: secure api and add tests
  .gitignore
  .prettierignore
  CHANGELOG.md
  CLEANUP_DECISIONS.md
  CLEANUP_PLAN.md
  CLEANUP_RESULTS.md
  ROLLBACK.md
  RUNME.sh
  _trash/logs/memories/2025-08-21-blackroad-codex.md
  _trash/logs/memories/memory.jsonl
  _trash/var/www/blackroad/logs/.gitkeep
  srv/blackroad-api/.env.sample
  srv/blackroad-api/server_full.js
  tests/api_health.test.js
Labels: none

test: ensure backend not found returns json
  tests/backend-validation.test.js
Labels: none

test: harden backend json validation
  tests/backend-validation.test.js
Labels: none

test: require json content-type for 404
  tests/backend-validation.test.js
Labels: none

feat(lucidia): expand brain step management
  lucidia/brain.py
  tests/test_lucidia_brain.py
Labels: none

feat(lucidia): add core Vector3 utilities
  lucidia/__init__.py
  lucidia/core/__init__.py
  lucidia/core/vectors.py
  tests/test_lucidia_core.py
Labels: none

chore: remove obsolete config and env file
  .env.aider
  .eslintrc.cjs
  CLEANUP_RESULTS.md
Labels: none

feat: harden API server and add smoke tests
  .env.aider
  .eslintrc.cjs
  CLEANUP_RESULTS.md
  srv/blackroad-api/.env.sample
  srv/blackroad-api/server_full.js
  tests/api_health.test.js
Labels: none

feat: add basic entitlements hook and endpoint
  frontend/src/useEntitlements.js
  srv/blackroad-api/server_full.js
  tests/api_health.test.js
Labels: none

feat: add math engine env and proxy
  srv/blackroad-api/server_full.js
  tests/api_health.test.js
Labels: none

ci: deploy static site and API
  .github/workflows/blackroad-deploy.yml
Labels: ci

chore: update deploy script
  usr/local/bin/blackroad-deploy.sh
Labels: none

chore: add robust droplet deploy script
  usr/local/bin/blackroad-deploy.sh
Labels: none

chore: add robust droplet deploy script
  usr/local/bin/blackroad-deploy.sh
Labels: none

fix: expand local WORKING_COPY_PATH
  usr/local/bin/blackroad-deploy.sh
Labels: none

refactor: parameterize student bots
  agents/student_bots.py
Labels: none

test: loosen content-type check for not found
  tests/backend-validation.test.js
Labels: none

fix: align entitlements with plan slugs
  srv/blackroad-api/server_full.js
Labels: none

docs(lucidia): clarify step management comments
  lucidia/brain.py
  tests/test_lucidia_brain.py
Labels: none

docs(lucidia): clarify brain step comments
  lucidia/brain.py
Labels: none

chore: checkout repo in docker scout
  .github/workflows/docker-scout.yml
Labels: ci

Move hello page to public and add assistant user
  ops/keycloak-realm.json
  sites/blackroad/public/hello.html
Labels: area/site

chore: resolve requirements version conflicts
  requirements-dev.txt
  requirements-local.txt
  requirements.txt
Labels: none

docs: add git workflow instructions
  README.md
Labels: none

fix: expand local working copy path
  usr/local/bin/blackroad-deploy.sh
Labels: none

docs: expand PR review guidance
  README.md
Labels: none

Add CI workflow with deploy script
  .github/workflows/ci.yml
  scripts/deploy.sh
Labels: ci

feat: incorporate gamma in novel agent
  agents/auto_novel_agent.py
Labels: none

Add CI/CD workflow, deploy script, and bootstrap
  .github/workflows/ci.yml
  README-DEPLOY.md
  scripts/bootstrap_server.sh
  scripts/deploy.sh
Labels: ci

feat: add lib2to3 AST editing tool
  tools/lib2to3_ast_tool.py
Labels: none

fix: replace invalid hyphen and clean condor engine
  lucidia/engines/condor_engine.py
Labels: none

Add host key fingerprints for SSH pinning
  .gitignore
  secrets/hosts.json
Labels: none

handle missing branch in merge agent
  codex/agents/merge_agent.py
Labels: none
