Repository blackboxprogramming/blackroad-prism-console, changes with the labels that .github/labeler.yml gives for each.
All labels: area/frontend, area/backend

Add crypto ETF outlook briefing (#1842)
  docs/market/crypto-etf-outlook.md
Labels: none

Add Oct 2025 Cloudflare and Copilot incident dispatch (#1843)
  docs/incidents/2025-10-03-cloudflare-github-copilot.md
Labels: none

Add blog post on SEC generic crypto ETP approvals (#1844)
  sites/blackroad/content/blog/sec-generic-crypto-etps.md
Labels: area/frontend

Add nightly stack heartbeat monitoring (#1845)
  systemd/stack-heartbeat.service
  systemd/stack-heartbeat.timer
  usr/local/bin/stack-heartbeat.sh
Labels: none

docs: add microsoft agent framework overview (#1846)
  docs/ai/microsoft-agent-framework.md
Labels: none

Add Sora 2 rights and risk briefing (#1847)
  docs/sora2_rights_landscape.md
Labels: none

Add self-healing health agent scripts and timers (#1848)
  srv/blackroad/health/.gitignore
  srv/blackroad/health/README.md
  srv/blackroad/health/health_check.sh
  srv/blackroad/health/mirror_sync.sh
  srv/blackroad/health/rollback.sh
  systemd/blackroad-health.service
  systemd/blackroad-health.timer
  systemd/blackroad-mirror.service
  systemd/blackroad-mirror.timer
Labels: none

Add three-pass speculative sketch template (#1849)
  docs/THREE_PASS_SPECULATIVE_SKETCH.md
Labels: none

Add interactive RoadView scaffolding (#1850)
  frontend/src/components/roadview/HotspotCard.jsx
  frontend/src/components/roadview/MindMapPanel.jsx
  frontend/src/components/roadview/QuizCard.jsx
  frontend/src/components/roadview/index.js
  frontend/src/roadview/agent.js
  frontend/src/roadview/schema.js
Labels: area/frontend

Add blog on Raspberry Pi OS Trixie rebase (#1851)
  sites/blackroad/content/blog/raspberry-pi-os-trixie-upgrade.md
Labels: area/frontend

Add soft-in-fluid collision protocol scaffold (#1852)
  universal-sim/00_spec/soft_in_fluid_collision.md
  universal-sim/10_genesis/README.md
  universal-sim/10_genesis/driver.py
  universal-sim/10_genesis/prompt.template.txt
  universal-sim/20_bench_solid/README.md
  universal-sim/20_bench_solid/run_fem.py
  universal-sim/20_bench_solid/run_mpm.py
  universal-sim/30_bench_fluid/README.md
  universal-sim/30_bench_fluid/run_flip.py
  universal-sim/30_bench_fluid/run_sph.py
  universal-sim/40_compare/README.md
  universal-sim/40_compare/hausdorff_mass_metrics.py
  universal-sim/90_reports/dry_run_notes.md
  universal-sim/90_reports/one_pager_template.md
  universal-sim/README.md
  universal-sim/run_metadata.yaml
Labels: none

Add universal simulation benchmarking scaffold (#1853)
  universal-sim-starter/00_spec/spec.md
  universal-sim-starter/10_genesis/config.yaml
  universal-sim-starter/10_genesis/prompt.txt
  universal-sim-starter/10_genesis/run_genesis.py
  universal-sim-starter/20_bench_solid/run_mpm.py
  universal-sim-starter/30_bench_fluid/run_sph.py
  universal-sim-starter/40_compare/metrics.py
  universal-sim-starter/40_compare/plot_diagnostics.py
  universal-sim-starter/90_reports/template.md
  universal-sim-starter/Makefile
  universal-sim-starter/README.md
Labels: none

Add Pi swarm MQTT codex one-pager (#1854)
  docs/pi-swarm-codex-onepager.md
Labels: none

docs: add Codex 44 transparency principle (#1855)
  codex/README.md
  codex/entries/044-transparency-of-process.md
Labels: none

Add Phase 2 codex bring-up prompt (#1856)
  apps/portals/content/codex/phase-2.md
  codex_phase_02.txt
  sites/blackroad/content/codex/phase-2.md
Labels: area/frontend

Add universal sim starter IO helpers and docs (#1857)
  10_genesis/README.md
  40_compare/__init__.py
  40_compare/demo_end_to_end.ipynb
  40_compare/io_utils.py
Labels: none

Add stub materials artifacts and smoke script (#1859)
  scripts/materials_stub_smoke.py
  services/materials_service/app.py
Labels: area/backend

Add compliance harness loader and Slack notifier (#1860)
  .env.example
  Makefile
  compliance/cmd/harness/main.go
  compliance/go.mod
  compliance/go.sum
  compliance/harness/compile.go
  compliance/harness/enforce.go
  compliance/harness/env.go
  compliance/harness/eval.go
  compliance/harness/loader.go
  compliance/harness/slack.go
  fixtures/mirror/allow_internal.json
  rules/mirror_class_limit.yaml
  rules/secret_expiry_cluster.yaml
Labels: none

Implement Source X connector end-to-end (#1862)
  .gitignore
  apps/portals/app/page.tsx
  apps/portals/app/prism/sources/page.tsx
  br-api-gateway/package-lock.json
  br-api-gateway/package.json
  br-api-gateway/src/index.ts
  br-api-gateway/src/routes/v1/sources.ts
  br-api-gateway/src/util/db.ts
  br-api-gateway/src/util/ecs.ts
  br-api-gateway/src/util/ssm.ts
  br-dbt/models/marts/ops/fct_source_x_events_daily.sql
  br-dbt/models/marts/ops/ops.yml
  br-dbt/models/staging/stg_source_x__events.sql
  br-ingest-source-x/.env.example
  br-ingest-source-x/.github/workflows/ci.yml
  br-ingest-source-x/Dockerfile
  br-ingest-source-x/package-lock.json
  br-ingest-source-x/package.json
  br-ingest-source-x/src/index.ts
  br-ingest-source-x/src/ingest.ts
  br-ingest-source-x/src/pg.ts
  br-ingest-source-x/src/ssm.ts
  br-ingest-source-x/tsconfig.json
  db/migrations/202410170000_sources.sql
  docs/prism/SlackPosts_v0_1.md
  pm/asana/prism-v01.csv
Labels: none

Add Pi Cortex stack bundle (#1864)
  pi-cortex-stack/Makefile
  pi-cortex-stack/README.md
  pi-cortex-stack/assets/.gitkeep
  pi-cortex-stack/first_light.py
  pi-cortex-stack/launch_agents/com.blackroad.pi-cortex-agent.plist
  pi-cortex-stack/mac_agent.py
  pi-cortex-stack/pi/pi_holo_renderer.py
  pi-cortex-stack/pi/pi_ops_heartbeat.py
  pi-cortex-stack/pi/pi_sim_panel.py
  pi-cortex-stack/pi/services/pi-holo-renderer.service
  pi-cortex-stack/pi/services/pi-ops-heartbeat.service
  pi-cortex-stack/pi/services/pi-sim-panel.service
  pi-cortex-stack/scripts/install_mac_agent.sh
  pi-cortex-stack/scripts/install_pi_services.sh
Labels: none

Add AutoPal Express middleware scaffold (#1865)
  autopal.config.json
  package-lock.json
  package.json
  src/autopal/config.schema.json
  src/autopal/config.ts
  src/autopal/guards.ts
  src/autopal/server.ts
Labels: none

Add infinity prompt catalog and generator (#1866)
  app/api/chat/route.ts
  data/infinity_prompts.csv
  lib/prompts/codex-infinity.ts
  lib/prompts/infinity-csv.ts
Labels: none

Add GitHub issues connector with ingestion pipeline (#1868)
  analytics/dbt/models/marts/ops/fct_github_issues_daily.sql
  analytics/dbt/models/marts/ops/fct_github_open_bugs.sql
  analytics/dbt/models/staging/stg_github__issues.sql
  apps/api/src/lib/github.ts
  apps/api/src/lib/githubIssuesStore.ts
  apps/api/src/lib/prismData.ts
  apps/api/src/lib/prismSourcesStore.ts
  apps/api/src/lib/ssm.ts
  apps/api/src/routes/hooks.ts
  apps/api/src/routes/metrics.ts
  apps/api/src/routes/sources.ts
  apps/api/src/server.ts
  apps/api/src/types/express.d.ts
  apps/backoffice/src/pages/PRISM_Sources.tsx
  asana-prism-github-connector.csv
  db/migrations/202510170000_github_connector.sql
  ops/next_push/slack_posts.md
  workers/br-ingest-github/README.md
  workers/br-ingest-github/package.json
  workers/br-ingest-github/src/index.ts
  workers/br-ingest-github/src/store.ts
  workers/br-ingest-github/tsconfig.json
Labels: none

Add maintenance guard for global switch (#1869)
  config/autopal.json
  srv/blackroad-api/lib/maintenanceConfig.js
  srv/blackroad-api/modules/maintenanceGuard.js
  srv/blackroad-api/server_full.js
  tests/maintenance_mode.test.js
Labels: none

Add sliding window rate builtin and policy error mapper (#1870)
  harness/cel_builtins.go
  harness/cmd/prism/main.go
  harness/compile.go
  harness/engine.go
  harness/go.mod
  harness/go.sum
  harness/http_errors.go
  harness/rule_spec.go
  harness/types.go
  harness/windowstore.go
Labels: none

Add Pi stack v2 automation and Mac control server (#1874)
  agent/mac/__init__.py
  agent/mac/api.py
  agent/mac/mqtt.py
  agent/mac/validators.py
  docs/pi/stack_v2.md
  pis/display-configs/1024x600_config.txt
  pis/display-configs/1600x600_config.txt
  pis/display-configs/720x720_config.txt
  pis/heartbeat.py
  pis/pi-ops/hb_log.py
  requirements.txt
  scripts/install_pi_node.sh
  scripts/install_pi_ops.sh
  scripts/push_pi_holo.sh
  scripts/push_pi_sim.sh
Labels: none

Add portal bootstrap Codex prompt (#1876)
  prompts/portal_bootstrap_codex_prompt.md
Labels: none

Add emotional care codex discovery sequences (#1879)
  prompts/emotional_mental_care_codex_sequences.md
Labels: none

Add Pi Cortex observability bundle (#1880)
  observability/README.md
  observability/mac/.env.example
  observability/mac/docker-compose.yml
  observability/mac/grafana/provisioning/dashboards/dashboard.yml
  observability/mac/grafana/provisioning/dashboards/pi-cortex-ops-panel.json
  observability/mac/grafana/provisioning/datasources/datasource.yml
  observability/pis/telegraf.pi-ops.mqtt.conf
  observability/pis/telegraf.pi.conf
Labels: none

Expand Codex prompt playbook for key surfaces (#1881)
  prompts/blackroad_codex_prompts.md
Labels: none

feat: add codex infinity prompt pack (#1883)
  codex_infinity_prompts/README.md
  codex_infinity_prompts/example.sh
  codex_infinity_prompts/render.py
  codex_infinity_prompts/templates/ARDUINO_UNO.md
  codex_infinity_prompts/templates/GENERAL.md
  codex_infinity_prompts/templates/JETSON_AGENT.md
  codex_infinity_prompts/templates/PI_HOLO.md
  codex_infinity_prompts/templates/PI_OPS.md
  codex_infinity_prompts/templates/PI_ZERO.md
Labels: none

Add PSBT air-gap Codex prompt (#1884)
  codex/prompts/bitcoin_psbt_airgap_roadchain.prompt.md
Labels: none

Add Autopal FastAPI starter service (#1885)
  autopal/Dockerfile
  autopal/README.md
  autopal/app/__init__.py
  autopal/app/config.py
  autopal/app/dependencies.py
  autopal/app/dual_control.py
  autopal/app/main.py
  autopal/app/rate_limiter.py
  autopal/app/schemas.py
  autopal/autopal.config.json
  autopal/requirements.txt
Labels: none

Add reference doc for codex infinity prompts (#1886)
  prompts/codex_infinity_prompt_pack.md
Labels: none

Add AutoPal smoke test workflow (#1890)
  .github/workflows/autopal-smoke.yml
Labels: none

Add Pi-Ops kiosk bundle and first-light script (#1892)
  docs/pi/pi-ops-first-light.md
  pis/pi-ops/kiosk/README.md
  pis/pi-ops/kiosk/bin/pi_ops_kiosk_session.sh
  pis/pi-ops/kiosk/grafana/pi_ops_ultra.json
  pis/pi-ops/kiosk/systemd/getty-autologin.conf
  pis/pi-ops/kiosk/systemd/kiosk.service
  pis/pi-ops/kiosk/xinitrc
  scripts/install_pi_ops_kiosk.sh
  scripts/pi_ops_first_light.sh
Labels: none

Add policy-gated portal CLI and scaffolding (#1897)
  portal/.gitignore
  portal/audits/.gitkeep
  portal/bin/portal
  portal/bin/portal-build-from-request
  portal/configs/approvals/.gitkeep
  portal/configs/frozen.txt
  portal/configs/policy.schema.json
  portal/configs/withdraw_2025-10-04.request.json
  portal/proofs/.gitkeep
  portal/psbts/.gitkeep
Labels: none

Add translational applied synthesis codex entry (#1899)
  codex/entries/071-applied-synthesis-translator.md
Labels: none

Add BlackRoad Finance compliance prompt library (#1901)
  prompts/blackroad_finance_compliance_prompts.md
Labels: none

Add Minnesota licensing reinstatement roadmap (#1903)
  docs/compliance/minnesota_license_reinstatement_plan.md
Labels: none

.github/labeler.yml:

area/frontend:
  - "frontend/**"
  - "sites/**"
area/backend:
  - "backend/**"
  - "services/**"
