Repository blackboxprogramming/blackroad-prism-console, changes with the labels that .github/labeler.yml gives for each.
All labels: area/frontend, area/backend

.github/labeler.yml:

area/frontend:
  - "frontend/**"
  - "sites/**"
area/backend:
  - "backend/**"
  - "services/**"

Add Oct 2025 Cloudflare and Copilot incident dispatch
  docs/incidents/2025-10-03-cloudflare-github-copilot.md
Labels: none

Add blog post on SEC generic crypto ETP approvals
  sites/blackroad/content/blog/sec-generic-crypto-etps.md
Labels: area/frontend

Add nightly stack heartbeat monitoring
  systemd/stack-heartbeat.service
  systemd/stack-heartbeat.timer
  usr/local/bin/stack-heartbeat.sh
Labels: none

docs: add microsoft agent framework overview
  docs/ai/microsoft-agent-framework.md
Labels: none

Add Sora 2 rights and risk briefing
  docs/sora2_rights_landscape.md
Labels: none

Add self-healing health agent scripts and timers
  srv/blackroad/health/.gitignore
  srv/blackroad/health/README.md
  srv/blackroad/health/health_check.sh
  srv/blackroad/health/mirror_sync.sh
  srv/blackroad/health/rollback.sh
  systemd/blackroad-health.service
  systemd/blackroad-health.timer
  systemd/blackroad-mirror.service
  systemd/blackroad-mirror.timer
Labels: none

Add three-pass speculative sketch template
  docs/THREE_PASS_SPECULATIVE_SKETCH.md
Labels: none

Add interactive RoadView scaffolding
  frontend/src/components/roadview/HotspotCard.jsx
  frontend/src/components/roadview/MindMapPanel.jsx
  frontend/src/components/roadview/QuizCard.jsx
  frontend/src/components/roadview/index.js
  frontend/src/roadview/agent.js
  frontend/src/roadview/schema.js
Labels: area/frontend

Add blog on Raspberry Pi OS Trixie rebase
  sites/blackroad/content/blog/raspberry-pi-os-trixie-upgrade.md
Labels: area/frontend

Add soft-in-fluid collision protocol scaffold
  universal-sim/00_spec/soft_in_fluid_collision.md
  universal-sim/10_genesis/README.md
  universal-sim/10_genesis/driver.py
  universal-sim/10_genesis/prompt.template.txt
  universal-sim/20_bench_solid/README.md
  universal-sim/20_bench_solid/run_fem.py
  universal-sim/20_bench_solid/run_mpm.py
  universal-sim/30_bench_fluid/README.md
  universal-sim/30_bench_fluid/run_flip.py
  universal-sim/30_bench_fluid/run_sph.py
  universal-sim/40_compare/README.md
  universal-sim/40_compare/hausdorff_mass_metrics.py
  universal-sim/90_reports/dry_run_notes.md
  universal-sim/90_reports/one_pager_template.md
  universal-sim/README.md
  universal-sim/run_metadata.yaml
Labels: none

Add universal simulation benchmarking scaffold
  universal-sim-starter/00_spec/spec.md
  universal-sim-starter/10_genesis/config.yaml
  universal-sim-starter/10_genesis/prompt.txt
  universal-sim-starter/10_genesis/run_genesis.py
  universal-sim-starter/20_bench_solid/run_mpm.py
  universal-sim-starter/30_bench_fluid/run_sph.py
  universal-sim-starter/40_compare/metrics.py
  universal-sim-starter/40_compare/plot_diagnostics.py
  universal-sim-starter/90_reports/template.md
  universal-sim-starter/Makefile
  universal-sim-starter/README.md
Labels: none

Add Pi swarm MQTT codex one-pager
  docs/pi-swarm-codex-onepager.md
Labels: none

docs: add Codex 44 transparency principle
  codex/README.md
  codex/entries/044-transparency-of-process.md
Labels: none

Add Phase 2 codex bring-up prompt
  apps/portals/content/codex/phase-2.md
  codex_phase_02.txt
  sites/blackroad/content/codex/phase-2.md
Labels: area/frontend

Add universal sim starter IO helpers and docs
  10_genesis/README.md
  40_compare/__init__.py
  40_compare/demo_end_to_end.ipynb
  40_compare/io_utils.py
Labels: none

Add Codex 45 compassion rule entry
  codex/README.md
  codex/entries/045-compassion-rule.md
Labels: none

Add stub materials artifacts and smoke script
  scripts/materials_stub_smoke.py
  services/materials_service/app.py
Labels: area/backend

Add compliance harness loader and Slack notifier
  .env.example
  Makefile
  compliance/cmd/harness/main.go
  compliance/go.mod
  compliance/go.sum
  compliance/harness/compile.go
  compliance/harness/enforce.go
  compliance/harness/env.go
  compliance/harness/eval.go
  compliance/harness/loader.go
  compliance/harness/slack.go
  fixtures/mirror/allow_internal.json
  rules/mirror_class_limit.yaml
  rules/secret_expiry_cluster.yaml
Labels: none

Add Codex 46 sustainability charter and policy stub
  SUSTAINABILITY.md
  codex/README.md
  codex/entries/046-sustainability-charter.md
Labels: none

Implement Source X connector end-to-end
  .gitignore
  apps/portals/app/page.tsx
  apps/portals/app/prism/sources/page.tsx
  br-api-gateway/package-lock.json
  br-api-gateway/package.json
  br-api-gateway/src/index.ts
  br-api-gateway/src/routes/v1/sources.ts
  br-api-gateway/src/util/db.ts
  br-api-gateway/src/util/ecs.ts
  br-api-gateway/src/util/ssm.ts
  br-dbt/models/marts/ops/fct_source_x_events_daily.sql
  br-dbt/models/marts/ops/ops.yml
  br-dbt/models/staging/stg_source_x__events.sql
  br-ingest-source-x/.env.example
  br-ingest-source-x/.github/workflows/ci.yml
  br-ingest-source-x/Dockerfile
  br-ingest-source-x/package-lock.json
  br-ingest-source-x/package.json
  br-ingest-source-x/src/index.ts
  br-ingest-source-x/src/ingest.ts
  br-ingest-source-x/src/pg.ts
  br-ingest-source-x/src/ssm.ts
  br-ingest-source-x/tsconfig.json
  db/migrations/202410170000_sources.sql
  docs/prism/SlackPosts_v0_1.md
  pm/asana/prism-v01.csv
Labels: none

Add GitHub ingest worker and metrics tiles
  .gitignore
  apps/web/app/healthz/ui/page.tsx
  apps/web/app/prism/page.tsx
  asana-devx-epic.csv
  br-api-gateway/package.json
  br-api-gateway/src/index.ts
  br-api-gateway/src/routes/v1/metrics_github.ts
  br-api-gateway/src/util/db.ts
  br-dbt/models/marts/ops/fct_github_open_vs_closed_7d.sql
  br-ingest-github/.env.example
  br-ingest-github/.github/workflows/ci.yml
  br-ingest-github/.nvmrc
  br-ingest-github/Dockerfile
  br-ingest-github/README.md
  br-ingest-github/package.json
  br-ingest-github/src/gh.ts
  br-ingest-github/src/index.ts
  br-ingest-github/src/ingest.ts
  br-ingest-github/src/pg.ts
  br-ingest-github/src/ssm.ts
  br-ingest-github/src/util.ts
  br-ingest-github/tsconfig.json
  docs/prism/SlackPosts_v0_1.md
Labels: none

Add Pi Cortex stack bundle
  pi-cortex-stack/Makefile
  pi-cortex-stack/README.md
  pi-cortex-stack/assets/.gitkeep
  pi-cortex-stack/first_light.py
  pi-cortex-stack/launch_agents/com.blackroad.pi-cortex-agent.plist
  pi-cortex-stack/mac_agent.py
  pi-cortex-stack/pi/pi_holo_renderer.py
  pi-cortex-stack/pi/pi_ops_heartbeat.py
  pi-cortex-stack/pi/pi_sim_panel.py
  pi-cortex-stack/pi/services/pi-holo-renderer.service
  pi-cortex-stack/pi/services/pi-ops-heartbeat.service
  pi-cortex-stack/pi/services/pi-sim-panel.service
  pi-cortex-stack/scripts/install_mac_agent.sh
  pi-cortex-stack/scripts/install_pi_services.sh
Labels: none

Add AutoPal Express middleware scaffold
  autopal.config.json
  package-lock.json
  package.json
  src/autopal/config.schema.json
  src/autopal/config.ts
  src/autopal/guards.ts
  src/autopal/server.ts
Labels: none

Add infinity prompt catalog and generator
  app/api/chat/route.ts
  data/infinity_prompts.csv
  lib/prompts/codex-infinity.ts
  lib/prompts/infinity-csv.ts
Labels: none

Add synthetic simulation pipeline scaffolding
  10_genesis/.gitignore
  10_genesis/dummy_generate.py
  20_bench_solid/.gitignore
  30_bench_fluid/.gitignore
  40_compare/check_thresholds.py
  40_compare/thresholds.json
  40_compare/view_quick.py
  Makefile
Labels: none

Add GitHub issues connector with ingestion pipeline
  analytics/dbt/models/marts/ops/fct_github_issues_daily.sql
  analytics/dbt/models/marts/ops/fct_github_open_bugs.sql
  analytics/dbt/models/staging/stg_github__issues.sql
  apps/api/src/lib/github.ts
  apps/api/src/lib/githubIssuesStore.ts
  apps/api/src/lib/prismData.ts
  apps/api/src/lib/prismSourcesStore.ts
  apps/api/src/lib/ssm.ts
  apps/api/src/routes/hooks.ts
  apps/api/src/routes/metrics.ts
  apps/api/src/routes/sources.ts
  apps/api/src/server.ts
  apps/api/src/types/express.d.ts
  apps/backoffice/src/pages/PRISM_Sources.tsx
  asana-prism-github-connector.csv
  db/migrations/202510170000_github_connector.sql
  ops/next_push/slack_posts.md
  workers/br-ingest-github/README.md
  workers/br-ingest-github/package.json
  workers/br-ingest-github/src/index.ts
  workers/br-ingest-github/src/store.ts
  workers/br-ingest-github/tsconfig.json
Labels: none

Add maintenance guard for global switch
  config/autopal.json
  srv/blackroad-api/lib/maintenanceConfig.js
  srv/blackroad-api/modules/maintenanceGuard.js
  srv/blackroad-api/server_full.js
  tests/maintenance_mode.test.js
Labels: none

Add sliding window rate builtin and policy error mapper
  harness/cel_builtins.go
  harness/cmd/prism/main.go
  harness/compile.go
  harness/engine.go
  harness/go.mod
  harness/go.sum
  harness/http_errors.go
  harness/rule_spec.go
  harness/types.go
  harness/windowstore.go
Labels: none

Add metrics-backed rate support and policy metadata
  compliance/cmd/gateway/main.go
  compliance/go.mod
  compliance/go.sum
  compliance/harness/cel_env.go
  compliance/harness/compile.go
  compliance/harness/enforce.go
  compliance/harness/evaluate.go
  compliance/harness/http_errors.go
  compliance/harness/metrics.go
  compliance/harness/metrics_ch.go
  compliance/harness/metrics_prom.go
  compliance/harness/types.go
  rules/consent_friction_spike.yaml
  rules/mirror_class_limit.yaml
Labels: none

Add GitHub App webhook handling
  br-api-gateway/package-lock.json
  br-api-gateway/package.json
  br-api-gateway/src/index.ts
  br-api-gateway/src/routes/webhooks_github.ts
  br-api-gateway/src/util/db.ts
  br-api-gateway/src/util/githubApp.ts
  br-api-gateway/src/util/ssm.ts
Labels: none

Add multi-provider policy and rule docs tooling
  .github/workflows/docs.yml
  Makefile
  compliance/cmd/ruledocs/main.go
  compliance/go.mod
  compliance/go.sum
  compliance/harness/cel_env_extras.go
  compliance/harness/spec.go
  compliance/harness/window_store.go
  docs/rules/.gitignore
  rules/multi_provider_single_role.yaml
Labels: none

Add Pi stack v2 automation and Mac control server
  agent/mac/__init__.py
  agent/mac/api.py
  agent/mac/mqtt.py
  agent/mac/validators.py
  docs/pi/stack_v2.md
  pis/display-configs/1024x600_config.txt
  pis/display-configs/1600x600_config.txt
  pis/display-configs/720x720_config.txt
  pis/heartbeat.py
  pis/pi-ops/hb_log.py
  requirements.txt
  scripts/install_pi_node.sh
  scripts/install_pi_ops.sh
  scripts/push_pi_holo.sh
  scripts/push_pi_sim.sh
Labels: none

Add Codex 47 transparency of emotion entry
  codex/README.md
  codex/entries/047-transparency-of-emotion.md
  lucidia/EMOTION.md
Labels: none

Add portal bootstrap Codex prompt
  prompts/portal_bootstrap_codex_prompt.md
Labels: none

Add security guards and approvals to FastAPI service
  app/approvals.py
  app/config.py
  app/guards.py
  app/main.py
  app/oidc.py
  app/ratelimit.py
  autopal.config.json
  pyproject.toml
  requirements.txt
  tests/test_autopal_security.py
Labels: none

Add stubbed simulation pipeline with orchestration commands
  10_genesis/.gitignore
  10_genesis/dummy_scene.py
  20_bench_solid/.gitignore
  20_bench_solid/taichi_mpm_soft_bodies.py
  30_bench_fluid/.gitignore
  30_bench_fluid/pysph_tank.py
  40_compare/.gitignore
  40_compare/demo_end_to_end.ipynb
  Makefile
  sim_pipeline/__init__.py
  sim_pipeline/metrics.py
  sim_pipeline/paths.py
  sim_pipeline/report.py
Labels: none

Add emotional care codex discovery sequences
  prompts/emotional_mental_care_codex_sequences.md
Labels: none

Add Pi Cortex observability bundle
  observability/README.md
  observability/mac/.env.example
  observability/mac/docker-compose.yml
  observability/mac/grafana/provisioning/dashboards/dashboard.yml
  observability/mac/grafana/provisioning/dashboards/pi-cortex-ops-panel.json
  observability/mac/grafana/provisioning/datasources/datasource.yml
  observability/pis/telegraf.pi-ops.mqtt.conf
  observability/pis/telegraf.pi.conf
Labels: none

Expand Codex prompt playbook for key surfaces
  prompts/blackroad_codex_prompts.md
Labels: none

Add Codex 48 temporal ethics entry
  codex/README.md
  codex/entries/048-temporal-ethics.md
Labels: none
