Repository blackboxprogramming/blackroad-prism-console, changes with the labels that .github/labeler.yml gives for each.
All labels: area/frontend, area/backend

feat: add codex infinity prompt pack
  codex_infinity_prompts/README.md
  codex_infinity_prompts/example.sh
  codex_infinity_prompts/render.py
  codex_infinity_prompts/templates/ARDUINO_UNO.md
  codex_infinity_prompts/templates/GENERAL.md
  codex_infinity_prompts/templates/JETSON_AGENT.md
  codex_infinity_prompts/templates/PI_HOLO.md
  codex_infinity_prompts/templates/PI_OPS.md
  codex_infinity_prompts/templates/PI_ZERO.md
Labels: none

Add PSBT air-gap Codex prompt
  codex/prompts/bitcoin_psbt_airgap_roadchain.prompt.md
Labels: none

Add Autopal FastAPI starter service
  autopal/Dockerfile
  autopal/README.md
  autopal/app/__init__.py
  autopal/app/config.py
  autopal/app/dependencies.py
  autopal/app/dual_control.py
  autopal/app/main.py
  autopal/app/rate_limiter.py
  autopal/app/schemas.py
  autopal/autopal.config.json
  autopal/requirements.txt
Labels: none

Add reference doc for codex infinity prompts
  prompts/codex_infinity_prompt_pack.md
Labels: none

feat: add Linear connector ingestion and metrics
  apps/web/app/prism/page.tsx
  asana-linear-connector.csv
  br-api-gateway/openapi.yaml
  br-api-gateway/package-lock.json
  br-api-gateway/package.json
  br-api-gateway/src/db.ts
  br-api-gateway/src/index.ts
  br-api-gateway/src/lib/linear.ts
  br-api-gateway/src/lib/range.ts
  br-api-gateway/src/routes/v1/linear.ts
  br-api-gateway/src/ssm.ts
  br-dbt/models/marts/ops/fct_linear_issues_daily.sql
  br-dbt/models/staging/stg_linear__issues.sql
  br-ingest-linear/.env.example
  br-ingest-linear/.github/workflows/ci.yml
  br-ingest-linear/Dockerfile
  br-ingest-linear/package-lock.json
  br-ingest-linear/package.json
  br-ingest-linear/src/index.ts
  br-ingest-linear/src/linear.ts
  br-ingest-linear/src/pg.ts
  br-ingest-linear/src/ssm.ts
  br-ingest-linear/tsconfig.json
  db/migrations/20251021_linear_connector.sql
  ops/next_push/slack_posts.md
Labels: none

Add consent abandonment rule, tooling, and docs
  cmd/metrics-proxy/go.mod
  cmd/metrics-proxy/main.go
  docs/policies/consent-abandonment-exceeds-threshold.html
  fixtures/consent/abandon.series.json
  go.work
  harness/go.mod
  harness/go.sum
  harness/main.go
  policy/rules_engine/context.py
  policy/rules_engine/docgen.py
  policy/rules_engine/evaluator.py
  policy/rules_engine/loader.py
  policy/rules_engine/rule.py
  rules/consent_abandonment_rate.yaml
  tests/test_rule_engine.py
Labels: none

Add generative care framework codex entry
  codex/README.md
  codex/entries/055-generative-care-frameworks.md
Labels: none

Add AutoPal smoke test workflow
  .github/workflows/autopal-smoke.yml
Labels: none

Add Codex 49 curiosity compact entry
  codex/README.md
  codex/entries/049-curiosity-compact.md
Labels: none

Add Pi-Ops kiosk bundle and first-light script
  docs/pi/pi-ops-first-light.md
  pis/pi-ops/kiosk/README.md
  pis/pi-ops/kiosk/bin/pi_ops_kiosk_session.sh
  pis/pi-ops/kiosk/grafana/pi_ops_ultra.json
  pis/pi-ops/kiosk/systemd/getty-autologin.conf
  pis/pi-ops/kiosk/systemd/kiosk.service
  pis/pi-ops/kiosk/xinitrc
  scripts/install_pi_ops_kiosk.sh
  scripts/pi_ops_first_light.sh
Labels: none

Add Stripe ingestion pipeline and metrics
  apps/api/package.json
  apps/api/src/lib/db.ts
  apps/api/src/lib/ecs.ts
  apps/api/src/lib/ssm.ts
  apps/api/src/routes/metrics.ts
  apps/api/src/routes/sources.ts
  apps/api/src/server.ts
  apps/web/app/prism/page.tsx
  apps/web/components/Tile.tsx
  br-ingest-stripe/.env.example
  br-ingest-stripe/.github/workflows/ci.yml
  br-ingest-stripe/Dockerfile
  br-ingest-stripe/package-lock.json
  br-ingest-stripe/package.json
  br-ingest-stripe/src/index.ts
  br-ingest-stripe/src/pg.ts
  br-ingest-stripe/src/ssm.ts
  br-ingest-stripe/src/stripe.ts
  br-ingest-stripe/src/types.ts
  br-ingest-stripe/src/upsert.ts
  br-ingest-stripe/tsconfig.json
  db/migrations/202502210900_stripe_ingest.sql
Labels: none

Add universal sim starter pipeline and metrics harness
  90_reports/run_report.md
  Makefile
  cli.py
  run_meta.json
  schemas/field_npz.schema.json
  schemas/run_meta.schema.json
  tests/test_metrics.py
  universal_sim/__init__.py
  universal_sim/metrics.py
  universal_sim/pipeline.py
  universal_sim/testing.py
Labels: none

Add first-light MQTT system check script
  agent/mac/__init__.py
  agent/mac/full_first_light.py
Labels: none

Add exception service and harness lookup
  compliance/cmd/exceptions/exceptions.sql
  compliance/cmd/exceptions/main.go
  compliance/go.mod
  compliance/go.sum
  compliance/harness/except.go
Labels: none

Add policy-gated portal CLI and scaffolding
  portal/.gitignore
  portal/audits/.gitkeep
  portal/bin/portal
  portal/bin/portal-build-from-request
  portal/configs/approvals/.gitkeep
  portal/configs/frozen.txt
  portal/configs/policy.schema.json
  portal/configs/withdraw_2025-10-04.request.json
  portal/proofs/.gitkeep
  portal/psbts/.gitkeep
Labels: none

feat: add stripe webhook handler and seeder
  .github/workflows/stripe-seed.yml
  br-api-gateway/package-lock.json
  br-api-gateway/package.json
  br-api-gateway/src/index.ts
  br-api-gateway/src/routes/webhooks_stripe.ts
  br-api-gateway/src/util/db.ts
  br-api-gateway/src/util/ssm.ts
  docs/stripe-webhook.md
  stripe-seed/.env.example
  stripe-seed/README.md
  stripe-seed/package-lock.json
  stripe-seed/package.json
  stripe-seed/seed.ts
Labels: none

Add translational applied synthesis codex entry
  codex/entries/071-applied-synthesis-translator.md
Labels: none

Add RoadChain bootstrap starter kit
  bootstrap/monorepo/.github/workflows/ci.yml
  bootstrap/monorepo/Makefile
  bootstrap/monorepo/PR_CHECKLIST.md
  bootstrap/monorepo/README.md
  bootstrap/monorepo/apps/roadweb/.eslintrc.cjs
  bootstrap/monorepo/apps/roadweb/.gitignore
  bootstrap/monorepo/apps/roadweb/README.md
  bootstrap/monorepo/apps/roadweb/index.html
  bootstrap/monorepo/apps/roadweb/package-lock.json
  bootstrap/monorepo/apps/roadweb/package.json
  bootstrap/monorepo/apps/roadweb/public/roadweb.svg
  bootstrap/monorepo/apps/roadweb/src/App.test.tsx
  bootstrap/monorepo/apps/roadweb/src/App.tsx
  bootstrap/monorepo/apps/roadweb/src/index.css
  bootstrap/monorepo/apps/roadweb/src/main.tsx
  bootstrap/monorepo/apps/roadweb/src/vite-env.d.ts
  bootstrap/monorepo/apps/roadweb/tsconfig.app.json
  bootstrap/monorepo/apps/roadweb/tsconfig.json
  bootstrap/monorepo/apps/roadweb/tsconfig.node.json
  bootstrap/monorepo/apps/roadweb/vite.config.ts
  bootstrap/monorepo/apps/roadweb/vitest.setup.ts
  bootstrap/monorepo/docker-compose.devnet.yml
  bootstrap/monorepo/packages/roadcoin/.env.example
  bootstrap/monorepo/packages/roadcoin/.gitignore
  bootstrap/monorepo/packages/roadcoin/README.md
  bootstrap/monorepo/packages/roadcoin/contracts/RoadCoin.sol
  bootstrap/monorepo/packages/roadcoin/forge/test/RoadCoin.t.sol
  bootstrap/monorepo/packages/roadcoin/foundry.toml
  bootstrap/monorepo/packages/roadcoin/hardhat.config.ts
  bootstrap/monorepo/packages/roadcoin/package-lock.json
  bootstrap/monorepo/packages/roadcoin/package.json
  bootstrap/monorepo/packages/roadcoin/prettier.config.cjs
  bootstrap/monorepo/packages/roadcoin/remappings.txt
  bootstrap/monorepo/packages/roadcoin/script/DeployRoadCoin.s.sol
  bootstrap/monorepo/packages/roadcoin/slither.config.json
  bootstrap/monorepo/packages/roadcoin/solhint.config.json
  bootstrap/monorepo/packages/roadcoin/test/hardhat/RoadCoin.test.ts
  bootstrap/monorepo/packages/roadcoin/tsconfig.json
  docs/roadchain-monorepo.md
Labels: none

Add BlackRoad Finance compliance prompt library
  prompts/blackroad_finance_compliance_prompts.md
Labels: none

Add Codex 50 endurance mandate entry
  codex/README.md
  codex/entries/050-endurance-mandate.md
Labels: none

Add Minnesota licensing reinstatement roadmap
  docs/compliance/minnesota_license_reinstatement_plan.md
Labels: none

Add RoadChain bootstrap starter kit (#1900)
  bootstrap/monorepo/.github/workflows/ci.yml
  bootstrap/monorepo/Makefile
  bootstrap/monorepo/PR_CHECKLIST.md
  bootstrap/monorepo/README.md
  bootstrap/monorepo/apps/roadweb/.eslintrc.cjs
  bootstrap/monorepo/apps/roadweb/.gitignore
  bootstrap/monorepo/apps/roadweb/README.md
  bootstrap/monorepo/apps/roadweb/index.html
  bootstrap/monorepo/apps/roadweb/package-lock.json
  bootstrap/monorepo/apps/roadweb/package.json
  bootstrap/monorepo/apps/roadweb/public/roadweb.svg
  bootstrap/monorepo/apps/roadweb/src/App.test.tsx
  bootstrap/monorepo/apps/roadweb/src/App.tsx
  bootstrap/monorepo/apps/roadweb/src/index.css
  bootstrap/monorepo/apps/roadweb/src/main.tsx
  bootstrap/monorepo/apps/roadweb/src/vite-env.d.ts
  bootstrap/monorepo/apps/roadweb/tsconfig.app.json
  bootstrap/monorepo/apps/roadweb/tsconfig.json
  bootstrap/monorepo/apps/roadweb/tsconfig.node.json
  bootstrap/monorepo/apps/roadweb/vite.config.ts
  bootstrap/monorepo/apps/roadweb/vitest.setup.ts
  bootstrap/monorepo/docker-compose.devnet.yml
  bootstrap/monorepo/packages/roadcoin/.env.example
  bootstrap/monorepo/packages/roadcoin/.gitignore
  bootstrap/monorepo/packages/roadcoin/README.md
  bootstrap/monorepo/packages/roadcoin/contracts/RoadCoin.sol
  bootstrap/monorepo/packages/roadcoin/forge/test/RoadCoin.t.sol
  bootstrap/monorepo/packages/roadcoin/foundry.toml
  bootstrap/monorepo/packages/roadcoin/hardhat.config.ts
  bootstrap/monorepo/packages/roadcoin/package-lock.json
  bootstrap/monorepo/packages/roadcoin/package.json
  bootstrap/monorepo/packages/roadcoin/prettier.config.cjs
  bootstrap/monorepo/packages/roadcoin/remappings.txt
  bootstrap/monorepo/packages/roadcoin/script/DeployRoadCoin.s.sol
  bootstrap/monorepo/packages/roadcoin/slither.config.json
  bootstrap/monorepo/packages/roadcoin/solhint.config.json
  bootstrap/monorepo/packages/roadcoin/test/hardhat/RoadCoin.test.ts
  bootstrap/monorepo/packages/roadcoin/tsconfig.json
  docs/roadchain-monorepo.md
Labels: none

Add Minnesota licensing reinstatement roadmap
  docs/regulatory/minnesota-multi-license-roadmap.md
Labels: none

Record request for PySPH fluid upgrade
  DECISIONS.md
Labels: none

Add ClickHouse metrics proxy and exception workflow
  backend/data.js
  backend/migrate.js
  backend/server.js
  cmd/metrics-proxy-ch/go.mod
  cmd/metrics-proxy-ch/go.sum
  cmd/metrics-proxy-ch/main.go
  policy/kernel/exceptions.py
  policy/kernel/kernel.py
  policy/kernel/tests/test_kernel.py
  sites/blackroad/scripts/build-docs.cjs
Labels: area/frontend, area/backend

Add Slack exception workflow gateway
  .gitignore
  cmd/slack/go.mod
  cmd/slack/main.go
Labels: none

Add mac Firstlight add-on scripts
  agents/mac/README.md
  agents/mac/full_first_light.py
  agents/mac/test_patterns.py
Labels: none

Add portal TUI harness and Roadchain mock
  portal/bin/portal-log
  portal/bin/portal-test
  portal/bin/portal-tui
  portal/configs/.gitkeep
  portal/roadchain/bin/rdc
  portal/roadchain/state/.gitkeep
Labels: none

docs: log latest drop and next focus
  AGENT_WORKBOARD.md
Labels: none

Add FastAPI controls app and tests for Autopal flows
  autopal_fastapi/README.md
  autopal_fastapi/__init__.py
  autopal_fastapi/app.py
  autopal_fastapi/tests/__init__.py
  autopal_fastapi/tests/test_app.py
  requirements.txt
Labels: none

docs: add codex 51 transparency of creation
  codex/README.md
  codex/entries/051-transparency-of-creation.md
Labels: none

Add universal sim starter pipeline
  universal-sim-starter/10_genesis/run_variants.py
  universal-sim-starter/10_genesis/variants.yaml
  universal-sim-starter/40_compare/batch_compare.py
  universal-sim-starter/90_reports/make_report.py
  universal-sim-starter/Makefile
  universal-sim-starter/prompts/base_prompt.txt
  universal-sim-starter/tools/check_pipeline.py
  universal-sim-starter/tools/generate_outputs.py
Labels: none

Add Pi-Holo renderer package
  pi_holo/README.md
  pi_holo/Scenes/example.json
  pi_holo/holo_renderer.py
  pi_holo/pi-holo.service
  pi_holo/requirements.txt
  pi_holo/run.sh
Labels: none

Add Pi portal TUI Codex prompt
  codex/prompts/pi_portal_tui.prompt.md
Labels: none

Document fusion tier care ecosystems
  docs/fusion-tier-concepts.md
Labels: none

chore: wire release automation and flags
  .github/.release-please-manifest.json
  .github/PULL_REQUEST_TEMPLATE.md
  .github/release-please-config.json
  .github/workflows/commitlint.yml
  .github/workflows/lint-pr.yml
  .github/workflows/release-please.yml
  .github/workflows/release-to-slack.yml
  CHANGELOG.md
  apps/web/app/prism/page.tsx
  apps/web/lib/flags.ts
  br-products-site/app/changelog/page.tsx
  commitlint.config.js
  config/flags.example.json
  config/flags.json
  docs/release-brief-template.md
  docs/slack-release-blurbs.md
Labels: none

Add Translational Tier codex entry
  codex/README.md
  codex/entries/044-translational-tier.md
Labels: none

Add Codex 52 Reverence Clause entry
  codex/README.md
  codex/entries/052-reverence-clause.md
Labels: none

Add Pi-Holo effect renderer and tooling
  agent/mac/send_clear.py
  agent/mac/send_pulse.py
  pis/pi-holo/holo_render.py
  pis/pi-sim/sim_panel.py
Labels: none

Add AutoPal FastAPI stack with mock OIDC issuer and Redis
  requirements.txt
  services/autopal/Dockerfile
  services/autopal/README.md
  services/autopal/app/__init__.py
  services/autopal/app/__main__.py
  services/autopal/app/auth.py
  services/autopal/app/config.py
  services/autopal/app/main.py
  services/autopal/app/ratelimit.py
  services/autopal/app/ratelimit_redis.py
  services/autopal/requirements.txt
  services/mock-issuer/Dockerfile
  services/mock-issuer/README.md
  services/mock-issuer/app/__init__.py
  services/mock-issuer/app/main.py
  services/mock-issuer/requirements.txt
  stack/autopal-fastapi/README.md
  stack/autopal-fastapi/docker-compose.yml
Labels: area/backend

.github/labeler.yml:

area/frontend:
  - "frontend/**"
  - "sites/**"
area/backend:
  - "backend/**"
  - "services/**"
