Repository blackboxprogramming/blackroad-prism-console, changes with the labels that .github/labeler.yml gives for each.
All labels: area/frontend, area/backend

.github/labeler.yml:

area/frontend:
  - "frontend/**"
  - "sites/**"
area/backend:
  - "backend/**"
  - "services/**"

Fix spectral Poisson eigenvalue scaling
  sites/blackroad/src/pages/SpectralPoissonLab.jsx
Labels: area/frontend

feat: expand git service endpoints
  frontend/src/gitApi.js
  frontend/src/pages/GitPage.jsx
  tests/git-route.test.mjs
  tests/git-router.integration.test.mjs
  var/www/blackroad/server/index.js
  var/www/blackroad/server/routes/git-service.js
  var/www/blackroad/server/routes/git.js
Labels: area/frontend

feat: add next frontend dependencies (#1991)
  app/examples/blackroad/page.tsx
  app/layout.tsx
  next-env.d.ts
  next.config.mjs
  package-lock.json
  package.json
  scripts/build-codex-index.js
  tsconfig.json
Labels: none

chore: improve codespaces devcontainer
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/scripts/postCreate.sh
  docs/devx/codespaces.md
  docs/devx/tooling.md
Labels: none

fix: repair codespaces bootstrap tooling
  .devcontainer/scripts/postCreate.sh
  docs/devx/codespaces.md
  docs/devx/tooling.md
Labels: none

chore: harden codespaces bootstrap logging
  .devcontainer/scripts/postCreate.sh
  docs/devx/codespaces.md
Labels: none

Checkpoint from VS Code for coding agent session
  .github/copilot-instructions.md
Labels: none

Checkpoint from VS Code for coding agent session
  .eslintignore.bak
  eslint.config.js
Labels: none

chore: add Copilot setup docs, client templates, Copilot config check workflow, and quick-gates consolidation
  .github/PULL_REQUEST_TEMPLATE.md
  .github/copilot-instructions.md
  .github/workflows/copilot-config-check.yml
  .github/workflows/quick-gates.yml
  .github/workflows/secret-scan.yml
  AGENT_CHECKLIST.md
  COPILOT_CLIENT_REGISTRATION.md
  COPILOT_CLIENT_TEMPLATE.md
  COPILOT_SETUP.md
  README.md
  infrastructure/docker-compose.yml
  infrastructure/wireguard/core.conf
  ops/backup/restic_setup.sh
  scripts/quick_quality_gates.sh
Labels: none

yay!
  .codacy/cli.sh
  .codacy/codacy.yaml
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .github/copilot-instructions.md
  .gitignore
  .vscode/settings.json
  bots/manufacturing_integration_bot.py
  bots/manufacturing_operations_bot.py
  bots/plm_analysis_bot.py
  bots/quality_control_bot.py
  bots/supply_chain_management_bot.py
  bots/visual_analytics_bot.py
  orchestrator/memory.jsonl
  src/blackroad_prism_console.egg-info/PKG-INFO
  src/blackroad_prism_console.egg-info/SOURCES.txt
  src/blackroad_prism_console.egg-info/dependency_links.txt
  src/blackroad_prism_console.egg-info/entry_points.txt
  src/blackroad_prism_console.egg-info/requires.txt
  src/blackroad_prism_console.egg-info/top_level.txt
Labels: none

docs: record oct 7 provider advisories
  docs/incidents/2025-10-07-cloudflare-maintenance-github-events-api.md
Labels: none

Add advisory for Cloudflare maintenance and GitHub Events changes
  docs/incidents/2025-10-07-cloudflare-maintenance-github-events.md
Labels: none

Add 2025-10-07 operations brief
  status/2025-10-07.md
Labels: none

Add blog update on Bitcoin and BNB market momentum
  sites/blackroad/content/blog/bitcoin-bnb-momentum-oct-2025.md
Labels: area/frontend

Add blog post on latest CISA KEV additions
  sites/blackroad/content/blog/cisa-kev-october-2025-seven-cves.md
Labels: area/frontend

Add hash-chained event log for Prism SSE
  .gitignore
  apps/prismweb/src/components/prism/Console.tsx
  apps/prismweb/test/console.test.tsx
  prism/server/src/index.ts
Labels: none

Add reflex runtime and example handlers
  lucidia/reflex/__init__.py
  lucidia/reflex/core.py
  lucidia/reflex/gpio_reflex.py
  lucidia/reflex/log_reflex.py
  lucidia/reflex/wallet_reflex.py
Labels: none

Add Pepper's Ghost neural rendering quickstart
  docs/PEPPERS_GHOST_NERF_QUICKSTART.md
Labels: none

Add UID adoption starter kit
  UID_POLICY.md
  uid-kit/.github/pull_request_template.md
  uid-kit/.github/workflows/uid-check.yml
  uid-kit/README.md
  uid-kit/hooks/commit-msg
  uid-kit/scripts/mint_ulid.py
Labels: none

Add VS Code devcontainer configuration
  .devcontainer/devcontainer.json
Labels: none

Add blog recap of 2025 Nobel immune tolerance award
  sites/blackroad/content/blog/nobel-2025-immune-tolerance-breakthrough.md
Labels: area/frontend

Add Lucidia codex invitation entry
  lucidia/CODEX.md
Labels: none

Add manifold-to-topos schematic for Prism Console
  docs/prism/manifold_to_topos_schematic.md
Labels: none

Add Thermodynamic Commons codex entry
  codex/entries/072-thermodynamic-commons.md
Labels: none

Add Forever Giant Prism spotlight prompt
  prompts/prism_spotlight_forever_giant.md
Labels: none

Add Codex Spotlights wave II entries
  codex/entries/013-verifiable-compute.md
  codex/entries/014-zero-knowledge-access.md
  codex/entries/015-quantitative-information-flow.md
  codex/entries/016-supply-chain-attestation.md
  codex/entries/017-erasure-coded-resilience.md
  codex/entries/018-byzantine-agreement.md
  codex/entries/019-rate-limit-calculus.md
  codex/entries/020-side-channel-budget.md
  codex/entries/021-conformal-risk-control.md
  codex/entries/022-adversarial-training-cvar.md
  codex/entries/023-session-types-ifc.md
  codex/entries/024-verifiable-delay-randomness.md
  codex/entries/025-network-coding-recovery.md
  codex/entries/026-safety-as-lyapunov.md
  codex/entries/027-provenance-dag.md
Labels: none

Add Cadillac Set A Prism panel specs
  docs/prism/PRISM_PANEL_SPECS_CADILLAC_SET_A.md
Labels: none

Add Cadillac Set A Prism panel specifications
  docs/prism/PanelSpecs_Cadillac_Set_A.md
Labels: none

Add security spotlights panels and API endpoints
  backend/server.js
  frontend/src/App.jsx
  frontend/src/api.js
  frontend/src/pages/SecuritySpotlights.jsx
Labels: area/frontend, area/backend

Add Cadillac Codex math utility library
  cadillac_codex.py
Labels: none

Add Cadillac Codex numerical safety utilities
  agents/cadillac_codex.py
  tests/test_cadillac_codex_math.py
Labels: none

Add Trial 4 poisoned high-influence red-team playbook
  resilience/playbooks/redteam/trial4_poisoned_high_influence.md
  resilience/playbooks/redteam/trial4_poisoned_high_influence.py
Labels: none

Add poisoned influence playbook and demo
  docs/prism/Poisoned_High_Influence_Samples_Playbook.md
  examples/redtest4_influence_demo.py
Labels: none

Add Influence Guard panel, controller, and briefing slide
  controller_influence.py
  docs/influence-guard-slide.md
  prism/panels/panel.influence.guard.json
Labels: none

Add multi-agent testing chorus workflow
  .github/workflows/multi-agent-chorus.yml
  .github/workflows/run-job.yml
  scripts/blackroad_ci.py
Labels: none

Adjust randomized smoothing bounds to honor alpha
  cadillac_codex.py
Labels: none

Fix telemetry outputs for Influence Guard panel
  controller_influence.py
Labels: none

Restore devcontainer build tools
  .devcontainer/devcontainer.json
Labels: none

Use Hydra config flags for Jetson preset
  docs/PEPPERS_GHOST_NERF_QUICKSTART.md
Labels: none

Fix portal Tor health check permissions
  portal/bin/portal-health-tor
Labels: none
