Repository blackboxprogramming/blackroad-prism-console, changes with the labels that .github/labeler.yml gives for each.
All labels: area/site, area/api, area/nginx, ci

.github/labeler.yml:

area/site:
  - "sites/blackroad/**"
area/api:
  - "services/api/**"
area/nginx:
  - "nginx/**"
ci:
  - ".github/workflows/**"

fix: consolidate devcontainer config
  .devcontainer/devcontainer.json
Labels: none

feat: bootstrap express backend
  apps/quantum/ternary_consciousness_v3.html.bak
  services/api/.0.swp
  services/api/.2.7.0.swp
  services/api/.pm2-logrotate.swp
  services/api/.│.swp
  srv/blackroad-api/.env.example
  srv/blackroad-api/.eslintrc.json
  srv/blackroad-api/controllers/guardianController.js
  srv/blackroad-api/controllers/llmController.js
  srv/blackroad-api/middleware/errorHandler.js
  srv/blackroad-api/middleware/logger.js
  srv/blackroad-api/package-lock.json
  srv/blackroad-api/package.json
  srv/blackroad-api/package.json.sample
  srv/blackroad-api/routes/guardian.js
  srv/blackroad-api/routes/index.js
  srv/blackroad-api/routes/llm.js
  srv/blackroad-api/scripts/db-init.js
  srv/blackroad-api/scripts/seed.js
  srv/blackroad-api/server.js
  srv/blackroad-api/server_full.js
  systemd/blackroad-api.service
Labels: area/api

feat: add subscribe portal and stripe backend
  README.md
  frontend/src/Subscribe.jsx
  frontend/src/subscribeApi.js
  package.json
  server_full.js
  src/routes/index.js
  src/routes/subscribe.js
Labels: none

fix: clear brsid cookie on logout
  src/routes/auth.js
Labels: none

feat: add codefix bot service
  CODEFIX.md
  srv/codefix-bot/.env.example
  srv/codefix-bot/server.js
  usr/local/bin/codefix-run.sh
  var/log/codefix-bot/.gitkeep
Labels: none

feat: add subscribe health endpoint
  srv/blackroad-api/server_full.js
Labels: none

feat: add watcher-bot monitoring service
  etc/cron.d/watcher-bot
  etc/nginx/snippets/watcher-bot.conf
  etc/systemd/system/watcher-bot.service
  srv/watcher-bot/.env.example
  srv/watcher-bot/RUNBOOKS.md
  srv/watcher-bot/alerts.js
  srv/watcher-bot/checks.js
  srv/watcher-bot/db.js
  srv/watcher-bot/public/index.html
  srv/watcher-bot/rollup.js
  srv/watcher-bot/server.js
  srv/watcher-bot/slo.js
  srv/watcher-bot/util.js
  var/log/watcher-bot/.gitkeep
Labels: none

feat: add deployment pipeline and admin ui
  .github/workflows/blackroad-ci.yml
  DEPLOYMENT.md
  etc/logrotate.d/blackroad-api
  srv/blackroad-api/.env.example
  srv/blackroad-api/github_app_manifest.json
  srv/blackroad-api/lib/deploy.js
  srv/blackroad-api/lib/git.js
  srv/blackroad-api/lib/log.js
  srv/blackroad-api/lib/notify.js
  srv/blackroad-api/lib/verify.js
  srv/blackroad-api/server_full.js
  usr/local/bin/blackroad-backup-sqlite.sh
  usr/local/bin/blackroad-deploy.sh
  var/www/blackroad/admin/index.html
Labels: ci

Add backend agents and API server
  srv/blackroad-backend/agents/__init__.py
  srv/blackroad-backend/agents/guardian.py
  srv/blackroad-backend/agents/roadie.py
  srv/blackroad-backend/api/__init__.py
  srv/blackroad-backend/api/server.py
Labels: none

chore: remove unused tsconfig copy
  sites/blackroad/tsconfig.json.ts
Labels: area/site

Add concurrent shard orchestrator
  lucidia/orchestrator.py
  tests/test_orchestrator.py
Labels: none

feat: add skeleton json connector layer
  src/json/sqlite.js
  src/routes/index.js
  src/routes/json.js
  srv/blackroad-api/json.connectors.config.json
Labels: none

feat: expose lucidia API route
  src/routes/index.js
  src/routes/lucidia.js
  tests/lucidia-route.test.js
Labels: none

feat: add br-fix tool and json health etag
  DECISIONS.md
  src/routes/json.js
  srv/blackroad-tools/br-fix/bin/br-fix.js
  srv/blackroad-tools/br-fix/package.json
Labels: none

feat: add connector routes?
  frontend/src/Subscribe.jsx
  frontend/src/subscribeApi.js
  src/routes/connect.js
  src/routes/index.js
  src/routes/subscribe.js
  src/services/connectorStore.js
Labels: none

feat(mci): add basic math compute service
  docs/mci/README.md
  server_full.js
  srv/blackroad-api/mci/routes/mci.autodiff.js
  srv/blackroad-api/mci/routes/mci.controller.js
  srv/blackroad-api/mci/routes/mci.explain.js
  srv/blackroad-api/mci/routes/mci.health.js
  srv/blackroad-api/mci/routes/mci.routes.js
  srv/blackroad-api/mci/routes/mci.solver.js
  srv/blackroad-api/mci/routes/mci.validators.js
  srv/blackroad-api/mci/sandbox/env_whitelist.txt
  srv/blackroad-api/mci/sandbox/requirements.txt
  srv/blackroad-api/mci/sandbox/runner.py
  srv/blackroad-api/mci/services/mci.cache.js
  srv/blackroad-api/mci/services/mci.limiter.js
  srv/blackroad-api/mci/services/mci.logger.js
  srv/blackroad-api/mci/tests/mci.e2e.spec.js
  srv/blackroad-api/mci/tests/mci.fuzz.spec.js
  srv/blackroad-api/mci/tests/mci.unit.spec.js
  srv/blackroad-api/migrations/00_mci_init.sql
  var/www/blackroad/mci/MciWorkbench.js
  var/www/blackroad/mci/mci.css
Labels: none

feat: add basic subscription and wallet endpoints
  db/migrations/0002_subscriptions.sql
  frontend/src/App.jsx
  frontend/src/Subscribe.jsx
  frontend/src/subscribeApi.js
  src/routes/subscribe.js
  src/routes/wallet.js
Labels: none

test: allow ts requires in lucidia brain tests
  db/migrations/20250824_lucidia_brain.sql
  docs/LUCIDIA_BRAIN_RUNBOOK.md
  modules/lucidia-brain/brain.ts
  modules/lucidia-brain/config.ts
  modules/lucidia-brain/contradictions.ts
  modules/lucidia-brain/english.ts
  modules/lucidia-brain/logger.ts
  modules/lucidia-brain/memory.ts
  modules/lucidia-brain/operators.ts
  modules/lucidia-brain/pssha.ts
  modules/lucidia-brain/retrieval.ts
  modules/lucidia-brain/sse.ts
  modules/lucidia-brain/tests/english.test.js
  modules/lucidia-brain/tests/pssha.test.js
  modules/lucidia-brain/tests/retrieval.test.js
  routes/lucidia-brain.ts
  scripts/lbrain_embed_demo.sh
  scripts/lbrain_smoketest.sh
  server_full.js
  srv/blackroad-api/.env.example
  var/www/blackroad/index.html
Labels: none

fix package.json and enable tests
  package.json
  tests/smoke.test.mjs
Labels: none

feat: add basic subscription flow
  db/migrations/0003_subscribe_refactor.sql
  server_full.js
  src/routes/index.js
  var/www/blackroad/index.html
Labels: none

chore: scaffold roadview storage and tables
  db/migrations/0003_roadview.sql
  server_full.js
  srv/blackroad-api/storage/roadview/.gitkeep
  srv/blackroad-api/storage/roadview/projects/.gitkeep
Labels: none

feat: add landing page APIs and stats
  public/index.html
  server_full.js
Labels: none

fix: repair package.json structure
  nginx/conf.d/lucidia.conf
  nginx/ssl/.gitignore
  nginx/ssl/generate-lucidia-cert.sh
  package.json
Labels: area/nginx

feat: add RoadCoin hold endpoints and pricing seed
  db/migrations/0004_rc_ledger.sql
  server_full.js
  src/db.js
Labels: none

chore: fix dependabot workflow
  .github/workflows/dependabot-auto-merge.yml
Labels: ci

feat: include invoices in subscription status
  src/routes/subscribe.js
Labels: none

feat: add default subscription plans
  server_full.js
Labels: none

fix: close express routes
  backend/server.js
Labels: none

chore: add roadchain tables
  db/migrations/202501080000_roadchain.sql
  server_full.js
  src/config.js
Labels: none

chore: add lucidia placeholder page
  server_full.js
  sites/blackroad/src/App.jsx
  sites/blackroad/src/pages/Lucidia.jsx
Labels: area/site

add minimal eslint config
  eslint.config.cjs
  package.json
  tests/git-route.test.mjs
  tests/smoke.test.mjs
  var/www/blackroad/server/routes/git.js
Labels: none

feat: add deployment helper
  scripts/improved_blackroad_deploy.py
Labels: none

feat: add automated deployment workflow
  .github/workflows/blackroad-deploy.yml
  improved_blackroad_deploy.py
Labels: ci

Add Lucidia Math Lab modules and tests
  lucidia_math_lab/__init__.py
  lucidia_math_lab/interface.py
  lucidia_math_lab/prime_explorer.py
  lucidia_math_lab/quantum_finance.py
  lucidia_math_lab/recursion_sandbox.py
  lucidia_math_lab/sine_wave_codex.py
  lucidia_math_lab/trinary_logic.py
  lucidia_math_lab/trinary_operators.json
  tests/test_prime_explorer.py
  tests/test_quantum_finance.py
  tests/test_recursion_sandbox.py
  tests/test_sine_wave_codex.py
  tests/test_trinary_logic.py
Labels: none

feat: add lucidia math forge
  lucidia_math_forge/__init__.py
  lucidia_math_forge/creative_contradictions.json
  lucidia_math_forge/dimensions.py
  lucidia_math_forge/fractals.py
  lucidia_math_forge/main.py
  lucidia_math_forge/numbers.py
  lucidia_math_forge/operators.py
  lucidia_math_forge/proofs.py
  lucidia_math_forge/sinewave.py
Labels: none

feat: add infinity math skeleton
  nginx/conf.d/lucidia-math.conf
  sites/blackroad/src/App.jsx
  sites/blackroad/src/pages/InfinityMath.jsx
  srv/lucidia-math/finance.py
  srv/lucidia-math/fractals.py
  srv/lucidia-math/logic.py
  srv/lucidia-math/main.py
  srv/lucidia-math/numbers.py
  srv/lucidia-math/output/contradictions/.gitkeep
  srv/lucidia-math/output/finance/.gitkeep
  srv/lucidia-math/output/fractals/.gitkeep
  srv/lucidia-math/output/logic/.gitkeep
  srv/lucidia-math/output/primes/.gitkeep
  srv/lucidia-math/primes.py
  srv/lucidia-math/proofs.py
  srv/lucidia-math/requirements.txt
  srv/lucidia-math/ui.py
  srv/lucidia-math/waves.py
  systemd/lucidia-math.service
Labels: area/site, area/nginx

Add Lucidia Infinity math system
  lucidia_infinity/__init__.py
  lucidia_infinity/finance.py
  lucidia_infinity/fractals.py
  lucidia_infinity/logic.py
  lucidia_infinity/main.py
  lucidia_infinity/numbers.py
  lucidia_infinity/primes.py
  lucidia_infinity/proofs.py
  lucidia_infinity/ui.py
  lucidia_infinity/waves.py
  tests/test_lucidia_infinity.py
Labels: none

docs: add Lucidia Infinity Math repair prompt
  codex/prompts/lucidia_infinity_math_repair.prompt.md
Labels: none

feat(autoheal): add lucidia math self-healing watchdog
  scripts/install-lucidia-math-autoheal.sh
  systemd/lucidia-math-autoheal.service
  systemd/lucidia-math-autoheal.timer
  usr/local/bin/lucidia-math-autoheal.sh
Labels: none

feat: add secure connectors endpoint
  connectors.js
  server_full.js
Labels: none
