Repository blackboxprogramming/blackroad-prism-console, changes with the labels that .github/labeler.yml gives for each.
All labels: area/frontend, area/backend

feat: add benchmark suite and SLO tooling (#1382)
  README.md
  bench/__init__.py
  bench/runner.py
  bench/scenarios/treasury-bot.yml
  cli/console.py
  docs/performance.md
  orchestrator/env_stamp.py
  orchestrator/orchestrator.py
  orchestrator/perf.py
  orchestrator/protocols.py
  orchestrator/slo.py
  orchestrator/slo_report.py
  settings.py
  tests/test_bench_runner.py
  tests/test_cache_impact.py
  tests/test_env_stamp.py
  tests/test_perf_timer.py
  tests/test_slo_gate.py
  tests/test_slo_report.py
Labels: none

feat: add governance and operations features
  README.md
  bots/sre_bot.py
  chaos/__init__.py
  chaos/injector.py
  cli/console.py
  config/flags.yaml
  config/quotas.yaml
  config/settings.yaml
  docs/deprecation.md
  docs/multi-tenant.md
  docs/ops.md
  docs/quotas_costs.md
  dr/__init__.py
  dr/drill.py
  finance/__init__.py
  finance/costing.py
  migrations/0001_init.py
  migrations/0002_add_trace_ids.py
  migrations/state.json
  orchestrator/flags.py
  orchestrator/migrate.py
  orchestrator/orchestrator.py
  orchestrator/quotas.py
  orchestrator/settings.py
  orchestrator/tenancy.py
  policy/__init__.py
  policy/deprecation.py
  release/__init__.py
  release/manager.py
  tests/test_costing.py
  tests/test_deprecation.py
  tests/test_flags.py
  tests/test_migrate.py
  tests/test_quotas.py
  tests/test_release_mgr.py
  tests/test_tenancy.py
  tools/storage.py
Labels: none

feat: add offline data lake and semantic layer
  README.md
  cli/console.py
  contracts/__init__.py
  contracts/schemas/crm_opps.yaml
  contracts/schemas/finance_txn.yaml
  contracts/schemas/incidents.yaml
  contracts/validate.py
  docs/data-layer.md
  docs/retrieval.md
  lake/__init__.py
  lake/io.py
  lake/layout.py
  lake/timeseries.py
  lakeio/__init__.py
  lakeio/parquet_csv_bridge.py
  metrics.py
  pipelines/__init__.py
  pipelines/finance_margin_pipeline.py
  pipelines/reliability_pipeline.py
  policy/regulated.yaml
  retrieval/index.py
  semantic/__init__.py
  semantic/catalog.py
  semantic/query.py
  tests/test_data_layer.py
Labels: none

feat: add pluggable bot orchestrator
  README.md
  bots/__init__.py
  bots/revops_bot.py
  bots/sre_bot.py
  bots/treasury_bot.py
  cli/__init__.py
  cli/console.py
  config/__init__.py
  config/settings.py
  examples/__init__.py
  examples/revops_forecast_check.md
  examples/sre_error_budget.md
  fixtures/__init__.py
  fixtures/revops.json
  fixtures/sre_incidents.json
  orchestrator/__init__.py
  orchestrator/base.py
  orchestrator/errors.py
  orchestrator/logging.py
  orchestrator/metrics.py
  orchestrator/orchestrator.py
  orchestrator/registry.py
  plugins/__init__.py
  pyproject.toml
  tests/test_cli_end_to_end.py
  tests/test_registry.py
  tests/test_revops_bot.py
  tests/test_sre_bot.py
  tools/__init__.py
  tools/storage.py
Labels: none

Remove build artifacts
  Dockerfile
  README.md
  build/attest.py
  build/licenses.py
  build/offline_wheels.py
  build/repro/compile_deps.py
  build/repro/requirements.in
  build/repro/requirements.txt
  build/sbom.py
  build/signing/keygen.sh
  build/signing/sign_wheels.py
  build/signing/verify_wheels.py
  cli/console.py
  config/license_policy.yaml
  docs/airgapped.md
  docs/security-artifacts.md
  install/README_OFFLINE.md
  install/offline_install.sh
  install/offline_uninstall.sh
  install/offline_upgrade.sh
  pyproject.toml
  tests/test_attestation.py
  tests/test_offline_build.py
  tests/test_offline_installer.py
  tests/test_sbom_licenses.py
Labels: none

feat: add executive analytics and autopilot
  README.md
  alerts/__init__.py
  alerts/local.py
  analytics/__init__.py
  analytics/anomaly_rules.py
  analytics/cohorts.py
  analytics/decide.py
  analytics/narrative.py
  analytics/utils.py
  cli/console.py
  configs/anomaly_rules.yaml
  configs/constraints.yaml
  configs/goals.yaml
  docs/executive-analytics.md
  samples/cohorts/apac_flagship.json
  samples/cohorts/emea_flagship.json
  samples/data/crm_opps.json
  samples/metrics/revenue_region.json
  samples/metrics/uptime_service.json
  schemas/anomaly.schema.json
  schemas/narrative.schema.json
  schemas/plan.schema.json
  tests/test_exec_autopilot.py
Labels: none

chore: tidy checklist imports
  README.md
  cli/console.py
  config/esign_keys.json
  config/retention.yaml
  config/reviewers.yaml
  docs/accessibility.md
  docs/hitl.md
  docs/index.json
  docs/retention.md
  docs/sop-checklists.md
  hitl/assign.py
  hitl/last_id.txt
  hitl/queue.jsonl
  hitl/queue.py
  hitl/security_rr.txt
  records/retention.py
  security/esign.py
  sop/checklist.py
  sop/templates/release.yaml
  tests/test_esign.py
  tests/test_hitl_assign.py
  tests/test_hitl_queue.py
  tests/test_i18n_accessibility_docs.py
  tests/test_retention.py
  tests/test_sop_checklist.py
  tests/test_tui_accessibility.py
  themes/high_contrast.json
  tui/app.py
Labels: none

feat: add operations digital twin
  README.md
  cli/console.py
  configs/stress/default.yaml
  docs/digital-twin.md
  schemas/twin_checkpoint.schema.json
  schemas/twin_compare.schema.json
  schemas/twin_replay.schema.json
  schemas/twin_stress.schema.json
  tests/test_twin_compare.py
  tests/test_twin_policy_sandbox.py
  tests/test_twin_replay.py
  tests/test_twin_snapshots.py
  tests/test_twin_stress.py
  twin/__init__.py
  twin/clock.py
  twin/compare.py
  twin/policy_sandbox.py
  twin/replay.py
  twin/snapshots.py
  twin/stress.py
Labels: none

Add offline knowledge graph and reasoning engine
  README.md
  cli/console.py
  configs/chain_examples/uptime_then_release.yaml
  configs/kg_rules.yaml
  docs/chaining.md
  docs/knowledge-graph.md
  docs/kql.md
  kg/__init__.py
  kg/chainer.py
  kg/model.py
  kg/provenance.py
  kg/query.py
  kg/rules.py
  kg/visualize.py
  policy/regulated.yaml
  samples/kql/last_treasury_runs.kql
  samples/kql/risky_decisions.kql
  schemas/kg_edge.schema.json
  schemas/kg_finding.schema.json
  schemas/kg_node.schema.json
  tests/test_chainer.py
  tests/test_kg_build.py
  tests/test_kg_policies.py
  tests/test_kql_parser.py
  tests/test_rules_engine.py
  tests/test_visualize.py
Labels: none

feat: add deterministic digital twin utilities
  README.md
  cli/console.py
  configs/stress/default.yaml
  docs/digital-twin.md
  schemas/twin_checkpoint.schema.json
  schemas/twin_compare.schema.json
  schemas/twin_replay.schema.json
  schemas/twin_stress.schema.json
  tests/test_twin_compare.py
  tests/test_twin_policy_sandbox.py
  tests/test_twin_replay.py
  tests/test_twin_snapshots.py
  tests/test_twin_stress.py
  twin/__init__.py
  twin/clock.py
  twin/compare.py
  twin/policy_sandbox.py
  twin/replay.py
  twin/snapshots.py
  twin/stress.py
Labels: none

feat: add resilience and trust layer
  README.md
  cli/console.py
  config/safety.yaml
  configs/quality/exec.yaml
  configs/redteam/pricing_leak_guard.yaml
  docs/quality.md
  docs/redteam.md
  docs/safety.md
  metrics.py
  orchestrator/orchestrator.py
  playbooks/safe_ops.md
  quality/__init__.py
  quality/checks.py
  redteam/__init__.py
  redteam/runner.py
  redteam/scenarios.py
  safety/__init__.py
  safety/duty_of_care.py
  safety/policy.py
  schemas/quality_finding.schema.json
  schemas/redteam_report.schema.json
  schemas/safety_violation.schema.json
  settings.py
  tests/test_duty_gate.py
  tests/test_quality_checks.py
  tests/test_redteam_runner.py
  tests/test_safety_policy.py
Labels: none

docs: add phase 24 customer 360 renewals prompt
  codex/prompts/phase-24-customer-360-renewals.prompt.md
Labels: none

feat: add service catalog and runbook automation
  change/__init__.py
  change/calendar.py
  cli/console.py
  configs/maintenance_windows.yaml
  configs/services/auth.yaml
  configs/services/coreapi.yaml
  configs/services/db.yaml
  docs/runbooks.md
  docs/service-catalog.md
  docs/status-page.md
  healthchecks/__init__.py
  healthchecks/synthetic.py
  runbooks/__init__.py
  runbooks/dsl.py
  runbooks/examples/gate_fail.yaml
  runbooks/examples/simple_notify.yaml
  runbooks/examples/sre_error_budget_burn.yaml
  runbooks/executor.py
  schemas/change.schema.json
  schemas/healthcheck.schema.json
  schemas/runbook_run.schema.json
  schemas/service.schema.json
  schemas/status.schema.json
  services/__init__.py
  services/catalog.py
  services/deps.py
  status/__init__.py
  status/generator.py
  tests/test_change_calendar.py
  tests/test_runbook_executor.py
  tests/test_services_catalog.py
  tests/test_status_generator.py
  tests/test_synthetic_checks.py
  tools/artifacts.py
  tools/metrics.py
Labels: area/backend

feat: add service catalog and runbook automation (#1394)
  change/__init__.py
  change/calendar.py
  cli/console.py
  configs/maintenance_windows.yaml
  configs/services/auth.yaml
  configs/services/coreapi.yaml
  configs/services/db.yaml
  docs/runbooks.md
  docs/service-catalog.md
  docs/status-page.md
  healthchecks/__init__.py
  healthchecks/synthetic.py
  runbooks/__init__.py
  runbooks/dsl.py
  runbooks/examples/gate_fail.yaml
  runbooks/examples/simple_notify.yaml
  runbooks/examples/sre_error_budget_burn.yaml
  runbooks/executor.py
  schemas/change.schema.json
  schemas/healthcheck.schema.json
  schemas/runbook_run.schema.json
  schemas/service.schema.json
  schemas/status.schema.json
  services/__init__.py
  services/catalog.py
  services/deps.py
  status/__init__.py
  status/generator.py
  tests/test_change_calendar.py
  tests/test_runbook_executor.py
  tests/test_services_catalog.py
  tests/test_status_generator.py
  tests/test_synthetic_checks.py
  tools/artifacts.py
  tools/metrics.py
Labels: area/backend

Add supply chain finance twin modules
  README.md
  cli/console.py
  configs/finance/terms.yaml
  configs/procure/policy.yaml
  configs/sop/policy.yaml
  configs/supply/inventory.yaml
  configs/supply/log_constraints.yaml
  contracts/schemas/finance_txn.json
  contracts/schemas/inventory.json
  contracts/schemas/logistics.json
  dashboards/sc_ops_fin.py
  docs/inventory-logistics.md
  docs/procure-tco.md
  docs/sop-simulator.md
  docs/working-capital.md
  finance/wc.py
  fixtures/procure/suppliers.csv
  fixtures/supply/lanes.csv
  lake/io.py
  procure/optimizer.py
  samples/generated/supply/capacity.csv
  samples/generated/supply/demand.csv
  sop/plan.py
  supply/inventory_sim.py
  supply/logistics.py
  tests/test_dash_sc_ops_fin.py
  tests/test_inventory_sim.py
  tests/test_lake_io.py
  tests/test_logistics_opt.py
  tests/test_procure_award.py
  tests/test_sop_reconcile.py
  tests/test_wc_model.py
Labels: none

feat: add offline partner ecosystem and licensing
  artifacts/status/index.json
  artifacts/status/index.md
  billing/__init__.py
  billing/invoices.py
  cli/console.py
  config/license_secret.txt
  configs/licensing/skus.yaml
  configs/partners/sample_partner.yaml
  docs/billing.md
  docs/licensing.md
  docs/marketplace.md
  fixtures/partners/exams/answers_P001.json
  fixtures/partners/exams/integration_basics.yaml
  licensing/__init__.py
  licensing/entitlements.py
  licensing/keys.py
  licensing/sku_packs.py
  partners/__init__.py
  partners/catalog.py
  partners/certify.py
  partners/orders.py
  schemas/entitlement.schema.json
  schemas/invoice.schema.json
  schemas/license_key.schema.json
  schemas/market_order.schema.json
  schemas/partner.schema.json
  tests/test_billing.py
  tests/test_certifications.py
  tests/test_entitlements.py
  tests/test_license_keys.py
  tests/test_market_orders.py
  tests/test_partner_catalog.py
  tests/test_sku_packs.py
Labels: none

feat: add deterministic sales pipeline and pricing lab
  cli/console.py
  configs/sales/guardrails.yaml
  configs/sales/pricebook.yaml
  configs/sales/products.yaml
  contracts/schemas/deal.schema.json
  contracts/schemas/price_sim.schema.json
  contracts/schemas/quote.schema.json
  docs/cpq.md
  docs/deal-desk.md
  docs/elasticity.md
  fixtures/sales/elasticity/infra.yaml
  pricing/__init__.py
  pricing/elasticity.py
  sales/__init__.py
  sales/catalog.py
  sales/cpq.py
  sales/deal_desk.py
  sales/guardrails.py
  sales/quote_pack.py
  sales/winloss.py
  samples/sales/order_lines.json
  samples/sales/price_scenarios.yaml
  tests/test_cpq.py
  tests/test_deal_desk.py
  tests/test_elasticity.py
  tests/test_guardrails.py
  tests/test_quote_pack.py
  tests/test_winloss.py
Labels: none

feat: add offline dx toolkit
  README.md
  cli/console.py
  configs/dx/matrix.yaml
  configs/dx/quarantine.yaml
  docs/dev-excellence.md
  dx/__init__.py
  dx/commits.py
  dx/docs_lint.py
  dx/flaky.py
  dx/monorepo.py
  dx/onboard.py
  dx/pr_bots/__init__.py
  dx/pr_runner.py
  dx/quality.py
  dx/style.py
  dx/test_matrix.py
  samples/dx/commits.log
  samples/dx/pr.json
  tests/test_dx_commits.py
  tests/test_dx_docs_style.py
  tests/test_dx_flaky.py
  tests/test_dx_matrix.py
  tests/test_dx_monorepo.py
  tests/test_dx_onboard.py
  tests/test_dx_pr_bots.py
  tests/test_dx_quality.py
Labels: none

Add offline security operations layer
  README.md
  cli/console.py
  configs/sec/purple/brute_force_smoke.yaml
  configs/sec/rules/suspicious_login.yaml
  docs/secops.md
  fixtures/sec/assets.csv
  fixtures/sec/configs/DB1.yaml
  fixtures/sec/configs/END1.yaml
  fixtures/sec/configs/SVC1.yaml
  fixtures/sec/cves_local.json
  fixtures/sec/logs/auth.jsonl
  fixtures/sec/vulns.csv
  schemas/sec_detection.schema.json
  schemas/sec_incident.schema.json
  schemas/sec_purple_report.schema.json
  schemas/sec_sbom_alert.schema.json
  schemas/sec_vuln.schema.json
  sec/__init__.py
  sec/assets.py
  sec/detect/__init__.py
  sec/detect/engine.py
  sec/detect/rules.py
  sec/ir.py
  sec/purple/__init__.py
  sec/purple/sim.py
  sec/sbom_watch.py
  sec/utils.py
  sec/vuln.py
  tests/test_sec_assets.py
  tests/test_sec_detection_engine.py
  tests/test_sec_ir.py
  tests/test_sec_purple.py
  tests/test_sec_sbom_watch.py
  tests/test_sec_vuln.py
Labels: none

feat: add deterministic aiops self-healing layer
  README.md
  aiops/__init__.py
  aiops/canary.py
  aiops/config_drift.py
  aiops/correlation.py
  aiops/maintenance.py
  aiops/remediation.py
  aiops/slo_budget.py
  cli/console.py
  configs/aiops/canary.yaml
  configs/aiops/correlation.yaml
  docs/aiops.md
  schemas/aiops_budget.schema.json
  schemas/aiops_canary.schema.json
  schemas/aiops_correlation.schema.json
  schemas/aiops_drift.schema.json
  schemas/aiops_plan.schema.json
  tests/test_aiops_canary.py
  tests/test_aiops_config_drift.py
  tests/test_aiops_correlation.py
  tests/test_aiops_maintenance.py
  tests/test_aiops_remediation.py
  tests/test_aiops_slo_budget.py
Labels: none

feat: add board and investor relations tools
  README.md
  board/__init__.py
  board/pack.py
  cli/console.py
  configs/ir/assumptions.yaml
  configs/ir/blackouts.yaml
  docs/board-pack.md
  docs/investor-relations.md
  ir/__init__.py
  ir/blackouts.py
  ir/disclosures.py
  ir/earnings.py
  ir/faq_bot.py
  ir/guidance.py
  ir/kpi_signoff.py
  ir/kpi_sot.py
  ir/utils.py
  schemas/board_pack.schema.json
  schemas/ir_disclosure.schema.json
  schemas/ir_guidance.schema.json
  schemas/ir_kpi.schema.json
  tests/test_board_pack.py
  tests/test_ir_blackouts.py
  tests/test_ir_disclosures.py
  tests/test_ir_faq_bot.py
  tests/test_ir_guidance.py
  tests/test_ir_kpi_sot.py
  tests/test_ir_signoff.py
Labels: none

feat: add board and investor relations tooling
  README.md
  board/__init__.py
  board/pack.py
  cli/console.py
  configs/ir/assumptions.yaml
  configs/ir/blackouts.yaml
  docs/board-pack.md
  docs/investor-relations.md
  ir/__init__.py
  ir/blackouts.py
  ir/disclosures.py
  ir/earnings.py
  ir/faq_bot.py
  ir/guidance.py
  ir/kpi_signoff.py
  ir/kpi_sot.py
  ir/utils.py
  schemas/board_pack.schema.json
  schemas/ir_disclosure.schema.json
  schemas/ir_guidance.schema.json
  schemas/ir_kpi.schema.json
  tests/test_board_pack.py
  tests/test_ir_blackouts.py
  tests/test_ir_disclosures.py
  tests/test_ir_faq_bot.py
  tests/test_ir_guidance.py
  tests/test_ir_kpi_sot.py
  tests/test_ir_signoff.py
Labels: none

feat: add offline legal ops layer
  README.md
  cli/console.py
  configs/legal/calendar/sox.yaml
  configs/legal/clauses/msa.yaml
  configs/legal/export/rules.yaml
  configs/legal/options/acme.yml
  configs/legal/templates/MSA.yaml
  docs/export-controls.md
  docs/legal-ops.md
  docs/redlines.md
  legal/__init__.py
  legal/clauses.py
  legal/clm.py
  legal/compliance_calendar.py
  legal/data_room.py
  legal/export_controls.py
  legal/obligations.py
  legal/playbooks.py
  legal/redline.py
  samples/sales/order_lines.json
  schemas/export_screen.schema.json
  schemas/legal_calendar.schema.json
  schemas/legal_contract.schema.json
  schemas/legal_dataroom.schema.json
  schemas/legal_obligation.schema.json
  schemas/legal_redline.schema.json
  tests/test_export_controls.py
  tests/test_legal_calendar.py
  tests/test_legal_clauses.py
  tests/test_legal_clm.py
  tests/test_legal_dataroom.py
  tests/test_legal_obligations.py
  tests/test_legal_redline.py
Labels: none

feat: add offline experimentation and growth toolkit
  README.md
  cli/console.py
  configs/experiments/guardrails.yaml
  configs/experiments/metrics.yaml
  configs/growth/loops.yaml
  docs/experiments.md
  docs/feature-rollouts.md
  docs/growth-funnels.md
  experiments/__init__.py
  experiments/ab_engine.py
  experiments/flag_analytics.py
  experiments/registry.py
  experiments/review_pack.py
  experiments/rollout.py
  fixtures/product/events.jsonl
  growth/__init__.py
  growth/funnels.py
  growth/loops.py
  tests_phase32/test_ab_engine.py
  tests_phase32/test_exp_registry.py
  tests_phase32/test_flag_analytics.py
  tests_phase32/test_funnels.py
  tests_phase32/test_growth_sim.py
  tests_phase32/test_review_pack.py
  tests_phase32/test_rollout_gate.py
Labels: none

feat: add offline people ops suite
  README.md
  cli/console.py
  configs/people/comp_policy.yaml
  configs/people/hc_policy.yaml
  configs/people/levels.yaml
  configs/people/pay_bands.yaml
  configs/people/perf_cycle.yaml
  contracts/schemas/headcount_plan.json
  docs/comp-cycle.md
  docs/people-ops.md
  fixtures/people/attrition.csv
  fixtures/people/demographics.csv
  fixtures/people/plans.csv
  fixtures/people/recruiting/r1.jsonl
  fixtures/people/recruiting/r2.jsonl
  fixtures/people/transfers.csv
  people/__init__.py
  people/analytics.py
  people/calibration.py
  people/comp_cycle.py
  people/headcount.py
  people/orgchart.py
  people/perf_cycle.py
  people/recruiting.py
  tests/test_calibration.py
  tests/test_comp_cycle.py
  tests/test_contracts.py
  tests/test_orgchart.py
  tests/test_people_analytics.py
  tests/test_people_hc.py
  tests/test_perf_cycle.py
  tests/test_recruiting.py
Labels: none

feat: add offline marketing automation tools
  README.md
  cli/console.py
  configs/marketing/lead_score.yaml
  configs/marketing/segments.yaml
  contracts/schemas/attribution.schema.json
  contracts/schemas/audience_segments.schema.json
  contracts/schemas/content_calendar.schema.json
  contracts/schemas/lead_scores.schema.json
  contracts/schemas/seo_issues.schema.json
  contracts/schemas/social_posts.schema.json
  docs/marketing-ops.md
  docs/seo-audit.md
  fixtures/marketing/contacts.csv
  fixtures/marketing/events.jsonl
  fixtures/marketing/site/page1.html
  fixtures/marketing/site/page2.html
  fixtures/marketing/site/page3.html
  fixtures/marketing/site/sitemap.xml
  fixtures/marketing/web_utm.jsonl
  marketing/__init__.py
  marketing/attribution.py
  marketing/calendar.py
  marketing/campaigns.py
  marketing/creatives.py
  marketing/dashboards.py
  marketing/lead_score.py
  marketing/segments.py
  marketing/seo_audit.py
  marketing/social.py
  tests/test_attribution.py
  tests/test_calendar.py
  tests/test_lead_score.py
  tests/test_marketing_contracts.py
  tests/test_segments.py
  tests/test_seo_audit.py
  tests/test_social_queue.py
Labels: none

feat: add offline close workflow
  README.md
  cli/console.py
  close/__init__.py
  close/calendar.py
  close/flux.py
  close/journal.py
  close/packet.py
  close/recon.py
  close/sox.py
  configs/close/journals/accruals.yaml
  configs/close/recons.yaml
  configs/close/sox_controls.yaml
  configs/close/template.yaml
  contracts/schemas/close_calendar.json
  contracts/schemas/flux_results.json
  contracts/schemas/journals.json
  contracts/schemas/recons.json
  contracts/schemas/sox_evidence.json
  contracts/schemas/trial_balance.json
  docs/close-process.md
  docs/sox.md
  fixtures/finance/recons/ar_aging.csv
  fixtures/finance/recons/bank_stmt.csv
  fixtures/finance/tb_2024-09.csv
  fixtures/finance/tb_2025-08.csv
  fixtures/finance/tb_2025-09.csv
  tests/test_close_calendar.py
  tests/test_close_packet.py
  tests/test_contracts.py
  tests/test_flux.py
  tests/test_journal_engine.py
  tests/test_recons.py
  tests/test_sox_locker.py
Labels: none

feat: add offline financial close workflow
  README.md
  cli/console.py
  close/__init__.py
  close/calendar.py
  close/flux.py
  close/journal.py
  close/packet.py
  close/recon.py
  close/sox.py
  configs/close/journals/accruals.yaml
  configs/close/recons.yaml
  configs/close/sox_controls.yaml
  configs/close/template.yaml
  contracts/schemas/close_calendar.json
  contracts/schemas/flux_results.json
  contracts/schemas/journals.json
  contracts/schemas/recons.json
  contracts/schemas/sox_evidence.json
  contracts/schemas/trial_balance.json
  docs/close-process.md
  docs/sox.md
  fixtures/finance/recons/ap_aging.csv
  fixtures/finance/recons/bank_stmt.csv
  fixtures/finance/recons/fixed_assets.csv
  fixtures/finance/recons/prepaids.csv
  fixtures/finance/tb_2024-09.csv
  fixtures/finance/tb_2025-08.csv
  fixtures/finance/tb_2025-09.csv
  tests/test_close_calendar.py
  tests/test_close_packet.py
  tests/test_flux.py
  tests/test_journal_engine.py
  tests/test_recons.py
  tests/test_sox_locker.py
Labels: none

feat: add offline financial close workflow (#1408)
  README.md
  cli/console.py
  close/__init__.py
  close/calendar.py
  close/flux.py
  close/journal.py
  close/packet.py
  close/recon.py
  close/sox.py
  configs/close/journals/accruals.yaml
  configs/close/recons.yaml
  configs/close/sox_controls.yaml
  configs/close/template.yaml
  contracts/schemas/close_calendar.json
  contracts/schemas/flux_results.json
  contracts/schemas/journals.json
  contracts/schemas/recons.json
  contracts/schemas/sox_evidence.json
  contracts/schemas/trial_balance.json
  docs/close-process.md
  docs/sox.md
  fixtures/finance/recons/ap_aging.csv
  fixtures/finance/recons/bank_stmt.csv
  fixtures/finance/recons/fixed_assets.csv
  fixtures/finance/recons/prepaids.csv
  fixtures/finance/tb_2024-09.csv
  fixtures/finance/tb_2025-08.csv
  fixtures/finance/tb_2025-09.csv
  tests/test_close_calendar.py
  tests/test_close_packet.py
  tests/test_flux.py
  tests/test_journal_engine.py
  tests/test_recons.py
  tests/test_sox_locker.py
Labels: none

feat: add offline plm and mfg ops
  README.md
  cli/console.py
  docs/mfg-routing.md
  docs/mrp-lite.md
  docs/plm.md
  docs/spc-yield.md
  fixtures/mfg/coq_2025-Q3.csv
  fixtures/mfg/demand.csv
  fixtures/mfg/inventory.csv
  fixtures/mfg/open_pos.csv
  fixtures/mfg/routings/PROD-100_B.yaml
  fixtures/mfg/spc/OP-200.csv
  fixtures/mfg/work_centers.csv
  fixtures/mfg/yield_2025-09.csv
  fixtures/plm/boms/COMP-1_A.csv
  fixtures/plm/boms/PROD-100_A.csv
  fixtures/plm/boms/PROD-100_B.csv
  fixtures/plm/items/sample_items.csv
  mfg/__init__.py
  mfg/coq.py
  mfg/mrp.py
  mfg/routing.py
  mfg/spc.py
  mfg/work_instructions.py
  mfg/yield.py
  plm/__init__.py
  plm/bom.py
  plm/eco.py
  tests/test_bom.py
  tests/test_eco.py
  tests/test_mrp.py
  tests/test_routing_cap.py
  tests/test_spc.py
  tests/test_wi.py
  tests/test_yield_coq.py
Labels: none

feat: add offline plm and mfg ops (#1409)
  README.md
  cli/console.py
  docs/mfg-routing.md
  docs/mrp-lite.md
  docs/plm.md
  docs/spc-yield.md
  fixtures/mfg/coq_2025-Q3.csv
  fixtures/mfg/demand.csv
  fixtures/mfg/inventory.csv
  fixtures/mfg/open_pos.csv
  fixtures/mfg/routings/PROD-100_B.yaml
  fixtures/mfg/spc/OP-200.csv
  fixtures/mfg/work_centers.csv
  fixtures/mfg/yield_2025-09.csv
  fixtures/plm/boms/COMP-1_A.csv
  fixtures/plm/boms/PROD-100_A.csv
  fixtures/plm/boms/PROD-100_B.csv
  fixtures/plm/items/sample_items.csv
  mfg/__init__.py
  mfg/coq.py
  mfg/mrp.py
  mfg/routing.py
  mfg/spc.py
  mfg/work_instructions.py
  mfg/yield.py
  plm/__init__.py
  plm/bom.py
  plm/eco.py
  tests/test_bom.py
  tests/test_eco.py
  tests/test_mrp.py
  tests/test_routing_cap.py
  tests/test_spc.py
  tests/test_wi.py
  tests/test_yield_coq.py
Labels: none

feat: add R&D innovation layer
  README.md
  cli/console.py
  configs/rnd/radar.yaml
  configs/rnd/scoring.yaml
  contracts/schemas/rnd_experiments.json
  contracts/schemas/rnd_ideas.json
  contracts/schemas/rnd_ip.json
  contracts/schemas/rnd_merge.json
  contracts/schemas/rnd_notes_index.json
  contracts/schemas/rnd_radar.json
  docs/rnd-innovation.md
  fixtures/rnd/experiments/E001.json
  notes/rnd/fast_charge.md
  rnd/__init__.py
  rnd/dashboard.py
  rnd/experiments.py
  rnd/ideas.py
  rnd/ip.py
  rnd/merge.py
  rnd/notes.py
  rnd/radar.py
  tests/test_rnd_contracts.py
  tests/test_rnd_experiments.py
  tests/test_rnd_ideas.py
  tests/test_rnd_ip.py
  tests/test_rnd_merge.py
  tests/test_rnd_radar.py
Labels: none

feat: add codex prompt infrastructure
  sites/blackroad/api/codex/[id].ts
  sites/blackroad/content/codex/phase-37.md
  sites/blackroad/package-lock.json
  sites/blackroad/package.json
  sites/blackroad/public/codex/index.json
  sites/blackroad/public/codex/phase-37-plm-manufacturing-ops.html
  sites/blackroad/public/codex/phase-37-plm-manufacturing-ops.json
  sites/blackroad/public/sitemap.xml
  sites/blackroad/scripts/build-codex.cjs
  sites/blackroad/scripts/watch-content.cjs
  sites/blackroad/src/App.jsx
  sites/blackroad/src/components/CodexPrompt.tsx
  sites/blackroad/src/pages/CodexPrompt.jsx
  sites/blackroad/static/schemas/codex_prompt.schema.json
Labels: area/frontend

Add offline MDM and data governance layer
  README.md
  cli/console.py
  configs/mdm/catalog.yaml
  configs/mdm/dq_account.yaml
  configs/mdm/dq_contact.yaml
  configs/mdm/match_account.yaml
  configs/mdm/match_contact.yaml
  configs/mdm/survivorship_account.yaml
  configs/mdm/survivorship_contact.yaml
  docs/data-catalog.md
  docs/mdm.md
  fixtures/mdm/account.csv
  fixtures/mdm/contact.csv
  fixtures/mdm/product.csv
  fixtures/mdm/vendor.csv
  mdm/__init__.py
  mdm/catalog.py
  mdm/changes.py
  mdm/domains.py
  mdm/lineage_diff.py
  mdm/match.py
  mdm/quality.py
  mdm/steward.py
  mdm/survivorship.py
  tests/test_mdm_changes.py
  tests/test_mdm_dq.py
  tests/test_mdm_lineage.py
  tests/test_mdm_match.py
  tests/test_mdm_stage.py
  tests/test_mdm_survivorship.py
Labels: none

Add offline MDM and data governance layer
  README.md
  cli/console.py
  configs/mdm/catalog.yaml
  configs/mdm/dq_account.yaml
  configs/mdm/dq_contact.yaml
  configs/mdm/match_account.yaml
  configs/mdm/match_contact.yaml
  configs/mdm/survivorship_account.yaml
  configs/mdm/survivorship_contact.yaml
  docs/data-catalog.md
  docs/mdm.md
  fixtures/mdm/account.csv
  fixtures/mdm/contact.csv
  fixtures/mdm/product.csv
  fixtures/mdm/vendor.csv
  mdm/__init__.py
  mdm/catalog.py
  mdm/changes.py
  mdm/domains.py
  mdm/lineage_diff.py
  mdm/match.py
  mdm/quality.py
  mdm/steward.py
  mdm/survivorship.py
  tests/test_mdm_changes.py
  tests/test_mdm_dq.py
  tests/test_mdm_lineage.py
  tests/test_mdm_match.py
  tests/test_mdm_stage.py
  tests/test_mdm_survivorship.py
Labels: none

Add offline strategy and OKR governance
  README.md
  cli/console.py
  configs/strategy/bet_scoring.yaml
  configs/strategy/policies.yaml
  configs/strategy/rhythm.yaml
  contracts/schemas/bets.json
  contracts/schemas/okr_links.json
  contracts/schemas/okrs.json
  contracts/schemas/reviews.json
  contracts/schemas/scorecards.json
  contracts/schemas/strategy_memos.json
  contracts/schemas/tradeoffs.json
  docs/strategy-okr.md
  docs/strategy-rhythm.md
  fixtures/strategy/bets_2025Q4.json
  fixtures/strategy/okrs_2025Q4.json
  strategy/__init__.py
  strategy/bets.py
  strategy/memos.py
  strategy/okr.py
  strategy/reviews.py
  strategy/scorecard.py
  strategy/tradeoffs.py
  strategy/utils.py
  tests/strategy/test_bet_scoring.py
  tests/strategy/test_contracts.py
  tests/strategy/test_memos.py
  tests/strategy/test_okr_cascade.py
  tests/strategy/test_reviews.py
  tests/strategy/test_scorecard.py
  tests/strategy/test_tradeoffs.py
Labels: none

feat: add enablement hub
  README.md
  cli/console.py
  configs/enablement/certs/CERT-SE-ASSOC.yaml
  configs/enablement/courses/C101.yaml
  configs/enablement/courses/C201.yaml
  configs/enablement/labs/L-SE-CLI.yaml
  configs/enablement/quizzes/Q-SE-101.yaml
  contracts/schemas/assignments.json
  contracts/schemas/cert_awards.json
  contracts/schemas/courses.json
  contracts/schemas/events.json
  contracts/schemas/feedback.json
  contracts/schemas/lab_results.json
  contracts/schemas/paths.json
  contracts/schemas/quiz_attempts.json
  docs/enablement.md
  enablement/__init__.py
  enablement/calendar.py
  enablement/certify.py
  enablement/courses.py
  enablement/feedback.py
  enablement/labs.py
  enablement/paths.py
  enablement/quizzes.py
  enablement/readiness.py
  enablement/utils.py
  fixtures/enablement/submissions/U_SE01_L-SE-CLI.json
  fixtures/enablement/submissions/U_SE01_Q-SE-101.json
  tests/test_certs.py
  tests/test_courses.py
  tests/test_events.py
  tests/test_feedback.py
  tests/test_labs.py
  tests/test_paths_assign.py
  tests/test_quizzes.py
  tests/test_readiness.py
Labels: none

feat: add enablement hub (#1415)
  README.md
  cli/console.py
  configs/enablement/certs/CERT-SE-ASSOC.yaml
  configs/enablement/courses/C101.yaml
  configs/enablement/courses/C201.yaml
  configs/enablement/labs/L-SE-CLI.yaml
  configs/enablement/quizzes/Q-SE-101.yaml
  contracts/schemas/assignments.json
  contracts/schemas/cert_awards.json
  contracts/schemas/courses.json
  contracts/schemas/events.json
  contracts/schemas/feedback.json
  contracts/schemas/lab_results.json
  contracts/schemas/paths.json
  contracts/schemas/quiz_attempts.json
  docs/enablement.md
  enablement/__init__.py
  enablement/calendar.py
  enablement/certify.py
  enablement/courses.py
  enablement/feedback.py
  enablement/labs.py
  enablement/paths.py
  enablement/quizzes.py
  enablement/readiness.py
  enablement/utils.py
  fixtures/enablement/submissions/U_SE01_L-SE-CLI.json
  fixtures/enablement/submissions/U_SE01_Q-SE-101.json
  tests/test_certs.py
  tests/test_courses.py
  tests/test_events.py
  tests/test_feedback.py
  tests/test_labs.py
  tests/test_paths_assign.py
  tests/test_quizzes.py
  tests/test_readiness.py
Labels: none

test: add dual approval check
  .github/workflows/ci.yml
  Makefile
  cli/console.py
  contracts/schemas/plm_boms.schema.json
  contracts/schemas/plm_items.schema.json
  mfg/work_instructions.py
  plm/bom.py
  plm/eco.py
  pyproject.toml
  scripts/validate_contracts.py
  sites/blackroad/api/codex/[id].ts
  sites/blackroad/content/codex/phase-37.md
  sites/blackroad/src/pages/codex/[slug].tsx
  sites/blackroad/src/ui/CodexPrompt.tsx
  tests/test_eco.py
  tests/test_spc.py
Labels: area/frontend

feat: add prompt site and routing schema
  CHANGELOG.md
  README.md
  cli/console.py
  mfg/routing.py
  schemas/routing.schema.json
  sites/codex-prompts/components/PromptList.tsx
  sites/codex-prompts/next-env.d.ts
  sites/codex-prompts/next.config.mjs
  sites/codex-prompts/package.json
  sites/codex-prompts/pages/[slug].tsx
  sites/codex-prompts/pages/api/[slug].ts
  sites/codex-prompts/pages/index.tsx
  sites/codex-prompts/pages/sitemap.xml.ts
  sites/codex-prompts/tsconfig.json
  tools/artifacts.py
Labels: area/frontend

.github/labeler.yml:

area/frontend:
  - "frontend/**"
  - "sites/**"
area/backend:
  - "backend/**"
  - "services/**"
