Repository blackboxprogramming/blackroad-prism-console, changes with the labels that .github/labeler.yml gives for each.
All labels: area/frontend, area/backend

.github/labeler.yml:

area/frontend:
  - "frontend/**"
  - "sites/**"
area/backend:
  - "backend/**"
  - "services/**"

Add nginx TLS compression checklist
  docs/NGINX_COMPRESSION_CHECKLIST.md
Labels: none

Document accurate nginx runtime checks
  RUNBOOK.md
Labels: none

Add nginx content-encoding verification script
  nginx/README.md
  scripts/nginx/check_content_encoding.sh
Labels: none

docs: capture go wiring blueprint for prism console
  docs/prism-console-blueprint.md
Labels: none

Add compliance usage telemetry starter
  compliance/go.mod
  compliance/go.sum
  compliance/rules/cel_env.go
  compliance/usage/usage.go
  dashboards/compliance_overview.json
  db/migrations/202402150900_usage_events.sql
  docs/compliance_usage_metrics.md
Labels: none

docs: capture cel rule platform playbook
  docs/CEL_RULE_PLATFORM.md
Labels: none

Add droplet disk cleanup runbook and alert script
  ops/do/disk_warn.sh
  ops/do/droplet_disk_maintenance.md
Labels: none

Add blog post on watch-only wallets and xpub safety
  sites/blackroad/content/blog/watch-only-wallets-xpub-safety.md
Labels: area/frontend

Add mining rig performance tuning primer
  sites/blackroad/content/blog/mining-rig-performance-primer.md
Labels: area/frontend

docs: add ollama quick benchmark checklist
  docs/performance.md
Labels: none

Add Data Commons MCP integration guide
  docs/DATA_COMMONS_MCP.md
Labels: none

Add RoadView micro-ad ready-to-edit template
  design/build/roadview/roadview-micro-ad-shotlist.md
Labels: none

Add RoadView micro-ad ready-to-edit template
  design/build/roadview/roadview-micro-ad-shotlist.md
Labels: none

Add notes on passkeys, self-consistency, and collaborative canvases
  docs/SECURITY_REASONING_COLLABORATION_NOTES.md
Labels: none

Add Shai-Hulud supply chain response toolkit
  scripts/shai_hulud_scan.py
  security/shai_hulud_advisory.md
  security/shai_hulud_compromised_packages.json
Labels: none

Add nginx TLS compression checklist (#1692)
  docs/NGINX_COMPRESSION_CHECKLIST.md
Labels: none

Document accurate nginx runtime checks (#1693)
  RUNBOOK.md
Labels: none

Add nginx content-encoding verification script (#1694)
  nginx/README.md
  scripts/nginx/check_content_encoding.sh
Labels: none

Add blog post on watch-only wallets and xpub safety (#1699)
  sites/blackroad/content/blog/watch-only-wallets-xpub-safety.md
Labels: area/frontend

Add mining rig performance tuning primer (#1700)
  sites/blackroad/content/blog/mining-rig-performance-primer.md
Labels: area/frontend

docs: add ollama quick benchmark checklist (#1701)
  docs/performance.md
Labels: none

Add Data Commons MCP integration guide (#1702)
  docs/DATA_COMMONS_MCP.md
Labels: none

Add RoadView micro-ad ready-to-edit template (#1704)
  design/build/roadview/roadview-micro-ad-shotlist.md
Labels: none

Add notes on passkeys, self-consistency, and collaborative canvases (#1705)
  docs/SECURITY_REASONING_COLLABORATION_NOTES.md
Labels: none

Add starter policy rules and harness scaffolding
  docs/policy/output_schema.json
  docs/slack/mirror_class_limit_alert.json
  fixtures/policy/clock_skew.json
  fixtures/policy/ingest_lag.json
  fixtures/policy/missing_fields.json
  harness/runner.go
  rules/consent_friction_spike.yaml
  rules/mirror_class_limit.yaml
  rules/secret_expiry_cluster.yaml
  tests/policy/rules_test_matrix.yaml
  tests/policy/secret_expiry_cluster_failure.txt
Labels: none

Add policy rule engine fixtures and tests
  docs/runbooks/mirror_class_limit.md
  fixtures/consent/low_rate.series.json
  fixtures/consent/spike_trips.series.json
  fixtures/mirror/deny_secret.json
  fixtures/multi/multi_provider_window.series.json
  fixtures/policy/drift_spike.series.json
  fixtures/secret/burst.series.json
  fixtures/secret/ok.series.json
  policy/rules_engine/__init__.py
  policy/rules_engine/context.py
  policy/rules_engine/evaluator.py
  policy/rules_engine/loader.py
  policy/rules_engine/rule.py
  rules/consent_friction_spike.yaml
  rules/mirror_class_limit.yaml
  rules/multi_provider_single_role.yaml
  rules/policy_drift_regression.yaml
  rules/secret_expiry_cluster.yaml
  tests/test_rule_engine.py
Labels: none

docs: capture go wiring blueprint for prism console (#1695)
  docs/prism-console-blueprint.md
Labels: none

Add compliance usage telemetry starter (#1696)
  compliance/go.mod
  compliance/go.sum
  compliance/rules/cel_env.go
  compliance/usage/usage.go
  dashboards/compliance_overview.json
  db/migrations/202402150900_usage_events.sql
  docs/compliance_usage_metrics.md
Labels: none

docs: capture cel rule platform playbook (#1697)
  docs/CEL_RULE_PLATFORM.md
Labels: none

Add policy rule engine fixtures and tests (#1708)
  docs/runbooks/mirror_class_limit.md
  fixtures/consent/low_rate.series.json
  fixtures/consent/spike_trips.series.json
  fixtures/mirror/deny_secret.json
  fixtures/multi/multi_provider_window.series.json
  fixtures/policy/drift_spike.series.json
  fixtures/secret/burst.series.json
  fixtures/secret/ok.series.json
  policy/rules_engine/__init__.py
  policy/rules_engine/context.py
  policy/rules_engine/evaluator.py
  policy/rules_engine/loader.py
  policy/rules_engine/rule.py
  rules/consent_friction_spike.yaml
  rules/mirror_class_limit.yaml
  rules/multi_provider_single_role.yaml
  rules/policy_drift_regression.yaml
  rules/secret_expiry_cluster.yaml
  tests/test_rule_engine.py
Labels: none

Add runtime controller developer-mode guard
  RUNBOOK.md
  package.json
  scripts/run_all_tests.sh
  scripts/security/dev_mode_guard.js
  tests/dev_mode_guard.test.js
Labels: none

feat: add interactive agent desktop apps
  sites/blackroad/src/desktop/AgentModeToggle.jsx
  sites/blackroad/src/desktop/apps/ApiAgent.jsx
  sites/blackroad/src/desktop/apps/EchoAgent.jsx
  sites/blackroad/src/desktop/apps/ExplorerAgent.jsx
  sites/blackroad/src/desktop/apps/GuardianAgent.jsx
  sites/blackroad/src/desktop/apps/LlmAgent.jsx
  sites/blackroad/src/desktop/apps/MathAgent.jsx
  sites/blackroad/src/desktop/createId.js
  sites/blackroad/src/pages/Desktop.jsx
Labels: area/frontend

feat: add interactive agent desktop apps (#1710)
  sites/blackroad/src/desktop/AgentModeToggle.jsx
  sites/blackroad/src/desktop/apps/ApiAgent.jsx
  sites/blackroad/src/desktop/apps/EchoAgent.jsx
  sites/blackroad/src/desktop/apps/ExplorerAgent.jsx
  sites/blackroad/src/desktop/apps/GuardianAgent.jsx
  sites/blackroad/src/desktop/apps/LlmAgent.jsx
  sites/blackroad/src/desktop/apps/MathAgent.jsx
  sites/blackroad/src/desktop/createId.js
  sites/blackroad/src/pages/Desktop.jsx
Labels: area/frontend

docs: add blackroad a-to-z framework
  docs/BLACKROAD_A_TO_Z_FRAMEWORK.md
Labels: none

Add nginx https compression guide and helper script (#1691)
  docs/nginx-https-gzip-guide.md
  scripts/check_nginx_compression.sh
Labels: none

Add droplet disk cleanup runbook and alert script (#1698)
  ops/do/disk_warn.sh
  ops/do/droplet_disk_maintenance.md
Labels: none

Add Shai-Hulud supply chain response toolkit (#1706)
  scripts/shai_hulud_scan.py
  security/shai_hulud_advisory.md
  security/shai_hulud_compromised_packages.json
Labels: none

Add runtime controller developer-mode guard (#1709)
  RUNBOOK.md
  package.json
  scripts/run_all_tests.sh
  scripts/security/dev_mode_guard.js
  tests/dev_mode_guard.test.js
Labels: none

docs: add blackroad a-to-z framework (#1711)
  docs/BLACKROAD_A_TO_Z_FRAMEWORK.md
Labels: none

Add FastAPI loop service for fair-use prompts
  services/blackroad_loop/README.md
  services/blackroad_loop/__init__.py
  services/blackroad_loop/app.py
Labels: area/backend
